{# Departments selector form as pulled via ajax #}
<select name='dept_id' id='dept_id' class='custom-select custom-select-sm'>
    <option value="--">--</option>
    {# Loop through list of departments and render the dropdown Html #}
    {% for each in departments %}
        {% set selectedAttr = (department == each.dept_id) ? ' selected="selected"' : '' %}
        <option value="{{ each.dept_id|raw }}"{{ selectedAttr|raw }}>
            {{ each.dept_name|raw }} [{{ each.dept_id|raw }}]
        </option>
    {% endfor %}
{% if departments|length == 0 %}
    <option value='--'>NO {{ 'departments'|trans|upper }} WITH PUBLISHED {{ 'OSCE'|trans|upper }} FOUND</option>
{% endif %}
</select>