{# Exam selector form as pulled via Ajax #}
<select name='exam_id' id='exam_id' class='custom-select custom-select-sm'>
    <option value = '--'>--</option>
{% for exam in exams %}
    {% if exam.exam_published == 1 %}
    <option value="{{exam.exam_id}}">{{- exam.exam_name|raw -}}</option>
    {% endif %}
{% endfor %}
{% if exams|length == 0 %}
    <option value='--'>NO PUBLISHED {{ 'OSCE'|trans|upper }} FOUND</option>
{% endif %}
</select>