{# Template for assess/ajx_sessions.php #}
<select name="session_id" id="session_id" class='custom-select custom-select-sm'>
    <option value="--">--</option>
{% if sessions|length > 0 %}
    {% spaceless %}
    {% for session in sessions %}
      {% set circuitIndicator = (session['colour_hex']|length > 0) ? ' circuit-indicator="' ~ session['colour_hex']|raw ~ '"' : '' %}
      {% set titleAttr = (session['colour_name']|length > 0) ? ' title="' ~ session['colour_name']|raw ~ ' Circuit"' : '' %} 
      <option value="{{- session.id -}}"{{ titleAttr|raw }}{{ circuitIndicator|raw }}>{{- session.date }} {{ session.description|raw -}}</option>
    {% endfor %}
    {% endspaceless %}
{% else %}
    <option value="--">NO PUBLISHED DAY/CIRCUITS FOUND</option>
{% endif %}
</select>