{# Exam configuration twig template #}
<div class="main-container px-1 py-1">
<div class="container-fluid" id="maincontdiv">
 {% if sms_support %}
   {% include 'renderAssistantCallBox.html.twig' %}
 {% endif %}
 
{# Display assigned stations for today #}
<div class="assigned-list">
{% if assigned_stations|length > 0 %}
    <div class="assigned-title">Click {{ 'exams'|trans }} you are assigned for today:</div>
{% endif %}
{% for assigned in assigned_stations %}
  <form method="post" action="assess.php">
    <input type="hidden" name="p" value="student_selection"/>
    <button type="submit" name="fix_station" value="Set and Continue" class="assigned-station btn" title="Go to {{ 'assessment'|trans }}">
    <span class="assigned-info"><span class="bold">{{ 'Department'|trans }}:</span> {{ assigned.dept_name|raw }} </span> 
    <span class="assigned-info"><span class="bold">{{ 'Exam'|trans }}:</span> {{ assigned.exam_name|raw }} </span>
    <span class="assigned-info"><span class="bold">Day/Circuit:</span> {{ assigned.session_description|raw }} </span>
     {# If circuit colour feature is enabled and there is a colour to display
       then display colour title #}
     {% if assigned.circuit_colour|length > 0 %}
        <span class="assigned-info">
          {% set colourName = colours[assigned.circuit_colour|upper]['colour_name'] %}  
          {% set textColour = colourName in ['Blue', 'Green', 'Purple', 'Red'] ? 'color: #fff;' : '' %} 
          <div class="preset-circuit" style="{{ textColour|raw }} background-color: #{{ assigned.circuit_colour|raw }}">{{ colourName|raw|upper }} CIRCUIT</div>
        </span>
     {% endif %}
    <span class="assigned-info"><span class="bold">Station:</span> {{ assigned.station_number|raw }} - {{ assigned.form_name|raw }} </span> 
    <span class="assigned-info"><span class="bold">Group:</span> {{ assigned.group_name|raw }} </span>
    <div class="btn btn-success" style="float: right; clear:both">Go</div>
  </button>
  <input type="hidden" name="term_id" value="{{ assigned.term_id|raw }}"/>
  <input type="hidden" name="dept_id" value="{{ assigned.dept_id|raw }}"/>
  <input type="hidden" name="exam_id" value="{{ assigned.exam_id|raw }}"/>
  <input type="hidden" name="session_id" value="{{ assigned.session_id|raw }}"/>
  <input type="hidden" name="group_id" value="{{ assigned.group_id|raw }}"/>
  <input type="hidden" name="station_id" value="{{ assigned.station_id|raw }}"/>
  <input type="hidden" name="scale_accessibility" value="12"/>
  </form>
{% endfor %}

{# Option to configure | if we have more than 1 assigned stations #}
{% if assigned_stations|length > 0 %}
   <div class="assigned-title">
     <button class="manual-config btn btn-danger">Configure {{ 'exams'|trans|title }} Manually</button>
    </div>   
{% endif %}
</div>

<div id="config-card" class="card d-inline-block align-top mr-1 mb-3" 
  style="{{ assigned_stations|length > 0 ?  ' display: none !important' }}">
 <div class="card-header">
  <div class="card-title h6 mb-0">
    <div class="row no-gutters align-items-center">
        <img src="assets/images/settings.svg" alt="settings" class="card-title-icon">
        <span class="card-title-text pl-2">
          {% if assigned_stations|length > 0 %} Manual {% endif %}{{ 'examination'|trans|title }} Configuration
        </span>
    </div>
  </div>
</div>
<div class="card-body p-0">
<form id="stationselect" method="post" action="assess.php">  
<table class="border-0" id="config-table-options">
<tr>
  <th class="title2">{{ 'academic term'|trans|title }}</th>
    <td class="sel">
        <select name="term_id" id="term-id" class="custom-select custom-select-sm">
        {% for each in terms %}
            {% set selectedAttr = (term == each.term_id) ? ' selected="selected"' : '' %}
            <option value="{{ each.term_id|raw }}"{{ selectedAttr|raw }}>
                {{ each.term_id|raw }}
            </option>
        {% endfor %}
        </select>
    </td>
  <td class="titleerror" id="select_term_err"></td>
</tr>

 <tr>
  <th class="title2">{{ 'Department'|trans }}
     <input type="hidden" name="p" value="student_selection"/>
  </th>
  <td class="sel">
      <div id="dept-div">
          {% include 'ajx_depts.html.twig' %}
      </div>
   </td>
   <td class="titleerror" id="select_dept_err"></td>
 </tr>
 <tr>
   <th class="title2">{{ 'examination'|trans|title }}</th>
   <td class="sel">
     <div id="examdiv">
     {# Render exams dropdown HTML if we have exams listed #}
     {% if department|length > 0 or exams|length > 0 %}
      <select name="exam_id" id="exam_id" class="custom-select custom-select-sm">
        <option value="--">--</option>
        {% for each in exams %}
           {% set selectedAttr = (exam == each.exam_id) ? ' selected="selected"' : '' %}
           <option value="{{ each.exam_id|raw }}" {{ selectedAttr|raw }}>
              {{ each.exam_name|raw }}
           </option>
        {% endfor %} 
        </select>
      {% else %}
         &nbsp;
      {% endif %}
      </div>
    </td>
    <td class="titleerror" id="select_exam_err"></td>
 </tr>
 <tr>
    <th class="title2">Day/Circuit</th>
    <td class="sel">
     <div id="tddiv">
     {# Render sessions dropdown HTML if we have sessions listed #}
     {% if exam|length > 0 or sessions|length > 0 %}
       <select name="session_id" id="session_id" class="custom-select custom-select-sm">
        <option value="--">--</option>
        {% for each in sessions %}            
              {# If circuit colour feature is enabled and there is a colour to display
                 then display colour title #}
              {% if each.circuit_colour|length > 0 %}
                  {% set circuitIndicator = ' circuit-indicator="' ~ each.circuit_colour ~ '"' %}
                  {% set title = ' title="' ~ colours[each.circuit_colour] ~ ' Circuit"' %}      
              {% else %}
                  {% set circuitIndicator = '' %}  
                  {% set title = '' %}
              {% endif %}

              {% set selectedAttr = (session == each.session_id) ? ' selected="selected"' : '' %} 
                <option value="{{ each.session_id|raw }}"{{ selectedAttr|raw }}{{ circuitIndicator|raw }}{{ title|raw }}>
                    {{ each.session_date|date("d/m/Y") }} {{ each.session_description|raw }} 
               </option>
          {% endfor %} 
        </select>
      {% else %}
         &nbsp;
      {% endif %}     
     </div>
     </td>
     <td class="titleerror" id="select_session_err"></td>
  </tr>
  
  <tr id="{{ multiScoresheets ? 'groups' : 'stations' }}-rw">
    <th class="title2">{{ multiScoresheets ? 'Group' : 'Station' }}</th>
    <td class="sel">
        <div id="{{ multiScoresheets ? 'groups' : 'stations' }}-div">
        {% if multiScoresheets and group|length > 0 %}
            {{ include ('show_groups.html.twig') }}
        {% elseif station|length > 0 %} 
            {{ include ('show_stations.html.twig') }}
        {% else %}
           &nbsp;
        {% endif %}
        </div>
    </td>
    <td class="titleerror" id="select_{{ multiScoresheets ? 'groups' : 'stations' }}_err"></td>
  </tr>
        
  <tr id="{{ multiScoresheets ? 'stations' : 'groups' }}-rw">
    <th class="title2">{{ multiScoresheets ? 'Station' : 'Group' }}</th>
    <td class="sel">
        <div id="{{ multiScoresheets ? 'stations' : 'groups' }}-div">
        {% if multiScoresheets and station|length > 0 %}
            {{ include ('show_stations.html.twig') }}
        {% elseif group|length > 0 %}
            {{ include ('show_groups.html.twig') }}
        {% else %}
           &nbsp;
        {% endif %}
        </div>
    </td>
    <td class="titleerror" id="select_{{ multiScoresheets ? 'stations' : 'groups' }}_err"></td>
  </tr>

  <tr>

  <th class="title2">Text Scaling</th>
  <td class="sel">
  <select id="scale-accessibility">

    {# Default selection medium (12px) OR from config file #}
    {% for name, fontScale in fontScales %}
       {% set selectedAttr = (fontScaleSet == name) ? ' selected="selected"' : '' %}
       <option value="{{ fontScale|raw }}"{{ selectedAttr|raw }}>{{ name|raw }}</option>
    {% endfor %}

 </select>
 </td>
 <td class="titleerror"></td>
 </tr>

 <tr>
    <th class="titlenb">&nbsp;</th>
    <td class="text-right pb-3">
        <input class="button btn btn-success btn-sm w-auto" type="submit" id="config-station" name="fix_station" value="Set and Continue" />
    </td>
    <td class="infonb">&nbsp;</td>
</tr>

  </table>
  </form>
 </div>
</div>
<br/><br/>
<div class="card d-inline-block align-top mr-2 border-danger" style="clear:both; float: left">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="notes" class="card-title-icon">
        <span class="card-title-text pl-2">
          Notes for <span>{{ user.name|raw }} ({{ user.id|raw }})</span><br/>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
    <ul class="prewarn text-danger">
        <li>Make sure to choose the correct station (at your location) from the dropdown list above</li>
        <li>Do not run any other applications during the {{ 'examination'|trans }},
            this would include E-mail, Facebook, Twitter and so on</li>
        <li>If a blank 'ghost' {{ 'student'|trans }} appears in the {{ 'examination'|trans }} list, select it and then click the 'ABSENT'
            or '{{ 'examine'|trans|upper }}' button to remove</li>
        <li>Make sure that the screen of your computer monitor is not visible to {{ 'students'|trans }} at your location</li>
        <li>Be aware that a timestamp is logged with every station submission and update</li>
        <li>Make sure to mark any absent {{ 'students'|trans }} as absent using the 'ABSENT' button</li>
        <li>Do not use the browser back button at any point during the {{ 'examination'|trans }}. Please use the menu and navigation buttons provided</li>
        <li>Please refrain from writing down login credentials or login instructions that may become visible to {{ 'students'|trans }} at your station</li>
        <li>Do not forget to logout upon completion of the {{ 'examination'|trans }} at the end of the day</li>
        {% if manual|length > 0 %}
           <br/><a target="_blank" href="{{ manual|raw }}">View User Manual</a>
        {% endif %}

        {% if video|length > 0 %}
           <br/><a target="_blank" href="{{ video|raw }}">View Video</a>
        {% endif %}
    </ul>
    </div>   
  </div> 
</div>

</div>    
</div>    
    
    