<div id="assessment-config-dialog" title="Configuration">
    <h5>Accessibility</h5>
    <div>
        <label class="align-middle" for="textselect">Text Scaling: </label>
        <select id="textselect" class="custom-select custom-select-sm w-auto align-middle">
            <option value="11">smallest</option>
            <option value="13">very small</option>
            <option value="14">small</option>
            <option value="15" selected="selected">medium</option>
            <option value="16">large</option>
            <option value="17">very large</option>
            <option value="20">largest</option>
        </select>
    </div>
</div>