<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<input type="text" value="0" id="rectss">
<input type="hidden" id="station_type" value="{{ station_type }}">
<div class="content{{ updateMode ? " update-panel-adjust" }}" id="maincontdiv">
 
 {# Station or Case Notes #}
 {% if settings.hasNotes %}
 
    <div id="station-notes-outer" style="display:none">
       <div id="station-notes-main" unselectable="on">
        <p>{{ station.form_description|decode_html_entities|raw }}</p>
        <video width="100%" controls>
           <source src="media/{{ station.form_id|raw }}.mp4?v={{ rand }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>

        {% if station_type == "Assessor" %}

        {% if settings.upload_media_file != "not found" %}

        <br>
        {% if settings.upload_media_ext == "mp4" %}
         
         <video width="100%" controls>
           <source src="{{ settings.upload_media_file|raw }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>

        {% endif %}

        {% if settings.upload_media_ext == "pdf" %}

        <iframe src="{{ settings.upload_media_file|raw }}" width="100%" style="height:1000px"></iframe>

        {% endif %}

        {% if settings.upload_media_ext == "txt" %}

        <iframe src="{{ settings.upload_media_file|raw }}" width="100%" style="height:1000px"></iframe>

         {% endif %}

        {% if settings.upload_media_ext != "txt" and settings.upload_media_ext != "pdf" and settings.upload_media_ext != "mp4" %}

          <iframe src="http://docs.google.com/gview?url=http://34.230.42.160/{{ settings.upload_media_file|raw }}&embedded=true" width="100%" style="height:1000px"></iframe>

        {% endif %}

        {% endif %}
       
        {% endif %}

      </div>
   
    </div>
   
 {% endif %}

    <form id="exam-assessment-form" method="post" action="assess/submit_results.php" onsubmit="return(validateExam())">
    <div id="exam-assessment-top">
     <div id="exam-container-top">

         {# dead code #}
         <button type="button" id="self-assessment" onclick="openSidePanel()">
             <img src="assets/images/page.png" title="Self {{ 'assessment'|trans|title }}" alt="Self {{ 'assessment'|trans|title }}">   
         </button>
 
      <button class="cancel-exam cancel-top btn" type="button" value="Cancel" {% if station_type == "Object" %}disabled{% endif %}>
          <div id="cancel-img-div">
            <img src="assets/images/back.png" title="Cancel {{ 'assessment'|trans|title }}" 
                 class="cancel-image" alt="Cancel Assessment">  
          </div>
          <div id="cancel-label-div">Cancel</div>
      </button>
      <table id="top-table">
      <tr>
        <th class="title3 nbb">Day/Circuit</th>
        <td>

         {% if session.circuit_colour|length > 0 %}
           
             <div class="circuit-color-selected" title="{{ session.circuit_colour_name|raw }} circuit" 
                 style="background-color:#{{ session.circuit_colour|raw }}">
             </div>
            
         {% endif %}
         
         {{ session.session_date|raw ~ " " ~ session.session_description|decode_html_entities|raw }}

        </td>
        <th class="title3 nbb">{{ 'examiner'|trans|title }}</th>
        <td class="nbr">{{ examiner|decode_html_entities|raw }}</td>
      </tr>
      
      <tr>
        <th class="title3 nbb">Station</th>
        <td>
         
         {# Notes button #}
         {% if settings.hasNotes %}
           
             <a id="show-notes" href="javascript:void(0)">{{ station.station_number|decode_html_entities|raw  ~ " - " ~ station.form_name|decode_html_entities|raw }} (notes)</a> 
             <input type="hidden" id="notes-pop" value="{{ settings.showNotes|raw }}"/>
             
         {% else %}
           
            {{ station.station_number|decode_html_entities|raw  ~ " - " ~ station.form_name|decode_html_entities|raw  }}
             
        {% endif %}
        
        </td>
        <th class="title3{{ updateMode ?' nbb' }}">Group</th>
        <td class="nbr">
    {{ group.group_name|decode_html_entities|raw  }}
  </td>
       </tr>
    
      {# Time Stamps #}
      {% if updateMode %}
        
        <tr>
          <th class="title3 nbb">Submitted</th>
          <td class="updatelast">{{ firstSubmission|raw }}</td>
          <th class="title3">Updated</th>
          <td class="updatelast nbr">{{ lastUpdated|raw }}</td>
        </tr>
        
      {% endif %}
      
       {# Student Name #}
       <tr>
    <th class="student-title">{{ 'student'|trans|title }}</th>
    <td class="student-cell">{{ student.comboName|decode_html_entities|raw }}</td>
    <td class="absent-field" colspan="2">
       <div {{ assessedAbsent ? 'class="bg-red"' }}> 
           <label for="absent">Absent</label>
           <input type="checkbox" name="absent" id="absent" value="1" {{ assessedAbsent ? 'checked="checked"' }}/> 
       </div> 
     </td>
   </tr>
  
   <tr id="status">
     <td class="titlestatus" colspan="4"><div>Loading {{ 'form'|trans }} please wait...</div></td>
   </tr>
    
  </table>
        
  <div id="panel-container" unselectable="on">
       
       {# Countdown timer - only for first assessment #}
       {% if exam.show_countdown and settings.listType == constant("TOASSESS_LIST") %}
         
          <div id="clock" title="Count down to zero from when {{ 'form'|trans }} was opened" unselectable="on"></div>
           
       {% endif %}

       {% if state == "unsubmitted" %}
       
          <div id="auto-save-status"></div> 
       
       {% endif %}

  </div>

     <div id="assessment-config">
         <a id="assessment-config-btn" href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true" title="Assessment {{ 'form'|trans }} configuration"></i></a>
     </div>
        
     <div class="fc"></div>
   </div>
 </div>

{% include 'exam_assessment_Config.html.twig' %}

