  <tr>
   <td colspan="{{ optionCount+3 }}" class="tdscorebuttons">
   
    {% if hasItems %}
      
      <div class="totalscore{{ exam.view_totals == 0 ? " hide" }}">
         <div id="scorediv" class="scorevalue">
         <span class="red">Total </span>    
         <div id="scoreval" class="innervaldiv">{{ score|raw }}</div>/{{ possible|raw }}</div>
         <br class="clearv2"/>
      </div>
     <div class="submitdiv">
          
     <div class="fc">      
      <input type="submit" name="submit_action" title="Submit and select next {{ 'Student'|trans }}" 
             id="submit-exam" value="{{ updateMode ? "Update" : "Submit" }}" class="btn btn-sm btn-success"/>
     </div>
      
     {# Submit & Next Section #}
     {% if exam.submit_next == 1 and listType == constant('TOASSESS_LIST') %}

         {# If there's one or more students in the group without a result, 
            offer a "Submit And Next" control with the students in the list #}
         {% if students|length > 0 %}
           
            {% 
               include 'exam_assessment_SubmitAndNext.html.twig'
            %}

         {% endif %}
         
     {% endif %}
        
      </div>
      <br class="clearv2"/>

    {% endif %}
    
    </td>
  </tr>
  </table> 
    <input type="hidden" name="student_id" value="{{ studentID|raw }}"/>
    <input type="hidden" id="total-result" name="total_result" value="{{ score|raw }}"/>
    <input type="hidden" id="section-count" value="{{ sectionCount|raw }}"/>
    <input type="hidden" id="view-marks" value="{{ exam.view_marks|raw }}"/>
    <input type="hidden" id="time-limit" value="{{ stationTime|raw }}"/>
    <input type="hidden" id="alarm1" value="{{ alarm1Time|raw }}"/>
    <input type="hidden" id="alarm2" value="{{ alarm2Time|raw }}"/>
    <input type="hidden" id="alarm1-stop" value="{{ alarm1Stop|raw }}"/>
    <input type="hidden" id="alarm2-stop" value="{{ alarm2Stop|raw }}"/>
    <input type="hidden" id="form-updated" value="1"/>      
    <input type="hidden" id="autosave-interval" value="{{ autosaveInterval|raw }}"/>  
    <input type="hidden" id="assessment-mode" value="{{ listType|raw }}"/>
    <input type="hidden" id="assessment-state" value="{{ state|raw }}"/>
  </form>  
 </div>
 <br/>
 <br/>
