{# Twig template for the examiners.php script #}

{% set caption = (success) ?  'examiner'|trans ~ " switched" : "switch " ~ 'examiner'|trans %}
{% set examinerTitle = (success) ? "New " ~ 'examiner'|trans|title ~ ": " : "Current " ~ 'examiner'|trans|title %}
{% set action = (success) ? "assess.php?p=exam_configuration" : "assess/change_examiner.php" %}

<div class="container-fluid pt-4" id="maincontdiv">
 {% if sms_support %}
   {% include 'renderAssistantCallBox.html.twig' %}
 {% endif %}
<form id="examiner-form" method="post" action="{{ action|raw }}" autocomplete="off">
 <div class="card d-inline-block align-top mr-2 mb-4">
 <div class="card-header">
      <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
         <img src="assets/images/switch.svg" style="width: 40px" class="card-title-icon">
         <span class="card-title-text pl-2" style="width: calc(100% - 40px)">
               {{ caption|title }}
         </span>
      </div>
      </div>
 </div>
 <div class="card-body">
      <div class="card-text">   
<table class="border-0">
<tr>
<th class="titlenw border-0">{{ examinerTitle|raw }}</th>
<td class="border-0" id="examinername">{{ examiner_name|raw }}</td>
<td class="titleerror border-0"></td>
</tr>

{% if success == false %}
 
   <tr>
   <th class="titlenw border-0">New {{ 'examiner'|trans|title }} Selection</th>
   <td class="exmr-selects border-0">
    <select id="new-examiner" name="new_examiner">
   
    {# Render list of examiners to login #}
     {% for examiner in examiners %}    

        {# Exclude current examiner from the list #}
        {% if examiner_id != examiner['user_id'] %}

          {% set fullname = examiner['forename'] ~ " " ~ examiner['surname'] %}
          {% set selectAttr = (examiner_selected == examiner['user_id']) ? ' selected="selected"' : "" %}

          <option value="{{ examiner['user_id']|raw }}"{{ selectAttr|raw }}>{{ fullname|raw }} - {{ examiner['user_id']|raw }}</option>         
       
       {% endif %}
         
     {% endfor %}
     
     </select>
     </td>
     <td class="titleerror border-0" id="new-examiner-info"></td>
    </tr>
    <tr>
    <th class="titlenw border-0">New {{ 'examiner'|trans|title }} Password</th>
    <td class="exmr-selects border-0">
     <input type="password" name="newexmnr_pass" id="newexmnr-pass" value="" class="form-control form-control-sm "/>
    </td>
    <td class="titleerror border-0" id="newexmnr-pass-info"></td>
    </tr>
    
 {% endif %}
	
    <tr>
    <td class="buttontd2" colspan="2">
  
	
    {# Errors, password incorrect #}
    {% if errors %}
        <div class="errormessage">Incorrect Password / Identifier</div>
    {% endif %}
	
    {# Successful login #}
    {% if success %}
       <input type="submit" name="retc" class="btn btn-sm btn-success" value="back to {{ 'assessments'|trans }}"/>
      
    {# Submit (change examiner) and cancel buttons #}
    {% else %}
       <input type="hidden" name="cexaminer" value="change"/>
       <button type="button" onclick="window.location='assess.php?p=exam_configuration';" class="btn btn-sm btn-danger">Cancel</button>
       <input type="submit" name="examiners" value="Change" class="btn btn-sm btn-success"/>
    {% endif %}
    
    </td>
    <td class="titleerror border-0"></td>
    </tr>
  </table>
   </div>
  </div> 
  </div> 
  </form>
 </div>
