{# Twig template for "Submit And Next" controls for assess/exam_assessment.php #}
<div class="nextdiv">
    <label id="subselstudl" for="subselstud">Next {{ 'Student'|trans }}</label>
    <select id="subselstud" name="next_student">
{% for student in students %}
    
     {% set nameSeparated = (student.surname|length > 0 and student.forename|length > 0) ? ", " : "" %}
     {% set idSeparated = (student.surname|length > 0 or student.forename|length > 0) ? " - " : "" %}
    
    {% if student.blank %}
        {% set studentIdentifier = "" %}
        {% set studentLabel = "BLANK " ~ "student"|trans|upper  %}
    {% elseif examStudentIDType == constant("EXAM_NUMBER_TYPE") %}
        {% if student.exam_number is empty %}
          {% set studentIdentifier = student.student_id %}
          {% set studentLabel = "No Exam Number Assigned - " %}                   
        {% else %}
          {% set studentIdentifier = student.exam_number %}
          {% set studentLabel = "" %}
        {% endif %}
    {% elseif examStudentIDType == constant("CANDIDATE_NUMBER_TYPE") %}
        {% if student.candidate_number is empty %}
          {% set studentIdentifier = idSeparated ~ "No Candidate Number Assigned" %}
          {% set studentLabel = (student.surname ~ nameSeparated ~ student.forename) %}
        {% else %}
          {% set studentIdentifier = idSeparated ~ student.candidate_number %}
          {% set studentLabel = (student.surname ~ nameSeparated ~ student.forename) %}
        {% endif %}
    {% else %}
        {% set studentIdentifier = idSeparated ~ student.student_id %}
        {% set studentLabel = student.surname ~ nameSeparated ~ student.forename %}
    {% endif %}
    
    {% spaceless %}
        <option value="{{- student.blank ? 'blank::' -}}{{- student.student_id|decode_html_entities|raw -}}"{{- student.blank ? ' class="orange"' -}}>
            {{- studentLabel|decode_html_entities|raw }}{{ studentIdentifier|decode_html_entities|raw -}}
        </option>
    {% endspaceless %}
{% endfor %}
    </select>&nbsp;&nbsp;
    <input type="submit" name="submit_action" id="submit-next" value="Submit &amp; Next"/>
</div>