 {# Form sectons #}
 {% set totalResult = "" %}
 {% set totalPossible = 0 %}

 <table border="0" id="exam_assessment_table">

     {# self assessment message if there is not question imported for a student #}
     {% if selfAssessment.isSelfAssessment == 1 and selfAssessment.hasQuestions == 0 %}
     <caption class="red" style="font-weight: normal; text-align: left">
       This is a self assessment {{ 'form'|trans }} and the self assessment data for 
       this {{ 'student'|trans }} has not been imported. Please contact your administrator</caption>
     {% endif %}

    {% if content|length == 0 %}
       <tr><td class="noitemsfnd2">No sections or items found</td></tr>
    {% endif %}
      
    {% set itemCount = 0 %}
    {% set answerCount = 1 %}
   
    {% for section in content %}

        {% set itemsLength = section.items|length %}

        {% set sectionScoring = scores[section.section_id] %} 
        
        {# If SCALE SECTION include in class variable #}
        {% set classComment = "default" ~ (section.competence_type == "scale" ? " scale-comment" : "") ~ " " %}

        {# If COMMENTS are required include in css class variable #}
        {# Classes (0=>No, 1=>Yes, 2=>Fail, 3=>Borderline, 4=>Fail or Borderline, 5=>Flag Option) #}
        {% if section.feedback_required == 5 %}

          {% set classComment = classComment ~ "crequired-flag" %}

        {% elseif section.feedback_required == 4 %}

          {% set classComment = classComment ~ "crequired-fb" %}

        {% elseif section.feedback_required == 3 %}
          
          {% set classComment = classComment ~ "crequired-bl" %}

        {% elseif section.feedback_required == 2 %}

          {% set classComment = classComment ~ "crequired-fail" %}

        {% elseif section.feedback_required == 1 %}

          {% set classComment = classComment ~ "crequired" %}
          
        {% endif %}

        {# Section has text #}
        {% if sectionScoring.feedback|length > 0 %}

          {% set classComment = classComment ~ " with-text" %}
      
        {% endif %}
                
        {# Title Section #}
        {% set descriptorCount = settings.feedback_to_right == 1 ? optionCount + 1 : optionCount %}
        {% set titleCellClass = section.items|length > 0 or section.section_feedback  ? "title-section" : "title-sectionv2" %}
        {% set titleColspan = section.items|length == 0 ? descriptorCount + 2  : 2 %}
        
        {% if section.competence_type == "scale" %}
         
            {% set titleClass = "scalebar" %}
            
        {% elseif section.self_assessment %}
            
            {% set titleClass = "selfassessment-bar" %}
        
        {% else %}    
            
            {% set titleClass = "" %}
            
        {% endif %}
        
        {# Title cell #}
        <tr class="{{ titleClass|raw }}">

          <th class="{{ titleCellClass|raw }}" colspan="{{ titleColspan|raw }}">
            <div class="word-wrap">{{ section.title|raw }}</div>

               {# Button take ownership self-assessment #}
              {% if section.self_assessment %}
                  {% if selfAssessment.hasQuestions == 1 and selfAssessment.ownership is null %}
                      {% set buttonValue = "Take Ownership" %}
                      {% set showSelfAssessmentQuestion = 0 %}
                  {% elseif selfAssessment.ownership.examiner_id == examiner %}
                      {% set buttonValue = (updateMode) ? "Owner" : "Cancel Ownership" %}
                      {% set showSelfAssessmentQuestion = 1 %}
                  {% elseif  selfAssessment.ownership.examiner_id is not null %}
                      {% set buttonValue = "Not Owner" %}
                      {% set showSelfAssessmentQuestion = 0 %}
                  {% elseif  selfAssessment.hasQuestions == 0 %}
                      {% set buttonValue = "Self assessment not available" %}
                      {% set showSelfAssessmentQuestion = 0 %}
                  {% endif %}
                  <input type="button" value="{{ buttonValue }}" id="bt-ownership-self-assessment" />
              {% endif %}

          </th>

           {% set displaySelfAssessmentClass = section.self_assessment == 0 ? "" :
                    showSelfAssessmentQuestion == 1 ? "self-assessment-item display": "self-assessment-item hidden" %}

        {# Render descriptor cells #}
        {% if section.items|length > 0 %}
           
          {% set nonRadioTypes = ["slider", "checkbox", "text"] %}
          
          {% for descriptor in section.maxOptions.descriptors %}

                <th class="descriptors">

                <div class="descdiv{{ section.self_assessment ? " hide" }}">

                {% if section.maxOptions.type in nonRadioTypes or descriptor|length == 0 %}

                    &nbsp;

                {% else %}

                    {{ descriptor|custom_wordwrap(20)|raw }}

                {% endif %}

                </div>

              </th>

          {% endfor %}

        {% endif %}
 
             {# Render remaining cells #}
             {% if section.items|length > 0 %}
 
                {% set reach = descriptorCount-section.maxOptions.descriptors|length %}
                
                {% if reach > 0 %}
                    
                    {% for i in range(1, reach) %}

                      <th class="descriptors"><div class="descdiv">&nbsp;</div></th>

                    {% endfor %}
                
                {% endif %}
 
             {% endif %}
 
        </tr>
 
        {# All Section Items (If Any) #}
        {% for itemID, item in section.items %}

             {% set itemScoring = sectionScoring['items'][itemID] %}     

             {% set itemCount = itemCount + 1 %} 

             <tr class="{{- loop.index is even ? "lgrey " -}}

                {{ item.selfAssessmentQuestion is empty ? "" :
                        showSelfAssessmentQuestion == 1 ? "self-assessment-item display": "self-assessment-item hidden" }}

               {# Only highlight completed scores in an incomplete assessment #}
               {%- if itemScoring.marked and settings.listType != constant('ASSESSED_LIST') -%}
                 
                  {{- item.type == "checkbox" ? "checked" : "done" -}}
                  
               {%- elseif (itemScoring.marked and settings.listType == constant('ASSESSED_LIST')) -%}
                 
                  {{- "submitted-score" -}}
                  
               {%- endif -%}
 
               " id="section-{{ loop.parent.loop.index|raw }}-qrow-{{ itemCount|raw }}">  
               <th class="titleqcount">&nbsp;</th>

                {# display an item as self-assessment question #}
                {% if item.selfAssessmentQuestion %}
                {% set selfAssessment = item.selfAssessmentQuestion %}
                 <th class="items">
                     <div class="self-assessment-content" data-self-assessment="{{ selfAssessment.self_assessment_id }}">
                         <div class="self-assessment-question">
                              {{ selfAssessment.question|raw }}
                         </div>
                         <div class="self-assessment-response">
                             {{ 'Student'|trans }} Response <span>"{{ selfAssessment.response|raw }}"</span>
                         </div>
                         <div class="self-assessment-score">
                            {{ 'Student'|trans }} Score <span>{{ selfAssessment.score|raw }}</span>
                         </div>
                     </div>
                 </th>

                {% else %}
                 <th class="items">{{ item.text|raw }}</th>
                {% endif %}

            {# IF CHECKBOX TYPE #}
            {% if item.type == "checkbox" %}

                {% set totalAnswerCount = 1 %}
                {% set answerCount = answerCount + 1 %}
                
                <td colspan="{{ optionCount|raw }}" class="checkbox-td">
                    <input class="checkbox-control" type="checkbox" value="1" {{ 
                       updateMode and absent != 1 and itemScoring.marked ? 'checked="checked"' 
                    }} name="scores[{{ itemID|raw }}]"/>
                </td>

           {# IF TEXT TYPE #}
           {% elseif item.type == "text" %}

               <td colspan="{{ optionCount|raw }}" class="options slider-td"> 
                   
                {% set totalAnswerCount = 1 %}
                {% set option = item.options|first %}
                {% set value = "" %}
                
                {% if updateMode and absent != 1 and itemScoring.marked %}
                
                   {% set value = itemScoring.value %}
                    
                {% endif %}
                
                <div class="textbox-descriptor">{{ option.descriptor|custom_wordwrap(40) }}</div>
                  <input type="text" autocomplete="off" onblur="calculateTotal(this.id)" class="textinputtest" name="scores[{{ itemID|raw }}]" 
                      id="ansoption-{{ answerCount|raw }}" value="{{ value|raw }}" size="5"/> 
                  <label class="option-label" for="ansoption-{{ answerCount|raw }}">
                        (<span class="red">{{ itemScoring.trueLow|raw }} to {{ itemScoring.trueHigh|raw }}</span>) 
                  </label>&nbsp;&nbsp;
                    <input type="hidden" id="lowhigh{{ itemCount|raw }}" 
                        value="{{ itemScoring.trueLow|raw }},{{ itemScoring.trueHigh|raw }}"
                     />
                </td>
                {% set answerCount = answerCount + 1 %}

            {# IF SLIDER TYPE #}
            {% elseif item.type == "slider" %}

                {% set totalAnswerCount = 1 %}
                {% set option = item.options|first %}

                <td colspan="{{ optionCount|raw }}" class="options slider-td">
                
                {# Update mode and score #}    
                {% if updateMode and absent != 1 and itemScoring.marked %}
                    
                   {% set offset = itemScoring.value %}
                   
                {% else %}

                  {% if itemScoring.low < 0 and itemScoring.high > 0 %}

                      {% set offset = 0 %}

                  {% else %}

                      {% set offset = itemScoring.low %}

                  {% endif %}

                {% endif %}

                
                {# Prepare data for slider render #}
                {# Numeric scoring #}
                {% if exam.view_marks %}
                    
                    {% set sliderDisplayValue = offset %}
                    {% set sliderValueRange = (itemScoring.high - itemScoring.low) %}

                    {% if sliderValueRange <= 5 %}

                         {% set sliderClass = "slider1" %}

                    {% elseif sliderValueRange <= 10 %}

                         {% set sliderClass = "slider2" %}

                    {% elseif sliderValueRange <= 20 %}

                         {% set sliderClass = "slider3" %}

                    {% elseif sliderValueRange <= 50 %}

                         {% set sliderClass = "slider4" %}

                    {% elseif sliderValueRange <= 100 %}

                         {% set sliderClass = "slider5" %}

                    {% else %}

                        {% set sliderClass = "slider6" %}  

                    {% endif %}    
                      
                    {% set leftLabel = itemScoring.low %}
                    {% set rightLabel = itemScoring.high %}
                    {% set leftBracket = "(" %}
                    {% set rightBracket = ")" %}
                    
                    
                {# Percentage scoring slider #}    
                {% else %}
                    
                    {% if offset == 0 %}
                    
                      {% set sliderDisplayValue = "0%" %} 
                    
                    {% else %}
                        
                       {% set sliderDisplayValue = itemScoring.scalePercent ~ "%" %}  
                       
                    {% endif %}  
                     
                                      
                    {% set sliderClass = "perslider" %}
                    {% set leftLabel = "&nbsp;" %}
                    {% set rightLabel = "&nbsp;" %}
                    {% set leftBracket = "" %}
                    {% set rightBracket = "" %}
                    
                {% endif %}
                
                {# Include slider option #}
                {% include "generateSlider.html.twig"
                   with {
                     "class": sliderClass,
                     "value": sliderDisplayValue,
                     "start": itemScoring.low,
                     "end": itemScoring.high, 
                     "id": itemID,
                     "framework": "jquery"
                   } 
                %}
                
                </td>
                
                {% set answerCount = answerCount + 1 %}

            {# IF RADIO, RADIO TEXT TYPE #}
            {% elseif item.type == "radio" or item.type == "radiotext" %}

                {% set totalAnswerCount = item.options|length %}
                {% set descriptorsIndex = 0 %}
                {% set optionsIndex = 0 %}
                                        
                {# Loop through item with maximum options #}
                {% for descriptor in section.maxOptions.descriptors %}
                
                  {% set descriptorsIndex = descriptorsIndex + 1 %}
                  
                  {# Get option based on increment index #}
                  {% set option = item.options[optionsIndex] %}
                 
                  {% if descriptorsIndex == option.position %}

                    {% set optionsIndex = optionsIndex + 1  %}

                  <td class="options  

                    {%- if item.grs == 1 -%} 

                       {{- " anscale scale-check-td" -}}

                     {%- else -%}

                       {{- " standard-check-td" -}}  

                     {%- endif -%}

                     {%- if descriptorsIndex == 1 -%}     

                       {{- " nbl" -}}

                     {%- endif -%} 

                     {%- if section.items|length == 1 -%}

                       {{- " vatop" -}}

                     {%- endif -%}

                     ">
      
                 {# If a GRS option is a fail and/or borderline #}
                 {% set failBlString = " " %}

                 {% if item.grsValues is defined and item.grsValues|length > 0 %}

                    {% set grsData = item.grsValues[option.value] %}

                    {% if grsData.borderline == 1 %}

                       {% set failBlString = failBlString ~ " borderline" %}

                    {% endif %}

                    {% if grsData.fail == 1 %}

                       {% set failBlString = failBlString ~ " fail" %}

                    {% endif %}

                 {% endif %}

                 <input 
                    type="radio" 
                    title="{{- option.descriptor|raw -}}" 
                    name="scores[{{ itemID|raw }}]"
                    id="ansoption-{{- answerCount|raw -}}"
                    class="radoption{{- failBlString|raw -}}
                       {{- option.flag ? " flag" -}} " 
                    value="{{ option.optionID|raw }}"
                    {% if updateMode and absent != 1 %}

                       {{ (itemScoring.marked and itemScoring.optionID == option.optionID) ? 'checked="checked"' }}

                    {% endif %}
                 />


                 {# Option ID hidden field #}
                 <input type="hidden" id="ansoptval-{{ option.optionID|raw }}" value="{{ option.value|raw }}"/> 

                  {# View marks section #}
                  {%- if exam.view_marks or section.self_assessment -%}

                        <label class="option-label" for="ansoption-{{ answerCount|raw }}" title="{{ option.descriptor|raw }}">(<span class="red">
                        {%- if item.grs == 1 -%}

                            {{- option.descriptor|raw -}}     

                        {%- else -%}

                            {{- option.value|raw -}}

                        {%- endif -%}
                         </span>)</label>

                  {%- endif -%}

                     </td>

                   {% set answerCount = answerCount + 1 %}

                  {% else %}

                   <td class="filler">&ndash;</td>

                   {% set totalAnswerCount = totalAnswerCount + 1 %}

                  {% endif %}
                        
                 {% endfor %}

                 {# Any remaining cells #}
                 {% set remainingCellCount = optionCount-totalAnswerCount %}
                
                 {% if remainingCellCount > 0 %}
                    {% for i in range(1, remainingCellCount) %}

                      <td class="filler">&nbsp;</td>

                    {% endfor %}
                  {% endif %}  
               
               {% else %}

                   <td>Item Type Error</td>

               {% endif %}


              {# Accumulate Possible Score and Result Score and put section total in a hidden variable #}
              {% if loop.last and sectionScoring.gradeable %}

                   <input type="hidden" id="sectiontotal-{{ loop.parent.loop.index|raw }}" value="{{ sectionScoring.total|raw }}"/>

              {% endif %}

              
               {# Placing feedback/comments field to right of each section #}
               {# When exam setting feedback_to_right is set to on #}
               
              {% if settings.feedback_to_right == 1 and loop.index == 1 %}

                  <td class="comment-right {{ displaySelfAssessmentClass }} " rowspan="{{ section.items|length * (section.item_feedback ? 2 : 1) }}">
                     <textarea placeholder="section feedback.." name="comments[{{ section.section_id|raw }}]"
                        id="comment-{{ loop.parent.loop.index|raw }}" 
                        class="{{ classComment|raw }}">
                        {{- sectionScoring.feedback|raw -}}
                     </textarea>
                  </td>

              {% endif %}

              </tr>

              {# Item Feedback Section #}
              {% if section.item_feedback %}

                    <tr class="{{ displaySelfAssessmentClass }}">
                        <td class="item-comment-icon-cell">
                            <div>&nbsp;</div>
                        </td>
                        <td class="comment" colspan="{{ optionCount+2 + (-settings.feedback_to_right) }}">
                        <textarea placeholder="item feedback.." name="item_comments[{{ itemID|raw }}]"
                                  id="item-comment-{{ itemCount|raw }}" class="{{ classComment|raw }}">
                             {{- itemScoring.feedback|raw -}}
                         </textarea>
                        </td>
                    </tr>

              {% endif %}

            {% endfor %}

            {# Placing feedback/comments field across bottom of section #}
            {# When exam setting feedback_to_right is turned off or #}
            {# there if there is a feedback only section #}
             
            {% if settings.feedback_to_right == 0 or (section.section_feedback and section.items|length == 0) %}

                <tr class="{{ section.section_feedback == 0 ? "hide" : "" }} {{ displaySelfAssessmentClass }}">
                    <td class="comment-icon-cell">
                        <div>&nbsp;</div>
                    </td>
                    <td class="comment" colspan="{{ optionCount+2 }}">
                    <textarea placeholder="feedback.." name="comments[{{ section.section_id|raw }}]"
                         id="comment-{{ loop.index|raw }}" class="{{ classComment|raw }}">
                         {{- sectionScoring.feedback|raw -}}
                     </textarea>
                    </td>
                </tr>

            {% endif %}
   
  {% endfor %}

