{# Twig template for assess_func.php::generateSlider() #}
{% set startValueID = "start-value" ~ answerCount %}
{% set endValueID = "end-value" ~ answerCount %}
{% set knobID = "slidervalue-" ~ answerCount %}
{% set sliderID = "slider-" ~ id %}

{% if studentID is defined %}
    {% set startValueID =  studentID ~ "-start-value" ~ answerCount %}
    {% set endValueID = studentID ~ "-end-value" ~ answerCount %}
    {% set knobID = studentID ~ "-slidervalue-" ~ answerCount %}
    {% set sliderID = studentID ~ "-slider-" ~ id %}
{% endif %}


<div class="perwidth">
    <div class="start-div">
        <input type="hidden" id="{{ startValueID }}" value="{{ start }}"/>
        {{ leftBracket }} <span class="red" id="start{{ answerCount }}">{{ leftLabel|raw }}</span> {{ rightBracket }}
    </div>
    <div id="{{ sliderID }}" {{ (framework == 'mootools') ? ('class="slider-track ' ~ class ~ '"')|raw : ('class="slider slider-track"')|raw }}>
        {% if framework == "jquery" %}
        {# In case we're using jQuery #}
        <a href="#" id="{{ knobID }}" class="ui-slider-handle ui-state-default ui-corner-all">{{ value }}</a>
        {% else %}
        <div class="knob" id="{{ knobID }}">{{ value }}</div>
        {% endif %}

        {% if studentID is defined %}
        <input type="hidden" name="scores[{{ id }}]" id="{{ studentID }}-ansoption-{{ answerCount }}" value="{{ offset }}"/>
        {% else %}
        <input type="hidden" name="scores[{{ id }}]" id="ansoption-{{ answerCount }}" value="{{ offset }}"/>
        {% endif %}
    </div>
    <div class="end-div">
        <input type="hidden" id="{{ endValueID }}" value="{{ end }}"/>
        {{ leftBracket }}<span class="red" id="end{{ answerCount }}">{{ rightLabel|raw }}</span>{{ rightBracket }}
    </div>
    <br class="clearv2"/>
</div>