    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/multiple_candidate_scoresheet.css" />

    {% include 'exam_assessment_Config.html.twig' %}

    {# Station or Case Notes #}
    {% if settings.hasNotes %}
    <div id="station-notes-outer" style="display:none">
     <div id="station-notes-main" unselectable="on">{{ station.form_description|raw }}</div>
    </div>
    {% endif %}

    <div class="score-sheet-content">
    <div class="header-score-sheet">
        <div class="header-item cancel-exam">

            <button class="cancel-exam-button" type="button" value="Cancel">
                <img src="assets/images/back.png" title="Cancel {{ 'assessment'|trans|title }}" class="cancel-icon" alt="Cancel Assessment">
                <span class="cancel-exam-button">Cancel</span>
            </button>

        </div>
        <div class="header-item config-item">
            <a href="#" id="assessment-config-btn">
                <i class="fa fa-cog config-icon" aria-hidden="true" title="Assessment {{ 'form'|trans }} configuration"></i>
            </a>
        </div>
        {# Countdown timer - only for first assessment #}
        {% if exam.show_countdown and settings.listType == constant("TOASSESS_LIST") %}
        <div class="header-item exam-time">
           <div id="clock" class="clock" title="Count down to zero from when {{ 'form'|trans }} was opened" unselectable="on"></div>
        </div>
        {% endif %}

        {% if state == "unsubmitted" %}
        <div class="header-item auto-save-time">
            <div id="auto-save-status" class="auto-save"></div>
        </div>
        {% endif %}
        <div class="header-item header-description">
            <table id="top-table" class="exam-description">
                <tr>
                    <th class="title3 nbb">Day/Circuit</th>
                    <td>
                        {% if session.circuit_colour|length > 0 %}
                            <div class="circuit-color-selected" title="{{ session.circuit_colour_name|raw }} circuit" style="background-color:#{{ session.circuit_colour|raw }}">
                            </div>
                        {% endif %}
                        {{ session.session_date|raw ~ " " ~ session.session_description|decode_html_entities|raw }}
                    </td>
                    <th rowspan="3" class="title3" style="padding-left: 10px; padding-right: 10px">Group</th>
                    <td class="nbr" rowspan="3">
                        {{ group.group_name|decode_html_entities|raw  }}
                    </td>
                </tr>
                <tr>
                    <th class="title3 nbb">Station</th>
                    <td>
                        {#Notes button#}
                        {% if settings.hasNotes %}
                            <a id="show-notes" href="javascript:void(0)">{{ station.station_num|decode_html_entities|raw  ~ " - " ~ station.form_name|decode_html_entities|raw }} (notes)</a>
                            <input type="hidden" id="notes-pop" value="{{ settings.showNotes|raw }}"/>
                        {% else %}
                            {{ station.station_num|decode_html_entities|raw  ~ " - " ~ station.form_name|decode_html_entities|raw  }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="title3 nbb">{{ 'examiner'|trans|title }}</th>
                    <td>{{ examiner|decode_html_entities|raw }}</td>
                </tr>

                {#Time Stamps#}
                {#{% if updateMode %}#}
                {#{% endif %}#}
            </table>
        </div>
    </div>
    <div class="body-score-sheet">
        <nav class="candidate-list-navbar">
            <div class="scroll-arrow scroll-left">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="candidates-tab-wrapper">
                <ul class="candidates-list nav-tabs" id="candidade-list">
                    {% for student in students %}
                    <li>
                        <a href="#" class="nav-bar-item" data-content-tab-id="tab-{{ student.id }}" id="{{ student.id }}-nav-bar-item">
                            <div>
                                <img class="student-thumbnail" src="{{ student.thumbnail_src }}" />
                            </div>
                            <span>
                                {{ student.name }}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="scroll-arrow scroll-right">
                <i class="fas fa-angle-right"></i>
            </div>
        </nav>
        {% for student in students %}
        <form id="{{ student.id }}-exam-assessment-form" method="post">
        <div id="tab-{{ student.id }}" class="score-sheet-form">
            <div class="score-sheet-form-content">
                <div class="score-sheet-form-header">
                    <h1>{{ student.name }}</h1>
                    {% if student.result %}
                        <ul>
                            <li>Updated at {{ student.result.lastUpdated }}</li>
                        </ul>
                    {% endif %}
                    {#<ul>#}
                        {#<li>#}
                            {#<button class="absent">Absent</button>#}
                        {#</li>#}
                        {#<li>#}
                            {#<button>Save</button>#}
                        {#</li>#}
                    {#</ul>#}
                </div>

                <!--  FORM  -->

                {# Form sectons #}
                {% set totalResult = "" %}
                {% set totalPossible = 0 %}

                <table border="0" class="exam-assessment-table">

                {# self assessment message if there is not question imported for a student #}
                {% if selfAssessment.isSelfAssessment == 1 and selfAssessment.hasQuestions == 0 %}
                    <caption class="red" style="font-weight: normal; text-align: left">
                        This is a self assessment {{ 'form'|trans }} and the self assessment data for
                        this {{ 'student'|trans }} has not been imported. Please contact your administrator</caption>
                {% endif %}

                {% if content|length == 0 %}
                    <tr><td class="noitemsfnd2">No sections or items found</td></tr>
                {% endif %}

                {% set itemCount = 0 %}
                {% set answerCount = 1 %}

                {% for section in content %}
                    {% set itemsLength = section.items|length %}

                    {% set sectionScoring = student.scores[section.section_id] %}

                    {# If SCALE SECTION include in class variable #}
                    {% set classComment = "default" ~ (section.competence_type == "scale" ? " scale-comment" : "") ~ " " %}

                    {# If COMMENTS are required include in css class variable #}
                    {# Classes (0=>No, 1=>Yes, 2=>Fail, 3=>Borderline, 4=>Fail or Borderline, 5=>Flag Option) #}
                    {% if section.feedback_required == 5 %}

                        {% set classComment = classComment ~ "crequired-flag" %}

                    {% elseif section.feedback_required == 4 %}

                        {% set classComment = classComment ~ "crequired-fb" %}

                    {% elseif section.feedback_required == 3 %}

                        {% set classComment = classComment ~ "crequired-bl" %}

                    {% elseif section.feedback_required == 2 %}

                        {% set classComment = classComment ~ "crequired-fail" %}

                    {% elseif section.feedback_required == 1 %}

                        {% set classComment = classComment ~ "crequired" %}

                    {% endif %}

                    {# Section has text #}
                    {% if sectionScoring.feedback|length > 0 %}

                        {% set classComment = classComment ~ " with-text" %}

                    {% endif %}

                    {# Title Section #}
                    {% set descriptorCount = settings.feedback_to_right == 1 ? optionCount + 1 : optionCount %}
                    {% set titleCellClass = section.items|length > 0 or section.feedback_entry  ? "title-section" : "title-sectionv2" %}
                    {% set titleColspan = section.items|length == 0 ? descriptorCount + 2  : 2 %}


                    {% if section.competence_type == "scale" %}

                        {% set titleClass = "scalebar" %}

                    {% elseif section.self_assessment %}

                        {% set titleClass = "selfassessment-bar" %}

                    {% else %}

                        {% set titleClass = "" %}

                    {% endif %}

                    {# Title cell #}
                    <tr class="{{ titleClass|raw }}">
                        <th class="{{ titleCellClass|raw }}" colspan="{{ titleColspan|raw }}">
                            <div class="word-wrap">{{ section.title|raw }}</div>

                            {# Button take ownership self-assessment #}
                            {% if section.self_assessment %}
                                {% if selfAssessment.hasQuestions == 1 and selfAssessment.ownership is null %}
                                    {% set buttonValue = "Take Ownership" %}
                                    {% set showSelfAssessmentQuestion = 0 %}
                                {% elseif selfAssessment.ownership.examiner_id == examiner %}
                                    {% set buttonValue = (updateMode) ? "Owner" : "Cancel Ownership" %}
                                    {% set showSelfAssessmentQuestion = 1 %}
                                {% elseif  selfAssessment.ownership.examiner_id is not null %}
                                    {% set buttonValue = "Not Owner" %}
                                    {% set showSelfAssessmentQuestion = 0 %}
                                {% elseif  selfAssessment.hasQuestions == 0 %}
                                    {% set buttonValue = "Self assessment not available" %}
                                    {% set showSelfAssessmentQuestion = 0 %}
                                {% endif %}

                                <input type="button"
                                       value="{{ buttonValue }}"
                                       class="bt-ownership-self-asseesment"
                                       id="{{ student.id }}-bt-ownership-self-assessment"
                                />
                            {% endif %}

                        </th>

                        {%
                            set displaySelfAssessmentClass = section.self_assessment == 0 ? "" :
                             showSelfAssessmentQuestion == 1 ?
                                "self-assessment-item display" : "self-assessment-item hidden"
                        %}

                        {# Render descriptor cells #}
                        {% if section.items|length > 0 %}
                            {% set nonRadioTypes = ["slider", "checkbox", "text"] %}

                            {% for descriptor in section.maxOptions.descriptors %}
                            <th class="descriptors">
                                <div class="descdiv{{ section.self_assessment ? " hide" }}">

                                    {% if section.maxOptions.type in nonRadioTypes or descriptor|length == 0 %}
                                        &nbsp;
                                    {% else %}
                                        {{ descriptor|custom_wordwrap(20)|raw }}
                                    {% endif %}

                                </div>
                            </th>
                            {% endfor %}
                        {% endif %}

                        {# Render remaining cells #}
                        {% if section.items|length > 0 %}
                            {% set reach = descriptorCount-section.maxOptions.descriptors|length %}

                            {% if reach > 0 %}
                                {% for i in range(1, reach) %}
                                    <th class="descriptors"><div class="descdiv">&nbsp;</div></th>
                                {% endfor %}
                            {% endif %}

                        {% endif %}
                    </tr>

                    {# All Section Items (If Any) #}
                    {% for itemID, item in section.items %}

                        {% set itemScoring = sectionScoring.items[itemID] %}

                        {% set itemCount = itemCount + 1 %}

                    <tr class="sections {{- loop.index is even ? "lgrey " -}}
                        {{
                            item.selfAssessmentQuestion is empty ? "" :
                                showSelfAssessmentQuestion == 1 ?
                                    "self-assessment-item display" : "self-assessment-item hidden"
                         }}

                        {# Only highlight completed scores in an incomplete assessment #}
                        {%- if itemScoring.marked and settings.listType != constant('ASSESSED_LIST') -%}

                          {{- item.type == "checkbox" ? "checked" : "done" -}}

                        {%- elseif (itemScoring.marked and settings.listType == constant('ASSESSED_LIST')) -%}

                          {{- "submitted-score" -}}

                        {%- endif -%}

                        " id="{{ student.id }}-section-{{ loop.parent.loop.index|raw }}-qrow-{{ itemCount|raw }}"
                    >
                        <th class="titleqcount">&nbsp;</th>
                        {# display an item as self-assessment question #}
                        {% if item.selfAssessmentQuestion %}
                        <th class="items">
                            {% set selfAssessment = item.selfAssessmentQuestion %}
                            <div class="self-assessment-content" data-self-assessment="{{ selfAssessment.self_assessment_id }}">
                                <div class="self-assessment-question">
                                    {{ selfAssessment.question|raw }}
                                </div>
                                <div class="self-assessment-response">
                                    {{ 'Student'|trans }} Response <span>"{{ selfAssessment.response|raw }}"</span>
                                </div>
                                <div class="self-assessment-score">
                                    {{ 'Student'|trans }} Score <span>{{ selfAssessment.score|raw }}</span>
                                </div>
                            </div>
                        </th>
                        {% else %}
                        <th class="items">{{ item.text|raw }}</th>
                        {% endif %}

                        {# IF CHECKBOX TYPE #}
                        {% if item.type == "checkbox" %}
                            {% set totalAnswerCount = 1 %}
                            {% set answerCount = answerCount + 1 %}

                        <td colspan="{{ optionCount|raw }}" class="checkbox-td">
                            <input class="checkbox-control" type="checkbox" value="1" {{
                            updateMode and student.result.absent != 1 and itemScoring.marked ? 'checked="checked"'
                            }} name="scores[{{ itemID|raw }}]"/>
                        </td>

                        {# IF TEXT TYPE #}
                        {% elseif item.type == "text" %}
                        <td colspan="{{ optionCount|raw }}" class="options slider-td">
                            {% set totalAnswerCount = 1 %}
                            {% set option = item.options|first %}
                            {% set value = "" %}

                            {% if updateMode and student.result.absent != 1 and itemScoring.marked %}

                                {% set value = itemScoring.value %}

                            {% endif %}

                            <div class="textbox-descriptor">{{ option.descriptor|custom_wordwrap(40) }}</div>

                            <input type="text"
                                   autocomplete="off"
                                   onblur="calculateTotal(this.id)"
                                   class="textinputtest"
                                   name="scores[{{ itemID|raw }}]"
                                   id="{{ student.id }}-ansoption-{{ answerCount|raw }}"
                                   value="{{ value|raw }}"
                                   size="5"
                            />

                            <label class="option-label" for="ansoption-{{ answerCount|raw }}">
                                (<span class="red">{{ itemScoring.trueLow|raw }} to {{ itemScoring.trueHigh|raw }}</span>)
                            </label>&nbsp;&nbsp;

                            <input type="hidden"
                                   id="{{ student.id }}-lowhigh-{{ itemCount|raw }}"
                                   value="{{ itemScoring.trueLow|raw }},{{ itemScoring.trueHigh|raw }}"
                            />
                        </td>
                        {% set answerCount = answerCount + 1 %}

                        {# IF SLIDER TYPE #}
                        {% elseif item.type == "slider" %}
                            {% set totalAnswerCount = 1 %}
                            {% set option = item.options|first %}

                        <td colspan="{{ optionCount|raw }}" class="options slider-td">

                            {# Update mode and score #}
                            {% if updateMode and student.result.absent != 1 and itemScoring.marked %}

                                {% set offset = itemScoring.value %}

                            {% else %}

                                {% if itemScoring.low < 0 and itemScoring.high > 0 %}

                                    {% set offset = 0 %}

                                {% else %}

                                    {% set offset = itemScoring.low %}

                                {% endif %}

                            {% endif %}


                            {# Prepare data for slider render #}
                            {# Numeric scoring #}
                            {% if exam.view_marks %}

                                {% set sliderDisplayValue = offset %}
                                {% set sliderValueRange = (itemScoring.high - itemScoring.low) %}

                                {% if sliderValueRange <= 5 %}

                                    {% set sliderClass = "slider1" %}

                                {% elseif sliderValueRange <= 10 %}

                                    {% set sliderClass = "slider2" %}

                                {% elseif sliderValueRange <= 20 %}

                                    {% set sliderClass = "slider3" %}

                                {% elseif sliderValueRange <= 50 %}

                                    {% set sliderClass = "slider4" %}

                                {% elseif sliderValueRange <= 100 %}

                                    {% set sliderClass = "slider5" %}

                                {% else %}

                                    {% set sliderClass = "slider6" %}

                                {% endif %}

                                {% set leftLabel = itemScoring.low %}
                                {% set rightLabel = itemScoring.high %}
                                {% set leftBracket = "(" %}
                                {% set rightBracket = ")" %}

                                {# Percentage scoring slider #}
                            {% else %}

                                {% if offset == 0 %}

                                    {% set sliderDisplayValue = "0%" %}

                                {% else %}

                                    {% set sliderDisplayValue = itemScoring.scalePercent ~ "%" %}

                                {% endif %}


                                {% set sliderClass = "perslider" %}
                                {% set leftLabel = "&nbsp;" %}
                                {% set rightLabel = "&nbsp;" %}
                                {% set leftBracket = "" %}
                                {% set rightBracket = "" %}

                            {% endif %}

                            {# Include slider option #}
                            {% include "generateSlider.html.twig"
                                with {
                                "class": sliderClass,
                                "value": sliderDisplayValue,
                                "start": itemScoring.low,
                                "end": itemScoring.high,
                                "id": itemID,
                                "studentID": student.id,
                                "framework": "jquery"
                                }
                            %}
                        </td>

                        {% set answerCount = answerCount + 1 %}

                        {# IF RADIO, RADIO TEXT TYPE #}
                        {% elseif item.type == "radio" or item.type == "radiotext" %}
                            {% set totalAnswerCount = item.options|length %}
                            {% set descriptorsIndex = 0 %}
                            {% set optionsIndex = 0 %}

                            {# Loop through item with maximum options #}
                            {% for descriptor in section.maxOptions.descriptors %}
                                {% set descriptorsIndex = descriptorsIndex + 1 %}

                                {# Get option based on increment index #}
                                {% set option = item.options[optionsIndex] %}

                                {% if descriptorsIndex == option.position %}
                                    {% set optionsIndex = optionsIndex + 1  %}
                                <td class="options

                                    {%- if item.grs == 1 -%}

                                        {{- " anscale scale-check-td" -}}

                                    {%- else -%}

                                        {{- " standard-check-td" -}}

                                    {%- endif -%}

                                    {%- if descriptorsIndex == 1 -%}

                                    {{- " nbl" -}}

                                    {%- endif -%}

                                    {%- if items|length == 1 -%}

                                    {{- " vatop" -}}

                                    {%- endif -%}
                                ">
                                    {# If a GRS option is a fail and/or borderline #}
                                    {% set failBlString = " " %}

                                    {% if item.grsValues is defined and item.grsValues|length > 0 %}

                                        {% set grsData = item.grsValues[option.value] %}

                                        {% if grsData.borderline == 1 %}

                                            {% set failBlString = failBlString ~ " borderline" %}

                                        {% endif %}

                                        {% if grsData.fail == 1 %}

                                            {% set failBlString = failBlString ~ " fail" %}

                                        {% endif %}

                                    {% endif %}
                                    <input
                                        type="radio"
                                        title="{{- option.descriptor|raw -}}"
                                        name="scores[{{ itemID|raw }}]"
                                        id="{{ student.id }}-ansoption-{{- answerCount|raw -}}"
                                        class="radoption{{- failBlString|raw -}}
                                        {{- option.flag ? " flag" -}} "
                                        value="{{ option.optionID|raw }}"
                                        {% if updateMode and student.result.absent != 1 %}
                                            {{ (itemScoring.marked and itemScoring.optionID == option.optionID) ? 'checked="checked"' }}
                                        {% endif %}
                                    />
                                    {# Option ID hidden field #}
                                    <input type="hidden"
                                           id="{{ student.id }}-ansoptval-{{ option.optionID|raw }}"
                                           value="{{ option.value|raw }}"
                                    />

                                    {# View marks section #}
                                    {%- if exam.view_marks or section.self_assessment -%}
                                    <label class="option-label" for="ansoption-{{ student.id }}-{{ answerCount|raw }}" title="{{ option.descriptor|raw }}">
                                        (<span class="red">
                                            {%- if item.grs == 1 -%}
                                                {{- option.descriptor|raw -}}
                                            {%- else -%}
                                                {{- option.value|raw -}}
                                            {%- endif -%}
                                        </span>)
                                    </label>
                                    {%- endif -%}
                                </td>
                                    {% set answerCount = answerCount + 1 %}

                                {% else %}
                                <td class="filler">&ndash;</td>
                                    {% set totalAnswerCount = totalAnswerCount + 1 %}
                                {% endif %}

                            {% endfor %}

                            {# Any remaining cells #}
                            {% set remainingCellCount = optionCount-totalAnswerCount %}

                            {% if remainingCellCount > 0 %}
                                {% for i in range(1, remainingCellCount) %}
                                <td class="filler">&nbsp;</td>
                                {% endfor %}
                            {% endif %}

                        {% else %}
                         <td>Item Type Error</td>
                        {% endif %}

                        {# Accumulate Possible Score and Result Score and put section total in a hidden variable #}
                        {% if loop.last and sectionScoring.gradeable %}
                        <input type="hidden"
                               id="{{ student.id }}-sectiontotal-{{ loop.parent.loop.index|raw }}"
                               value="{{ sectionScoring.total|raw }}"
                        />
                        {% endif %}

                        {# Placing feedback/comments field to right of each section #}
                        {# When exam setting feedback_to_right is set to on #}
                        {% if settings.feedback_to_right == 1 and loop.index == 1 %}
                        <td class="comment-right {{ displaySelfAssessmentClass }} " rowspan="{{ items|length }}">
                            <textarea placeholder="feedback.."
                                      name="comments[{{ section.section_id|raw }}]"
                                      id="{{ student.id }}-comment-{{ loop.parent.loop.index|raw }}"
                                      class="{{ classComment|raw }}">
                                {{- sectionScoring.feedback|raw -}}
                            </textarea>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    {# Placing feedback/comments field across bottom of section #}
                    {# When exam setting feedback_to_right is turned off or #}
                    {# there if there is a feedback only section #}
                    {% if settings.feedback_to_right == 0 or (section.feedback_entry and section.items|length == 0) %}
                    {% if section.feedback_entry == 1 %}
                    <tr class="{{ displaySelfAssessmentClass }}">
                        <td class="comment-icon-cell">
                            <div>&nbsp;</div>
                        </td>
                        <td class="comment" colspan="{{ optionCount+2 }}">
                            <textarea placeholder="feedback.."
                                      name="comments[{{ section.section_id|raw }}]"
                                      id="{{ student.id }}-comment-{{ loop.index|raw }}"
                                      class="{{ classComment|raw }}">
                                {{- sectionScoring.feedback|raw -}}
                            </textarea>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                    <tr>
                        <td colspan="{{ optionCount+3 }}" class="tdscorebuttons">
                            {% if hasItems %}
                                <div class="totalscore{{ exam.view_totals == 0 ? " hide" }}">
                                    <div id="scorediv" class="scorevalue">
                                        <span class="red">Total </span>
                                        <div id="{{ student.id }}-scoreval" class="innervaldiv">{{ student.score|raw }}</div>
                                        /{{ possible|raw }}
                                    </div>
                                    <br class="clearv2"/>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="{{ student.id }}-totalresult" name="total_result" value="{{ student.score|raw }}"/>
                <input type="hidden" name="student_id" value="{{ student.studentId|raw }}"/>
            </div>
        </div>
        </form>
        {% endfor %}
        <div class="score-sheet-form-footer">
            <table>
                <tr>
                    <td colspan="{{ optionCount+3 }}" class="tdscorebuttons">
                    {% if hasItems %}
                        <div class="submitdiv">
                            <div class="fc">
                                <button type="button"
                                        name="submit_action"
                                        title="Submit and select next {{ 'Student'|trans }}"
                                        id="submit-exam">
                                    {{ updateMode ? "Update" : "Submit" }}{{ students|length > 1 ? ' All' }}
                                </button>
                            </div>
                            {# TODO submit next action #}
                        </div>
                        <br>
                    {% endif %}
                    </td>
                </tr>
            </table>
            <input type="hidden" id="time-limit" value="{{ stationTime|raw }}"/>
            <input type="hidden" id="alarm1" value="{{ alarm1Time|raw }}"/>
            <input type="hidden" id="alarm2" value="{{ alarm2Time|raw }}"/>
            <input type="hidden" id="alarm1-stop" value="{{ alarm1Stop|raw }}"/>
            <input type="hidden" id="alarm2-stop" value="{{ alarm2Stop|raw }}"/>
            <input type="hidden" id="section-count" value="{{ sectionCount|raw }}"/>
            <input type="hidden" id="autosave-interval" value="{{ autosaveInterval|raw }}"/>
            <input type="hidden" id="assessment-mode" value="{{ settings.listType|raw }}"/>
            <input type="hidden" id="assessment-state" value="{{ state|raw }}"/>
            <input type="hidden" id="form-updated" value="1"/>
        </div>
    </div>
    </div>

    <script>

    /**
     * Handles the tabs
     */
    function tabsHandler() {
        var tabs = document.querySelectorAll(".candidates-list a");

        var onTabClick = function(event) {
            var tab = event.currentTarget;
            var tabsContainers = document.getElementsByClassName("score-sheet-form");
            var tabContainerID = tab.dataset.contentTabId;

            for (var i=0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }

            tab.classList.add("active");

            // hide all the tabs containers and
            // displaying the selected one
            for (var i=0; i < tabs.length; i++) {
                tabsContainers[i].style.display = "none";
            }

            document.getElementById(tabContainerID).style.display = "block";
        }

        /**
         * Mock the display of form status
         */
        function setFirstActiveTab() {
            if (tabs.length > 0) {
                tabs[0].classList.add("active");
    //                tabs[1].classList.add("invalid");
    //                tabs[2].classList.add("unfinished");
    //                tabs[4].classList.add("valid");
                var tabContainerID = tabs[0].dataset.contentTabId;
                document.getElementById(tabContainerID).style.display = "block";
            }
        }
        setFirstActiveTab();

        for (var i=0; i < tabs.length; i++) {
            tabs[i].addEventListener("click", onTabClick);
        }
    }

    /**
     * Handles the animation when scrolling to the left
     * after clicking on the left arrow
     */
    function handleLeftArrow() {

        $(".scroll-right i").fadeIn("slow");
        $(".scroll-left i").fadeOut("slow");

        $(".candidates-list").animate({scrollLeft: 0}, 'slow');
    }

    /**
     * Handles the animation when scrolling to the right
     * after clicking on the right arrow
     */
    function handleRightArrow() {
        var list = document.querySelector("#candidade-list");
        var widthOfHidden = list.scrollWidth - list.clientWidth;

        $(".scroll-right i").fadeOut("slow");
        $(".scroll-left i").fadeIn("slow");
        $(".candidates-list").animate({scrollLeft: widthOfHidden}, 'slow');
    }

    /**
     * Display or hide the arrows according to
     * the size of the list
     */
    function adjustScrollingArrows() {
        var list = document.querySelector("#candidade-list");
        var widthOfHidden = list.scrollWidth - list.clientWidth;

        if (widthOfHidden == 0) {
            $(".scroll-arrow i").hide();
        }
        else if (list.scrollLeft ==0) {
            $(".scroll-right i").show();
            $(".scroll-left i").hide();
        } else if (list.scrollLeft < 0) {
            $(".scroll-left i").show();
            $(".scroll-right i").hide();
        }
    }


    function setTopPositionTabs() {
        var height = $(".header-score-sheet").outerHeight(true);
        $(".candidate-list-navbar").css("top", height);
    }
    // make the tab menu sticky when scrolling
    $( window ).scroll(function() {
        setTopPositionTabs();
    });

    // make the tab menu sticky when scrolling
    $( window ).resize(function() {
        setTopPositionTabs()
    });

    function main() {
        tabsHandler();
        adjustScrollingArrows();
    }

    document.querySelector(".scroll-left")
        .addEventListener("click", handleLeftArrow);

    document.querySelector(".scroll-right")
        .addEventListener("click", handleRightArrow);

    window.addEventListener("load", main());
    window.addEventListener("resize", adjustScrollingArrows);

    </script>
