{# Twig template for /assess/next.php #}
{# Make sure we iterate through the students to be displayed in the correct order every time #}
<div class="content2">
{% for position in ['last', 'next'] if (position in students|keys) %}
    {% set toBe = (position|lower|trim == "next")?  " to be" : "" %}    
    {% set student_list = students[position] %}
    {% for student in student_list %}
        {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
        {% set name = student.surname ~ nameSeparated ~ student.forename %}

        <div class="card d-inline-block align-top mr-2 mb-4 {{ (position|lower|trim == "next") ? "toexam" : "examined" -}}">
            <div class="card-header">
                <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                    <img src="assets/images/next.png" style="width: 45px" class="card-title-icon">
                    <span class="card-title-text" style="width: calc(100% - 45px)">
                    {{- position|upper }} {{ 'student'|trans|title }}{{ toBe }} {{ 'examined'|trans|title }}
                    </span>
                </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                <div class="student_image">
                        <a href="{{- student.image -}}" data-lightbox="image-{{- student.student_id -}}" title="Student {{ student.student_id -}}">
                            <img id="preview:{{- student.student_id -}}" src="{{- student.preview -}}"/>
                        </a>
                        </div>
                        <div class="student_details">
                         {% if circuit_colour.code|length > 0 and circuit_colour.name|length > 0 %}
                            {% set textColour = circuit_colour.name in ['Blue', 'Green', 'Purple', 'Red'] ? 'color: #fff;' : '' %}
                            <div class="next-circuit mb-3" style="{{ textColour|raw }} background-color: #{{ circuit_colour.code|raw }}">{{ circuit_colour.name|raw|upper }} CIRCUIT</div>
                        {% endif %}     
                        {% if exam_settings["exam_student_id_type"] == constant("EXAM_NUMBER_TYPE") %}
                            <span class="bold">{{ 'student'|trans|title }} Number:</span>&nbsp;&nbsp;{{- student.exam_number|decode_html_entities|raw|default("No Exam Number Assigned - " ~ student.student_id) -}}<br/>
                        {% elseif exam_settings["exam_student_id_type"] == constant("CANDIDATE_NUMBER_TYPE") %}
                            <span class="bold">Identifier:</span>&nbsp;&nbsp;{{- student.candidate_number|decode_html_entities|raw|default("No Candidate Number Assigned") -}}<br/>
                            <span class="bold">Name:</span>&nbsp;&nbsp;{{- name|decode_html_entities|raw -}}<br/>
                        {% else %}
                            <span class="bold">Identifier:</span>&nbsp;&nbsp;{{- student.student_id|decode_html_entities|raw -}}<br/>
                            <span class="bold">Name:</span>&nbsp;&nbsp;{{- name|decode_html_entities|raw -}}<br/>
                        {% endif %}
                            <span class="bold">Station:</span>&nbsp;&nbsp;{{- station.form_name|decode_html_entities|raw -}}<br/>
                            <span class="bold">Station Number:</span>&nbsp;&nbsp;{{- station.station_num|decode_html_entities|raw -}}<br/>
                            <span class="bold">Day/Circuit:</span>&nbsp;&nbsp;{{- session|decode_html_entities|raw -}}<br/><br/>
                        </div>
                        <br class="clear"/>
                </div>   
            </div> 
            </div> 
    {% endfor %}
{% endfor %}
</div>

{% if "next" in students|keys %}
    {% set student_list = students["next"] %}

    <div class="content4">
    {# Display "classical" layout when only one student has been selected to examine #}
    {% if student_list|length == 1 %}
        {% set student = student_list|first %}
        {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
        {% set name = student.surname ~ nameSeparated ~ student.forename %}
        Are you sure
        {% if exam_settings["exam_student_id_type"] == constant("EXAM_NUMBER_TYPE") %}
        <span class="bold">{{- student.exam_number|decode_html_entities|raw|default("this student") -}}</span>
        {% elseif exam_settings["exam_student_id_type"] == constant("CANDIDATE_NUMBER_TYPE") %}
        <span class="bold">{{- name|decode_html_entities|raw|default('student'|trans) -}}</span>
        with ID <span class="bold">{{- student.candidate_number|decode_html_entities|raw|default("(unknown)") -}}</span>
        {% else %}
        <span class="bold">{{- name|decode_html_entities|raw|default('student'|trans) -}}</span>
        with identifier <span class="bold">{{- student.student_id|decode_html_entities|raw -}}</span>
        {% endif %}
        is the next {{ 'student'|trans }} to be {{ 'examined'|trans }}<br/><br/>
        [<span class="red">Please confirm the identity of the {{ 'student'|trans }}</span>]<br/><br/>
        <input type="button" class="btn-sm btn btn-danger" id="no-confirm" value="No, Back to List"/>
        <form method="post" id="next-form" action="assess.php?p=exam_assessment">
            {# HTTP Request parameter is just the Student ID #}
            <input type="hidden" name="toassess[]" value="{{- student.student_id -}}"/>
            <input type="submit" class="btn-sm btn btn-success" id="yes_confirm" name="dotest" value="Yes, Continue"/>
        </form>

    {# When more than one student has been selected, display in bullet list #}
    {% else %}
        Are you sure these are the next {{ 'students'|trans }} to be {{ 'examined'|trans }}:
        <ul>
            {% for student in student_list %}
            <li>
                {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
                {% set name = student.surname ~ nameSeparated ~ student.forename %}
                {% if exam_settings["exam_student_id_type"] == constant("EXAM_NUMBER_TYPE") %}
                    <span class="bold">{{- student.exam_number|decode_html_entities|raw|default("this student") -}}</span>
                {% elseif exam_settings["exam_student_id_type"] == constant("CANDIDATE_NUMBER_TYPE") %}
                    <span class="bold">{{- name|decode_html_entities|raw|default('student'|trans) -}}</span>
                    with ID <span class="bold">{{- student.candidate_number|decode_html_entities|raw|default("(unknown)") -}}</span>
                {% else %}
                    <span class="bold">{{- name|decode_html_entities|raw|default('student'|trans) -}}</span>
                    with identifier <span class="bold">{{- student.student_id|decode_html_entities|raw -}}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        [<span class="red">Please confirm the identity of the {{ 'students'|trans }}</span>]<br/><br/>
        <input type="button" id="no-confirm" class="btn-sm btn btn-danger" value="No, Back to List"/>
        <form method="post" id="next-form" action="assess.php?p=exam_assessment">
            {% for student in student_list %}
            {# HTTP Request parameter is an array in this case #}
            <input type="hidden" name="toassess[]" value="{{- student.student_id -}}"/>
            {% endfor %}
            <input type="submit" id="yes_confirm" class="btn-sm btn btn-success" name="dotest" value="Yes, Continue"/>
        </form>
    {% endif %}
    </div>
{% else %}
<div class="errormessage">
    <p>Could not find next {{ 'student'|trans }} to be {{ 'examined'|trans }}. Please contact your administrator.</p>
</div>
{% endif %}

