{# Description: Twig template for assess_func.php::renderAssistantCallBox() #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% set image_text = "(SMS) text message mobile" %} 
<form id="support-form" method="post">
<fieldset id="supportfs">
<legend class="black">Need Assistance From</legend>
<div class="fl">
 <img src="assets/images/mobile_phone.png" alt="{{ mage_text }}" title="{{ mage_text }}"/>
</div>
<div class="fl">
 <div class="seldivsup">
 {% for assistant in assistants %}
   {% if assistant.contact_number|length > 0 %}
     <input class="contacts" type="checkbox" name="contacts[]" id="contacts{{ loop.index }}" value="{{ assistant.user_id }}">
     <label class="contact-label" for="contacts{{ loop.index }}">{{ assistant.forename|capitalize }} {{ assistant.surname|capitalize }}</label><br/>
   {% endif %}
 {% endfor %}
 </div>
 <div class="bdivsup">
  <input type="button" id="cancel-support-button" class="btn btn-sm btn-danger" value="cancel"/>
  <input type="button" id="submit-support-button" class="btn btn-sm btn-success" value="request"/>
  <input type="hidden" name="station_id_support" id="station-id-support" value="{{ station_id }}"/>
 </div>
</div>
<br class="fc"/>
</fieldset>
</form>