{# Twig template for assess/results.php 17/09/2015 #}

<div class="container-fluid pt-4">
    
<div>
    <div class="card d-inline-block align-top mr-2">
        <div class="card-header">
          <div class="card-title h6 mb-0">
            <div class="row no-gutters align-items-center">
              <img src="assets/images/assess-results.svg" style="width: 36px" class="card-title-icon">
              <span class="card-title-text" style="width: calc(100% - 36px)">
                Submitted Results
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">
            <div>
              <div><span class="bold">{{ 'examination'|trans|title }}: </span>{{ examination_name|decode_html_entities|raw }}</div>
            </div>
          </div>   
        </div> 
      </div> 
</div>
  
  {% if results is empty %}
    <div id="no-results-submitted">You have not yet submitted results for this {{ 'exam'|trans|title }}</div> 
  {% else %}
  {% if columns|length > 0 %}
  <table id="results-table">
    <tr class="titlerow">
 
    {% for title in columns %}
        
        {# Translate Examiner title if required e.g. Panellist #}
        {% if title == "examiner" %}
            {% set title = 'examiner'|trans|title %}
        {% endif %}

        {# Translate Session title if required e.g. Circuit #}
        {% if title == "session" %}
            {% set title = 'Circuit' %}
        {% endif %}  

           {# Translate Date title if required e.g. Day #}
        {% if title == "date" %}
            {% set title = 'Day' %}
        {% endif %}          
                
        <th {% if loop.last %}class="nbr"{% endif %}>{{ title|title }}</th>
    {% endfor %}
    </tr>
  
    {# Score column count 
      (There has to be a more efficient way of getting a count of the score columns here) #}
    {% set score_column_count = 0 %}
     
    {% if 'pass' in columns|keys %}
      {% set score_column_count = score_column_count + 1 %}
    {% endif %}
    
    {% if 'score' in columns|keys %}
      {% set score_column_count = score_column_count + 1 %}
    {% endif %}
    
    {% if 'percentage' in columns|keys %}
      {% set score_column_count = score_column_count + 1 %}
    {% endif %}
    
    {% if 'grs' in columns|keys %}
      {% set score_column_count = score_column_count + 1 %}
    {% endif %}
   
    {# Render results rows #}
    {% for result in results %}
     <tr class="{{ cycle(['', 'highlight-row'], loop.index0) }}{% if loop.last %} nbbtr{% endif %} no-border-last-cell">
       
       {% set show_grs_column = (('grs' in columns|keys) and (result.grs is defined))? true : false %}
      
       {% if 'identifier' in columns|keys %}
         <td>{{ result.student_id }}</td>
       {% endif %}
       
       {% if 'surname' in columns|keys %}
         <td>{{ result.surname|decode_html_entities|raw }}</td>
       {% endif %}
       
       {% if 'forename' in columns|keys %}
         <td>{{ result.forename|decode_html_entities|raw }}</td>
       {% endif %}
      
       {% if 'session' in columns|keys %}
         <td>{{ result.session_description|decode_html_entities|raw }}</td>
       {% endif %}
       
       {% if 'date' in columns|keys %}
         <td>{{ result.session_date|date("d/m/Y") }}</td>
       {% endif %}
       
       {% if 'group' in columns|keys %}
         <td>{{ result.group_name|decode_html_entities|raw }}</td>
       {% endif %}
       
       {% if 'form' in columns|keys %}
         <td>{{ result.form_name|decode_html_entities|raw }}</td>
       {% endif %}
       
       {% if 'number' in columns|keys %}
         <td class="ac">{{ result.station_number|decode_html_entities|raw }}</td>
       {% endif %}
       
       {% if 'examiner' in columns|keys %}
         <td class="ac">{{ result.examiner_id }}</td>
       {% endif %}
         
       {# Score related columns #}
       {% if result.absent == 0 %}
           
         {% if 'pass' in columns|keys %}
          <td class="ac {{ result.grade }}">{{ result.pass_value + 0 }}</td>
         {% endif %}
       
         {% if 'score' in columns|keys %}
          <td class="ac {{ result.grade }}">{{ result.score + 0 }} / {{ result.total_value + 0 }}</td>
         {% endif %}
       
         {% if 'percentage' in columns|keys %}
          <td class="ac {{ result.grade }}">{{ result.score_percentage }}</td>
         {% endif %}
       
         {% if show_grs_column %}
           {% set grs_fail_types = ['fail','clear fail','borderline','unacceptable','unsatisfactory','poor','very poor','borderline fail','incomplete','adequate but incomplete'] %}
           {% set grs_color_code = (result.grs|lower in grs_fail_types) ? 'fail' : 'pass' %}
           <td class="ac {{ grs_color_code }}">{{ result.grs }}</td>
         {% endif %}
         
        {% else %}
           <td class="absent-cell" colspan="{{ score_column_count }}">ABSENT</td> 
        {% endif %}
     </tr>
    {% endfor %}
    
  </table>
  {% else %}
    <div id="no-results-submitted">You are not permitted to view the submitted results</div>
  {% endif %}
 {% endif %}
</div>