{# SELECT tag listing stations #}
<select name="station_id" id="station_id" class="custom-select custom-select-sm">
{% if stations|length > 0 %}
    <option value="--">--</option>
{% endif %}    
{% for station_number, sessionstation in stations %}
    <optgroup label="Station {{ station_number }}">
    {% for eachStation in sessionstation %}
        {# station should contain the value of $_SESSION['station_id']. #}
        <option value="{{- eachStation.station_id -}}" 
        {%- if (station is defined) and (eachStation.station_id == station) %} selected="selected"{% endif -%}
        >{{- station_number }} - {{ eachStation.form_name|raw -}}</option>
    {% endfor %}
    </optgroup>
{% endfor %}
{% if stations|length == 0 %}
    <option value="nostations">NO STATIONS TO SELECT / NOT ASSIGNED</option>
{% endif %}
</select>
