{# Template for assess/show_groups.php #}
<select id="group_id" name="group_id">
<option value="--">--</option>    
{% if groups|length > 0 %} 
    {% for eachGroup in groups %}
        {% spaceless %}
    <option value="{{eachGroup.id}}" {{ ((group is defined) and (eachGroup.id == group)) ? 'selected="selected"'}}>
        {{- eachGroup.name|raw }} [{{ eachGroup.studentCount -}}]
    </option>
        {% endspaceless %}
    {% endfor %}
{% else %}
    <option value="nogrps">NO GROUPS TO SELECT</option>
{% endif %}
</select>
