{# Twig template for /assess/student_lists.php #}
<form id="{{ list_type }}-form" method="{{ form_method }}" action="assess.php">
 <tr>
 <th class="subheader">&nbsp;</th>
 <td class="{{ list_type }}-td">
  
  {% set mobileStyle = "" %}  
  {% if is_mobile %}
     {% set mobileStyle = "margin-bottom: 14px;" %}
  {% endif %}
  {% if is_mobile and list_type == "toassess" %}
     {% set mobileStyle = mobileStyle ~ "margin-top: 32px;" %}
  {% endif %}
  
  <fieldset class="fssel" style="{{ mobileStyle }}">
   <input type="hidden" name="p" value="{{- next_page -}}"/>
   <legend>
      {{ legend }} <span class="bold">[<span class="green">{{ students|length }}</span>]&nbsp;</span>
   </legend>
  {% if list_type == 'toassess' and multiple_candidate %}
      <table id="toassess-table" class="nbb-nbr student-selection-list">
      <tbody>
      {% for student in students %}
          {% set idSeparated = student.surname|length > 0 or student.forename|length > 0 ?  " - " : "" %}
          {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
          {% set blank = ((student.blank is defined) and (student.blank == 1)) %}
          {% set absent = ((student.absent is defined) and (student.absent == 1)) %}
          {% if (absent) %}
              {% set absent_count = absent_count + 1 %}
          {% endif %}
        <tr>
          <td>
          <label class="{{ blank ? 'orange'}}{{ absent ? 'absent'}}">
          {% if blank %}
              {% set studentID = "" %}
              {% set studentName = "BLANK " ~ 'student'|trans|upper %}
          {% elseif student_number == constant('EXAM_NUMBER_TYPE') %}
              {% if student.exam_number is empty %}
                  {% set studentID = student.student_id %}
                  {% set studentName = "No Exam Number Assigned - " %}
              {% else %}
                  {% set studentID = student.exam_number %}
                  {% set studentName = "" %}
              {% endif %}
          {% elseif student_number == constant('CANDIDATE_NUMBER_TYPE') %}
              {% if student.candidate_number is empty %}
                  {% set studentID = idSeparated ~ "No Candidate Number Assigned" %}
                  {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
              {% else %}
                  {% set studentID = idSeparated ~ student.candidate_number %}
                  {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
              {% endif %}
          {% else %}
              {% set studentID = idSeparated ~ student.student_id %}
              {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
          {% endif %}

          {{- absent ? '*' -}}{{- studentName|raw -}}
          {{- studentID|raw -}}
          </label>
          </td>
            <td>
                <input class="{{ list_type }}-check" type="checkbox" name="{{ list_type }}[]" value="{{ blank ? 'blank::' -}}{{- student.student_id -}}"
                       id="student-{{ blank ? 'blank::' -}}{{- student.student_id -}}" {{ (select_first and loop.first) ? ' checked="checked"' }}/>
                <label><i class="material-icons student-check-icon">done</i></label>
            </td>
          </tr>
        {% else %}
          <tr>
              <td style="color: #888">NONE</td>
          </tr>`
      {% endfor %}
      </tbody>
      </table>
  {% else %}
   <select class="custom-select custom-select-sm" name="{{ list_type }}{{ (list_type == 'toassess') ? '[]' : '' }}"
           {% if list_type == "toassess" %}
               size="6"
           {% endif %} id="{{ list_type }}-select" 
           {% if not is_mobile %}
               multiple="multiple" 
           {% else %}
               style="height: 30px; margin-bottom: 4px;" 
           {% endif %}           
           {% if (students|length == 0) %}
               disabled="disabled" 
           {% endif %}>
   {% if (students|length > 0) %}
     {% if is_mobile %}
        <option value="none">--</option>
    {% endif %}
      {% set absent_count = 0 %}
      {% for student in students %}
          
         {% set idSeparated = student.surname|length > 0 or student.forename|length > 0 ?  " - " : "" %}
         {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
         {% set blank = ((student.blank is defined) and (student.blank == 1)) %}
         {% set absent = ((student.absent is defined) and (student.absent == 1)) %}
         {% if (absent) %}
            {% set absent_count = absent_count + 1 %}
         {% endif %}
         {% spaceless %}
            <option value="{{ blank ? 'blank::' -}}{{- student.student_id -}}" class="{{ blank ? 'orange'}}{{ absent ? 'absent'}}"
                    {{ (select_first and loop.first) ? ' selected="selected"' }}>
             {% if blank %}
                {% set studentID = "" %} 
                {% set studentName = "BLANK " ~ 'student'|trans|upper %}
             {% elseif student_number == constant('EXAM_NUMBER_TYPE') %}
                {% if student.exam_number is empty %}
                  {% set studentID = student.student_id %}
                  {% set studentName = "No Exam Number Assigned - " %}                   
                {% else %}
                  {% set studentID = student.exam_number %}
                  {% set studentName = "" %}
                {% endif %}
             {% elseif student_number == constant('CANDIDATE_NUMBER_TYPE') %}
                {% if student.candidate_number is empty %}
                  {% set studentID = idSeparated ~ "No Candidate Number Assigned" %}
                  {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
                {% else %}
                  {% set studentID = idSeparated ~ student.candidate_number %}
                  {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
                {% endif %}
             {% else %}
                {% set studentID = idSeparated ~ student.student_id %}
                {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
             {% endif %}
                 
             {{- absent ? '*' -}}{{- studentName|raw -}}
             {{- studentID|raw -}}
            </option>
         {% endspaceless %}
      {% endfor %}
    {% else %}
       <option value="none">NONE</option>
    {% endif %}
    </select>
    {% endif %}
    <div>
{# i.e. TOASSESS_LIST #}        
{% if (list_type == 'toassess') %}
    <input type="hidden" id="multiple_candidate" value="{{- multiple_candidate ? 'true' : 'false' -}}" />
    {% spaceless %}
        <input type="button" id="absentb" class="btn bnt-sm btn-danger-i" name="absentb" title="Mark {{ 'student'|trans }} as absent" value="Absent"
          {% if (students|length == 0) %} disabled="disabled"{% endif %}
        />
        <input type="submit" class="btn bnt-sm btn-success-i" id="dotest" name="dotest" title="{{ 'examine'|trans|title }}" value="{{ 'examine'|trans|title }}" 
          {% if (students|length == 0) %} disabled="disabled"{% endif %}
        />
    {% endspaceless %}    
{# i.e. INCOMPLETE_LIST #}    
{% elseif (list_type == 'incomplete') %}
    <input type="button" id="discard" name="discard" title="Discard incomplete result" disabled="disabled" value="Discard"/>
    <input type="submit" id="complete" name="complete" title="Continue with {{ 'assessment'|trans }}" disabled="disabled" value="Complete"/>
{# i.e. ASSESSED_LIST #}
{% elseif (list_type == 'assessed') %}
    {% if (absent_count > 0) %}
      <div class="absentdiv">* absent</div>
    {% endif %}
      <input type="submit" id="retest" name="retest" title="Update {{ 'assessment'|trans }}" disabled="disabled" value="Update Result"/>
{% else %}
      <div>Unknown List type '{{ list_type }}' passed to template.</div>
{% endif %}
   </div>
 </fieldset>
 </td>
 <td class="titleerror nbb-nbr"></td>
 </tr>
</form>