/* Original Author: David Cunningham
 * For Qpercom Ltd
 * Date: 22/07/2015
 * © 2015 Qpercom Limited.  All rights reserved.
 */

 body {
  font-size: 14px;
 }

  fieldset#options {
  float: left;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
 }

 fieldset#options legend {
   font-weight: bold;
 }
 
 fieldset#login {
  float: left;
  padding-top: 10px;
  margin-top: 10px;
 }

 fieldset#login legend {
   font-weight: bold;
 }
 
 fieldset#login label {
   font-weight: bold;
   width: 80px;
   display: inline-block;
 }

 div#password-div {
  margin-top: 4px;
 }
 
 div#options-div {
  margin-top: 4px;
  width: 660px;
 }
 
 div#options-div label {
   font-weight: bold;
   font-size: 12px;  
 }
   
 span#term {
  color: #ff0000;
 }

 div#submit-div {
  margin-top: 4px;
  text-align: right;
 }
 
 select#choose-exams {
  width: 304px;
  font-size: 12px;
 }
 
 select#export-exams {
   width: 304px;
   font-size: 12px;
 }
 
 div#list-div {
   float: left;
   width:305px;
 }
 
 div#export-div {
   float: left;
   width:305px;
   clear: right;
 }
 
 div#submit-export-div {
  margin-top: 6px;
  text-align: right;
  width: 660px;
  float: left;
  clear: both;
 }
 
 div#buttons-div {
   float: left;
   width: 50px;
   margin-top: 70px;
   text-align: center;
 }
 
 input#add {
   margin-bottom: 2px;
 }
 
 input#logout {
   margin-right: 4px;
 }