{# Twig template for colour section (HTML) in ajx_sessions.php #}
<div class="color-container">
    <div class="fl cr"><label for="color">Pick Circuit Colour</label></div>
    <div class="fl cl">
        <input id="color" class="color" type="text" value="{{- color -}}"/>
    </div>
    <div class="remove-color-div">
        <a id="remove-color" href="javascript:void(0)"
           {{ color|trim in ['', '#'] ? 'style="visibility: hidden"' -}}>
            remove
        </a>
    </div>
</div>