{# Template for osce/assistants_osce.php #}
{% import "helpers.twig" as helpers %}
<div class="topmain ">
    <div class="row">
        <div class="col-5">
                <div class="card d-inline-block align-top w-100">
                        <div class="card-header">
                          <div class="card-title h6 mb-0">
                            <div class="row no-gutters align-items-center">
                              <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                              <span class="card-title-text">
                                Manage Day/Circuit Assistants
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="card-text">
                            Manage assistants for the following Day/Circuit: 
                      {% if session is defined %}
                            <br/><br/>
                            <span class="text-highlight"><span class="bold">Day/Circuit: </span>{{ session.session_date }} {{ session.session_description|raw }}</span><br/>
                            <span class="bold">{{ 'OSCE'|trans }}: </span>{{ session.exam_name|raw }}<br/>
                            <span class="bold">{{ 'Department'|trans }}: </span>{{ session.dept_name|raw }}<br/>
                      {% endif %}
                          </div>   
                        </div> 
                      </div> 
        </div>
        <div class="col-6">
                {% if session is defined %}
                {% include 'jumpToSection.html.twig' %}
              {% endif %}
        </div>
    </div>



  <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
{% if session is defined %}
<form name="sessassist_list_form" id="sessassist_list_form" method="post" action="osce/exams_redirect.php" onsubmit="return(ValidateForm(this))">
    <table id="sessassist_table" class="table-border">
        <tr id="title-row" class="title-row">
            <td class="all-checkbox-td">
                <input type="checkbox" id="check-all" {{ (assistants|length == 0) ? 'disabled="disabled"' }} />
                <input type="hidden" name="exam_id" id="exam-id" value="{{ session.exam_id }}"/>
            </td>
            <th>Identifier</th>
            <th>Forenames</th>
            <th>Surname</th>
            <th>Email Address</th>
            <th>Mobile Number</th>
            <td class="title-edit-top">&nbsp;</td>
        </tr>
    {% for assistant in assistants %}
        <tr id="sessassist_row_{{ loop.index }}" class="datarow">
            <td class="checkb">
                <input type="checkbox" name="sessassist_check[]" id="sessassist-check-{{ loop.index }}" value="{{ assistant.user_id }}" />
            </td>
            <td class="c">{{ assistant.user_id|raw }}</td>
            <td>{{ assistant.forename|raw }}<br/><br/></td>
            <td>{{ assistant.surname|raw }}</td>
            <td class="c">
        {% spaceless %}
        {% if (assistant.email|length > 0) %}
                <a href="mailto:{{ assistant.email }}">{{ assistant.email|raw }}</a>
        {% else %}
                <span class="red">Not found</span>
        {% endif %}
            </td>
            <td class="c">
        {% if (assistant.contact_number|length > 0) -%}
                {{ assistant.contact_number|raw }}
        {% else %}
                <span class="red">Not found</span>
        {% endif %}
        {% endspaceless %}
            </td>
            <td class="titleedit height30">
        {{ helpers.buttonEditItem(('edit_' ~ loop.index), 'Edit', 'Edit') }}
            </td>
        </tr>
    {% endfor %}
    {% if (assistants|length > 0) %}
        <tr id="base-tr">
            <td colspan="7" class="base-button-options" id="base-button-td">
                <div class="fl">
                    <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
                        <option value="remove">remove from day/circuit</option>
                    </select>
                    <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_sessassist" id="go-sessassist" disabled="disabled" />
                </div>
                <div class="fr" id="add-div">
                    <input type="button" value="add previous" id="add-existing-assistant" class="btn btn-info btn-sm"/>
                    <input type="button" value="add new" name="add" id="add-new-assistant" class="btn btn-success btn-sm"/>
                    <input type="hidden" value="{{ session_id }}" name="session_id" id="session-id" />
                    <input type="hidden" value="{{ assistants|length }}" name="count" id="count" />
                    <input type="hidden" id="show_session" name="show_session" value="{{ show_session }}"/>
                </div>
            </td>
        </tr>
    {% else %}
        <tr id="first_sessassist_row">
            <td colspan="7" class="mess">
                <div id="sessassist_row_div" class="tablestatus2">No assistants attached, please click the 'add new' button to add new<br/>assistants <span class="ul">OR</span> click the 'add previous' button to add previous assistants
                </div>
            </td>
        </tr>
        <tr id="base-tr">
            <td colspan="7" class="base-button-options" id="base-button-td">
                <div class="fr" id="add-div">
                    <input type="button" value="add previous" id="add-existing-assistant" class="btn btn-info btn-sm"/>
                    <input type="button" value="add new" id="add-new-assistant" class="btn btn-success btn-sm"/>
                    <input type="hidden" value="{{ session_id }}" name="session_id" id="session-id" />
                    <input type="hidden" id="show_session" name="show_session" value="{{ show_session }}"/>
                </div>
            </td>
        </tr>
    {% endif %}
    </table>
</form>
{% else %}
<br/>
<div class="errordiv">
    The day/circuit selected or specified was not found in the system<br/><br/>
    <a href="manage.php?page=sessions_osce&amp;exam_id={{ exam_id }}">click here to return to Day/Circuit list</a>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endif %}
</div>
