{# Twig template #}
 {% if sessionExists %}
   <input type="hidden" id="selectiontype" value="clone_stations_exam"/>
   <ul class="addstats-ul">
     <li>
       <label for="add_exam">Previous {{ 'OSCE'|trans|title }}</label>
       <select id="add_exam">
       <option value="">--</option>
      {% for term, termExams in exams %}
         <optgroup label="{{ term|raw }}">  
         {% for exam in termExams %}
           <option value="{{ exam.exam_id|raw }}" title="{{ exam.exam_description|raw }}">{{ exam.exam_name|raw }}</option>
         {% endfor %}
         </optgroup>
       {% endfor %}
       </select>
     </li>
     <li>
        <label for="clone-stations">Day/Circuit</label>
        <select id="clone-stations" class="custom-select custom-select-sm w-auto">
            <option value="" class="black">--</option>
        </select>
     </li>
   </ul>
 {% else %}
   <div class="red">Day/Circuit does not exist please refresh page [F5]</div><br/>   
 {% endif %}
 