{# Description: Twig template for examiner slots #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{#{% if station_exists == true and grade_rule_applied %}

    <div class="grade-warning">The system has detected that there is an {{ 'grade'|trans }} rule applied to this {{ 'exam'|trans }}.
        Please <u>DO NOT</u> use this facility to pool {{ 'examiners'|trans }} at each<br/>station. Only assign the required number of
        {{ 'examiners'|trans }} or allocate the required number open slots in order for the {{ 'grade'|trans }} to work
    </div>

{% endif %}#}

<form id="form-slots" method="post" action="osce/exams_redirect.php">
<div class="topmain">

  <div class="row">
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Manage Station {{ 'examiners'|trans|title }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                Manage {{ 'examiners'|trans }} for station: 
                 
                {% if station_exists == true %}
                <ul class="information-list">
                  <li><span class="text-highlight">Name: <span class="normal">{{ form_name|raw }}</span></span></li>  
                  <li>Number: <span class="normal">{{ station_number|raw }}</span></li>  
                  <li>Day/Circuit: <span class="normal">{{ session_info|raw }}</span></li>
                  <li>{{ 'OSCE'|trans }}: <span class="normal">{{ exam_name|raw }}</span></li>
                  <li>{{ 'Department'|trans }}: <span class="normal">{{ dept_name|raw }}</span></li>
                </ul>
                {% endif %}
                 <ul id='multi-examiner-notes'>
                   <li> - {{ 'Examiner'|trans }} list is ordered by highest weighting</li>
                   <li> - {{ 'examiners'|trans|title }} can have a Low Weighting (1), </li>
                   <li style='padding-left:7px'>Regular Weighting (2), High Weighting (3)</li>
                   <li> - Observers do not have a weighting (0)</li>
                 </ul>
              </div>   
            </div> 
          </div> 
    </div>
    <div class="col-lg-5 col-sm-6 col-12">
        {# If the station exists then render examiner slots #}
        {% if station_exists == true %}
            
        {% set num_of_examiners = assigned_examiners|length %} 
        {% set num_of_observers = assigned_observers|length %}
          
          {% include 'jumpToSection.html.twig' %}       
            
          <div id="num-slots-div">
            <div>
                <label class="align-middle">{{ 'examiners'|trans|title }} Required</label> 
                <select id="num-slots-examiners" name="num_slots" class="custom-select custom-select-sm w-auto">
                  {% for num in 1..30 %}
                  {% set selected = (num_of_slots == num) ? ' selected="selected"': '' %}
                  <option value="{{ num }}"{{ selected|raw }}>{{ num }}</option>
                {% endfor %}   
                </select>
            </div>
            
            <div>
                <label class="align-middle">Observers Required</label> 
                <select id="num-slots-observers" name="num_slots_observers" class="custom-select custom-select-sm w-auto">
                  {% for num in 0..30 %}
                  {% set selected = (num_of_observers == num) ? ' selected="selected"': '' %}
                  <option value="{{ num }}"{{ selected|raw }}>{{ num }}</option>
                {% endfor %}   
                </select>
            </div>
    
            <div id="examiners-buttons-div">
              <input type="hidden" value="{{ station_id|raw }}" name="station_id" id="station_id"/>
              <input type="hidden" value="{{ session_id|raw }}" name="session" id="session"/>
              <input type="hidden" value="{{ show_session|raw }}" name="show_session" id="show_session"/> 
              <button type="button" id="reset-slots" disabled="disabled" title="reset changes" class="btn btn-danger btn-sm">reset</button>
              <button type="button" id="cancel-slots" title="cancel changes" style="display: none;" class="btn btn-danger btn-sm">Cancel</button>
              <button type="button" id="edit-slots" title="edit slots" class="btn btn-success btn-sm">Edit</button>
              <button type="submit" name="save_examiners" id="update-slots" disabled="disabled" title="save changes" class="btn btn-info btn-sm">Update</button>
            </div>
          </div>
        {% endif %}
      </div>
  </div>

 </div> 
   
<div class="contentdiv">

{# If the station exists then render examiner slots #}
{% if station_exists == true %}    
    
 {# Examiner slots #}
 <div id="examiner-slots-container">
  <div class="slots-title">{{ 'examiners'|trans|title }}</div>
       
 {# Build slot data #}
 {% set maxRange = num_of_slots-1 %} 
 {% for index in range(0, maxRange) %}
      
   {# Examiner found then gather examiner data #} 
   {% set examinerFound = (assigned_examiners[index] is defined) %} 
   {% if examinerFound %}    
   
     {% set examinerID = assigned_examiners[index]['user_id'] %}
     {% set examinerForenames = assigned_examiners[index]['forename'] %}
     {% set examinerSurname = assigned_examiners[index]['surname'] %}
     {% set examinerName = examinerForenames ~ ' ' ~ examinerSurname %}
     {% set weighting = assigned_examiners[index]['scoring_weight'] %}
     {% set weightingName = weighting_list[weighting] %}
     
     {% set examinerCell = examinerName ~ " - " ~ examinerID %}
     {% set weightingCell = weightingName ~ " (" ~ weighting ~ ")" %}
   
   {% else %}
     {% set examinerID = "" %}
     {% set examinerName = "" %}
     {% set weighting = 2 %}
     {% set weightingName = "Regular Weighting" %}
     {% set examinerCell = "Any " ~ 'Examiner'|trans %}
     {% set weightingCell = "Regular Weighting (2)" %}
   {% endif %}

  <div class="slot-div slot-examiner-div">
    <div class="remove-slot">
    <img class="remove-slot-img" src="assets/images/deletesmall.png" alt="remove" title="remove slot"/>

      {# Slot has examiner then prepare data #}
      {% if examinerFound %}
          <input type="hidden" class="user-original" value="{{ examinerID|raw }}"/>
      {% endif %}
      <input type="hidden" class="weighting-original" value="{{ weighting|raw }}"/>
      <input type="hidden" class="user-selected" name="examiners[]" value="{{ examinerID|raw }}"/>
      <input type="hidden" class="user-name" value="{{ examinerName|raw }}"/>
      <input type="hidden" class="weighting-selected" name="weightings[]" value="{{ weighting|raw }}"/>
      <input type="hidden" class="weighting-name" value="{{ weightingName|raw }}"/>
            
     </div>
     <div class="slot-name">
       {{ examinerCell|raw }}
     </div>
     <div class="slot-weighting">
       {{ weightingCell|raw }}
     </div>
   </div>  
  {% endfor %}
  
  </div> 

  {# Observer slots #}
  <div id="observer-slots-container">
  {% set hide = (num_of_observers == 0) ? ' hide' : '' %}
  <div id="observer-title" class="slots-title{{ hide }}">Observers</div>
      
  {% for observer in assigned_observers %}
      
    {% set id = observer['examiner_id'] %}
    {% set observerName = observer['forename'] ~ ' ' ~ observer['surname'] %}
    {% set observerCell = observerName ~ " - " ~ id %}
    
    <div class="slot-div slot-observer-div">
     <div class="remove-slot">
      <img class="remove-slot-img" src="assets/images/deletesmall.png" alt="remove" title="remove slot"/>
      <input type="hidden" class="user-original" value="{{ id|raw }}"/>
      <input type="hidden" class="user-selected" name="observers[]" value="{{ id|raw }}"/>
      <input type="hidden" class="user-name" value="{{  observerName|raw }}"/>
     </div>
     <div class="slot-name" style="border-right: 0px">
       {{ observerCell|raw }}
     </div>
    </div>
     
  {% endfor %}
        
  </div>
  
{% endif %}

 <div class="topmain-clear"></div>
</div>
</form>
       
{# Examiner List Template #}
<select id="examiner-list-template" class="examiner">
    <option value="" class="bold">Any {{ 'Examiner'|trans }}</option>
</select>

{# Observer List Template #}
<select id="observer-list-template" class="examiner">
    <option value="" class="bold">Please Select Observer</option>
</select>
    
{# Examiner Weighting Template #}
<select id="weighting-list-template" class="weighting">
{% for weight, description in weighting_list %}
  {% spaceless %}
    <option value="{{- weight -}}">
       {{- description -}}&nbsp;({{- weight -}})
    </option>
  {% endspaceless %}
{% endfor %}
</select>