{# Description: Template for exam record found in osce/ajx_exams.php and osce/manage_osce.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
    @keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
</style>

<div style="display: none; position: fixed; cursor:pointer; right: 2em; top: 2em; max-width: 200px; background-color: #ffa200; padding: 1em; border-radius: 7px; color: #573700; border: 1px solid #573700;font-size: 115%;"
    id="warning-notification">
    Warnings have been found. Click on the triangle in the {{ 'exam'|trans }} row for details
</div>
<div id="warnings-dialog" title="Warnings found" style="display:none">
    Inconsistencies found in the {{ 'exam'|trans }}
    <ul id="warnings-list">
    </ul>
</div>

{% import "helpers.twig" as helpers %}
{% set exam_id = exam_data['exam_id'] %}

{% if mode == 'view' %}
  <tr id="exam_row_{{ row_id }}" class="datarow">
{% endif %} 

<td class="checkb">
{% if mode == 'view' %}
  <span id="X{{ exam_id }}" class="frag-ref"></span>
  <input type="checkbox" class="exam-records" name="exam_check[]" id="exam-check-{{ row_id }}" value="{{ exam_id }}"/>
{% else %}
  &nbsp;
{% endif %}
</td>

<td>
{% if mode == 'view' %}
  {{ exam_data['exam_name']|raw }}

  {% if delete_results_warning %}
    <div class="cannot-delete-exam word-wrap">Cannot delete exam results attached</div>
  {% endif %}
  
{% else %}
  <input type="text" id="{{ mode }}_name" value="{{ exam_data['exam_name']|default('')|raw }}" class="form-control form-control-sm" />
  {% if exam_id is defined %}
    <input type="hidden" id="edit_id" value="{{ exam_id }}"/>
  {% endif %}
{% endif %}
</td>

<td>
{% if mode == 'view' %}
  <div class="exam-description">{{ exam_data['exam_description']|raw }}</div>
{% else %}
 <textarea id="{{ mode }}_desc" rows="6" class="form-control form-control-sm">{{ exam_data['exam_description']|default('')|raw }}</textarea>
{% endif %}
</td>

{% if mode == 'view' or mode == 'edit' %}
<td class="cell-spacing">
  {% set link_text = "Manage" %}
  {% set url = "manage.php?page=sessions_osce&amp;exam_id=" ~ exam_id %}
  
  {% if session_data|length > 0 %}
   <ul class="exam-session-list">
   {% for id, session in session_data %}
     {% set individual_url = url ~ "&amp;show_session=" ~ id %}
     {% set colour = session['colour_name'] %}
     {% set colourHex = session['colour_hex'] %}
     {% set date = session['date'] %}
     {% set description = session['session_description'] %}
   <li>
   {# Show circuit colour if any set #}
   {% if colour is not null %}
     <div class="color-selected-list" title="{{ colour|raw }} Circuit" style="background-color: #{{ colourHex|raw }}"></div>
   {% elseif exam_has_circuit_colour %}
     <div class="color-selected-list" style="visibility: hidden"></div>
   {% endif %}
   <a href="{{ individual_url|raw }}" class='tdlink sesslink' title="Click to Manage {{ 'Session'|trans }}">      
    {% set session_desc = date ~ " " ~ description|ucwords %}
    {{ session_desc|raw }}</a>
   <br class="clearv2"/>
   </li>
   {% endfor %}
   </ul>
   {% else %} 
     {% set link_text = "Add" %}
     <div class="no-sessions">No days/circuits attached</div>
     <br class="clearv2"/>
   {% endif %}
   <div class="link-sessions"><a href="{{ url|raw }}" class="tdlink">{{ link_text }} Days/Circuits</a></div>
{% else  %}    
  <td>&nbsp;
{% endif %}
</td>

{% if mode == "view" %}
  <td>
{% else %}
  <td class="setheight{{ mode|lower|trim == 'edit' ? ' tal'}}">
{% endif %}
<ul class="settings">
    
 {# Default number of examiners per station in exam #}
 {% set defaultNum = exam_data['default_examiners_station'] %}
 {% if show_multiexaminers_settings == true %}
 <li>
  <label title="Default number of {{ 'examiners'|trans }} at each station">DEFAULT {{ 'examiners'|trans|upper }}</label>  
{% if mode == "view" %}
    <span class="green">{{ defaultNum|raw }}</span>
{% else %}
   <select class="custom-select custom-select-xs w-auto" id="{{ mode ~ "-examinersdefault" }}"
       {% if exam_has_result and mode == "edit" %}
          disabled="disabled" class="help"
          title="You are not permitted to update the default number of {{
          'examiners'|trans }} at each station as there are results attached"
       {% endif %}
   >
    {% for num in 1..30 %}
      {% set selected = (defaultNum == num) ? ' selected="selected"': '' %}
      <option value="{{ num }}"{{ selected|raw }}>{{ num }}</option>
    {% endfor %}
   </select>
{% endif %}
 </li>
{% else %}
  <input type="hidden" id="{{ mode ~ "-examinersdefault" }}" value="{{ defaultNum|raw }}"/>
{% endif %}

<li>
    <label for="{{ mode }}_acc" title="{{ 'Grade'|trans }} rule">{{ 'GRADE'|trans }}</label>

  {% if mode == "view" %}

     <span class="help wrap {{ grade.grade_rule_id == 1 ? "red" : "green" }}"
      title="Rule: {{ grade.grade_rule_short|decode_html_entities|raw }}{{ "\n"|raw }}{{ grade.grade_rule_description|raw }}">
      {{ grade.grade_rule_short|decode_html_entities|raw }}
      </span>

  {% else %}

    {# Twig template for grade rule #}
    <select class="grade-rule-select {{ exam_has_result and mode == "edit" ? "help" }} custom-select custom-select-xs w-auto"
        {% if exam_has_result and mode == "edit" %}
            disabled="disabled" title="You are not permitted to change the {{ "grade"|trans }} rule with results attached"
        {% else %}
            id="grade-rule"
        {% endif %}
    >
    {% for rule in grade.list %}
        <option title="Rule: {{ rule.grade_rule_short|decode_html_entities|raw }}{{ "\n"|raw }}{{ rule.grade_rule_description|raw }}"
            {% if grade.selected == rule.grade_rule_id %}
                selected="selected"
            {% endif %}
            value="{{ rule.grade_rule_id|raw }}">
           {{ rule.grade_rule_short|decode_html_entities|raw }} - {{ rule.grade_rule_name|decode_html_entities|raw }}
        </option>
    {% endfor %}
    </select>

    {% if exam_has_result and mode == "edit" %}
    <input type="hidden" id="grade-rule" value="{{ grade.selected|raw }}"/>
    {% endif %}

  {% endif %}
</li>

    {% set elementID = mode ~ '-viewresults' %}
 <li>
 <label for="{{ elementID|raw }}" title="Can {{ 'examiner'|trans }} view all results during {{ 'exam'|trans }}?">VIEW {{ 'exam'|trans|upper }} RESULTS</label>
 {% if mode == "view" %}
  {% if exam_data['view_results'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {% set enabled = exam_data['view_results']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, enabled, 'setting-checkbox') }} 
{% endif %}
 </li>
 
 {% set elementID = mode ~ '-viewmarks' %}
 <li>
 <label for="{{ elementID|raw }}" title="Can {{ 'examiner'|trans }} view item marks on {{ 'station form'|trans }}?">VIEW ITEM MARKS</label>
 {% if mode == "view" %}
  {% if exam_data['view_marks'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {% set enabled = exam_data['view_marks']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, enabled, 'setting-checkbox') }} 
{% endif %}
 </li>
 
 {% set elementID = mode ~ '-viewtotals' %}
 <li>
 <label for="{{ elementID|raw }}" title="Can {{ 'examiner'|trans }} view totals accummulated?">VIEW OVERALL TOTALS</label>
 {% if mode == "view" %}
  {% if exam_data['view_totals'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {% set enabled = exam_data['view_totals']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, enabled, 'setting-checkbox') }} 
{% endif %}
 </li>
 
 {% set elementID = mode ~ '-submitnext' %}
{% if show_submit_and_next %}
 <li>
 <label for="{{ elementID|raw }}" title="Can {{ 'examiner'|trans }} use 'submit &amp; next' option?">USE SUBMIT &amp; NEXT</label>
 {% if mode == "view" %}
  {% if exam_data['submit_next'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {% set enabled = exam_data['submit_next']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, enabled, 'setting-checkbox') }} 
{% endif %}
 </li>
{% else %}
<input id="{{ elementID|raw }}" type="hidden" value="0" />
{% endif %}

 {% set elementID = mode ~ '-countdown' %}
 <li>
 <label for="{{ elementID|raw }}" title="Show or hide countdown timer on {{ 'station form'|trans }}?">SHOW COUNTDOWN</label>
 {% if mode == "view" %}
  {% if exam_data['show_countdown'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {% set enabled = exam_data['show_countdown']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, enabled, 'setting-checkbox') }} 
{% endif %}
 </li>
 
 {% set elementID = mode ~ '-published' %}
 <li>
  <label for="{{ elementID|raw }}" title="Is the {{ 'exam'|trans }} published (available to {{ 'examiners'|trans }})?">IS ACCESSIBLE</label>  
{% if mode == "view" %}
  {% if exam_data['exam_published'] == 1 %}
    <span class="green">YES</span>
  {% else %}
    <span class="red">NO</span>
  {% endif %}
{% else %}
  {# Default to enabled #}
  {% set accessible_enabled = exam_data['exam_published']|default(false) %}
  {{ helpers.checkboxYesOrNo(elementID, accessible_enabled, 'setting-checkbox') }}      
{% endif %}
 </li>
 
</ul>
{% if show_advanced_settings %}
 <div class="advanced-link-div">
   <a href="manage.php?page=settings_osce&amp;exam={{ exam_id }}" class="tdlink" title="Click to access the more settings for the {{ 'exam'|trans }}">More Settings</a>
 </div>
{% endif %}
</td>
{% set hide_icon = (not exam_has_result or mode == 'edit') ? " invisible" : "" %}
<td class="options-td">
 {% if show_matrix_option %}
  <div class="matrix-div">
     <button type="submit" class="exam-matrix btn btn-sm" name="exam_matrix" value="{{ exam_id|raw }}">
        <img src="assets/images/matrix.svg" title="Download {{ 'Exam'|trans }} Matrix" alt="{{ 'Exam'|trans }} Matrix"/>
     </button>
       <div class="upload-div">
     <a href="manage.php?page=upload&term_id={{ exam_data.term_id }}&dept_id={{ exam_data.dept_id }}&exam_id={{ exam_id }}" class="exam-upload btn btn-sm">
        <img src="assets/images/upload-media.png" title="Upload" alt="upload"/>
     </a>
  </div>
  </div>
 {% endif %}

 <div style="margin-bottom: 8px; padding: 1px 6px">
 <a id="exam-results-link-{{ exam_id }}" class="{{ hide_icon }}" href="manage.php?page=out_analysis&amp;o={{ exam_id }}" target="_examres{{ exam_id }}" title="Click to view results for this {{ 'Exam'|trans }}">
    <img class="exam-res" alt="Results" src="assets/images/res.svg"/>
 </a>
 </div>
 {% if show_monitor_option %}
 <div style="padding: 6px">
 <a href="osce/sessions_monitor.php?examID={{ exam_id }}" target="_blank" title="Monitor exam circuits" style="color: black">
     <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
 </a>
 </div>
 {% endif %}
</td>

{% if mode == 'view' %}
 <td class="titleedit">
  {{ helpers.buttonEditItem('', "edit_" ~ row_id,  'editb', 'Edit', 'Edit') }}
  <a class="exam-early-warning" data-exam-id="{{ exam_id }}" style="display: none; margin-top: 8px; cursor: pointer">
     <i class="fa fa-exclamation-triangle fa-2x" style="color: #ffa200; animation-name: blinker; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite"></i>
  </a>
 </td>
{% else %}
 <td class="titleedit">&nbsp;</td>
{% endif %} 

{% if mode == 'view' %}
  </tr>
{% endif %}