{# Description: Template for osce/groups_osce.php #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}
{% import "helpers.twig" as helpers %}
 <form name="manage_grps" method="post" action="osce/exams_redirect.php" onsubmit="return(ValidateForm(this))">
 <div class="topmain">
   <div class="row">
     <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Manage {{ 'Groups'|trans }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                
                  {# Session exists #}
                  {% if sessionExists %}
                   
                       {% set examID = sessionRecord['exam_id'] %}
                       {% set examName = sessionRecord['exam_name'] %}
                       {% set sessionDescription = sessionDate ~ " " ~ sessionRecord['session_description'] %}
                       {% set savedShowStatus = (groupsSaved) ? ' class="show"' : '' %}
          
                       <span class="text-highlight"><span class="bold">Day/Circuit: </span>
                           {{ sessionDescription|raw }}</span><br/>
                       <span class="bold">{{ 'OSCE'|trans }}: </span>{{ examName|raw }}<br/>
                       <span class="bold">{{ 'Department'|trans }}: </span>{{ departmentRecord['name']|raw }}
                       <div id="group-info">Once groups have been created, click on the 'Add {{ 'students'|trans|title }}'<br/>
                           button to drag &amp; drop {{ 'students'|trans }} into the group lists. <br/>Please use icon <img src="assets/images/person-icon-remove.png" title="remove icon" alt="remove" height="18" width="18"/> 
                          to remove {{ 'student'|trans }} from a group
                       </div>
          
                       {% if enableExamNumber %}
                           <div id="colour-reference-div" title="Click to reveal identifiers"> 
                               <span id="exam-number-switch" class="bold-dark-amber switch-on">{{ 'exam'|trans|title }} Number</span>
                               <span id="student-id-switch" class="boldgreen">{{ 'student'|trans|title }} Identifier</span>
                           </div>
                       {% endif %}
                       {% if enableCandidateNumber %}
                           <div id="colour-reference-div" title="Click to reveal identifiers"> 
                               <span id="candidate-number-switch" class="bold-dark-red switch-on">Candidate Number</span>
                               <span id="student-id-switch" class="boldgreen">{{ 'student'|trans|title }} Identifier</span>
                               <input type="hidden" id="candidate-number-mode" value="yes"/>
                           </div>
                       {% endif %}           
                           
                       {% if sessionHasResults %}
                         <div id="session-has-results" class="show">
                           {{ 'Students'|trans }} in this day/circuit have results <img src="assets/images/bar-chart-warning.png" alt="results" class="has-results"/>
                         </div>
                       {% endif %}
                     
                       <div id="saveupwarn">Please don't forget to click the Save/Update button</div>
                       <div id="saved"{{ savedShowStatus|raw }}>Groups Saved: {{ currentDate|raw }}</div>
                       <input type="hidden" id="exam_id" name="exam_id" value="{{ examID }}"/>
                       <input type="hidden" id="session_id" name="session_id" value="{{ sessionID }}"/>
                       <input type="hidden" id="show_session" name="show_session" value="{{ showIndividualSession }}"/>
                       
                  {% endif %}
              </div>   
            </div> 
          </div> 
     </div>

     <div class="col-lg-5 col-sm-6 col-12">
        {# Render options if session exists #}
      {% if sessionExists %}
      {% set disabledAttr = (groupRecords|length > 0) ?  '' : ' disabled="disabled"' %}
      {% include 'jumpToSection.html.twig' %}   
       <div class="groups-button-div">
           <input type="button" id="print_lists" value="print / export"{{ disabledAttr|raw }} class="btn btn-warning btn-sm"/>
           <input type="button" id="cancel_changes"  value="reset" disabled="disabled" class="btn btn-danger btn-sm"/>          
           <input type="button" id="add-students" value="Add {{ 'students'|trans|title }}" class="btn btn-success btn-sm" />
           <input type="submit" id="save" name="save" value="Save / Update" title="Save / Update" disabled="disabled" class="btn btn-info btn-sm"/>          
         <input type="hidden" id="save_groups" name="save_groups" value="save"/>
       </div> 
      {% endif %}
      </div>
   </div>
     
 <div class="topmain-clear"></div>
 </div>
 <div class="contentdiv" id="contentdiv">
     
 {% if sessionExists %} 
   <div id="moddiv" data-scroll-scope="force">
   <div class="draghandle2" id="drag-module-div" title="Click and hold box to drag">
    <div class="close-top-div">
        <a id="close-modules-students" href="javascript: void(0)" title="close">
            <img src="assets/images/deletetiny.svg" alt="close"/>
        </a>
    </div>
    <div class="grab">&nbsp;</div> 
   </div>
   <div class="modules-students-div ui-front">
   <select id="module-select">

   {# Render course data if any found #}
   {# Render module dropdown for user to select #}  
   {% for courseID, modules in courseRecords %}

     {% set courseName = modules[0]['course_name'] %}
       
     <optgroup label="{{ courseName|raw }}">
        
     {# Render linked modules #}
     {% for module in modules %}
         {% set optionValue = module['year_id'] ~ "::" ~ module['module_id'] %}
         {% set moduleTitle = module['module_name'] ~ " [" ~ module['module_id'] ~ "]" %}
         {% set selectedAttr = (module['selected']) ? ' selected="selected"' : '' %}
 
         {# Stick currently selected module #}
         <option value="{{ optionValue|raw }}"{{ selectedAttr|raw }} title="Year {{ module['year_name']|raw }}">
             {{ module['year_name']|raw }} - {{ moduleTitle|raw }}
         </option>
     {% endfor %}
     
     </optgroup>
         
  {% endfor %}
   
  {# No module data found then output appropriate message to user #}
  {% if courseRecords|length == 0 %} 
       <option>No module data found in academic term</option>
  {% endif %}
  </select>
  </div>

  <div class="filter-div ui-front">
  <select id="group-filter">
    <option value="" class="black">ALL {{ 'students'|trans|upper }}</option>
    <optgroup id="by-sn" label="FILTER BY SURNAME">
     {% for surnameIndex in filterIndices['sn'] %}
        <option value="sn::{{ surnameIndex|raw }}">{{ surnameIndex|raw }}</option>
     {% endfor %}
    </optgroup>
    <optgroup id="by-fn" label="FILTER BY FORENAMES">
     {% for forenameIndex in filterIndices['fn'] %}
        <option value="fn::{{ forenameIndex|raw }}">{{ forenameIndex|raw }}</option>
     {% endfor %}
    </optgroup>
   </select>
   <input type="text" class="form-control" id="search-student-list" placeholder="search for {{ 'student'|trans }}.."/>
  </div>
  {% if enableExamNumber %}
   <div class="exam-number-div ui-front">
     <select id="exam-number-prefix">
      {% for prefix in "A".."Z" %}
         <option value="{{ prefix }}">{{ prefix }}</option>
      {% endfor %}
      {% for prefixA in "A".."Z" %}
         {% for prefixB in "A".."Z" %} 
          <option value="{{ prefixA ~ prefixB }}">{{ prefixA ~ prefixB }}</option>
         {% endfor %}
      {% endfor %}     
     </select>
     <input type="text" id="exam-number-postfix" value="1"/>
     <label class="bold f12" id="number-prefix-label" for="exam-number-prefix">Next Exam Number</label>
   </div>
 {% else %}
     <input type="hidden" id="exam-number-prefix" value="auto"/> 
 {% endif %}
 <ul class="modslist sortable" id="modslist" data-scroll-scope="force">
      
  {# Render students not grouped #}
  {% for each in studentsNotGrouped %}
     {% set studentID = each['student_id'] %}
     {% set candidateNumber = each['candidate_number'] %}
     {% set nameSeparated = (each['surname']|length > 0 and each['forename']|length > 0) ? ", " : "" %}
     {% set idSeparated = (each['surname']|length > 0 or each['forename']|length > 0) ? " - " : "" %}
     {% set studentName = each['surname'] ~ nameSeparated ~ each['forename'] %}
     
     {% spaceless %}
     <li class="eachsnew" id="es-{{ studentID|raw }}" title="{{ studentID|raw }}">
      <input type="hidden" class="student-candidate-number" value="{{ candidateNumber|raw }}"/>
      <a href="javascript:void(0)" title="remove" class="removestudent">
       <img src="assets/images/person-icon-add.png" alt="remove" class="remove-student"/>
      </a><span class="student-label">{{ studentName|raw }}</span> {{ idSeparated }} <span class="student-identifier-display">{{ studentID|raw }}</span>
     </li>
     {% endspaceless %}
     
  {% endfor %} 
  
  {% if studentsNotGrouped|length == 0 %}
     <li id="no-students">No records found from selection above</li>
  {% endif %}
  
  </ul>
  <ul class="blank-list sortable" id="blanklist">
   {% spaceless %} 
   <li class="eachsnew" id="es-:bs:{{ blankStudentCount+1 }}" title="Blank {{ 'student'|trans|title }}">
     <a href="javascript:void(0)" title="remove" class="removestudent">
     <img src="assets/images/person-icon-add.png" alt="remove" class="remove-student"/></a>BLANK {{ 'student'|trans|upper }}
   </li>
   {% endspaceless %}
  </ul>
 </div>
 <ul id="grpsort">
     
 {# Cycle through groups & the students that they contain #}
 {% set blankStudentIndex = 1 %}
 {% for groupID, group in groupRecords %}
    {% set groupName = group['group_name'] %}
    {% set studentCountGroup = group['students']|length %}
    
    <li class="eachglist">
    <input type="hidden" class="group-id" name="groupval[]" value="{{ groupID|raw }}"/>
    {% spaceless %}
    <div class="group-options-div">
     <a href="javascript:void(0)" title="delete" class="deletegroup">
       <img src="assets/images/bin.png" alt="delete" class="delete-group"/>
     </a>
     {{ helpers.buttonEditItem('editgroup', ('group-name' ~ groupID), '', 'edit name', 'edit name') }}
    </div>
    <div class="draghandle" title="Drag to sort group">
        <div class="grab">&nbsp;</div>
    </div>
    <br class="fc"/>
    <div class="group-edit-div">
       <input type="text" class="group-title-input" readonly="readonly" size="34" maxlength="34"
              name="name_{{ groupID|raw }}" value="{{ groupName|raw }}"/>
       <span class="groupcount">{{ studentCountGroup }}</span>
    </div>
    {% endspaceless %}
    <ul class="eachslist sortable">
    
    {# Students in each group #}
    {% for student in group['students'] %}
              
      {# Blank record #}
       {% if student['type'] == constant('BLANK_STUDENT_TYPE') %}
         {% spaceless %}
          {% set groupedStudentID = ":bs:" ~ blankStudentIndex %}
          {% set blankStudentIndex = blankStudentIndex + 1 %}
         <li class="eachs sorting-initialize" id="{{ groupedStudentID|raw }}" title="Blank {{ 'student'|trans|upper }}">
          <input type="hidden" class="student-identifier" name="groups_students[{{ groupID|raw }}][]" value=":bs:"/>
          <a href="javascript:void(0)" title="remove" class="removestudent">
           <img src="assets/images/person-icon-remove.png" alt="remove" class="remove-student"/>
          </a> BLANK {{ 'student'|trans|upper }}
         </li>
        {% endspaceless %}
      {# Student record #}
       {% else %}
        {% spaceless %}   
         {% set groupedStudentID = "es-" ~ student['id'] %}
         {% set studentID = student['id'] %}
         
         {% if enableExamNumber == true %}
            {% set studentNumberClass = " bold-dark-amber" %}
            {% set studentNumber = student['student_exam_number'] %}
         {% elseif enableCandidateNumber == true  %}    
            {% set studentNumberClass = " bold-dark-red" %}
            {% set studentNumber = student['student_candidate_number'] %}
         {% else %}
            {% set studentNumberClass = "" %}
            {% set studentNumber = studentID %}
         {% endif %}
         
         {% set nameSeparated = (student['surname']|length > 0 and student['forenames']|length > 0) ? ", " : "" %}
         {% set idSeparated = (student['surname']|length > 0 or student['forenames']|length > 0) ? " - " : "" %}
         {% set studentLabel = student['surname'] ~ nameSeparated ~ student['forenames'] %}
         <li class="eachs sorting-initialize" id="{{ groupedStudentID|raw }}" title="{{ studentID|raw }}">
          <input type="hidden" class="student-identifier" name="groups_students[{{ groupID|raw }}][]" value="{{ studentID|raw }}"/>
          <input type="hidden" class="student-exam-number" name="student_exam_number[{{ studentID|raw }}]" value="{{ student['student_exam_number']|raw }}"/>
          <input type="hidden" class="student-candidate-number" value="{{ student['student_candidate_number']|raw }}"/>
          <a href="javascript:void(0)" title="remove" class="removestudent">
           <img src="assets/images/person-icon-remove.png" alt="remove" class="remove-student"/>
          </a><span class="student-label">{{ studentLabel|raw }}</span> {{ idSeparated }} <span class="student-identifier-display{{ studentNumberClass }}">{{ studentNumber|raw }}</span>
           {% if student['result'] %}
             <img src="assets/images/bar-chart-warning.png" alt="results" class="has-results"/>
           {% endif %}
         </li>
         {% endspaceless %}
       {% endif %}
       
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  <li class="eachglist2 addgroup-li" id="addgroupli">
   <div class="draghandle" title="Drag to sort group">
       <div class="grab">&nbsp;</div>
   </div>
   <div class="new-group-div">
     <input type="text" id="group-name" size="34" maxlength="34" placeholder="enter group name.." class="form-control form-control-sm d-inline-block align-middle"/>
     <input type="button" id="add-group-button" value="add group" class="btn btn-success btn-sm"/>
   </div>
  </li>
 </ul>
 {% else %}
   {% set returnUrl = "manage.php?page=sessions_osce&amp;exam_id=" ~ examIDParam %}
   {% set userMessage = "The session was not found in the system" %}
  <div class="errordiv">
    {{ userMessage|raw }}
    <a href="{{ returnUrl|raw }}">return to session list</a>
  </div>
 {% endif %}
 </div>
 <span id='results-to-delete'></span>
</form>

{# Template list items, not rendered by PHP but client side #}
<ul style="display:none">
  {% spaceless %}
  <li id="eachglist-template">
    <input type="hidden" class="group-id" name="groupval[]" value=""/> 
    <div class="group-options-div">
      <a href="javascript:void(0)" title="delete" class="deletegroup">
        <img src="assets/images/bin.png" alt="delete" class="delete-group"/>
      </a>
      <a href="javascript:void(0)" title="edit name" class="editgroup">
        <img src="assets/images/edit.svg" alt="edit" class="editb"/>
      </a>
    </div>
    <div class="draghandle" title="Drag to order group">
      <span class="groupcount">0</span>
    </div>
    <br class="fc"/>
    <div class="group-edit-div">
      <input type="text" class="group-title-input" readonly="readonly" size="29" maxlength="29" name="" value=""/>
    </div>
    <ul id="inner-ul-template"></ul>      
  </li>
  
  <li id="eachsnew-template" title="">
    <input type="hidden" class="student-candidate-number" value="">
    <a href="javascript:void(0)" class="removestudent" title="Temporarily remove from list">
      <img src="assets/images/person-icon-add.png" alt="remove" class="remove-student"/>
    </a>
    <span id="student-label"></span><span id="student-id-placeholder" class="student-identifier-display"></span>
  </li>
  
  {% endspaceless %} 
</ul>
<div id="dialog-action-confirm" title="WARNING: {{ 'Student'|trans }} has {{ 'Exam'|trans }} Results" style="display:none">
  <form>
    <div id="dialog-message">
       <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        Would you like to proceed with removing {{ 'student'|trans }} <span id="student-name"></span> from this group 
        including session results for {{ 'student'|trans }}?
    </div>
    <table id="loading-results">
     <tr>
       <th>Station #</th>
       <th>Station</th>
       <th>Examiner ID</th>
       <th>Examiner Name</th>
       <th>Complete</th>
       <th>Score</th>
     </tr>
     <tr id="results-status-row">
      <td colspan="6">      
        Loading results..
      </td>
     </tr>
    </table>
    <div id="groups-password-div">
     <label for="groups-password-field">Enter your password to continue</label>
     <input id="groups-password-field" class="f15" type="password" value=""/>
     <div id="password-message"></div>
    </div>
  </form>
</div>
<script>
   var examNumbersTaken = {{ studentExamNumbers|json_encode|raw }};
</script>
