{# Description: Template for osce/new_form.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{% if sessionExists %}
 {% set pickerID = "add" %}
 
 {% set tagTitle = 'station groups'|trans|capitalize ~ " (optional) are an alternative to station numbers "
        ~ "for grouping results in the analysis section. They are used in situations where the placement of scenarios "
        ~ "(assessment scoresheets) are different for each day/circuit (stations are moved around) "
        ~ "making it impossible to match results by station number" %}
 
<input type="hidden" id="selectiontype" value="{{ type }}"/>
  <ul class="addstats-ul">
  <li>
   <label for="add_nr">Station Order (#)</label>
   <input type="text" id="add_nr" size="2" maxlength="3" value="{{ nextNumber|raw }}"/>
  </li>
  
  {% if type == 'new_station' %}
  <li>
   <label for="add_rest" id="rest-label">Rest Station</label>
   <input type="checkbox" id="add_rest"/>
  </li>
  {% endif %}
  
  <li>
   <label for="add_tag">
     {{ 'station group'|trans|title }}
     <img class="tags-info" title="{{ tagTitle|raw }}" src="assets/images/information.png" alt="information" width="16" height="16"/>
    </label>
    <input type="text" id="add_tag" size="9" maxlength="20" class="disable-element" placeholder="optional"/>
  </li>
  
  {% if type == 'new_station' %}
  <li>
   <label for="add_stat">New {{ 'form'|trans|title }} Name</label>
   <input type="text" id="add_stat" class="disable-element"/>
   <input type="hidden" id="used-form-id" value=""/>
  </li>
  {% elseif type == 'bank_station' %}
  
    <li>
    <label for="add_stat">Choose from Bank</label>
    <select id="add_stat" class="custom-select custom-select-sm w-auto">
       {% for group, station in stations %}
          <optgroup label="{{ group is empty ? "Untagged / Uncategorised" : group|raw|title }}"> 
          {% for each in station %}
            <option value="{{ each['form_id']|raw }}">{{ each['form_name']|raw }}</option>
          {% endfor %}
          </optgroup>
       {% endfor %}

       {% if stations|length == 0 %}
           <option value="">No assessment {{ 'forms'|trans }} found</option>
       {% endif %}
     </select>
    </li>      
      
  {% elseif type == 'previous_exam_station' %}
  
    <li>
      <label for="add_exam">Previous {{ 'OSCE'|trans|title }}</label>
      <select id="add_exam" class="custom-select custom-select-sm w-auto">
       <option value="">--</option>
      {% for term, termExams in exams %}
        <optgroup label="{{ term|raw }}">  
        {% for exam in termExams %}
          <option value="{{ exam.exam_id|raw }}" title="{{ exam.exam_description|raw }}">{{ exam.exam_name|raw }}</option>
        {% endfor %}
       </optgroup>
       {% endfor %}
     </select>
    </li>
  
    <li>
      <label for="clone-stations">{{ 'Session'|trans }}</label>
      <select id="clone-stations" class="custom-select custom-select-sm w-auto">
          <option value="" class="black">--</option>
      </select>
    </li>
    
    <li>
      <label for="add_stat">Used {{ 'form'|trans|title }}</label>
      <select id="add_stat" class="custom-select custom-select-sm w-auto">
          <option value="" class="black">--</option>
      </select>
    </li>  
  
  {% endif %}
  
  
  <li>
    <label for="add_pass">Station Pass Value</label>
    <input type="text" id="add_pass" class="disable-element" size="2" maxlength="3" value="{{ passValue|raw }}"/>
    <span class="perpass"> %</span>
  </li>

   <li>
    <label for="weighting">Station Weighting (optional)</label>
    <input type="text" id="weighting" class="disable-element" size="2" maxlength="6" value="{{ weighting|raw }}"/>
    <span class="perpass"> %</span>
  </li> 
  
  {% set pickerLabel = "Station Time" %}
  {% set pickerID = "add" %}
  {% set time = defaultTime %}
  {% include 'timepicker.html.twig' %}
 
  {% set pickerLabel = "Visual Alarm 1" %}
  {% set pickerID = "add-alarm1" %}
  {% set time = defaultAlarm1 %}
  {% include 'timepicker.html.twig' %}
  
  {% set pickerLabel = "Visual Alarm 2" %}
  {% set pickerID = "add-alarm2" %}
  {% set time = defaultAlarm2 %}
  {% include 'timepicker.html.twig' %}
  
  {% if popupFeatureEnabled %}
    {% set selectedAttr = (popupSelected) ? ' selected="selected"' : '' %}  
   <li><label for="add_pop" class="help" title="Station/case notes display on load of assessment form? yes/no">Notes Auto Popup</label>
    <select id="add_pop" class="f12 disable-element">
      <option value="1" class="green"{{ selectedAttr|raw }}>yes</option>
     <option value="0" class="red">no</option>
      </select>
   </li>
  {% endif %}

  
   <li><label for="station_type" class="help" title="Select type of the station">Station Type</label>
    <select id="station_type" class="f12 disable-element">
      <option value="Object" class="">Object</option>
      <option value="Unmanned" class="">Unmanned</option>
      <option value="Assessor" class="">Assessor</option>
      </select>
   </li>

  {% if exclude_grade_enabled %}
   <li>
    <label for="exclude-grade" 
           class="help" 
           title="Tick to exclude station from {{ "grade"|trans }} rules"
        >Exclude from {{ "Grading"|trans }}
    </label>    
    <select id="exclude-grade" class="f12 disable-element">
      <option value="0" class="red">no</option>
      <option value="1" class="green">yes</option>
     </select>
   </li>
  {% endif %}  

  </ul>
 {% else %}
  <div class="boldred">{{ 'Session'|trans }} does not exist please refresh page [F5]</div>
 {% endif %}
 