{# Twig template for sessions_osce.php bottom row #}
{% import "helpers.twig" as helpers %}

{% if row_count == 0 %}
<tr id="first_sessions_row">
  <td colspan="{{ (colspan + 1) }}" class="mess">
   <div id="sessions_row_div" class="tablestatus2 tal">
       No day/circuit records were found based on the above filter criteria. To add a new<br/>
       record click the 'add' button below
   </div>
  </td>
</tr>
{% endif %}

<tr id="base-tr">
 <td colspan="{{ colspan + 1}}" class="base-button-options" id="base-button-td">
  
   {% if row_count > 0 %}
     <div class="fl">
     <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
       <option value="delete">delete from system</option>
       <option value="access_yes" title="allow days/circuits to be accessed in the assessment tool">set accessible</option>
       <option value="access_no" title="prevent days/circuits being accessed in the assessment tool">set non-accessible</option>
     </select>
     <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_sessions" id="go-sessions" disabled="disabled" />
   </div>
   {% endif %}
   <div class="fr" id="add-div">
      <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm" />
      <input type="hidden" value="{{ exam_id }}" name="exam_id" id="exam_id" />
      <input type="hidden" value="{{ row_count }}" name="count" id="count" />
      <input type="hidden" value="{{ show_session }}" name="show_session" id="show_session" />
   </div>			 
  </td>
 </tr>