{# Description: Template for exam settings section (osce/settings_osce.php) #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}
{% import "helpers.twig" as helpers %}
<div class="contentdiv" style="padding-bottom: 30rem">

    <fieldset class="outerfs advanced-settings-fs fl">
    <legend>Results Section Display Columns</legend>
    <ul class="advanced-settings-ul">

     {% for type, setting in settings['results'] %}
        <li>
        <label>{{ setting['title']|title  }} </label>
        <div>
        {% set multi_enabled = setting['enabled']|default(false) %}
        {{ helpers.selectYesOrNo('results-column-' ~ type, multi_enabled, 'lower') }}
        </div>
        <br class="clearv2"/>
        </li>
     {% endfor %}

    </ul>
    </fieldset>

    <fieldset class="outerfs advanced-settings-fs fl">
    <legend>{{ 'Student'|trans }} and Group Settings</legend>
    <ul class="advanced-settings-ul">
        <li>
        <label>Identifier for Assessment </label>
        <div>
        {% set examNumSelected = (settings['exam_student_id_type'] == "E") ? 'selected="selected"' : '' %}
        {% set candidateNumSelected = (settings['exam_student_id_type'] == "C") ? 'selected="selected"' : '' %}
         <select id="exam-student-id-type" class="custom-select custom-select-sm">
            <option value="S">given {{ 'student'|trans }} identifier (includes name)</option>
            {% if exam_number_feature %}
               <option value="E"{{ examNumSelected|raw }}>{{ 'exam'|trans }} number (name anonymised)</option>
            {% endif %}
            {% if candidate_number_feature %}
               <option value="C"{{ candidateNumSelected|raw }}>candidate number (includes name)</option>
            {% endif %}
         </select>
        </div>
        <br class="clearv2"/>
        </li>

        <li>
        <label>Preserve Group Order </label>
        <div>
        {% set enabled = settings['preserve_group_order']|default(false) %}
        {{ helpers.selectYesOrNo('preserve-group-order', enabled, 'lower') }}
        </div>
        <br class="clearv2"/>
        </li>
    </ul>
    </fieldset>

    <fieldset class="outerfs advanced-settings-fs fl">
    <legend>General Configuration</legend>
    <ul class="advanced-settings-ul">
        <li>
        <label>Auto Configuration (Assigned {{ 'examiners'|trans|title }}) </label>
        <div>
        {% set enabled = settings['auto_config_station']|default(true) %}
        {{ helpers.selectYesOrNo('auto-config-station', enabled, 'lower') }}
        </div>
        <br class="clearv2"/>
        </li>

        <li>
        <label>Feedback Fields to Right (Assessment {{'forms'|trans|title }}) </label>
        <div>
        {% set enabled = settings['feedback_to_right']|default(false) %}
        {{ helpers.selectYesOrNo('feedback-to-right', enabled, 'lower') }}
        </div>
        <br class="clearv2"/>
        </li>
    </ul>
    </fieldset>
    <input type="hidden" id="exam-id" value="{{ exam_id }}"/>
</div>