{# Twig template for "description bar" at the top of osce/stations_osce.php #}
<div class="topmain"> 

<div class="row">
  <div class="col-lg-5 col-sm-6 col-12">
      <div class="card d-inline-block align-top w-100 h-100">
          <div class="card-header">
            <div class="card-title h6 mb-0">
              <div class="row no-gutters align-items-center">
                <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                <span class="card-title-text">
                  Manage Day/Circuit Stations
                </span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-text">
             {% if exists %}     
                Manage the stations for the following day/circuit:<br/><br/>
                
                <span class="text-highlight"><span class="bold">Day/Circuit: </span>
                    {{- session.date|date("d/m/Y") }} {{ session.description|raw -}}</span><br/>
                
                <span class="bold">Name: </span> {{- exam.name|raw -}}<br/>
                <span class="bold">{{ 'Department'|trans }}:</span> {{ department.name|raw }}
                <br/><br/>
                <span class="red f12">{{- (stationCount > 0) ? stationCount : "NO" }} STATION{{- (stationCount != 1) ? 'S'}} ATTACHED</span>
             {% endif %}   
            </div>   
          </div> 
        </div>
  </div>

    <div class="col-lg-5 col-sm-6 col-12">
        {% if exists %}
         {% include 'jumpToSection.html.twig' %}
         {% if stationCount > 0 %}    
           <div class="divoptions">
           <form method="get" action="manage.php?page=pdfstations" target="_blank">
               <input type="hidden" name="page" value="pdfstations"/>
               <input type="hidden" name="session" value="{{ session.id|raw }}"/>
               <input type="submit" value="Get PDF Print Forms" class="w160 btn btn-info btn-sm"/>
           </form>
           </div>
         {% endif %}
     {% endif %}
    </div>
</div>

    <div class="topmain-clear"></div>
</div>
