{# Description: Template for tagging explained tooltip #}
{# Author: David Cunningham #}
{# © 2016 Qpercom Limited.  All rights reserved. #}

<div id="tagging-explained" class="hide">
    
&#x3C;p&#x3E;{{ 'station groups'|trans|capitalize }} &#x3C;b&#x3E;optional&#x3C;/b&#x3E; are an alternative to station numbers for grouping results in the analysis section. They are used in situations where the arrangement of scenarios (assessment scoresheets) are different for each day/circuit (stations are moved around) making it impossible to match results by station number.
e.g. {{ 'exam'|trans|title }} has 2 days/circuits with 4 stations in each and there are 2 sets of {{ 'students'|trans }} to be {{ 'examined'|trans }} in each day/circuit. Each day/circuit contains different scenarios located in different stations like so:&#x3C;/p&#x3E;

&#x3C;b&#x3E;{{ 'exam'|trans|title }} Day/Circuit 1&#x3C;/b&#x3E;
&#x3C;ul&#x3E;
&#x9;&#x3C;li&#x3E;Station 1: Blood pressure - scenario 1&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 2: Hand washing - scenario 1&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 3: Chest Infection - scenario 1&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 4: CPR - scenario 1&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

&#x3C;b&#x3E;{{ 'exam'|trans|title }} Day/Circuit 2&#x3C;/b&#x3E;
&#x3C;ul&#x3E;
&#x9;&#x3C;li&#x3E;Station 1: Chest Infection - scenario 2&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 2: CPR - scenario 2&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 3: Blood pressure - scenario 2&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 4: Hand washing - scenario 2&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;


&#x3C;p&#x3E;As you can see in the example above you cannot match the results across all days/circuits by station number. So the solution is to give each station a code like so:&#x3C;/p&#x3E;


&#x3C;b&#x3E;{{ 'exam'|trans|title }} Day/Circuit 1&#x3C;/b&#x3E;
&#x3C;ul&#x3E;
&#x9;&#x3C;li&#x3E;Station 1: Blood pressure - scenario 1 &#x3C;span class=&#x27;red&#x27; &#x3E;BP&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 2: Hand washing - scenario 1 &#x3C;span class=&#x27;red&#x27; &#x3E;HW&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 3: Chest Infection - scenario 1 &#x3C;span class=&#x27;red&#x27; &#x3E;CI&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 4: CPR - scenario 1 &#x3C;span class=&#x27;red&#x27; &#x3E;CPR&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

&#x3C;b&#x3E;{{ 'exam'|trans|title }} Day/Circuit 2&#x3C;/b&#x3E;
&#x3C;ul&#x3E;
&#x9;&#x3C;li&#x3E;Station 1: Chest Infection - scenario 2 &#x3C;span class=&#x27;red&#x27; &#x3E;CI&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 2: CPR - scenario 2 &#x3C;span class=&#x27;red&#x27; &#x3E;CPR&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 3: Blood pressure - scenario 2 &#x3C;span class=&#x27;red&#x27; &#x3E;BP&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x9;&#x3C;li&#x3E;Station 4: Hand washing - scenario 2 &#x3C;span class=&#x27;red&#x27; &#x3E;HW&#x3C;/span&#x3E;&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;
 
</div>