{# Twig template for stations_osce.php bottom row #}
{% import "helpers.twig" as helpers %}

{% if row_count == 0 %}
<tr id="first_stations_row">
  <td colspan="{{ (colspan + 2) }}" class="mess">
   <div id="stations_row_div" class="tablestatus2">No stations found, please click the 'add' button to add new stations</div>
  </td>
</tr>
{% endif %}

<tr id="base-tr">
 <td colspan="{{ colspan + 2 }}" class="base-button-options" id="base-button-td" style="border-top: 0px !important">
  {% if row_count > 0 %}
    <div class="fl" id="select-div">
        <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm"><option value="remove">remove from list</option>
	   <option value="popup">activate 'notes auto popup'</option>
	   <option value="nopopup">deactivate 'notes auto popup'</option>
	 </select>
     <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_stations" id="go-stations" disabled="disabled"/>
    </div>
   {% endif %}
   <div class="fr" id="add-div">
      <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
      <input type="hidden" value="{{ session_id }}" name="session_id" id="session_id"/>
      <input type="hidden" value="{{ exam_id }}" name="exam_id" id="exam_id"/>
      <input type="hidden" value="{{ row_count }}" name="count" id="count"/>
      <input type="hidden" value="{{ show_session }}" name="show_session" id="show_session"/>
   </div>			 
  </td>
 </tr>