{# Twig template for tools/admin_tool.php #}
<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          System Admin Tools
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      This section contains a list of system administrative tools
    </div>   
  </div> 
</div> 
    <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
<div class="card d-inline-block align-top mr-2 mb-4">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/tools.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Click on Tool to Run
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <table class="table-border">
      {% for tool in tools %}
      <tr {% if loop.last %}class="nbbtr"{% endif %}>
       <td class="w"><a class="linkin" href="{{- tool.url -}}">{{- tool.name|raw -}}</a></td>
       <td class="w nbr">{{- tool.description|raw -}}</td>
      </tr>
      {% endfor %}
       </table>
    </div>   
  </div> 
</div> 
</div>
