{# Description: Feedback tool template #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}
<style>
    .auto-hide-option {
        display: none;
    }
</style>
<div class="topmain">
<div class="card d-inline-block align-top mr-2 mb-20" id="feedbackfs">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/feedback.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Feedback Tool
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <span style="display: none" id="student-translation">{{ 'Students'|trans }}</span>
              <span style="display: none" id="student-translation2">{{ 'student'|trans }}</span>
              <div id="feedback-desc">The feedback tool is used to generate and email feedback to {{ 'students'|trans }}. Feedback is attached to the<br/>{{ 'student'|trans }} email in a PDF document.</div>
              <div class="fb-title"><label for="template">Choose Template<div class="red f9">* email message</div></label></div>
              <div class="fb-opt">
          <select id="template" class="custom-select custom-select-sm w-auto">
              <option value="">--</option>
      {% for template in templates %}
              <option value="{{ template.template_id }}" {{ (selected_template is defined and template.template_id == selected_template) ? 'selected="selected' }}>
                  {{ template.template_name|raw }}
              </option>
      {% endfor %}
          </select> 
                  <input type="button" id="clone-template-button" class="btn btn-outline-warning btn-sm" value="clone" title="clone template" {{ selected_template is not defined ? 'disabled="disabled"' }}/>
                  <input type="button" id="edit-template-button" class="btn btn-outline-warning btn-sm"  value="edit" title="edit template" {{ selected_template is not defined ? 'disabled="disabled"' }}/>
                  <br class="clearv2"/>
              </div>
      
          <div id="feedback-opts">
          <div class="fb-title"><label for="exam">Choose {{ 'OSCE'|trans }}</label></div>
          <div class="fb-opt">
          <select id="term" class="custom-select custom-select-sm w-auto">
          {% for term in terms %}
              {% spaceless %}
                  <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}"
                      {{ (term.term_id == selectedTerm) ? 'selected="selected"' }}>
                      {{ term.term_id|raw }}
                  </option>
              {% endspaceless %}
          {% endfor %}
          </select>
          <select id="exam" class="custom-select custom-select-sm w-auto">
           <option value="">--</option>
      
          {% for school, departments in schools %}
      
            <optgroup class="school-label" label="{{ school|raw }}:">
      
            {% for exams in departments %}
      
              <optgroup class="department-label" label="~ {{ exams|first['dept_name']|raw }}">
      
              {% for exam_id, exam in exams %}
                 <option value="{{ exam_id|raw }}">{{ exam.exam_name|raw }}</option>
              {% endfor %}
      
              </optgroup>
      
            {% endfor %}
      
            </optgroup>
      
          {% endfor %}
      
          </select>
          </div>
      
          <div class="fb-title"><label for="session">Choose Day/Circuit</label></div>
          <div class="fb-opt">
          <select id="session" class="custom-select custom-select-sm w-auto">
             <option value="">All Days/Circuits</option>
          </select>
          </div>
          <div id='feedback-warning'></div>
          <div class="fb-title"><label>Choose to Include</label></div>
          <ul id="station-list">
              <li></li>
          </ul>
      
          <ul id="student-list">
              <li></li>
          </ul>
         <div class="fb-title2"><label>Choose to Include</label></div>
         <div class="fb-opt2">
          <div class="container-left">
          <div><input type="checkbox" id="score-text"{{ presets.feedback_score_text ? ' checked="checked"' }}/><label for="score-text">Score Item Text</label></div>
          <div><input type="checkbox" id="score-descs"{{ presets.feedback_score_descriptors ? ' checked="checked"' }}/><label for="score-descs">Score Item Descriptors</label></div>
          <div><input type="checkbox" id="score-values"{{ presets.feedback_score_values ? ' checked="checked"' }}/><label for="score-values">Score Item Values</label></div>
          <div class="important-highlighted-bottom important-highlighted-top auto-hide-option" data-option-name="weighted-items">
                <input type="checkbox" id="item-weightings"{{ presets.feedback_item_weighting ? ' checked="checked"' }} />
                <label for="item-weightings" title="Display item weighted scores when the 'Score Item' option is enabled.">
                    <span class="ul">Score Item</span> Weighting
                </label>
            </div>
          <div><input type="checkbox" id="non-score-text"{{ presets.feedback_nonscore_text ? ' checked="checked"' }}/><label for="non-score-text">Non-Score Item Text</label></div>
          <div><input type="checkbox" id="non-score-descs"{{ presets.feedback_nonscore_descriptors ? ' checked="checked"' }}/><label for="non-score-descs">Non-Score Item Descriptors</label></div>
          <div><input type="checkbox" id="non-score-values"{{ presets.feedback_nonscore_values ? ' checked="checked"' }}/><label for="non-score-values">Non-Score Item Values</label></div>          
          <div><input type="checkbox" id="scale-text"{{ presets.feedback_grs_text ? ' checked="checked"' }}/><label for="scale-text">{{ 'Rating Scale'|trans }} Item Text</label></div>
          <div><input type="checkbox" id="scale-descs"{{ presets.feedback_grs_descriptors ? ' checked="checked"' }}/><label for="scale-descs">{{ 'Rating Scale'|trans }} Item Descriptors</label></div>
        </div>
              
          <div class="container-right">
          <div><input type="checkbox" id="section-titles"{{ presets.feedback_section_titles ? ' checked="checked"' }}/><label for="section-titles">{{ 'form'|trans|title }} {{ 'section'|trans|title }} Titles</label></div> 
          <div class="auto-hide-option" data-option-name="examiner-comments"><input type="checkbox" id="comments"{{ presets.feedback_comments ? ' checked="checked"' }}/><label for="comments">Station {{ 'examiner'|trans|title }} Comments</label></div>
          <div><input type="checkbox" id="final-scores-raw"{{ presets.feedback_finalscore_raw ? ' checked="checked"' }}/><label for="final-scores-raw">Station Final Scores (Raw)</label></div>
          <div><input type="checkbox" id="final-scores"{{ presets.feedback_finalscore_percent ? ' checked="checked"' }}/><label for="final-scores">Station Final Scores (%)</label></div>
          <div class="important-highlighted-top auto-hide-option" data-option-name="weighted"><input type="checkbox" id="final-scores-weighted"{{ presets.feedback_finalscore_weighted ? ' checked="checked"' }}/><label for="final-scores-weighted" title="Display the final scores for each station after applying the corresponding {{ 'weightings'|trans }}">
                  Station Final Scores (<span class='red'>Raw {{ 'Weighted'|trans }}</span>)
              </label>
          </div>
          <div class="important-highlighted-bottom auto-hide-option" data-option-name="weighted"><input type="checkbox" id="final-scores-weighted-percent"{{ presets.feedback_finalscore_weighted_percent ? ' checked="checked"' }}/><label for="final-scores-weighted-percent" title="Display as a percentage the final scores for each station after applying the corresponding {{ 'weightings'|trans }}">
                Station Final Scores (<span class='red'>% {{ 'Weighted'|trans }}</span>)
             </label>
          </div>
          <div>&nbsp;</div>
          <div><input type="checkbox" id="radar-stations"{{ presets.feedback_radarplot_comparison ? ' checked="checked"' }}/><label for="radar-stations" title="Radar Plot to compare {{ 'student'|trans }} with overall group station averages">Stations Radar Plot (Comparison to Group)</label></div>
          
          {# Competency Framework Feature Enabled/Disabled #}
          {% if competency_framework_enabled %}
             <div class="auto-hide-option" data-option-name="competencies"><input type="checkbox" id="radar-competencies"{{ presets.feedback_radarplot_competency ? ' checked="checked"' }}/><label for="radar-competencies" title="{{ 'Competencies'|trans }} Radar Plot, {{ 'student'|trans }} performance per {{ 'Competency'|trans }}">{{ 'Competencies'|trans }} Radar Plot (If Any)</label></div>
          {% else %}
             <input type="hidden" id="radar-competencies" value=""/>
          {% endif %}
          
          <div class="auto-hide-option" data-option-name="multiple-examiners"><input type="checkbox" id="multi-examiners"{{ presets.feedback_multiexaminer_ratings ? ' checked="checked"' }}/><label for="multi-examiners" title="Click to include multi-{{ 'examiner'|trans }} ratings">Multi-{{ 'Examiner'|trans }} Ratings (If Any)</label></div>
          <div class="auto-hide-option" data-option-name="observer-ratings"><input type="checkbox" id="include-observers"{{ presets.feedback_observer_ratings ? ' checked="checked"' }}/><label for="include-observers" title="Include observers (Zero Weighting)">Observer Ratings (If Any)</label></div>
          <div class="auto-hide-option" data-option-name="notes"><input type="checkbox" id="station-notes"{{ presets.feedback_station_notes ? ' checked="checked"' }}/><label for="station-notes" title="Include station notes or instructions">Station Notes / Instructions (If Any)</label></div>
          <div class="auto-hide-option" data-option-name="notes"><input class="form-control form-control-sm w-auto" type="text" id="notes-title"{{ presets.feedback_station_notes == false ? ' disabled="disabled"' }} size="30" placeholder="notes title (optional).." value="{{ presets.feedback_notes_title|raw }}"/></div> 
        </div>
      
          <div class="container-left">
          <div>
          <input type="checkbox" id="exam-summary"{{ presets.feedback_summary ? ' checked="checked"' }}/><label for="exam-summary">{{ 'Exam'|trans }} Summary Table</label>
          <ul class="feedback-suboptions">
          <li><input type="checkbox" id="summary-scores"{{ presets.feedback_summary_scores ? ' checked="checked"' }}/><label for="summary-scores" class="italic">Scores</label></li>
          <li class="auto-hide-option" data-option-name="summary-grs"><input type="checkbox" id="summary-grs"{{ presets.feedback_summary_grs ? ' checked="checked"' }}/><label for="summary-grs" class="italic">{{ 'GRS'|trans }}</label></li>
          <li><input type="checkbox" id="summary-outcomes"{{ presets.feedback_summary_outcomes ? ' checked="checked"' }}/><label for="summary-outcomes" class="italic">Outcomes</label></li>
          <li><input type="checkbox" id="summary-score-overall"{{ presets.feedback_summary_overall_score ? ' checked="checked"' }}/><label for="summary-score-overall" class="italic">Overall Score</label></li>
          <li><input type="checkbox" id="summary-outcome-overall"{{ presets.feedback_summary_overall_outcome ? ' checked="checked"' }}/><label for="summary-outcome-overall" class="italic">Overall Outcome</label></li>
          </ul>
          </div>    
          </div>
              
          <div class="container-right"></div>
       
         </div>
         </div>
         <div class="fb-base">
            <input type="button" class="btn btn-outline-success btn-sm" id="feedback-button" value="generate feedback" disabled="disabled"/>
           </div> 
    </div>   
  </div> 
</div> 
    <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
{% if feedback_download_enabled %}
  <form action="tools/download_feedback.php" method="post">
{% endif %}
  <table id="feedback">
    <caption id="feedback-caption">
    {# Feedback Download Feature Enabled/Disabled #}
    {% if feedback_download_enabled %}
        <input type="hidden" name="download_feedback_exam" id="generated-feedback-exam-id" value=""/>
        <input type="hidden" name="download_feedback_session" id="generated-feedback-session-id" value=""/>
        <input type="submit" name="download_feedback" class="btn-sm btn-info" id="download-link" value="Download Feedback (.zip)" style="display: none"/>
    {% endif %}
    
    {# Validate email addresses true|false #}
    {% if validate_emails %}
        <input type="hidden" id="validate-emails" value="validate"/>
    {% endif %}
        
    {# Feedback Send Feature Enabled/Disabled #}
    {% if feedback_send_enabled %}       
        <input type="button" id="send-link" class="btn-sm btn-success" value="Email Feedback to {{ 'Students'|trans }}" style="display: none"/>
    {% endif %}
    </caption>
    <thead id="feedback-head">
        <tr>
            <th id="left-corner">&nbsp;</th>
            <th>#Nr</th>
            <th>Preview PDF</th>
            <th>{{ 'Student'|trans }} Name</th>
            <th>Email Address</th>
            <th>Email Template</th>
            <th>PDF Instructions</th>
            <th>Time Created</th>
            <th>Time Sent</th>
            <th id="right-corner" class="nbr">Feedback Status</th>
        </tr>
    </thead>
    <tbody id="feedback-body">
        <tr> 
            <td class="left-cells"></td>
            <td id="gen-status" colspan="10"></td>
        </tr>
    </tbody>
    </table>
{% if feedback_download_enabled %}    
    </form>
{% endif %}
  </div>