<div id="main-login">
<div class="loggedintable-container">
  <div class="loggedintable-wrap">
      <div class="p-2">Currently logged In</div>
    <table align="center" id="loggedintable">
      
      <tr>
        <td class="clihead">User Identifier</td>
        <td class="clidata">{{userID}} </td>
      </tr>
      <tr>
        <td class="clihead">Current Activity</td>
        <td class="clidata">
          {% if isManagement %}Administration/Management{% else %}Assessment{% endif %}
        </td>
        <td class="infotd2"></td>
      </tr>
      <tr>
        <td class="clihead">Current Time</td>
        <td class="clidata">{{"now"|date("F j, Y, g:i a")}}</td>
        <td class="infotd2"></td>
      </tr>
      <tr>
        <td class="clihead">Active Since</td>
        <td class="clidata">{{lastLogin|capitalize}}</td>
        <td class="infotd2"></td>
      </tr>
      <tr>
        <td class="clihead">Current {{termLabel}}</td>
        <td class="clidata">{{academicYear}}</td>
        <td class="infotd2"></td>
      </tr>
      <tr>
        <td class="clihead">System Version</td>
        <td class="clidata">{{release.version}}</td>
        <td class="infotd2"></td>
      </tr>
      <tr>
        <td align="right" colspan="2" class="buttontdv2">
          <form method="post" action="extra/initial.php">
            <input class="btn btn-danger" type="submit" name="logout" id="logout" value="log out" />
          </form>
          <form method="post" action="extra/initial.php">
            <input class="btn btn-success" type="submit" name="continue" id="continue" value="continue" />
          </form>
        </td>
        <td class="infotd2"></td>
      </tr>
    </table>
    
  </div>
  <br/><br/><br/>
</div>
</div>
