{# Log viewer template #}
<div class="topmain">
<div class="card d-inline-block align-top mr-2" id="feedbackfs">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Log Files
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      In this section you can see the actions taken by each user using the system.
    </div>   
  </div> 
</div> 
</div>
<div class="contentdiv">
 <div id="log-file-selector">
    <label>Choose Log file: </label>
    <select id="logfile">
      {% for id, file_name in log_files %}
          {% set currentLogFile = (id == 0) ? 'Current Log File' : 'archived' %}
          {% set selected = (select_logfile == id) ? ' selected="selected"': '' %}
          <option value="{{ id|raw }}" {{ selected|raw }}>{{ file_name|raw }} - {{ currentLogFile|raw }}</option>
      {% endfor %} 
    </select>
 </div>
 <p><b>{{ records|length }}</b> log entries found. Showing most recent log entries first.</p>
    <table class="table-border">
        <tr class="title-row">
            <th>IP Address</th>
            <th>Date</th>
            <th>Log Level</th>
            <th>User</th>
            <th class="nbr">Details</th>
        </tr>
{% for record in records|reverse %}
        <tr {% if loop.last %}class="nbbtr"{% endif %}>
            <td>
{{- record.ip|trim in ['::1', '127.0.0.1', 'localhost'] ? '(at server)' :  record.ip -}}
            </td>
            <td>{{ record.date }}</td>
            <td>
{%- if record.level is constant('\Analog::URGENT') -%}
    Urgent
{%- elseif record.level == constant('\Analog::ALERT') -%}
    Alert
{%- elseif record.level == constant('\Analog::CRITICAL') -%}
    Critical
{%- elseif record.level == constant('\Analog::ERROR') -%}
    Error
{%- elseif record.level == constant('\Analog::WARNING') -%}
    Warning
{%- elseif record.level == constant('\Analog::NOTICE') -%}
    Notice
{%- elseif record.level == constant('\Analog::INFO') -%}
    Information
{%- elseif record.level == constant('\Analog::DEBUG') -%}
    Debug
{%- else -%}
    (Unknown)
{%- endif -%}</td>
            <td>{{ record.user }}</td>
            <td class="nbr">{{ record.message|raw }}</td>
        </tr>
{% endfor %}
{% if records|length == 0 %}
   <td colspan="4" id="no-log-records">No log records found</td>
{% endif %}
  </table>
</div>