<div id="main-login">

  <form method="post" action="extra/initial.php" name="loginform" id="loginform"
    autocomplete="off">

    <div id="logintable" class="card">
      <div class="card-header">
          <div class="tcaption text-center">
              {{fieldsTitle}}
              <span class="red italic">{{release.version}}</span>
              <span>{{release.date}}</span>
              {% if clientLogoExists %}
              <img id="client-logo-login" src="storage/custom/images/client-logo-login.png" alt="clientlogo" title="Client Logo"/>
              {% endif %}
          </div>
      </div>

      <div class="card-body">
          <div class="form-group">
              <label for="id">
                  Identifier
              </label>
              <input type="text" name="id" id="id" value="{{sessionUserId}}"
              size="32" autocorrect="off" autocapitalize="off" class="form-control" />
          </div>

          <div class="form-group">
              <label for="password">
                  Password
              </label>
              <input type="password" name="password" id="password" size="32" class="form-control" />
          </div>

          <div class="form-group">
              <label for="todo">
                  First Action
              </label>
              <select id="todo" name="todo" class="form-control">
                  <option value="2">Perform {{examLabel}}</option>
                  <option value="1"
                    {% if manageDefault %}selected="selected"{% endif %}>
                    Admin / Manage {{examsLabel}}
                  </option>
                </select>
          </div>

          {% if error %}
          <div class="alert alert-danger text-center p-2" role="alert">
              {{error|raw}}
            </div>
          {% endif %}

          <div class="text-center" id="baselogintd">
              <input type="submit" name="login" id="login" value="log in" class="btn btn-success w-100" />
          </div>
          
      </div>

      <div class="card-footer" style="font-size:0.97em">
          {% for linkText, href in bottomRowOptions %}
          <a href="{{href}}" class="sec{{loop.index}}">{{linkText}}?</a>
        {% endfor %}
      </div>

    </div>

  </form>

  {% if ssoEnabled %}
    <div style="text-align: center; margin: 1em; margin-top: 3em;">
      <p style="color: #6e6e6e; font-size: 120%">or</p>
    </div>

    {% include 'storage/custom/templates/sso_form.html.twig' %}

  {% endif %}

</div>
