{# Description: Import/export stations tool template #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{% set exportTabSelected = (mode == 'export') ? ' id="tab-selected"' : '' %}
{% set importTabSelected = (mode == 'import') ? ' id="tab-selected"' : '' %}
{% set exportShowContent = (mode == 'export') ? ' class="show-content"' : '' %}
{% set importShowContent = (mode == 'import') ? ' class="show-content"' : '' %}

<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Import &amp; Export Assessment {{ 'forms'|trans|title }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      In this section you can import and export assessment {{ 'forms'|trans }} using the XML file format.
    </div>   
  </div> 
</div> 
</div>

<div id="contentdiv">
   
 {# Render emport panel #}
 <div id="tabs" class="mt-3">
  <div class="clear"></div>
  <ul>
    <li class="exporting" {{ exportTabSelected|raw }}><a href="javascript:void(0)">Export</a></li>
    <li class="importing" {{ importTabSelected|raw }}><a href="javascript:void(0)">Import</a></li>
  </ul>
 </div>
  
 <div id="tabs-content">

 <div id="exporting" {{ exportShowContent|raw }}>
 <form method="post" action="tools/export_stations.php" onsubmit="return ( $('dept-ex').value !== '');">
   <div id="downloader">
     <ul class="choose">
       <li>
           <label for="term-ex">Choose {{ 'Term'|trans }}</label>
           <select id="term-ex" class="custom-select custom-select-sm w-auto">
           {% for term in terms %}
               {% spaceless %}
                   <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}"
                           {{ (term.term_id == currentTerm) ? 'selected="selected"' }}>
                       {{ term.term_id|raw }}
                   </option>
               {% endspaceless %}
           {% endfor %}
          </select>
       </li>
       <li>
       <label for="dept-ex">Choose {{ 'Department'|trans }}</label>
       <select id="dept-ex" class="custom-select custom-select-sm w-auto">
         <option value="">--</option>

           {# Render schools departments in a dropdown #}
           {% for schoolName, departments in schools %}

               <optgroup label="{{ schoolName|raw }}">

                   {% for department in departments %}

                       {% set deptID = department['dept_id'] %}
                       {% set deptName = department['dept_name'] %}
                       <option value="{{ deptID|raw }}">{{ deptName|raw }}</option>

                   {% endfor %}

               </optgroup>

           {% endfor %}

     </select>
     </li>
     <li>
        <label>Choose {{ 'forms'|trans|title }}</label>
        <ul id="form-list">
          <li></li>
        </ul>
     </li>
     <li class="st-base">
        <input type="submit" id="export-button" name="export_stations" value="go" disabled="disabled" class="btn btn-outline-default btn-sm"/>
     </li>
    </ul>
   </div>
  </form>
</div>
     
{# Render import panel #}
<div id="importing" {{ importShowContent|raw }}>
 <div id="uploader">
 <form action="tools/upload_file.php" method="post" enctype="multipart/form-data">
  <ul class="choose">
  <li>
      <label for="term-im">Choose {{ 'Term'|trans }}</label>
      <select id="term-im" name="term" class="custom-select custom-select-sm w-auto">
          {% for term in terms %}
              {% spaceless %}
                  <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}"
                          {{ (term.term_id == currentTerm) ? 'selected="selected"' }}>
                      {{ term.term_id|raw }}
                  </option>
              {% endspaceless %}
          {% endfor %}
      </select>
  </li>
  <li>
  <label for="dept-im">Choose {{ 'Department'|trans }}</label>
  <select id="dept-im" name="dept" class="custom-select custom-select-sm w-auto">
    <option value="">--</option>

    {# Render schools departments in a dropdown #}
    {% for schoolName, departments in schools %}

        <optgroup label="{{ schoolName|raw }}">

        {% for department in departments %}

           {% set deptID = department['dept_id'] %}
           {% set deptName = department['dept_name'] %}
           <option value="{{ deptID|raw }}">{{ deptName|raw }}</option>

        {% endfor %}

       </optgroup>

    {% endfor %}

   </select>
   </li>

   <li>
     <label for="file" class="file-label">Choose Filename</label>
     <input type="file" name="file" id="file"/>
   </li>

   <li class="tar">
     <input type="submit" id="import-button" name="submit" value="Submit" disabled="disabled" class="btn btn-success btn-sm"/>
   </li>
  </ul>
 </form>
 
 {# Render import report #}
 {% if importReport|length > 0 %}
   <table id="tbi">
        
   {# Render import errors if any #}
   {% if importReport['error_list']|length > 0 %}
     {% for error in importReport['error_list'] %}
       <tr>
         <td>{{ error|raw }}</td>
       </tr>
     {% endfor %}
   
   {# Render imported forms #}
   {% else %}
     {% for form in importReport['imported_forms'] %}
        {% set formID = form['form_id'] %}
        {% set formName = form['form_name'] %}
        
        <tr>
          <td class="cell-1">Assessment {{ 'form'|trans }} '{{ formName|raw|title }}' was successfully imported</td>
          <td class="cell-2">
            <a href="javascript:void(0)" class="previewa" id="s-{{ formID|raw }}">
            <img class="previewbu" src="assets/images/preview.svg" alt="Preview station"/>
            </a>
          </td>
         </tr>
         
     {% endfor %}
  {% endif %}
  </table>
 {% endif %}
  </div>
 </div>
 </div>
</div>

