{# Description: Feedback tool template #}
{# Date: 07/06/2016 #}
{# Author: David Cunningham #}
{# © 2016 Qpercom Limited.  All rights reserved. #}
<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Swap Tool
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      The swap tool is used in cases where a student was mistakenly assessed with another student's <br/>
     name or the wrong student was added to a group (student with similar names etc).<br/><br/>
     Please avoid using this tool while an exam in progress or selected students are still being examined.<br/>
     Check <a href="manage.php?page=userlog_tool">user log files</a> for all previous swaps
    </div>   
  </div> 
</div> 
  <div class="topmain-clear"></div>
 </div>
<div class="contentdiv">
 
 {# Ooops, we have an error message #}
 {% if swap_status is iterable and swap_status['error'] == true %} 
    <div class="flashbox" id="flash-messages">
       <img src="assets/images/exclamation.png" alt="error" class="flash-icon" width="16" height="16"/>
       <div>{{ swap_status['message']|raw }}</div>
    </div>
 {% endif %}
 
 {# We have successfully swapped the students #}
 {% if swap_status is iterable and swap_status['error'] == false %}
    <div class="flashbox" id="flash-messages" style="background: #fff; border-color: #a0a0a0">
       <img src="assets/images/information.png" alt="information" class="flash-icon" width="16" height="16"/>
       <div>Swap has successfully taken place</div>
       
       {# 1 = exam swap type #}
       {# 2 = course swap type #}
       {# 3 = station swap type #}
       
       {% set swapOutData = swap_status['swapout'] %}
       {% set swapInData = swap_status['swapin'] %}
       {% set swapType = swap_status['swaptype'] %}
       {% set noBorderBottom = (swapType != 3) ? ' nbb' : '' %}
       {% set stationResultTitle = (swapType == 3) ? ' Result' : '' %}
       
       <div class="h6">
          Student{{ stationResultTitle }} Swapped OUT
       </div>
       <table id="swapped-out-table" class="table-border">
         <tr>
            <th>Name</th>
            <td class="nbr">{{ swapOutData['id']|raw ~ ' - ' ~ swapOutData['name']|decode_html_entities }}</td> 
         </tr>
         <tr>
            <th>Session</th>  
            <td class="nbr">{{ swapOutData['session']|decode_html_entities }}</td>
         </tr>
         
         
         <tr>
            <th>Group</th>  
            <td class="nbr{{ noBorderBottom }}">{{ swapOutData['group']|decode_html_entities }}</td>              
         </tr>
         
        {# 3 = station swap type #}
        {% if swapType == 3 %}
          <tr>
            <th>Station</th>
            <td class="nbr nbb">{{ swapOutData['station']|decode_html_entities }}</td>              
         </tr>  
        {% endif %}
         
       </table>
       
       <div class="h6">
          Student{{ stationResultTitle }} Swapped IN
       </div>
       <table id="swapped-in-table" class="table-border">
         <tr>
            <th>Name</th>
            <td class="nbr">{{ swapInData['id']|raw ~ ' - ' ~ swapInData['name']|decode_html_entities }}</td>
         </tr>
         
         {# 1 = exam swap type #}
         {# 3 = station swap type #}
         {% if swapType == 1 or swapType == 3 %}
         <tr>
            <th>Session</th>  
            <td class="nbr">{{ swapInData['session']|decode_html_entities }}</td>
         </tr>
         <tr>
            <th>Group</th>  
            <td class="nbr{{ noBorderBottom }}">{{ swapInData['group']|decode_html_entities }}</td>              
         </tr>
         
         {# 1 = course swap type #}
         {% elseif swapType == 2 %}
          <tr>
            <th>Course</th>  
            <td class="nbr">{{ swapInData['course']|decode_html_entities }}</td>
         </tr>
         <tr>
            <th>Year</th>  
            <td class="nbr{{ noBorderBottom }}">{{ swapInData['year']|decode_html_entities }}</td>              
         </tr>
         {% endif %}
         
        {# 3 = station swap type #}
        {% if swapType == 3 %}
          <tr>
            <th>Station</th>  
            <td class="nbr nbb">{{ swapInData['station']|decode_html_entities }}</td>              
          </tr>  
        {% endif %}         
         
       </table>       
          
    </div>
 {% endif %}
 
 <form method="post" action="tools/tools_redirect.php" id="swap-form" autocomplete="off">   
 {# Disable auto fill feature for password fields in Chrome #}
 <input style="display:none;" type="text" name="disable_chrome_autfill"/>
 <input style="display:none;" type="password" name="disable_chrome_autfill"/>
 
 <fieldset class="outerfs swapaction-fs">
  <legend>Action to Take</legend>
    <select class="custom-select custom-select-sm" id="swap-action" name="swap_action">
        {% set swapCourseType = (swap_action == 2) ? ' selected="selected"': '' %}
        {% set swapStationType = (swap_action == 3) ? ' selected="selected"': '' %}
        <option value="1">Swap students within an exam (includes results)</option>
        <option value="2"{{ swapCourseType }}>Swap student in from course/module</option>
        <option value="3"{{ swapStationType }}>Swap station results between students</option>
    </select>
 </fieldset>   
 
 <fieldset class="outerfs swapout-fs">
 
  {# Swap students within an exam #}
  {% if swap_action == 1 %}
     {% set legendTextIn = "Swap this Student" %}
     
  {# Swap student in from course/module #}   
  {% elseif swap_action == 2 %}
     {% set legendTextIn = "Swap OUT this Student" %}
    
  {# Swap station results betweeen students #}   
  {% elseif swap_action == 3 %}
     {% set legendTextIn = "Swap Station Result for this Student" %}
     
  {% endif %}
  
  <legend id="swap-out-legend">{{ legendTextIn }}</legend>
  <ul class="swapul">
    <li class="swapout mb-2">
      <label for="swapout-exam">Select OSCE</label>
      <select  class="custom-select custom-select-sm" id="swapout-exam">
        <option value="" class="black">--</option>
        
        {% set examCount = exams|length %}
        {% set groupDept = null %}
        {% for exam in exams %}
        
            {% set id = exam['exam_id'] %}
            {% set name = exam['exam_name'] %}
            {% set deptName = exam['dept_name'] %}
            {% set description = exam['exam_description'] %}
            
            {% if deptName != groupDept %}
                 {% if groupDept is not null %}
                    </optgroup>
                 {% endif %}
                 {% set groupDept = deptName %}
                  <optgroup label="{{ deptName|raw }}">
            {% endif %}
               
            {% set selected = (swapout_selected_exam == id) ? ' selected="selected"' : '' %}
            <option value="{{ id|raw }}" title="{{ description|raw }}"{{ selected|raw }}>{{ name|raw }}</option>

            {% if loop.index == examCount %}
                  </optgroup>
            {% endif %}
            
        {% endfor %}
        </select>		 
	</li>
        
        {% set disabledAttr = (swapout_sessions|length > 0) ? '' : ' disabled="disabled"' %}
	<li class="swapout mb-2">
            <label for="swapout-session">Select Session</label>
            <select class="custom-select custom-select-sm" id="swapout-session"{{ disabledAttr|raw }}>
              <option value="" class="black">--</option>
              {% for session in swapout_sessions %}
                  {% set session_id = session['session_id'] %}
                  {% set session_name = session['session_description'] ~ ' - ' ~ session['session_date']|date("d/m/Y") %}
                  {% set selected = (swapout_selected_session == session_id) ? ' selected="selected"' : '' %}
                  <option value="{{ session_id|raw }}"{{ selected|raw }}>{{ session_name|raw }}</option>	   
	      {% endfor %}                  
            </select>
        </li>
        
        {% set disabledAttr = (swapout_groups|length > 0) ? '' : ' disabled="disabled"' %}
	<li class="swapout mb-2">
            <label for="swapout-group">Select Group</label>
            <select class="custom-select custom-select-sm" id="swapout-group" name="swapout_group"{{ disabledAttr|raw }}>
              <option value="" class="black">--</option>
              {% for group in swapout_groups %}
                  {% set selected = (swapout_selected_group == group['group_id']) ? ' selected="selected"' : '' %}
                  <option value="{{ group['group_id']|raw }}"{{ selected|raw }}>{{ group['group_name']|raw }}</option>	   
	      {% endfor %}  
            </select>
        </li>

        {% set disabledAttr = (swapout_stations|length > 0) ? '' : ' disabled="disabled"' %}
        {% set displayAttr = (swap_action == 3) ? '' : ' style="display:none"' %}
	<li id="swap-station-li" class="swapout"{{ displayAttr|raw }}>
            <label for="swapout-station">Select Station</label>
            <select class="custom-select custom-select-sm" id="swapout-station" name="swapout_station"{{ disabledAttr|raw }}>
              <option value="" class="black">--</option>
              
              {% for num, scenarios in swapout_stations %}
                {% for scenario in scenarios %}
                   {% set selected = (swapout_selected_station == scenario['station_id']) ? ' selected="selected"' : '' %}
                   <option value="{{ scenario['station_id']|raw }}"{{ selected|raw }}>{{ num ~ ' - ' ~ scenario['form_name']|raw }}</option>	   
	        {% endfor %}
              {% endfor %}
            </select>
        </li>        
        
        {% set disabledAttr = (swapout_students|length > 0) ? '' : ' disabled="disabled"' %}
	<li class="swapout lisplit">
            <label for="swapout-student">Select Student</label>
            <select class="custom-select custom-select-sm" id="swapout-student" name="swapout_student"{{ disabledAttr|raw }}>
              <option value="" class="black">--</option>
              {% for student in swapout_students %}
                  {% set selected = (swapout_selected_student == student['student_id']) ? ' selected="selected"' : '' %}
                  {% set student_name = student['student_id'] ~ ' - ' ~ student['surname'] ~ ', ' ~ student['forename'] %}
                  <option value="{{ student['student_id']|raw }}"{{ selected|raw }}>{{ student_name|raw }}</option>
	      {% endfor %}                
            </select>
        </li>
   </ul>
 </fieldset>

  {# Swap students within an exam #}
  {% if swap_action == 1 %}
     {% set legendTextOut = "With this Student" %}
     
  {# Swap student in from course/module #}   
  {% elseif swap_action == 2 %}
     {% set legendTextOut = "Swap IN this Student" %}
    
  {# Swap station results betweeen students #}   
  {% elseif swap_action == 3 %}
     {% set legendTextOut = "With this Student" %}
     
  {% endif %}
  
 <fieldset class="outerfs swapin-fs">
  <legend id="swap-in-legend">{{ legendTextOut }}</legend>
  <ul class="swapul">
        {% set hideCourseOption = (swap_action != 2) ? ' style="display: none;"' : '' %}        
	<li class="swapin swap-from-course mb-2"{{ hideCourseOption|raw }}>
            <label for="swapin-course">Select Course</label>
	    <select class="custom-select custom-select-sm" id="swapin-course" name="swapin_course">
	      <option value="" class="black">--</option>		
              
              {% for course in courses %}
                  {% set id = course['course_id'] %}
                  {% set name = course['course_name'] %}
                  {% set selected = (swapin_selected_course == id) ? ' selected="selected"' : '' %}
                  <option value="{{ id|raw }}"{{ selected|raw }}>{{ name|raw }} - {{ id|raw }}</option>	   
	      {% endfor %}
              
	   </select>
	</li>
        
        {% set disabledAttr = (years|length > 0) ? '' : ' disabled="disabled"' %}
	<li class="swapin swap-from-course mb-2"{{ hideCourseOption|raw }}>
            <label for="swapin-year">Select Year</label>
            <select class="custom-select custom-select-sm" id="swapin-year" name="swapin_year"{{ disabledAttr|raw }}>
                <option value="" class="black">--</option>
                
              {% for year in years %}
                  {% set year_id = year['year_id'] %}
                  {% set year_name = year['year_name'] %}
                  {% set selected = (swapin_selected_year == year_id) ? ' selected="selected"' : '' %}
                  <option value="{{ year_id|raw }}"{{ selected|raw }}>{{ year_name|raw }}</option>	   
	      {% endfor %}
                
            </select>
        </li>
        
        {% set disabledAttr = (swapin_students|length > 0) ? '' : ' disabled="disabled"' %}
	<li class="swapin swap-from-course swapin-student-course mb-2"{{ hideCourseOption|raw }}>
            <label for="swapin-course-student">Select Student</label>
            <select class="custom-select custom-select-sm" id="swapin-course-student" name="swapin_course_student"{{ disabledAttr|raw }}>
               <option value="" class="black">--</option>
              {% for student in swapin_students %}
                  {% set selected = (swapin_selected_course_student == student['student_id']) ? ' selected="selected"' : '' %}
                  {% set student_name = student['student_id'] ~ ' - ' ~ student['surname'] ~ ', ' ~ student['forename'] %}
                  <option value="{{ student['student_id']|raw }}"{{ selected|raw }}>{{ student_name|raw }}</option>
	      {% endfor %}               
            </select>
        </li>
        
        {% set hideExamOption = (swap_action == 1 or swapin_sessions|length > 0) ? '' : ' style="display: none;"' %}
	<li id='swapin-session-li' class="swapin swap-from-exam mb-2"{{ hideExamOption|raw }}>
            <label for="swapin-session">Select Session</label>
            <select id="swapin-session" class="custom-select custom-select-sm">
              <option value="" class="black">--</option>
                
              {% for session in swapin_sessions %}
                  
                  {% set session_id = session['session_id'] %}
                  {% set session_name = session['session_description'] ~ ' - ' ~ session['session_date']|date("d/m/Y") %}
                  {% set selected = (swapin_selected_session == session_id) ? ' selected="selected"' : '' %}
                  <option value="{{ session_id|raw }}"{{ selected|raw }}>{{ session_name|raw }}</option>	   
	      {% endfor %}                
                
            </select>
        </li>
        
        {% set disabledAttr = (swap_action == 1 or swapin_groups|length > 0) ? '' : ' disabled="disabled"' %}
	<li id="swapin-group-li" class="swapin swap-from-exam mb-2"{{ hideExamOption|raw }}>
            <label for="swapin-group">Select Group</label>
            <select class="custom-select custom-select-sm" id="swapin-group" name="swapin_group"{{ disabledAttr|raw }}>
                <option value="" class="black">--</option>
                
              {% for group in swapin_groups %}
                  {% set selected = (swapin_selected_group == group['group_id']) ? ' selected="selected"' : '' %}
                  <option value="{{ group['group_id']|raw }}"{{ selected|raw }}>{{ group['group_name']|raw }}</option>	   
	      {% endfor %}                
                
            </select>
        </li>
               
        {% set disabledAttr = (swapin_students|length > 0) ? '' : ' disabled="disabled"' %}
        {% set hideExamStudentOption = (swap_action == 1 or swap_action == 3) ? '' : ' style="display: none;"' %}
	<li class="swapin swap-from-exam swapin-student mb-2"{{ hideExamStudentOption|raw }}>
            <label for="swapin-student">Select Student</label>
            <select class="custom-select custom-select-sm" id="swapin-student" name="swapin_exam_student"{{ disabledAttr|raw }}>
                <option value="" class="black">--</option>
                
              {% for student in swapin_students %}
                  {% set selected = (swapin_selected_exam_student == student['student_id']) ? ' selected="selected"' : '' %}
                  {% set student_name = student['student_id'] ~ ' - ' ~ student['surname'] ~ ', ' ~ student['forename'] %}
                  <option value="{{ student['student_id']|raw }}"{{ selected|raw }}>{{ student_name|raw }}</option>
	      {% endfor %}
              
            </select>
        </li>        
          
   </ul>
 </fieldset>
                       
 <div class="bottomdv"> 
   <div id="password-swap-div">
     <label for="swap-password" id="swap-password-label" class="bold">Enter password to continue</label>
     <input type="password" id="swap-password" name="swap_password" autocomplete="off" class="form-control form-control-sm w-auto d-inline-block" />
   </div>
   <input type="submit" value="swap students" id="swap-button" name="swap_students" disabled="disabled" class="btn btn-sm btn-success" />
 </div>
              
</form>    
</div>
