{# Template for tools/template_tool.php #}
<div class="content-template-form">
{% if not template_exists %}
    <div class="errordiv">Template does not exist, Please close dialog and select a different template</div>
{% else %}
    <form name="temp_update_form" id="temp_update_form" method="post" action="tools/tools_redirect.php" onsubmit="return(ValidateForm(this));">
    <div class="temp-container">
        <div class="temp-title">Template Name</div>
        <div class="temp-field">
        <input type="text" id="tempname" name="tempname" value="{{ orgname|raw }}" size="68" {% if not edit_mode %}readonly="readonly" class="read-only"{% endif %}/>
        </div>
        <div class="temp-title">Email CC (<span class="red">deactivated</span>)</div>
        <div class="temp-field cc-field">
            <input type="text" id="cc" name="cc" size="68" maxlength="320" placeholder=" email address (optional)" 
            value="{{ email_cc|raw }}" {% if not edit_mode %}readonly="readonly" class="read-only"{% endif %}/>
        </div>        
        <div class="temp-title">Email Subject</div>
        <div class="temp-field subject-field">
            <input type="text" id="ph-subject" value="[{{ 'Student'|trans }}_ID]" readonly="readonly" title="{{ 'Student'|trans }} ID place holder" size="12" {% if not edit_mode %}class="read-only"{% endif %}/>
            <input type="text" id="subject" name="subject" value="{{ subject|raw }}" size="51" maxlength="100" {% if not edit_mode %}readonly="readonly" class="read-only"{% endif %}/>
        </div>
        <div class="temp-title">Email Body</div>
        <div class="temp-field hello-div">
            <input type="text" id="hello" name="hello" value="{{ hello|raw }}" size="32" title="Hello field" {% if not edit_mode %}readonly="readonly" class="read-only"{% endif %}/>
            <input type="text" id="ph-hello" value="[Forenames] [Surname]" title="{{ 'Student'|trans }} name place holder" readonly="readonly" size="22" {% if not edit_mode %}class="read-only"{% endif %}/>
        </div>
        
    {# Email Body Content #}  
      <div class="rich-content-container">

      {% if edit_mode %}
                <textarea id="main-content" name="body_content" rows="10" cols="99">{{ body_content }}</textarea>
      {% else %}
                <div class="grooved-content-div">{{ body_content|raw }}</div>
      {% endif %}

    </div> 

    {# Failed/Passed Instructions Content #} 
     <div class="fl clearfix" style="margin-top: 20px">  
        <div class="temp-title" style="width:154px">Attach PDF Instructions</div>  
        <div id="instructions-state" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="red btn btn-sm 
                {{ edit_mode == false and instructions_enabled == 'no' ? ' btn-dark' : ' btn-outline-dark' }}
                {{ instructions_enabled == 'no' ? ' active' }}{{ edit_mode == false ? ' disabled' }}">
              <input type="radio" name="instructions_enabled" value="no" autocomplete="off"
                    {{ instructions_enabled == 'no' ? ' checked' }} {{ edit_mode == false ? ' disabled' }}>no
            </label>
            <label class="btn btn-sm 
                {{ edit_mode == false and instructions_enabled == 'yes' ? ' btn-dark' : ' btn-outline-dark' }}
                {{ instructions_enabled == 'yes' ? ' active' }}{{ edit_mode == false ? ' disabled' }}">
              <input type="radio" name="instructions_enabled" value="yes" autocomplete="off"
                   {{ instructions_enabled == 'yes' ? ' checked' }} {{ edit_mode == false ? ' disabled' }}>yes
            </label>
            <label class="btn btn-sm 
               {{ edit_mode == false and instructions_enabled == 'fail' ? ' btn-dark' : ' btn-outline-dark' }}
               {{ instructions_enabled == 'fail' ? ' active' }}{{ edit_mode == false ? ' disabled' }}">
              <input type="radio" name="instructions_enabled" value="fail" autocomplete="off"
                   {{ instructions_enabled == 'fail' ? ' checked' }} {{ edit_mode == false ? ' disabled' }}>fail grade only
            </label>
        </div>
       
        <div id="instruction-container" class="rich-content-container" {{ instructions_enabled == 'no' ? "style='display: none'" }}>      
            {% if edit_mode %}
                <textarea id="instructions-content" name="instructions_content" rows="10" cols="100">{{ instructions_content }}</textarea>
            {% else %}
                <div class="grooved-content-div">{{ instructions_content|raw }}</div>
            {% endif %}   
        </div>
        
    </div> 

    <div id="temp-base">
            <input type="hidden" id="template-id-edit" name="template" value="{{ template_id }}"/>
            <input type="hidden" id="edit_mode" value="{{ (edit_mode) ? 1 : 0 }}"/>
            <input type="hidden" id="orgname" name="orgname" value="{{ orgname|raw }}"/>
            <input type="hidden" name="template_submit" value="yes"/>
    {% if update_failed %}
                <div class="errordiv">Template update failed, please try again</div>
    {% endif %}
    {% if edit_mode %}
                <input type="button" id="temp-cancel" value="cancel" class="btn-sm btn-danger" />
                <input type="submit" id="temp-update" name="template_update" value="update template" class="btn-sm btn-success"/>
    {% else %}
                <input type="submit" id="temp-edit" name="template_edit" value="edit again" class="btn-sm btn-success"/>
                <input type="button" id="temp-cancel" value="close" class="btn-sm btn-danger"/>
    {% endif %}
    </div>
    </div>
  </form>
{% endif %}
</div>