{# Twig template for 'add' action of schools/ajx_departments.html #}
<td class="checkb">&nbsp;</td>
<td><input type="text" id="add_id" class="tf1 form-control form-control-sm"/></td>
<td><input type="text" id="add_deptname" class="tf6 form-control form-control-sm" /></td>
<td class="titleedit">&nbsp;</td>