{# Twig template for 'edit' action of schools/ajx_schools.php #}
{% import "helpers.twig" as helpers %}
<td class="checkb">&nbsp;</td>
<td>
    {% autoescape false %}
    <input type="hidden" id="school_id" value="{{ school.school_id }}"/>
    <input type="text" id="edit_schooldesc" value="{{ school.school_description }}" class="tf6 form-control form-control-sm"/>
    {% endautoescape %}
</td>
<td class="tal opacedit">
    <div>{{ helpers.renderDepartmentList(departments) }}<br/></div>
</td>
<td class="titleedit2">&nbsp;</td>