{# Twig template for 'edit' action of schools/ajx_departments.php #}
<td class="checkb">&nbsp;</td>
<td>
    <input type="text" id="edit_dept_id" value="{{ id }}" class="tf1 form-control form-control-sm"/>
    <input type="hidden" id="org_dept_id" value="{{ id }}"/>
</td>
<td>
    <input type="text" id="edit_deptname" value="{{- details.dept_name|decode_html_entities -}}" class="tf6 form-control form-control-sm"/>
</td>
<td class="titleedit2">&nbsp;</td>
