{# Twig template for 'add' action of schools/ajx_schools.php #}
<td class="checkb">&nbsp;</td>
<td>
    <input type="text" id="add_schooldesc" class="tf6 form-control form-control-sm"/>
</td>
<td>&nbsp;<br/></td>
<td class="titleedit">&nbsp;</td>