{# empty Twig template for course years list #}

{% if years[courseID]|length > 0 %}
  <div class="hasvalues">
  {% for year in years[courseID] %}
     {% set moduleCount = moduleCounts[year.year_id] %}
    <div>
       <span class="boldgreen">Year {{ year.year_name|raw }}</span> with
       <span class="boldred">{{ moduleCount|raw }}</span> {{ 'module'|trans|title }}{{ (moduleCount == 1) ? "" : "s" }}
    </div>
  {% endfor %}
  </div>
{% else %}
   <div class="nonedv">No {{ 'course'|trans }} years attached</div>
{% endif %}
<div class="tolink">
    <a class="btn-link" href="manage.php?page=manage_years&amp;crs={{ courseID|raw }}&amp;t={{ currentTerm|raw }}">Manage {{ 'course'|trans|title }} Years</a>
</div>