{# empty Twig template for manage_years.php section #}
{% import "helpers.twig" as helpers %}
<div class = "topmain">
  <div class="row">
    <div class="col-5">
        <div class="card d-inline-block align-top w-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Manage {{ 'Course Years'|trans }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                You can manage {{ 'course years'|trans }} in this section<br/><br/>
          {% if course|length > 0 %}
            <div class="fs-div"><span class="bold">{{ 'Term'|trans }}: </span>{{ term.term_desc|raw }} [<span class="boldgreen">{{ term.term_id|raw }}</span>]</div>
            <div class="fs-div"><span class="bold">{{ 'Course'|trans }}: </span>{{ course.course_name|raw }} [<span class="boldgreen">{{ course.course_id|raw }}</span>]</div>
          {% else %}
             <span class="red">The {{ 'course'|trans }} was not found in the system.
                 <br/>Please click the back button to return to the {{ 'course'|trans }} list section.</span> 
          {% endif %}
          <input type="hidden" id="chosen-term" value="{{ term.term_id|raw }}"/>
              </div>   
            </div> 
          </div> 
    </div>
    <div class="col-5">
        {% if course|length > 0 %} 
        <div class="divoptions">
            <input class="btn btn-sm btn-dark" type="button" id="returncy" value="Return to {{ 'Course'|trans }} List" />
        </div> 
        {% endif %}
    </div>
  </div>

<div class="topmain-clear"></div>
</div>
<div class="contentdiv">
    
 {% if course|length > 0 %}
 <form name="crsyr_list_form" id="crsyr_list_form" method="post" action="schools/schools_redirect.php" onsubmit="return(ValidateForm(this))">
 <table id="crsyr_table" class="table-border">
 <tr id="title-row" class="title-row">
   <td class="all-checkbox-td">
	<input type="checkbox" id="check-all"{% if years|length == 0 %} disabled="disabled"{% endif %}/>
	<input type="hidden" id="crs" name="crs" value="{{ course.course_id|raw }}"/>
   </td>
   <th>{{ 'Course Year'|trans }}</th>
   <th>{{ 'Course Year Modules'|trans }}</th>
   <td class="title-edit-top">&nbsp;</td>
 </tr>

{% if years|length > 0 %}  
  {% for year in years %}
     {% set yearID = year.year_id %}
     {% set modules = yearModules[yearID] %}
     <tr id="crsyr_row_{{ loop.index }}" class="datarow">
       <td class="checkb">
	 <input type="checkbox" name="crsyr_check[]" id="crsyr-check-{{ loop.index }}" value="{{ yearID|raw }}"/>
       </td>
       <td class="c">{{ year.year_name|raw }}</td>
       <td class="tdpadd">
         {% include 'year_modules_list.html.twig' %}           
       </td>
       <td class="titleedit2">
         {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit') }}
       </td>
     </tr>
   {% endfor %}
                          
   <tr id="base-tr">
      <td colspan="4" class="base-button-options" id="base-button-td">
       <div class="fl">
          <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm w-auto"><option value="delete">delete from system</option></select>
          <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_crsyr" id="go-crsyr" disabled="disabled"/>
       </div>	
       <div class="fr" id="add-div">
          <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
          <input type="hidden" value="{{ years|length }}" name="count" id="count"/>
       </div>				
      </td>
   </tr>	
 {% else %}	  
   <tr id="first_crsyr_row">
     <td colspan="4" class="mess">
      <div id="crsyr_row_div" class="tablestatus2 tal">No {{ 'course years'|trans }} found, click the 'add' button below
          <br/>to add a new {{ 'course year'|trans }}</div>
      </td>
   </tr>
   <tr id="base-tr">
     <td colspan="4" class="base-button-options" id="base-button-td">	
      <div class="fr" id="add-div">
         <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
      </div>			 
     </td>
   </tr>
{% endif %}
 </table>
</form>
{% endif %}  
</div>