{# empty Twig template for manage_courses.php section #}
{% import "helpers.twig" as helpers %}
<div class="topmain">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Manage {{ 'Student'|trans }} {{ 'Courses'|trans }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                You can manage {{ 'student'|trans }} {{ 'courses'|trans }} in this section<br/>
              </div>   
            </div> 
          </div> 
    </div>
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/Filter.svg" class="card-title-icon">
                  <span class="card-title-text">
                    Filter List
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="filter">
                  <li>
                   <label for="select-term">{{ 'Term'|trans }} </label>
                    <select id="select-term" class="custom-select custom-select-sm w-auto">
                      {% for term in terms %}
                          {% spaceless %}
                              <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}" {{ (term.term_id == currentTerm) ? 'selected="selected"' }}>
                                  {{ term.term_id|raw }}
                              </option>
                          {% endspaceless %}
                      {% endfor %}
                     </select>
                  </li>
                </ul>
              </div>   
            </div> 
          </div> 
    </div>
  </div>



  <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
{% for school, courses in coursesGrouped %}    
<div class="h6">
    {{ school|raw }}
</div>
<table class="table-border specialty">
 <tr class="title-row">
   <th class="squeeze-cell">{{ 'Course ID'|trans }}</th>
   <th>{{ 'Course Name'|trans }}</th>
   <th class="squeeze-cell nbr">{{ 'course'|trans|title }} Years</th>
 </tr>
   {% for course in courses %}
      {% set courseID = course.course_id %}

      <tr class="datarow{{ loop.last ? " nbbtr" }}">
         
         <td class="squeeze-cell c">{{ courseID|raw }}</td>	
         <td>&nbsp;{{ course.course_name|raw }}&nbsp;</td>
         <td class="tdpadd nbr squeeze-cell">
            {% include 'course_years_list.html.twig' %}
         </td>
         
      </tr>
   {% endfor %}   
  </table>
 {% endfor %}
 
 {% if coursesGrouped|length == 0 %}
    No {{ 'courses'|trans }} found in system
 {% endif %}
 
</div>