{# empty Twig template for manage_modules.php section #}
{% import "helpers.twig" as helpers %}

<div class="topmain">
<div class="row">
  <div class="col-5">
      <div class="card d-inline-block align-top w-100">
          <div class="card-header">
            <div class="card-title h6 mb-0">
              <div class="row no-gutters align-items-center">
                <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                <span class="card-title-text">
                  Manage {{ 'Year Modules'|trans }}
                </span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-text">
              You can manage {{ 'modules'|trans }} linked to {{ 'course years'|trans }} in this section<br/><br/>
             {% if year|length > 0 %}
                 <div class="fs-div"><span class="bold">{{ 'Term'|trans }}: </span>{{ term.term_desc|raw }} [<span class="boldgreen">{{ term.term_id|raw }}</span>]</div>
                 <div class="fs-div"><span class="bold">{{ 'Course'|trans }}: </span>{{ year.course_name|raw }} [<span class="boldgreen">{{ year.course_id|raw }}</span>]</div>
                 <div class="fs-div"><span class="bold">{{ 'Course Year'|trans }}: </span>{{ year.year_name|raw }}</div>
             {% else %}
                 <span class="red">The {{ 'course year'|trans }} was not found in the system.<br/>
                   Please click the back button to return to the {{ 'course years'|trans }} section.
                 </span>
             {% endif %}
             <input type="hidden" id="chosen-term" value="{{ term.term_id|raw }}"/>
            </div>   
          </div> 
        </div> 
  </div>
  <div class="col-5">
      {% if year|length > 0 %}
        <div class="divoptions">
          <input type="button" id="returncym" value="Return to {{ 'Course Year'|trans }} List" class="btn btn-sm btn-dark"/>
        </div>
      {% endif %}
  </div>
</div>
     


<div class="topmain-clear"></div>
</div>
<div class="contentdiv">
{% if year|length > 0 %}
<form name="cmod_list_form" id="cmod_list_form" method="post" action="schools/schools_redirect.php" onsubmit="return(ValidateForm(this))">
 <table id="cmod_table" class="table-border">
   <tr id="title-row" class="title-row">
     <td class="all-checkbox-td">
        <input type="checkbox" id="check-all"{{ modules|length == 0 ? ' disabled="disabled"' : '' }}/>
        <input type="hidden" id="crsyr" name="crsyr" value="{{ year.year_id|raw }}"/>
        <input type="hidden" id="crs" name="crs" value="{{ year.course_id|raw }}"/>
     </td>
     <th>{{ 'Module ID'|trans }}</th>
     <th>{{ 'Module Name'|trans }}</th>
     <td class="title-edit-top">&nbsp;</td>
   </tr>
    
   {% for module in modules %} 
      <tr id="cmod_row_{{ loop.index }}" class="datarow">
	 <td class="checkb">
	   <input type="checkbox" name="cmod_check[]" id="cmod-check-{{ loop.index }}" value="{{ module.module_id|raw }}"/>
	 </td>
	 <td class="c">{{ module.module_id|raw }}</td>
         <td class="tdpadd2">{{ module.module_name|raw }}</td>
	 <td class="titleedit2">
            {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit') }}
	 </td>
       </tr>
   {% endfor %}

   {% if modules|length > 0 %} 
     
     <tr id="base-tr">
	<td colspan="4" class="base-button-options" id="base-button-td">
	   <div class="fl">
	      <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm w-auto">
                   <option value="delete">remove from year</option>
              </select>
	      <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_modules" id="go-cmod" disabled="disabled"/>
	   </div>	
           <div class="fr" id="add-div">
               <input type="button" value="add +" id="add" class="btn btn-success btn-sm"/>
               <input type="hidden" value="{{ modules|length }}" name="count" id="count"/>
           </div>				
        </td>
     </tr>	
	  
    {% else %}
     
    <tr id="first_cmod_row">
      <td colspan="4" class="mess">
	     <div id="cmod_row_div" class="tablestatus2 tal">
        No {{ 'modules'|trans }} found for this {{ 'course year'|trans }}, click the 'add' button below
        <br/>to add a new {{ 'module'|trans }}
       </div>
     </td>
    </tr>
    <tr id="base-tr">
       <td colspan="4" class="base-button-options" id="base-button-td">	
         <div class="fr" id="add-div">
             <input type="button" value="add +" id="add" class="btn btn-success btn-sm"/>
         </div>			 
       </td>
    </tr>
    
    {% endif %}
 </table>
</form>
{% endif %}
</div>
