{# Twig template for schools/manage_departments.php #}
{% import "helpers.twig" as helpers %}
{% set departmentLabel = 'Department'|trans %}
{% set departmentsLabel = 'Departments'|trans %}
<div class="topmain">

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
                <div class="card d-inline-block align-top w-100 h-100">
                        <div class="card-header">
                            <div class="card-title h6 mb-0">
                                <div class="row no-gutters align-items-center">
                                    <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                                    <span class="card-title-text">
                                    Manage {{ departmentsLabel }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    <div class="card-body">
                        <div class="card-text">
                        You can manage {{ departmentsLabel|lower }} on this page
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-auto">
                <div class="card d-inline-block align-top w-100 h-100">
                        <div class="card-header">
                                    <div class="card-title h6 mb-0">
                                        <div class="row no-gutters align-items-center">
                                            <img src="assets/images/Filter.svg" class="card-title-icon">
                                            <span class="card-title-text">
                                            Filter List
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <div class="card-body">
                    
                                <div class="card-text">
                                        <div class="form-row align-items-center">
                            <div class="col">
                            <label for="select">By {{ 'school'|trans|title }}</label>
                            </div>
                            <select id="select" name="select" class="w-auto custom-select custom-select-sm">
                                <option value="" class="black">--</option>
                    {% for school in schools %}
                        {% spaceless %}
                                <option value="{{- school.school_id -}}"{{ school.school_id == selected_school_id ? ' selected="selected"' }}>
                                    {{ school.school_description|raw }}
                                </option>
                        {% endspaceless %}
                    {% endfor %}
                            </select>
                            </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

</div>
<div class="contentdiv">
<form name="dept_list_form" id="dept_list_form" method="post" action="schools/schools_redirect.php" onsubmit="return(ValidateForm(this));">
    <table id="dept_table" class="table-border">
        <tr id="title-row" class="title-row">
            <td class="all-checkbox-td">
                <input type="checkbox" id="check-all"{{- departments|length == 0 ? ' disabled="disabled"' -}}/>
            </td>
            <th>
                Identifier
            </th>
            <th id="dept-name-title">
                {{ departmentLabel }} Name
            </th>
            <td class="title-edit-top">&nbsp;</td>
        </tr>
{% if selected_school_id is empty %}
        <tr id="first_dept_row">
            <td colspan="4" class="mess2">
                <div id="dept_row_div" class="tablestatus1">Please select a {{ 'school'|trans }} from the filter list above</div>
            </td>
        </tr>
{% else %}
    {% for department in departments %}
        <tr id="dept_row_{{- loop.index -}}" class="datarow">
            <td class="checkb">
                <input type="checkbox" name="dept_check[]" id = "dept-check-{{- loop.index -}}" value = "{{ department.dept_id|raw }}" />
            </td>
            <td class="c">{{ department.dept_id|raw }}</td>
            <td>&nbsp;{{- department.dept_name|decode_html_entities -}}&nbsp;</td>
            <td class="titleedit2">{{- helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit') -}}</td>
        </tr>
    {% endfor %}
    
    {% if departments|length > 0 %}
        <tr id="base-tr">
            <td colspan="4" class="base-button-options" id="base-button-td">
                <div class="fl">
                    <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
                        <option value="delete">delete from system</option>
                    </select>
                    <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_dept" id="go-dept" disabled="disabled"/>
                    <input type="hidden" value="{{-  selected_school_id -}}" name="selschool"/>
                </div>
                <div class="fr" id="add-div">
                    <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
                    <input type="hidden" value="{{- departments|length -}}" name="count" id="count"/>
                </div>
            </td>
        </tr>
    {% else %}
        <tr id="first_dept_row">
            <td colspan="4" class="mess">
                <div id="dept_row_div" class="tablestatus2">No {{ 'departments'|trans }} found, click the 'add' button below</div>
            </td>
        </tr>
        <tr id="base-tr">
            <td colspan="4" class="base-button-options" id="base-button-td">
                <div class="fr" id="add-div">
                    <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm" />
                </div>
            </td>
        </tr>
    {% endif %}
{% endif %}
    </table>
</form>
</div>