{# empty Twig template for manage_courses.php section #}
{% import "helpers.twig" as helpers %}
<div class="topmain">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Manage {{ 'Student'|trans }} {{ 'Courses'|trans }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                You can manage {{ 'student'|trans }} {{ 'courses'|trans }} in this section<br/>
              </div>   
            </div> 
          </div> 
    </div>
    <div class="col-auto">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/Filter.svg" class="card-title-icon">
                  <span class="card-title-text">
                    Filter List
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul class="filter">
                 <li>
                   <label for="select-term">{{ 'Term'|trans }} </label>
                   <select id="select-term" class="custom-select custom-select-sm w-auto">
                       {% for term in terms %}
                           {% spaceless %}
                               <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}" {{ (term.term_id == currentTerm) ? 'selected="selected"' }}>
                                   {{ term.term_id|raw }}
                               </option>
                           {% endspaceless %}
                       {% endfor %}
                   </select>
                 </li>
                </ul>
              </div>   
            </div> 
          </div> 
    </div>
  </div>

  <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
<form name="crs_list_form" id="crs_list_form" method="post" action="schools/schools_redirect.php" onsubmit="return(ValidateForm(this))">
<table id="crs_table" class="table-border">
 <tr id="title-row" class="title-row">
    <td class="all-checkbox-td">
      <input type="checkbox" id="check-all"{{ courses|length == 0 ? ' disabled="disabled"' : '' }}/>
    </td>
   <th>{{ 'Course ID'|trans }}</th>
   <th>{{ 'Course Name'|trans }}</th>
   <th>{{ 'course'|trans|title }} Years</th>
    <td class="title-edit-top">&nbsp;</td>
 </tr>
   {% for course in courses %}
      {% set courseID = course.course_id %}

      <tr id="crs_row_{{ loop.index }}" class="datarow">
        
          <td class="checkb">
            <input type="checkbox" name="crs_check[]" id="crs-check-{{ loop.index }}" value="{{ courseID|raw }}"/>
          </td>
   
         <td class="c">{{ courseID|raw }}</td>	
         <td>&nbsp;{{ course.course_name|raw }}&nbsp;</td>
         <td class="tdpadd">
            {% include 'course_years_list.html.twig' %}
         </td>
    
          <td class="titleedit2">
            {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit') }}
          </td>
 
      </tr>
      
  {% endfor %}
    {% if courses|length > 0 %}
     <tr id="base-tr">
       <td colspan="5" class="base-button-options" id="base-button-td">
         <div class="fl">
            
            <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm w-auto">
                <option value="delete">delete from system</option>
            </select>
            <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_crs" id="go-crs" disabled="disabled"/>
         </div>
         <div class="fr" id="add-div">
             <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
             <input type="hidden" value="{{ courses|length }}" name="count" id="count"/>
         </div>
       </td>
     </tr>
   {% else %} 
    <tr id="first_crs_row">
      <td colspan="5" class="mess">
        <div id="crs_row_div" class="tablestatus2">
           No {{ 'student'|trans }} {{ 'courses'|trans }} found, click the 'add' button below to add a new {{ 'course'|trans }}
        </div>
      </td>
    </tr>
    <tr id="base-tr">
       <td colspan="5" class="base-button-options" id="base-button-td">
          <div class="fr" id="add-div">
              <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
          </div>
       </td>
    </tr>
   {% endif %}
  </table>
</form>
</div>
