{# Twig template for schools/manage_schools.php #}
{% import "helpers.twig" as helpers %}
<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Manage {{ 'schools'|trans|title }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      You can manage {{ 'schools'|trans }} in this section<br/>
    </div>   
  </div> 
</div> 
    <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
<form name="school_list_form" id="school_list_form" method="post" action="schools/schools_redirect.php" onsubmit="return(ValidateForm(this))">
    <table id="school_table" class="table-border">
        <tr id="title-row" class="title-row">
            <td class="all-checkbox-td">
               {% if showEditFields %}
                <input type="checkbox" id="check-all" {{ (records|length == 0) ? 'disabled="disabled"' }}/>
               {% endif %}
            </td>
            <th>{{ 'school'|trans|title }} Name</th>
            <th>{{ 'Departments'|trans }}</th>
            <td class="title-edit-top">&nbsp;</td>
        </tr>
{% for record in records %}
        <tr id="school_row_{{ loop.index }}" class="datarow">
            <td class="checkb">
            {% if showEditFields %}
                <input type="checkbox" name="school_check[]" id="school-check-{{ loop.index }}" value="{{- record.school.school_id -}}" />
            {% endif %}
            </td>
            <td>&nbsp;
                <a class="btn-link" href="manage.php?page=manage_departments&amp;select={{- record.school.school_id -}}" title="Click to manage {{ 'departments'|trans }} for this school.">{{ record.school.school_description|raw }}</a>
                &nbsp;
            </td>
            <td class="tdpadd">{{ helpers.renderDepartmentList(record.departments) }}<br/></td>
            <td class="titleedit2">
              {% if showEditFields == true %}
                {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit') }}
              {% endif %}
            </td>
        </tr>
{% endfor %}
{% if records|length > 0 %}
        <tr id="base-tr">
            <td colspan="4" class="base-button-options" id="base-button-td">
                <div class="fl">
                    {% if showEditFields %}
                      
                      <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
                         <option value="delete">delete from system</option>
                      </select>
                      <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_school" id="go-school" disabled="disabled" class="btn btn-outline-default btn-sm" />
                   {% endif %}
                </div>
                <div class="fr" id="add-div">
                   {% if showEditFields %}
                     <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm" />
                   {% endif %}
                     <input type="hidden" value="{{ records|length }}" name="count" id="count" />
                </div>
            </td>
        </tr>
{% else %}
        <tr id="first_school_row">
            <td colspan="4" class="mess">
                <div id="school_row_div" class="tablestatus2">No {{ 'schools'|trans }} found, click the 'add' button below<br/>to add a new school</div>
            </td>
        </tr>
        <tr id="base-tr">
            <td colspan="4" class="base-button-options" id="base-button-td">
                {% if showEditFields %}
                <div class="fr" id="add-div">
                      <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm" />
                </div>
               {% endif %}
            </td>
        </tr>
{% endif %}
</table>
</form>
</div>
