{# empty Twig template for year modules list #}
{% if modules|length > 0 %}
     <dl class="year-modules">
       <dt>{{ modules|length }} {{ 'Module'|trans }}{{ (modules|length == 1) ? "" : "s" }}</dt>
        
       {% for module in modules %}
           <dd>{{ module.module_name|raw }} [<span class="boldgreen">{{ module.module_id|raw }}</span>]</dd>
       {% endfor %}
       
     </dl>
{% else %}
  <div class="nonedv">No {{'modules'|trans }} linked to this year</div>
{% endif %}
<div class="tolink">
   <a class="btn-link" href="manage.php?page=manage_modules&amp;crsyr={{ yearID|raw }}">Manage {{'Module'|trans }}s</a>
</div>