{# Twig template for "edit" action of admins/ajx_assist.php #}
{% autoescape false %}
<td class="checkb">&nbsp;<input type="hidden" id="org_user_id" value="{{ user.user_id }}"/></td>
<td><input type="text" id="edit_id" class="tf4 form-control form-control-sm" value="{{ user.user_id }}"/></td>
<td><input type="text" id="edit_sn" value="{{ user.surname }}" class="form-control form-control-sm" /></td>
<td><input type="text" id="edit_fn" class="tf4 form-control form-control-sm" value="{{ user.forename }}" /></td>
<td>
    <input type="text" id="edit_email" size="26" value="{{ user.email }}" class="form-control form-control-sm">
    <span class="boldgreen f10">leave blank if unknown</span>
</td>
<td>
    <input type="text" id="edit_mobile" value="{{ user.contact_number }}" class="form-control form-control-sm" />
    <span class="boldgreen f10">leave blank if unknown<br/>Must include country code</span>
</td>
 {% endautoescape %}
<td class="titleedit">&nbsp;</td>