{# Twig template for "add" action of admins/ajx_assist.php #}
<td class="checkb">&nbsp;</td>
<td><input type="text" id="add_id" class="tf4 form-control form-control-sm"/></td>
<td><input type="text" id="add_sn" class="form-control form-control-sm" /></td>
<td><input type="text" id="add_fn" class="tf4 form-control form-control-sm" /></td>
<td>
    <input type="text" id="add_email" class="form-control form-control-sm" size="26">
    <span class="boldgreen f10">leave blank if unknown</span>
</td>
<td>
    <input type="text" id="add_mobile" class="form-control form-control-sm" />
    <span class="boldgreen f10">leave blank if unknown<br/>
    Must include country code</span>
</td>
<td class="titleedit">&nbsp;</td>
