{% extends "student_list.html.twig" %}

{% block student_list_buttons %}
  <input type="submit" id="retest" name="retest" title="Update {{ 'assessment'|trans }}" disabled="disabled" value="Update Result"/>
{% endblock %}

{% block after_list %}
    {% if (hasAbsent) %}
      <div class="absentdiv">* absent {{ 'student'|trans }}</div>
    {% endif %}
{% endblock %}