{# Twig template for /assess/student_lists.php #}
<form id="{{ list_type }}-form" method="{{ form_method }}" action="assess.php">
    <tr>
        <td class="student-list-td" id="student-list-td-{{ list_type }}" colspan="3">

            {% set mobileStyle = "" %}
            {% if is_mobile %}
                {% set mobileStyle = "margin-bottom: 14px;" %}
            {% endif %}
            {% if is_mobile and list_type == "toassess" %}
                {% set mobileStyle = mobileStyle ~ "margin-top: 32px;" %}
            {% endif %}

            <fieldset class="fssel" style="{{ mobileStyle }}">
                <input type="hidden" name="p" value="{{- next_page -}}"/>
                <legend>
                    {{ legend }}
                </legend>

                {% set hasAbsent = false %}
                <ul class="student-selection-list {{ list_type }}-selection-list">
                    <div style="padding: 4px; color: #848484; display: none">NONE</div>
                    {% for student in students %}
                        {% set idSeparated = student.surname|length > 0 or student.forename|length > 0 ?  " - " : "" %}
                        {% set nameSeparated = student.surname|length > 0 and student.forename|length > 0 ? ", " : "" %}
                        {% set blank = ((student.blank is defined) and (student.blank == 1)) %}
                        {% set absent = ((student.absent is defined) and (student.absent == 1)) %}
                        {% if (absent) %}
                            {% set hasAbsent = true %}
                        {% endif %}
                        <li class="li-student{{ (select_first and loop.first) ? ' student-highlight' }}">
                            <div>
                                <div style="margin-left: 6px; max-width: 30px; max-height: 30px; overflow: hidden; border-radius: 50%; padding: 0;" >
                                    <img class="student-thumbnail" src="{{ student.thumbnail_src }}" />
                                </div>
                            </div>
                            <div class="student-selection-student">
                                <label class="{{ blank ? 'orange'}}{{ absent ? 'absent'}}" for="student-{{ blank ? 'blank::' -}}{{- student.student_id -}}">
                                    {% if blank %}
                                        {% set studentID = "" %}
                                        {% set studentName = "BLANK " ~ 'student'|trans|upper %}
                                    {% elseif student_number == constant('EXAM_NUMBER_TYPE') %}
                                        {% if student.exam_number is empty %}
                                            {% set studentID = student.student_id %}
                                            {% set studentName = "No Exam Number Assigned - " %}
                                        {% else %}
                                            {% set studentID = student.exam_number %}
                                            {% set studentName = "" %}
                                        {% endif %}
                                    {% elseif student_number == constant('CANDIDATE_NUMBER_TYPE') %}
                                        {% if student.candidate_number is empty %}
                                            {% set studentID = idSeparated ~ "No Candidate Number Assigned" %}
                                            {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
                                        {% else %}
                                            {% set studentID = idSeparated ~ student.candidate_number %}
                                            {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
                                        {% endif %}
                                    {% else %}
                                        {% set studentID = idSeparated ~ student.student_id %}
                                        {% set studentName = (student.surname ~ nameSeparated ~ student.forename) %}
                                    {% endif %}

                                    {{- absent ? '* ' -}}{{- studentName|raw -}}
                                    {{- studentID|raw -}}
                                </label>
                            </div>
                            <div>
                                <input class="student-{{ multiple_selection ? 'check' : 'radio' }} {{ list_type }}-input student-input" type="{{ multiple_selection ? 'checkbox' : 'radio' }}"
                                       data-list-type="{{ list_type }}"
                                       name="{{ list_type }}[]"
                                       value="{{ blank ? 'blank::' -}}{{- student.student_id -}}"
                                       id="student-{{ blank ? 'blank::' -}}{{- student.student_id -}}" {{ (select_first and loop.first) ? ' checked="checked"' }}/>
                                <label><i class="material-icons student-check-icon">done</i></label>
                            </div>
                        </li>
                    {% else %}
                        <li class="student-selection-empty">
                            NONE
                        </li>
                    {% endfor %}
                </ul>

                {% block after_list %}{% endblock %}

                <div data-list-type="{{ list_type }}" class="student-list-buttons" style="visibility: {{ (select_first) ? 'visible' : 'hidden' }}">
                    {% block student_list_buttons %}
                    {% endblock %}
                </div>
            </fieldset>
        </td>
    </tr>
</form>
