{% extends "student_list.html.twig" %}

{% block student_list_buttons %}
  <input type="hidden" id="multiple_candidate" value="{{- multiple_candidate ? 'true' : 'false' -}}" />
  {% spaceless %}
    <input type="button" id="absentb" class="btn bnt-sm btn-danger-i" name="absentb" title="Mark {{ 'student'|trans }} as absent" value="Absent"
      {% if (students|length == 0) %} disabled="disabled"{% endif %}/>
    <input type="submit" id="dotest" class="btn bnt-sm btn-success-i" name="dotest" title="{{ 'examine'|trans|title }}" value="{{ 'examine'|trans|title }}" 
      {% if (students|length == 0) %} disabled="disabled"{% endif %}/>
  {% endspaceless %} 
{% endblock %}