{% extends "student_list.html.twig" %}

{% block student_list_buttons %}
  <input type="button" id="discard" name="discard"
    title="Discard incomplete result" disabled="disabled" value="Discard"/>
  <input type="submit" id="complete" name="complete"
    title="Continue with {{ 'assessment'|trans }}" disabled="disabled"
    value="Complete"/>
{% endblock %}