 <div class="q-footer" style="background-image: url(assets/images/{{skin.bg_footer}});"></div>
<div id="bottom{{ loginScreen ? '-login' }}" class="footer">
  <div class="shadow-sm py-2">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <div id="privacy-terms">
            <a rel="noopener noreferrer" href="http://www.qpercom.com/privacy-policy-product-websites" target="_blank">Privacy</a>&nbsp;
            <a rel="noopener noreferrer" href="http://www.qpercom.com/terms-product-websites" target="_blank">Terms</a>
          </div>
        </div>
        <div class="col text-right">
          <div class="copywrite f14"><span class="f13">Powered By &copy;</span> Qpercom Ltd  {{ "now"|date('Y') }}</div>
        </div>
      </div>
      </div>
  </div>
</div>
