{# Twig template for layout/top.php #}
 </div> 

<div class="header-right">
    <ul class="navbar-nav align-items-center navbar-expand navbar-default right-background" style="background-image: url(assets/images/{{skin.bg_header|raw}});">
        {# If user is super admin then show instance name #}
        {% if user.roleSuperAdmin is defined and user.roleSuperAdmin == true %}
         <li>
            <div class="badge badge-info m-2 d-none d-lg-block client-block" style="color: {{ clientNameColour.colour|raw }};"> {{ clientName|raw }}</div>
         </li>
          {% if user.roleName == 'Super Admin' %}
            {% if page == 'main' %}
              {% if enabled %} 
                <div hidden> 
                  <a localhost}}</a>
                  <a id="clientCode">{{clientCode|raw}}</a> 
                  <a id="clientName">{{name}}</a> 
                  <a id="mode">{{mode|raw}}</a> 
                  <a id="user">{{user.id|raw}}</a> 
                </div> 
                <div hidden> 
                  <iframe src="http://localhost:8083/Database/login.php" id="notificationFrame" style="width:0; height:0; border:0; border:none;"></iframe> 
                </div> 
                <li class="nav-item dropdown dropdown-default notification-drop" id="notificationButton">
                  <a href="#" class="nav-link dropdown-toggle notification-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-bell fa-2x" id="bell">
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" style="min-width: 240px">
                    <table border="0" style="border-collapse: collapse; border:none">
                      <tbody id="dropdown"></tbody>
                    </table>
                  </ul>
                </li>
              {% endif %}
            {% endif %}   
          {% endif %}   
        {% endif %}
        {% if user.id is defined and user.id|length > 0 %}
           <li class="nav-item dropdown dropdown-default user-drop">
                <a href="#" class="nav-link dropdown-toggle user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="user-loginfo" title="{{ user.name|raw }} [{{ user.roleName|raw }}]">
                    {{ user.name|raw|slice(0, 1)|upper}}{% if user.name|raw|split(' ')|length > 1 %}{{ user.name|raw|split(' ')|last|slice(0, 1)|upper}}{% endif %}
                    </span>
                </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="/manage.php?page=account">
                      Change password
                    </a>
                </li>
                <li>
                    <a href="extra/initial.php?logout=lt" class="btn btn-logout" title="Logout from {{ systemName.short|raw }}">Logout</a>
                </li>
                <li title="{{ release.date|raw }}" class="release-version">
                    <span>{{ systemName.short|raw }}</span>
                    <span class="version-colour">{{ release.version|raw }}</span>
                </li>
              </ul>
                    </li>
         {% else %}
           <li class="q-currentdate">
             {{ currentDate|raw }}
           </li>
         {% endif %}
        </ul>

</div>
 
 </div>
</div>

<div class="fc"> 
<noscript>
<span class="bold">
  Javascript is disabled on this browser. In order for this site to work javascript needs to be enabled<br/>
  <a target="_blank" href="http://www.enable-javascript.com/">See Javascript guide?</a>
</span>
</noscript>
</div>
