{# Twig template for layout/top_login.php #}
<div id="top-login" class=" border-bottom">
<div class="topimagediv">
  <div class="innerimgdiv">
    <div class="container-fluid">
        {# Title Colour Config Setting #}
        {% if ((skin.login.title_colour is defined) and (skin.login.title_colour | trim != '')) %}
        {% set titleColour = skin.login.title_colour %}
      {% else %}
        {% set titleColour = '#000000' %}
      {% endif %}   
      <div class="row no-gutters justify-content-between">
      <ul class="navbar-nav align-items-center navbar-expand navbar-default" id="navigation">
        <li class="navbar-brand ">
          <img id="q-icon-top-left" src="assets/images/{{ skin.icon_filename }}" alt="{{name.long}}" title="{{name.long}}"/>
        </li>
        <li id="login-screen-text" class="nav-brand">
          <a href="javascript:void(0)" style="color:{{titleColour}}">{{skin.login.title_text}}</a>
        </li>
      </ul>
      </div>
    </div>

</div>
</div>
<div class="fc"> 
    <noscript>
    <span class="bold">
        JavaScript is disabled on this browser. In order for this site to work JavaScript needs to be enabled<br/>
        <a target="_blank" href="http://www.enable-javascript.com/">See JavaScript guide?</a>
    </span>
    </noscript>
</div>
</div>
