{# Description: Twig template for "add" action of admins/ajx_admin.php #}
{# Date: 16/09/2015 #}
{# Author: David Cunningham #}
{# © 2015 Qpercom Limited.  All rights reserved. #}
{% import "helpers.twig" as helpers %}
<td class="checkb">&nbsp;</td>
<td><input type="text" id="add_id" class="tf4 form-control form-control-sm w-auto"/></td>
<td><input type="text" id="add_fn" class="tf3 form-control form-control-sm"/></td>
<td><input type="text" id="add_sn" class="tf2 form-control form-control-sm"/></td>
<td><input type="text" id="add_em" class="tf5 form-control form-control-sm" autocomplete="false"/></td>
{% include 'password_fields.html.twig' %}
<td>
    {{ helpers.selectRole('add_lvl', roles) }}
</td>
<td>&nbsp;</td>
<td>
    {{ helpers.selectEnableOrDisable('add_ac', true) }}
</td>
<td>&nbsp;</td>
<td class="titleedit2">&nbsp;</td>

