{# Description: Twig template for "edit" action of admins/ajx_admin.php #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}
{% import "helpers.twig" as helpers %}
<td class="checkb">&nbsp;</td>
{% autoescape false %}
<td>
    <input type="hidden" id="org_id" value="{{ user.user_id }}" />
    <input type="text" id="edit_id" class="tf4 form-control form-control-sm w-auto" value="{{ user.user_id }}" />
</td>
<td><input type="text" id="edit_fn" class="tf3 form-control form-control-sm" value="{{ user.forename }}" /></td>
<td><input type="text" id="edit_sn" class="tf2 form-control form-control-sm" value="{{ user.surname }}" /></td>
<td><input type="text" id="edit_em" class="tf5 form-control form-control-sm" value="{{ user.email }}" /></td>
{% endautoescape %}
{% include 'password_fields.html.twig' %}
<td>
    {{ helpers.selectRole('edit_lvl', roles, user.user_role) }}
</td>
<td>&nbsp;</td>
<td>
    {{ helpers.selectEnableOrDisable('edit_ac', (user.activated == 1)) }}
</td>
<td>&nbsp;</td>
<td class="titleedit">&nbsp;</td>