{# Twig template for import/ajx_data_import_step1.php #}
<td class="titlein" colspan="3">
    <label for="fieldQualifie_sel">Fields are Qualified by</label>
    <select id="fieldQualifie_sel" name="fieldQualifie_sel" class="custom-select custom-select-sm w-auto">
        <option class="black" value="">None</option>
        <option value="double">"</option>
        <option value="single">'</option>
    </select>
{% if source == 'custom' %}
    <br/><br/>
    <label for="customDelimiter">Specify the delimiter used in the source</label>
    <input type="text" id="customDelimiter" name="customDelimiter" size="2" maxlength="1" class="form-control form-control-sm w-auto d-inline-block"/>
{% endif %}
</td>
