{# Twig template for import/data_import_step1.php #}
<div class="topmain">
  <div class="row">
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Import {{ dataLabel|raw }} Step 1
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                In this section you can import {{ dataLabel|raw|trim }}.<br/>
          You can choose to change the data type and then the type of delimited file.   
          
          <pre id="pre-import-note">
           Record identifiers ({{ 'student'|trans|title }} ID, {{ 'examiner'|trans|title }} ID etc) can only contain the following:
              - alpha numeric characters (0-9 and/or a-z)
              - special characters dot(.) dash(-) or underscore(_)
          </pre>
          
          <div id="id-warn">Identifiers must be unique system wide. If the identifier is not unique,<br/>consider using
          <span class="red">prefixes</span> e.g. for {{ 'student'|trans }} identifier MMI-2012091 (<span class="red">prefix</span>-{{ 'student'|trans }}_id)</div>
          
          <div class="helpimport">
              Need help with importing? Please contact us at 
              <a href="mailto:support@qpercom.com">support@qpercom.com</a>{% if pubbleLink %} or via <a href="#" class="pubble-cw-contactbot">live chat support</a>{% endif %}
          </div>
              </div>   
            </div> 
          </div> 
    </div>
    <div class="col-auto">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/Enable_DisableFeatures.svg" class="card-title-icon">
                  <span class="card-title-text">
                    Choose Data type
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <select id="dataTypeSel" name="dataTypeSel" class="custom-select custom-select-sm">
          {% if dataTypes|length > 1 %}
                      <option value="none">--</option>
          {% endif %}
          {% for type, description in dataTypes %}
                      <option value="{{- type -}}"{% if (type == selectedType) %} selected="selected"{% endif %}>
                          {{- description|raw -}}
                      </option>
          {% endfor %}
                  </select>
              </div>   
            </div> 
          </div> 
    </div>
  </div>

        <br class="clearv2"/>
</div>
<div class="contentdiv" id="import_source_div">
    
{% set linkLabel = (selectedType == 5) ? 'Sample' : 'CSV File' %}
{% if selectedType != 'none' %}
    <ul class="import">
        <li>
            <a class="f13" href="{{- templateUrl -}}">Click here to download the import template ({{ linkLabel }})</a>
            <div class="required">Required File Fields | {{ requiredFields|join(' | ')|raw }} |</div>
        {% if warningMessage|trim|length > 0 %}
            <div id='importwarn'>{{ warningMessage|raw }}</div>
        {% endif %}
        </li>
    </ul>
    <form id="importSource" action="manage.php?page=importingStep2" method="post" onsubmit="return(ValidateForm(this));">
      <table id="data-sources" class="table-border mb-700">
       {% set checkedAttr = (selectedType != 5) ? 'checked="checked"' : '' %}
       <tr id="comma-row">
          <td class="selector">
            <input type="radio" class="filetype-option" id="comma" name="format" value="comma"{{ checkedAttr|raw }}/>
          </td>
          <td class="titleimp">
            <label for="comma">Comma-Separated Values (CSV File)</label>
          </td>
          <td class="title fxtds">
            <img alt="help" class="help" title="A CSV file is a delimited file that uses a comma character to separate values" src="assets/images/qm.gif"/>
          </td>
        </tr>
            
        {% if selectedType != 5 %}
        <tr id="field-qualified-row">
          <td class="titlein" colspan="3">
             <label for="fieldQualifie_sel">Fields are Qualified by</label>
                <select id="fieldQualifie_sel" name="fieldQualifie_sel" class="custom-select custom-select-sm w-auto">
                  <option class="black" value="">None</option>
                  <option value="double">"</option>
                  <option value="single">'</option>
                </select>
          </td>
        </tr>
       {% endif %}
            
        <tr id="tab-row">
          <td class="selector">
            <input type="radio" class="filetype-option" id="tab" name="format" value="tab"/>
          </td>
          <td class="titleimp">
            <label for="tab">Tab-Separated Values (TSV File) / Excel "Unicode Text" format</label>
          </td>
          <td class="title fxtds">
            <img alt="help" class="help" title="A TSV file is a delimited file that uses a tab stop character to separate values" src="assets/images/qm.gif"/>
          </td>
        </tr>
            
        <tr id="custom-row">
          <td class="selector">
            <input type="radio" class="filetype-option" id="custom" name="format" value="custom"/>
          </td>
          <td class="titleimp">
            <label for="custom">Custom Delimited File</label>
          </td>
          <td class="title fxtds">
             <img alt="help" class="help" title="You can specify the delimited character of the import file" src="assets/images/qm.gif"/>
          </td>
        </tr>
            
     {# Microsoft Excel file format (.xls) option only available for the exam matrix import #}
     {% if selectedType == 5 %}
        <tr id="excel-row">
           <td class="selector">
             <input type="radio" class="filetype-option" id="excel" name="format" value="excel" checked="checked"/>
           </td>
           <td class="titleimp">
             <label for="excel">Microsoft Excel file format (XLS file)</label>
           </td>
           <td class="title fxtds">
             <img alt="help" class="help" title="Microsoft Excel import file format (.xls or .xlsx)" src="assets/images/qm.gif"/>
           </td>
        </tr>
     {% endif %}
        <tr id="base-tr">
           <td class="base-button-options" colspan="4">
             <div id="import-buttons-div" class="fr">
                <input type="submit" id="nextStep" name="nextStep" class="bml2 btn btn-success btn-sm" value="proceed to next step"/>
                <input type="hidden" name="dataType" value="{{- selectedType -}}"/> 
                <input type="hidden" name="descDataType" value="{{- dataTypes[selectedType] -}}"/>
             </div>
           </td>
        </tr>
      </table>
    </form>
{% endif %}
</div>
