{# Twig template for import/data_import_step2.php #}
<div class="topmain" id="import_file">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Import {{ dataLabel|raw }} Step 2
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      Please select the file that contains the data to import by clicking on the browse button below.
        <div class="filewarn">Make sure the import file is not open or in use by other applications e.g. Excel, LibreOffice <br/><br/>
            A bug in Excel removes leading zeros <span class="black">(00024417 => <del>000</del>24417)</span> from data when opening files in .csv format.<br/>Please double
            check identifiers ({{ 'student'|trans }}_id, {{ 'examiner'|trans }}_id) for such cases and  
            <a href="https://excel.tips.net/T002588_Handling_Leading_Zeros_in_CSV_Files.html" target="_blank">follow this guide</a> if required
            
        </div>
          <br/>
         <div class="helpimport">
            Need help with importing? Please contact us at 
            <a href="mailto:support@qpercom.com">support@qpercom.com</a>{% if pubbleLink %} or via <a href="#" class="pubble-cw-contactbot">live chat support</a>{% endif %}
        </div>   
    </div>   
  </div> 
</div> 
    <br class="clearv2"/>
</div>
<div class="contentdiv">
    <form enctype="multipart/form-data" action="manage.php?page=importingStep3" method="post" onsubmit="return(submitImport());">
        <div class="h6">
                Source to Destination
        </div>
        <table class="table-border">
            <tr>
                <th class="title p-2">Choose source file</th>
                <td class="import-step2">
                    <input name="data_file" id="data_file" type="file" size="41" onclick="clearError();"/>
                </td>
                <td class="infotd" id="error_student_list"></td>
            </tr>
            <tr>
                <th class="title p-2">Choose destination {{ 'term'|trans }}</th>
                <td class="import-step2">
                    <select name="import_term" class="custom-select custom-select-sm">
                    {% for term in terms %}
                        {% spaceless %}
                            <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}" {{ (term.term_id == selected_term) ? 'selected="selected"' }}>
                                {{ term.term_id|raw }}
                            </option>
                        {% endspaceless %}
                    {% endfor %}
                    </select>
                </td>
                <td class="infotd" id="error-term"></td>
            </tr>
            <tr id="lastrow">
                <td class="base-button-options ggrey" colspan="2">
                    <div id="button_row" class="fr">
                        <input type="hidden" id="dataType" value="{{- dataType -}}"/>
                        <input type="button" id="backstep1" value="back to step 1" class="btn btn-sm btn-danger"/>
                        <input type="submit" class="bml btn btn-sm btn-success" value="proceed to next step"/>
                    </div>
                </td>
                <td class="infotd"></td>
            </tr>
        </table>
    </form>
</div>
