<script>
    jQuery(function() {
        jQuery("#department-selfassessment").chosen();
    });
</script>
<div style="display: flex; flex-direction: column; align-items: center; padding: 2em;">
    <table class="table-border2">
        <tr>
            <th class="title nbb">Choose {{ 'Department'|trans }}</th>
            <td class="nbr nbb">
                <select id="department-selfassessment">
                    <option value="--">--</option>
                    {% for school, departments in schools %}
                        <optgroup label="{{ school }}">
                            {% for department in departments %}
                            <option {{ currentDept == department['dept_id'] ? ' selected="selected"' }}
                                    value="{{ department['dept_id']|raw }}">
                                {{ department['dept_name']|raw }} [{{ department['dept_id']|raw }}]
                            </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th class="title nbb">Choose {{ 'OSCE'|trans }}</th>
            <td class="nbr nbb">
                <select id="exam-selfassessment" name="exam_selfassessment" class="custom-select custom-select-sm">
                    <option value="--">--</option>
                    {% for exam in exams %}
                        <option value="{{ exam.exam_id|raw }}">{{ exam.exam_name|raw }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

            <tr id="title-selfassessment-section" style="display: none">
                <th class="title nbb">Scoresheet Title</th>
                <td class="nbr nbb">
                    <input required="required" type="text" name="title_selfassessment" />
                </td>
            </tr>

            <tr id="maxscore-selfassessment-section" style="display: none">
                {#<th class="title nbb">Maximum score (optional)</th>#}
                {#<td class="nbr nbb">#}
                    {#<input type="number" min="1" name="maxscore_selfassessment" />#}
                {#</td>#}
            </tr>
        </table>
        <div class="f12" id="has-scoresheets-section" style="display: none;">
            <p style="color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; padding: 15px; margin-top: 5px">
                Warning: these {{ 'exams'|trans }} already has self assessment scoresheets assigned. <b>If you continue importing they will be overwritten</b>
                <br/><br/><b>Make sure to include all self assessment scoresheets for these {{ 'exams'|trans }} in a single import file</b>
            </p>
        </div>
    </div>
</div>
