{# Twig template for import/data_import_step4.php #}

{% set returnUrl = "manage.php?page=importingStep1&dataType=" ~ data_import_type %}

<div class="h6">
    Import Report <span class="rtd normal f12">{{ file_name|raw }}</span>
</div>
<table class="table-border" id="importing-report">
   
   {% if data_import_type != 5 %}
      <tr>
        <th class="title" width="230">Total data rows in list </th>
        <td class="rtd">{{ data_row_count|raw }}</td>
      </tr>

      <tr>
        <th class="title" width="230">Skipped rows not imported </th>
        <td class="rtd">{{ skipped_row_count|raw }}</td>
      </tr>
   {% endif %}
       
   {# Skipped row count #}
   {% if skipped_row_count > 0 %}
           
   <tr>
     <th class="title vatop" width="230">Reasons for skipped rows </th>
     <td class="rtd"> 
         
     {# Loop through all error messages #}
     {% for skipped_row_message in skipped_row_messages %}
       {{ skipped_row_message|nl2br }}<br/>
     {% endfor %}
     
     </td>
   </tr>
   
 {% endif %}
   
   <tr>
     <th class="title" width="230">Total time it took to import list in seconds </th>
     <td class="none"> {{ import_time|raw }} ms</td>
   </tr>
  </table>
<br/>

{# Import Report for Courses & Modules #}
{% if data_import_type == 2 %}
  <div class="h6">
      {{ 'Courses & Modules'|trans }} import results
  </div>
   <table class="table-border fl fc">
   
   <tr>
     <th class="title" width="350">Imported {{ 'Courses'|trans }} into {{ system_name|raw }} </th>
     <td class="rtd"> {{ report['insertedCourses']|default("NA")|raw }} </td>
   </tr>
   
   <tr>
     <th class="title">Updated {{ 'Courses'|trans }} in {{ system_name|raw }} </th>
     <td class="rtd"> {{ report['updatedCourses']|default("NA")|raw }} </td>
    </tr>
    
    <tr>
     <th class="title">Imported {{ 'Course Years'|trans }} into {{ system_name|raw }} </th>
     <td class="rtd"> {{ report['insertedYears']|default("NA")|raw }} </td>
    </tr>
    
    <tr>
     <th class="title">Imported {{ 'modules'|trans|title }} into {{ system_name|raw }} </th>
     <td class="rtd"> {{ report['insertedModules']|default("NA")|raw }} </td>
    </tr>
    
    <tr>
     <th class="title">Updated {{ 'modules'|trans|title }} in {{ system_name|raw }} </th>
     <td class="rtd"> {{ report['updatedModules']|default("NA")|raw }} </td>
    </tr>
    
    <tr>
     <th class="title">{{ 'modules'|trans|title }} added to {{ 'Course Years'|trans }} in {{ system_name|raw }} </th>
     <td class="none"> {{ report['insertedModuleYears']|default("NA")|raw }} </td>
    </tr>
    
    <tr>
    <td colspan="2" class="b2">
    {% if import_complete and course_vars_ready and course_updates_made %}
        <div class="infodivfloatcenter">Importing Complete</div>	
    {% else %}
        
        {# Error Message #}
        <div class="errordivimp c">
           {{ report['errorMsg']|default( "Courses"|trans|title ~ " and " ~ "modules"|trans ~ " import failed, please try again")|raw }}
        </div>
    
    {% endif %}
    
     {# Render return hyper link option when data is imported #}
     {% set urlText = (import_complete and course_vars_ready and course_updates_made) ? "Click here to import more " : "Click here to try again importing " %}
     <div class="againdiv">
        <a href="{{ returnUrl|raw }}"> {{ urlText|raw ~ import_type_desc|decode_html_entities|raw }}</a>
     </div>    
    
     </td>
    </tr>
        
 </table>
 
{# Import Report for Students #}
{% elseif data_import_type == 3 %}
    
  {% set failedCandidateCount = report['failedCandidateNumbers']|length %}    
 
  <div class="h6">
      {{ 'student'|trans|title }} data import results
  </div>
  <table class="table-border fl fc">
  
    <tr>
      <th class="title" width="350">Imported {{ 'students'|trans|title }} into {{ system_name|raw }} </th>
      <td class="rtd"> {{ report['insertedStudents']|default("NA")|raw }} </td>
    </tr>

    <tr>
      <th class="title">Updated {{ 'students'|trans|title }} in {{ system_name|raw }} </th>
      <td class="rtd"> {{ report['updatedStudents']|default("NA")|raw }} </td>
    </tr>

    <tr>
      <th class="title">Linked {{ 'student'|trans|title }} {{ 'Course Years'|trans }} in {{ system_name|raw }} </th>
      <td class="rtd"> {{ report['studentYearsInserted']|default("NA")|raw }} </td>
    </tr>

    <tr>
      <th class="title">Linked {{ 'student'|trans|title }} {{ 'modules'|trans|title }} in {{ system_name|raw }} </th>
      <td class="{{ failedCandidateCount > 0 ? "rtd" : "none" }}"> {{ report['studentModulesInserted']|default("NA")|raw }} </td>
    </tr>
    
    {# Failed to insert candidate numbers #}
    {% if failedCandidateCount > 0 %}
      <tr>
        <th class="title vatop"><span class="bold-dark-amber">WARNING</span> failed to insert candidate numbers for {{ 'students'|trans }}<br/>
        (candidate numbers already in use)</th>
        <td class="none boldred">
        
         {% for studentID, candidateNumber in report['failedCandidateNumbers'] %}
             {{ studentID|raw ~ " => " ~ candidateNumber|raw }}<br/>
         {% endfor %}

        </td>
      </tr>
    {% endif %}
    
    <tr>
     <td colspan="2" class="b2">
     {% if import_complete and student_vars_ready and student_updates_made %}
        <div class="infodivfloatcenter">Importing Complete</div>	
     {% else %}
        
        {# Error Message #}
        <div class="errordivimp c">
           {{ report['errorMsg']|default( 'student'|trans|title ~ " import failed, please try again")|raw }}
        </div>
    
     {% endif %}
     
     {# Render return hyper link option when data is imported #}
     {% set urlText = (import_complete and student_vars_ready and student_updates_made) ? "Click here to import more " : "Click here to try again importing " %}
     <div class="againdiv">
        <a href="{{ returnUrl|raw }}"> {{ urlText|raw ~ import_type_desc|lower|raw }}</a>
     </div>   
     
     </td>
    </tr>
         
    </table>
    <br/>

{# Import Report for Examiners #}            
{% elseif data_import_type == 4 %}
    <div class="h6">
      {{ 'exam'|trans|title }} Team data import results
    </div>
    <table class="table-border fl fc">
     
     <tr>
       <th class="title" width="350">Imported {{ 'exam'|trans }} team members into {{ system_name|raw }} </th>
       <td class="rtd"> {{ report['insertedExaminers']|length|default("N/A")|raw }} </td>
     </tr>
     
     <tr>
       <th class="title">Updated {{ 'exam'|trans }} team members in {{ system_name|raw }} </th>
       <td class="rtd"> {{ report['updatedExaminers']|length|default("N/A")|raw }} </td>
     </tr>
     
     <tr>
       <th class="title vatop">Skipped Rows Information </th>
       <td class="none">
			       
        {# Skipped Row Information for Examiner Importing #}
        {% if skipped_row_info|length > 0 %}
           {% for dept_id, info in skipped_row_info %}
              <div>{{ 'department'|trans|title }}: {{ dept_id ~ " - " ~ info }} Row(s)</div>
           {% endfor %}
        {% else %}
           NA
        {% endif %}
    
      </td>
     </tr>
    
    <tr>
     <td colspan="2" class="b2">
     {% if import_complete and examiner_vars_ready and examiner_updates_made %}
        <div class="infodivfloatcenter">Importing Complete</div>	
     {% else %}
        
        {# Error Message #}
        <div class="errordivimp c">
           {{ report['errorMsg']|default('exam'|trans|title  ~ " team import failed, please try again")|raw }}
        </div>
       
     {% endif %}
     
     {# Render return hyper link option when data is imported #}
     {% set urlText = (import_complete and examiner_vars_ready and examiner_updates_made) ? "Click here to import more " : "Click here to try again importing " %}
     <div class="againdiv" style="padding: 30px 40px 80px 30px">

       <form name="go_again_form" id="go-again-form" method="get" style="margin-bottom: 10px" class="fl cb"
             action="{{ returnUrl|raw }}" autocomplete="false">
           <input type="hidden" name="page" value="importingStep1"/>
           <input type="hidden" name="dataType" value="4"/>
           <input type="submit" value="&lt; import more {{ import_type_desc|lower|raw }} members"/>
       </form>

       <form name="review_examiners_form" id="review-examiners-form" method="post" class="fr cb"
               action="examiners/examiners_redirect.php" autocomplete="false">

             {% for userID in report['insertedExaminers'] %}
                 <input name="examiner_check[]" type="hidden" value="{{ userID|raw }}"/>
             {% endfor %}

             {% for userID in report['updatedExaminers'] %}
                 <input name="examiner_check[]" type="hidden" value="{{ userID|raw }}"/>
             {% endfor %}

           <input name="todo" type="hidden" value="edit"/>
           <input name="source" type="hidden" value="import"/>
           <button class="red" name="go_examiner" type="submit">Review Imported - apply individual passwords (strongly recommended) &gt; </button>
        </form>

     </div>
     
     </td>
    </tr>
    
</table>
<br/>
{# Import Report for Exam Matrix #}            
{% elseif data_import_type == 5 %}
<div class="h6">
    {{ 'exam'|trans|title }} Matrix import results
</div>
    <table class="table-border fl fc">
     <tr>
       <th class="title vatop" width="300">{{ 'OSCE'|trans }} name </th>
       <td class="rtd"> {{ report['exam_name']|default("NA")|raw }} </td>
     </tr>
     
     <tr>
       <th class="title vatop" width="300">Number of new sessions added to {{ 'OSCE'|trans }} </th>
       <td class="rtd"> {{ report['insertedSessions']|default("NA")|raw }} </td>
     </tr>
     
     <tr>
       <th class="title vatop" width="300">Number of new groups added to sessions </th>
       <td class="rtd"> {{ report['insertedGroups']|default("NA")|raw }} </td>
     </tr>

     {# Failed students found #}
     {% set failedStudentsFound = (report['failedStudents']|length > 0) %}
     {% set duplicateStudentsFound = (report['duplicateStudents']|length > 0) %}
     {% set cellClass = (failedStudentsFound or duplicateStudentsFound) ? 'rtd' : 'none' %}
     <tr>
       <th class="title vatop" width="300">Number of {{ 'students'|trans }} assigned to session groups </th>
       <td class="{{ cellClass }}"> {{ report['insertedStudents']|default("NA")|raw }} </td>
     </tr>
     
     {# List of failed students #}
     {% if failedStudentsFound %}
       <tr>
        <th class="title vatop student-list-title">
            <span class="ul boldred">FAILED</span> to assign the following {{ 'student'|trans }} to groups<br/>
              {{ 'student'|trans|title }} identifiers not found in {{ system_name|raw }}
        </th>
        <td class="none"> 
          {% for failed in report['failedStudents'] %}
            <span class="failed-import-students">{{ failed|raw }}</span>
          {% endfor %}
        </td>
       </tr>
     {% endif %}
  
      {# List of duplicate students #}
     {% if duplicateStudentsFound %}
       <tr>
        <th class="title vatop student-list-title">
            <span class="ul bold-dark-amber">DUPLICATE</span> {{ 'students'|trans }} found in import matrix<br/> 
            A {{ 'student'|trans }} cannot appear in multiple session groups
        </th>
        <td class="none"> 
          {% for failed in report['duplicateStudents'] %}
            <span class="duplicate-import-students">{{ failed|raw }}</span>
          {% endfor %}
        </td>
       </tr>
     {% endif %}    
     
     <tr>
      <td colspan="2" class="b2">
      {% if import_complete %}
        <div class="infodivfloatcenter">Importing Complete</div>
        
        {# Preview import exam #}
        <div class="preview-exam">
            <a href="manage.php?page=sessions_osce&amp;exam_id={{choosen_exam|raw }}&amp;filter=all">navigate to updated {{ 'OSCE'|trans }}</a>
        </div>
        
      {% else %}
        
        {# Error Message #}
        <div class="errordivimp c">
           {{ report['errorMsg']|default('exam'|trans|title ~ " Matrix import failed, please try again")|raw }}
        </div>
              
     {% endif %}
     
     {# Render return hyper link option when data is imported #}
     {% set urlText = (import_complete) ? "import another " : "try again to import the " %}
     <div class="againdiv">
       <a href="{{ returnUrl|raw }}"> {{ urlText|raw ~ import_type_desc|lower|raw }}</a>
     </div>
     
     </td>
    </tr>
    
</table>
<br/>
{# Self Assessment Scoresheets #}
{% elseif data_import_type == 6 %}
  <div class="h6">
      {{ 'exam'|trans|title }} Self Assessment Scoresheets Import Results
  </div>
    <table class="table-border fl fc">

        <tr>
            <th class="title" width="350">Number of imported scoresheets </th>
            <td class="rtd nbb"> {{ report.insertedScoresheets }} </td>
        </tr>

         <tr>
            <th class="title" width="350">Import time </th>
            <td class="rtd nbb"> {{ "now"|date('Y-m-d H:i:s') }} </td>
        </tr>       

         <tr>
            <th class="title" width="350">By whom (user identifier)</th>
            <td class="rtd nbb"> {{ import_user_id|raw }} </td>
        </tr> 

        {% if report.warningMsg and import_complete %}
        <tr>
            <th class="title">Warning</th>
            <td class="rtd nbb"> {{ report.warningMsg }} </td>
        </tr>
        {% endif %}


        <tr>
            <td colspan="2" class="b2">
                {% if report.warningMsg and import_complete %}
                    <div class="infodivfloatcenter" style="background-color: #DAA520">Importing complete with warnings</div>
                {% elseif import_complete %}
                    <div class="infodivfloatcenter">Importing Complete</div>
                {% else %}

                    {# Error Message #}
                    <div class="errordivimp c">
                        {{ report['errorMsg']|default('Self assessment scoresheets import failed, please try again')|raw }}
                    </div>

                {% endif %}

                {# Render return hyper link option when data is imported #}
                {% set urlText = import_complete ? "&lt; import again " : "click here to try again importing " %}
                
                {% if import_complete %}
                    <div class="view-self-assessments">
                      <a target="_examres{{ choosen_exam|raw }}" 
                         href="manage.php?page=out_analysis&amp;o={{ choosen_exam|raw }}&amp;tab_persist=results-assessments">
                         view imported self assessments &gt;
                      </a>
                    </div>
                {% endif %}    
               
                <div class="{{ import_complete ? "again-self-assessments" : "againdiv" }}">
                    <a href="{{ returnUrl|raw }}">{{ urlText|raw }} {{ import_complete == false ? import_type_desc|lower }}</a>
                </div>

            </td>
        </tr>

    </table>
    <br/>
{% endif %}