{# Twig template for file invalid in import/data_import_step3.php #}
<div id="upload-error-div" class="errordiv">
    Import file found to be invalid. Please use import template as a guideline
</div>
<div id="back-import-div">
   <input type="button" id="backstep2" value="back to step 2" class="btn btn-sm btn-danger"/>
</div>