{# Twig template for import/data_import_step3.php #}
<div class="topmain" id="import_file">
<div class="card d-inline-block align-top mr-2 mb-4">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Import {{ 'OSCE'|trans }} Matrix Step 3
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      Please select the {{ 'exams'|trans }} that you would like to import the matrix to. 
<div class="filewarn">
<span class="red">The import file will overwrite any sessions and 
    {{ 'student'|trans }} groups within the choosen {{ 'osce'|trans }} shell</span><br/>
<span class="red">Any {{ 'OSCE'|trans }} with results are excluded from selection</span>          
</div>
    </div>   
  </div> 
</div> 
    <br class="clearv2"/>
</div>
<div class="contentdiv">
  <form id="importStep3" action="manage.php?page=importingStep4" method="post" onsubmit="return(ValidateForm(this));">
      <table class="table-border" id="matrix-import-table">
      <tr>
        <th class="title">Choose {{ 'Department'|trans }}</th>
        <td class="nbr">
          <select id="department-matrix">
            <option value="--">--</option>
            {% for department in departments %}
              <option value="{{ department['dept_id']|raw }}">{{ department['dept_name']|raw }} [{{ department['dept_id']|raw }}]</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th class="title">Choose {{ 'OSCE'|trans }}</th>
        <td class="nbr">
           <select id="exam-matrix" name="exam_matrix">
              <option value="--">--</option>
           </select>
        </td>
      </tr>
      
      <tr class="ggrey">
        <td class="base-button-options" colspan="2">
         <div id="import-buttons-div" class="fr">
           <input type="button" id="backstep2" class="backstep" value="back to step 2" class="btn btn-sm btn-danger"/>
           <input type="submit" id="startImport" name="startImport" value="start importing data" disabled="disabled"/>
         </div>   
        </td>
      </tr>
     </table>
          
  </form>
</div>
