{# Twig template for import/data_import_step3.php #}
<div class="topmain" id="import_file">
    <div class="row">
        <div class="col-lg-5 col-sm-6 col-12">
            <div class="card d-inline-block align-top w-100 h-100">
                    <div class="card-header">
                      <div class="card-title h6 mb-0">
                        <div class="row no-gutters align-items-center">
                          <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                          <span class="card-title-text">
                            Import {{ dataLabel|raw }} Step 3
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-text">
                        Please select the fields that need to be imported below.
                                 <br/><br/>
                                 <div class="helpimport">
                                    Need help with importing? Please contact us at 
                                    <a href="mailto:support@qpercom.com">support@qpercom.com</a>{% if pubbleLink %} or via <a href="#" class="pubble-cw-contactbot">live chat support</a>{% endif %}
                                </div>
                        
                                <div><br/>Destination {{ 'Term'|trans }}: <span class="green">{{ selectedTerm|raw }}</span></div>
                      </div>   
                    </div> 
                  </div> 
        </div>
        <div class="col-lg-5 col-sm-6 col-12">
            <div class="card d-inline-block align-top w-100 h-100">
                    <div class="card-header">
                      <div class="card-title h6 mb-0">
                        <div class="row no-gutters align-items-center">
                          <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                          <span class="card-title-text">
                            Required System Fields
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-text">
                        <span class="bold">
                          | <span class="red normal">{{ requiredFieldsTranslated|join('</span> | <span class="red normal">')|raw }}</span> |
                        </span>
                      </div>   
                    </div> 
                  </div>    
        </div>
    </div>

    <br class="clearv2"/>
</div>
<div class="contentdiv">
    <form id="importStep3" action="manage.php?page=importingStep4" method="post" onsubmit="return(ValidateForm(this));">
        <div class="h6">
            Confirm import fields
        </div>  
        <table id="mappingTable" class="table-border">
            <tr class="title-row">
                <th class="title">System Field</th>
                <th class="title">Header Row Import File</th>
                <th class="title nbr">First Row Import File</th>
            </tr>
{% for fileField in fileFields %}
            <tr id="row_{{ loop.index0 }}">
                <td>
                    <select id="dataField_{{ loop.index0 }}" name="dataField_{{ loop.index0 }}" onchange="ValidateForm(this);">
    {% if tableMapping[fileField] is not defined %}
                        <option value="none" selected="selected" class="boldgreen">Do not map this field</option>
    {% else %}
                        <option value="none">Do not map this field</option>
    {% endif %}
    {% for dbField in dbFields %}
        {% if tableMapping[fileField] == dbField %}
                        <option value="{{ dbField }}" selected="selected" class="boldgreen">{{ dbField|trans }}</option>
        {% else %}
                        <option value="{{ dbField }}">{{ dbField|trans }}</option>
        {% endif %}
    {% endfor %}
                    </select>
                </td>
                <td>
                    &nbsp;{{- fileField -}}&nbsp;
                </td>
                <td class="nbr">
                    &nbsp;<span class="encoded-org">{% if sampleData[loop.index0] is defined %}{{- sampleData[loop.index0] -}}{% endif %}&nbsp;
                </td>
            </tr>
{% endfor %}

            {% if additionalParameters %}
            <tr>
               <td colspan="4" class="nbr">
                   {% include additionalParameters.template with additionalParameters.data %}
               </td>
            </tr>
            {% endif %}

            <tr id="base-tr" class="ggrey">
                <td id="optionstd">
                    <fieldset class="fsfsetts">
                        <legend>Original File Encoding</legend>
                        <div>
                            <select name="file_enc" id="file_enc" class="custom-select custom-select-sm">
                                {% for encoding in fileEncodings %}
                                    {% if encoding|trim|lower == detectedEncoding|trim|lower %}
                                        <option value="{{- encoding -}}" selected="selected">{{- encoding -}}</option>
                                    {% else %}
                                        <option value="{{- encoding -}}">{{- encoding -}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                </td>
                <td class="base-button-options" colspan="3">
                    <input type="hidden" name="term" value="{{ selectedTerm|raw }}"/>
                    <input id="reqFields" type="hidden" value="{{- requiredFields|join('/') -}}"/>
                    <input id="reqFieldsTranslated" type="hidden" value="{{- requiredFieldsTranslated|join('/') -}}"/>

                   {% if dataLabel|lower == 'students' %}
                    {% spaceless %}
                    <div id="continue-div" class="hide">
                      <label for="continue-without-names">Continue without including student name fields</label>
                      <input type="checkbox" id="continue-without-names"/>?
                    </div>
                    {% endspaceless %}
                   {% endif %}
                    
                    <div id="import-buttons-div" class="fr">
                        <input type="hidden" id="data-type" value="{{ dataLabel|lower }}"/>
                        <input type="button" id="backstep2" class="backstep btn btn-sm btn-danger" value="back to step 2"/>
                        <input type="submit" id="startImport" name="startImport" value="start importing data" class="btn btn-sm btn-success"/>
                    </div>
                        
                    <div id="import-wait-div" class="hide">
                      <img src="assets/images/waitsmall.gif" alt="Please Wait..."/>        
                    </div>
                 
                </td>
            </tr>
        </table>
    </form>
</div>
