{# Twig template for data error in import/data_import_step3.php #}
<div id="upload-error-div" class="errordiv normal f13">
    An error occurred while uploading or processing the file. 
    Please make sure that the file exists, is not<br/>in use/open by another program and that you are using the correct file format (extension)
</div>
<div id="back-import-div">
   <input type="button" id="backstep2" value="back to step 2" class="btn btn-sm btn-danger"/>
</div>