<script>
    jQuery(function() {
        preparePasswordValidation();

        jQuery('.first-password-field').each(function() {
            applyStrengthMeter(jQuery(this));
        });

       jQuery("#startImport").click(function(event) {
           if (passwordFieldsValid('add'))
                return;

           event.stopPropagation();
           event.preventDefault();
       });
    });
</script>
<div style="display: flex; flex-direction: column; align-items: center; padding: 0.5em 2em 2em 2em;">
    <input type="password" style="visibility: hidden">
    <table class="table-border2">
        <tr>
            <th class="title nbb">
                default password for all {{ 'examiners'|trans }} to be imported
            </th>
            <td class="nbr nbb password-fields-td">
                <div class="first-password-field-div">
                    <input id="password-examiners" class="first-password-field form-control form-control-sm" type="password" required="required" name="password_examiners" placeholder="enter password" />
                    <div class="pwstrength-viewport-progress"></div>
                </div>
                <div class="second-password-field-div">
                    <input class="second-password-field form-control form-control-sm" type="password" required="required" placeholder="confirm password" />
                </div>
            </td>
        </tr>

    </table>
</div>