<h4 class="changelog-header"> 
    What's <i>New</i> and what's <i>Changed</i> in Qpercom Observe <span>1.9.104</span>
</h4>
<ul class="changelog">
{{#tags}} 
   <li style="padding: 4px 0px;">{{ annotation }}</li>
{{/tags}}
</ul>
<h4 class="changelog-header"> Coming soon.. </h4>
<ul class="changelog">
 <li>Early warning system, SMS text sent to support team for Red Flags and Divergence Scores during assessment</li>
 <li>Scoresheet tagging to assist user with filtering and categorisation</li>
 <li>Facility in the analysis tool to combine multiple exams from one or more sites/departments</li>
 <li>Ability to add student to multiple circuits in one assessment</li>
</ul>
