<div class="accordion is-changelog" id="accordion">
  
  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link dropdown-toggle is-transparent" data-toggle="collapse" href="#collapse12">
      List of changes in current release <span style="color: #ff0000">2.1.0 <span class="black italic f12 normal">released 03/12/2019</span></span>
      </a>
    </div>
    <div id="collapse12" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            User Interface facelift - Bootstrap 4
          </li>     
          <li>
            Integration with an advanced analysis tool Qpercom Analyse
          </li>
          <li>
            {{ 'form'|trans|title }} Item weightings (beta)
          </li>                              
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header is-transparent">
        <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse11">
          <span>
              List of changes in release 1.9.115
          </span>
        </a>
      </div>
      <div id="collapse11" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <ul class="changelog">
              <li>
                Administrators can now enable item feedback entry within an assessment {{ 'form'|trans }} section to allow {{ 'examiners'|trans }} to give feedback/comments per item or self assessment question
              </li>
          </ul>
        </div>
      </div>
    </div>  

  <div class="card">
    <div class="card-header is-transparent">
      List of changes in release 1.9.114 (undisclosed)
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse10">
        <span>
            List of changes in release 1.9.113
        </span>
      </a>
    </div>
    <div id="collapse10" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            The current {{ 'term'|trans }} feature has now been renamed to the 'default' {{ 'term'|trans }} and functions as the default {{ 'term'|trans }}
            configured when new users login
          </li>
          <li>
            Import, feedback and assessment tools now provide the option to choose the {{ 'term'|trans }} context
          </li>
          <li>
            System now remembers or 'stickies' the last {{ 'term'|trans }} the user worked in when user logs out and logs back in again
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse9">
        <span>
            List of changes in release 1.9.112
        </span>
      </a>
    </div>
    <div id="collapse9" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            New navigation buttons added to assessment {{ 'form'|trans }} builder to allow user to cycle through other {{ 'forms'|trans }} in group
          </li>
          <li>
            New {{ 'grade'|trans }} rules feature to enable system to identify if {{ 'student'|trans }} meets {{ 'grade'|trans }} criteria
          </li>
          <li>
            Increased maximum number of  {{ 'examiners'|trans }}/observers to 30
          </li>
          <li>
            The system now smartly suggests user to reuse existing {{ 'exam'|trans }} {{ 'form'|trans }} if they define a new {{ 'exam'|trans }} {{ 'form'|trans }} with the same name
          </li>
          <li>
            New text scaling option available during {{ 'exam'|trans }}  
          </li>
          <li>
            Warning message added to self assessment tab if self assessments are missing. Also added import option in self assessment tab to assist further importing of self assessment
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse8">
      <span>
          List of changes in release 1.9.111
      </span>
      </a>
    </div>
    <div id="collapse8" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            Major improvements made to self assessment {{ 'form'|trans }} section and take ownership feature
          </li>
          <li>
            Dropped {{ 'form'|trans }} 'design complete' option in the manage stations section. This flag field can now be configured within the {{ 'form'|trans }} content
          </li>
          <li>
            New clone option in assessment {{ 'form'|trans }} builder section allowing you to clone complete {{ 'form'|trans }} into bank
          </li>
          </li>
          <li>
            {{ 'form'|trans|title }} builder now highlights linked {{ 'exams'|trans }} for {{ 'forms'|trans }} that have results data attached
          </li>
          <li>
            New grayscale skin for UAT testing to distinguish it from the production environment 
          </li>
          <li>
            New user last activity widget on home screen available to administrators only
          </li>
          <li>
            New combo box dropdown in filter list that allows you to search through {{ 'departments'|trans }} across {{ 'schools'|trans }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse7">
        <span>
            List of changes in release 1.9.110
        </span>
      </a>
    </div>
    <div id="collapse7" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            Feedback tool now supports release of weighted scores (as an option) alongside raw scores and percentage scores
          </li>
          <li>
            Title text now spans across feedback only section or title only section (no descriptors) on assessment {{ 'forms'|trans }}
          </li>
          <li>
            Improvements made to advanced options user interface on the {{ 'student'|trans }} results view
          </li>
          <li>
            New text notes field added to {{ 'student'|trans }} results section to record internal only issues/notes (not released to {{ 'students'|trans }}). Notes column added to raw data tab and included in export if selected
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse6">
        <span>
            List of changes in release 1.9.108 and 1.9.109
        </span>
      </a>
    </div>
    <div id="collapse6" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>
            New Feedback only section as an option to add to assessment {{ 'forms'|trans }}
          </li>
          <li>
            New none grade (indicator only) option to add to assessment {{ 'forms'|trans }} sections (checkbox type)
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse5">
        <span>
            List of changes in release 1.9.107
        </span>
      </a>
    </div>
    <div id="collapse5" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>{{ 'OSCE'|trans }} monitoring tool for circuit rotations, station status etc. separate from the analysis tool</li>
          <li>The system now supports Single Sign-On (SAML) integration with existing client systems, contact Qpercom support for more information on activation</li>
          <li>Text scaling adjuster now available on the assessment {{ 'form'|trans }} during {{ 'examination'|trans }}</li>
          <li>{{ 'student'|trans|title }} names now included in PDF file names for feedback download (.zip) option</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse4">
        <span>
            List of changes in release 1.9.106.2
        </span>
      </a>
    </div>
    <div id="collapse4" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>Improved validation of individual station weightings on rules tab</li>
          <li>New rule to apply weightings to overall totals and grades on rules tab in the analysis tool</li>
          <li>New weighting column per station on raw data tab</li>
          <li>
            Ability to set weightings per station with new score weighted (%) column in {{ 'osce'|trans }} analysis tool. 
            Station weightings can be configured ahead of {{ 'osces'|trans }} in the day/circuit builder and can also be amended on the rules tab
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse3">
        <span>
            List of changes in release 1.9.106.1
        </span>
      </a>
    </div>
    <div id="collapse3" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>New system option to couple {{ 'departments'|trans }} with {{ 'student'|trans }} {{ 'course'|trans }} {{ 'years'|trans }} </li>
          <li>Clone item (question) feature in the {{ 'form'|trans }} builder now includes red flags</li>
          <li>Import and export feature of assessment {{ 'forms'|trans }} now supports red flags</li>
          <li>Improvements made to the terminology for the import tool both on the user interface (UI) and the fields in the .csv template files</li>
          <li>Increased scenario code character limit to 20 in the station management section and now permits characters: #/-</li>
          <li>Removed unique assessment {{ 'form'|trans }} name restriction. Please use tags in the {{ 'form'|trans }} bank to help with identifying {{ 'forms'|trans }} with similar names
            e.g. Clinical Scenario ~ <i>2017</i>, Clinical Scenario ~ <i>2018</i> etc. It is also possible to assign multiple tags to one {{ 'form'|trans }}
          </li>
          <li>New feedback menu option that takes you directly to the feedback tool; appears under the {{ 'osce'|trans }} dropdown menu</li>
          <li>
            Improved access control for {{ 'school'|trans|title }} Administrators in the assessment tool, {{ 'examiner'|trans }} assignment,
            feedback tool and the assessment {{ 'form'|trans }} builder
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse2">
        <span>
            List of changes in release 1.9.106.0
        </span>
      </a>
    </div>
    <div id="collapse2" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>New user role '{{ 'school'|trans|title }} Administrator' with restricted access 
            to {{ 'exams'|trans }}, {{ 'departments'|trans }} and content in 1 or more {{ 'schools'|trans|title }}
          </li>
          <li>Considerable improvements made to system wide labeling, with addition of new placeholders for {{ 'student'|trans }} grouping</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header is-transparent">
      <a class="card-link card-header-link collapsed dropdown-toggle" data-toggle="collapse" href="#collapse1">
        <span>
            List of changes in release 1.9.105
        </span>
      </a>
    </div>
    <div id="collapse1" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <ul class="changelog">
          <li>Assessment {{ "form"|trans|raw }} tagging to assist you with filtering and categorisation</li>
          <li>Early warning system, SMS sent to support team/assigned assistants for red flags and divergence scores during {{ "assessments"|trans|raw }}</li>
          <li>Rebranding of OMIS to Qpercom {{ "Observe"|trans|raw }} which is a feature of the new Qpercom Suite that includes features such as Qpercom Choice (MCQ management and assessment), Qpercom Analysis (all assessment data analysis), Qpercom Feedback ({{ "student"|trans|raw }} feedback management) etc.&#10;</li>
          <li>Improved clarity of circuit label and colour in all sections of assessment tool&#10;</li>
          <li>Improved highlighting of items marked on assessment {{ "form"|trans|raw }} whilst scoring&#10;</li>
          <li>It is now possible to attach station notes/instructions to {{ "student"|trans|raw }}'s feedback. See Main &gt; Admin Tools &gt; Send Feedback&#10;</li>
          <li>All system wide popups now open as tabs for better visibility and security. All additional (or orphan) tabs are logged out when you log out&#10;</li>
          <li>It is now possible to download feedback (.zip) rather than sending it in the {{ "student"|trans|raw }} feedback facility&#10;</li>
          <li>New option in {{ "student"|trans|raw }} feedback facility giving you the ability to clone an email template, replacing the previous template limit&#10;</li>
          <li>New assessment auto configuration setting ({{ "OSCE"|trans|raw }} &gt; Management &amp; Analysis &gt; {{ "OSCE"|trans|raw }} Record &gt; More Settings) for {{ "examiners"|trans|raw }} assigned to stations. When {{ "examiner"|trans|raw }} logs in on the day of assessment, they are presented with suggested configuration settings that they can choose from. They are no longer required to manually configure the {{ "osce"|trans|raw }} and can go straight to assessment&#10;</li>
          <li>New {{ "OSCE"|trans|raw }} setting ({{ "OSCE"|trans|raw }} &gt; Management &amp; Analysis &gt; {{ "OSCE"|trans|raw }} Record &gt; More Settings) to place feedback field above or below assessment {{ "form"|trans|raw }} section&#10;</li>
          <li>New percentage checkbox giving you the option to include/exclude percentage scores from raw results tab in the analysis section&#10;</li>
          <li>New {{ "OSCE"|trans|raw }} rules tab in analysis screen that allows you to enable detection of divergence between multi-{{ "examiner"|trans|raw }} scores and configure pass % values per station and much more&#10;</li>
          <li>You are required, if you are an administrator, to enter password if you wish to remove {{ "students"|trans|raw }} from a group when they already have submitted results for {{ "OSCE"|trans|raw }}&#10;</li>
          <li>New flagging facility configured from the assessment {{ "form"|trans|raw }} builder - you now have the ability to flag certain scores on an item and setting compulsory feedback per flag if you so wish. This can be useful for critical or red flag items for example. To flag an item you must click on the flag icon next to the value you wish to flag. You also have the option to make it compulsory for {{ "examiners"|trans|raw }} to provide feedback for a flagged item by editing the section and choosing Flagged Option only for the Compulsory Feedback option. Flagging information also appear in the analysis section as a separate column per station&#10;</li>
          <li>Improved progress and status information in {{ "student"|trans|raw }} feedback tool&#10;</li>
          <li>Feedback tool now remembers what options you had chosen on the options panel if you navigate away from the page or even logout and log back in again&#10;</li>
          <li>Useful navigation or &#39;jump to&#39; buttons in the manage sessions, groups, {{ "examiners"|trans|raw }} and stations sections e.g last session - next session. These will help you navigate between sections easier&#10;</li>
          <li>Qpercom {{ "Observe"|trans|raw }} no longer supports Office 2003 Excel formats (.xls), all Excel files are now exported in the standard Open XML format (.xlsx)&#10;</li>
          <li>Mult-{{ "examiner"|trans|raw }} results (1 assessment {{ "form"|trans|raw }}) per station can either be aggregated or weighted, see new rule in rules tab of analysis section&#10;</li>
          <li>In assessment tool, station notes link moved within station name and link available when station notes are available, otherwise station name does not appear as a link if no station notes are attached to an assessment {{ "form"|trans|raw }}&#10;</li>
          <li>Label changes and menu rearrangement â€“ there are some label changes which you will notice with the latest update. Station bank has been renamed assessment {{ "form"|trans|raw }} bank to represent station assessment {{ "forms"|trans|raw }} (as opposed to a station within {{ "osce"|trans|raw }} sessions which has extra information in addition to the {{ "form"|trans|raw }} included such as duration, order number and pass mark), manage/import {{ "examiners"|trans|raw }} has been relabelled manage/import {{ "exam"|trans|raw }} team and manage/import {{ "student"|trans|raw }} course and modules has been moved to sit under the {{ "students"|trans|raw }} menu option as it relates to {{ "student"|trans|raw }} management and categorisation on Qpercom {{ "Observe"|trans|raw }}. Please note that these are all just labels and should you wish to revert or customise them to something more suitable then don&#39;t hesitate to contact us&#10; <a href="mailto:support@qpercom.com">support@qpercom.com</a></li>
          <li>Visual alarms for the countdown timer â€“ when setting up your stations ({{ "OSCE"|trans|raw }} Management &amp; Analysis &gt; {{ "Student"|trans|raw }} &gt; Session &gt; Stations) you now have the ability to add up to 2 visual alarms to aid {{ "examiners"|trans|raw }}. For example in a 10 minute station you can set the clock to flash at 7 minutes and 4 minutes as a reminder for an examiner to ask a question or relay certain instructions to {{ "students"|trans|raw }} at those times. The clock will flash amber for 10 seconds at each alarm set&#10;</li>
          <li>Station radar plot in individual {{ "student"|trans|raw }} results section now reverts to a bar chart if number of results are less than 3&#10;</li>
          <li>New {{ "osce"|trans|raw }} setting ({{ "OSCE"|trans|raw }} record &gt; more settings) to allow the order of the {{ "students"|trans|raw }} in the groups to be preserved during {{ "assessment"|trans|raw }}, i.e. not ordered by how they should appear at each station&#10;</li>
          <li>Optional text scaling adjustment in {{ "exam"|trans|raw }} configuration (improved web accessibility) â€“ you can set text size in assessment to one that suits them by toggling the setting, default is 'medium'&#10;</li>
          <li>New connectivity status indicator for {{ "assessment"|trans|raw }} tool (bottom left) that informs whether connection is Online or Offline. In the case it switches to Offline then you will be locked within assessment until connection becomes available again. Once connection is established then you will be able to submit that assessment {{ "form"|trans|raw }} and return to the {{ "student"|trans|raw }} list to select another {{ "student"|trans|raw }} including any that may have been marked on paper in the meantime&#10;</li>
          <li>Qpercom {{ "Observe"|trans|raw }} now has the option to add alternative {{ "student"|trans|raw }} identifiers (candidate numbers, assessment day IDs) that can appear in place of official identifiers during assessment. See {{ "OSCE"|trans|raw }} &gt; Manage &gt; Record &gt; More Settings. Please contact <a href="mailto:support@qpercom.com">support@qpercom.com</a> if you would like to know more&#10;</li>
        </ul>
      </div>
    </div>
  </div>
</div>