{# Twig template for pages/account.php #}
<div class="topmain">
    <div class="row justify-content-center">
            <div class="card col-auto mb-4 p-0">
                    <div class="card-header">
                      <div class="card-title h6 mb-0">
                        <div class="row no-gutters align-items-center">
                          <img src="assets/images/acc_details.svg" class="card-title-icon">
                          <span class="card-title-text">
                            Account Details
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-text">
                      <p>
                          Edit / change your account details.
                      </p>
                      <p>
                          <span class="red">To change your account details you will be asked for your password</span>
                      </p>
                  
                  <form id="acc_form" name="acc_form" action="{{ redirect_url }}" method="post" class="d-block">
                          <table id="acc_table" class="table-transparent w-100">
                              <tr>
                                  <th class="title">Identifier</th>
                                  <td id="user_id_td">
                                      <input type="hidden" name="user_id" id="user_id" value="{{ username }}"/>{{ username }}
                                  </td>
                                  <td class="infotd"></td>
                              </tr>
                              <tr>
                                  <th class="title">First Name</th>
                                  <td id="forename_td">{{ user.forename|raw }}</td>
                                  <td class="infotd" id="forename_err"></td>
                              </tr>
                              <tr>
                                  <th class="title">Surname</th>
                                  <td id="surname_td">{{ user.surname|raw }}</td>
                                  <td class="infotd" id="surname_err"></td>
                              </tr>
                              <tr>
                                  <th class="title">Email Address</th>
                                  <td id="email_td">{{ user.email|raw }}</td>
                                  <td class="infotd" id="email_err"></td>
                              </tr>
                              <tr id="password_row">
                                  <th class="title">Current Password</th>
                                  <td id="password_td" class="td-password-fields">*********************</td>
                                  <td class="infotd" id="password_err"></td> 
                              </tr>
                              <tr>
                                  <td class="text-center buttontd" colspan="3">
                                      <input type="button" name="change_pass" id="change_pass" value="change password" class="btn btn-outline-default btn-sm" />
                                      <input type="button" name="change_acc" id="change_acc" value="change details" class="btn btn-success btn-sm"/>
                                      <input type="hidden" name="account_submit" id="account_submit" value="change"/>
                                  </td>
                              </tr>
                              <tr>
                                    <td class="infotd"></td>
                              </tr>
                          </table>
                      </form>
                      </div>   
                    </div> 
                  </div> 
    </div>
</div>
{# Password strength settings for the password fields #}
{# Plugin: pwstrength bootstrap Jquery #}
{% if pwdStrength.settings|length > 0 %}
<script>
    var verdictList = {{ pwdStrength.verdictList|json_encode()|raw }};
    var passwordSettings = {{ pwdStrength.settings|json_encode()|raw }};
</script>

{% endif %}