{# Description: Twig template for the home page #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

<div class="container-main">
    <div class="topmain row">
    <div class="col-lg-5 col-12">
        <div class="card d-inline-block align-top ">
                <div class="card-header">
                    <div class="card-title h6 mb-0">
                      <div class="row no-gutters align-items-center">
                        <img src="assets/images/Welcome.svg" class="card-title-icon">
                        <span class="card-title-text">
                          Welcome
                        </span>
                      </div>
                    </div>
                </div>
            <div class="card-body">
                <div class="card-text">
                <div id="welcome">
             {{ instance_long_name }}  
           </div>
          
           {% if clientLogoExists %}
             <img id="client-logo-home" src="storage/custom/images/client-logo-home.png" alt="clientlogo" title="Client Logo" class="fl"/> 
           {% endif %}
           
          <ul id="system-info">
            
           {#  A user is logged in #}
           {% if instance_identifier|length > 0 %}  
             
             {#  A term has been set #}
             {% if academic_term|length > 0 %}
               <li>Your current working {{ 'term'|trans }}: <span class="primary-color bold">{{ academic_term }}</span></li>
               
                {# A term has expired, advise admins only #}
               {% if academic_term_expired and user_is_admin %}
                 <li class="no-term-message">
                  <img src="assets/images/exclamation-2.png" alt="warning" class="term-warning" width="24" height="24"/>
                  Please Review - default {{ 'academic term'|trans }} {{ academic_term_default|raw }} has expired
                 </li>
                 <li class="no-term-link">
                  <a href="manage.php?page=manage_terms">Click here to add a new one or change default</a>
                 </li>
               {% endif %}
               
             {# A term has not been set, advise admins only #}
             {% elseif user_is_admin %}
               <li class="no-term-message">
                 <img src="assets/images/exclamation-2.png" alt="warning" class="term-warning" width="24" height="24"/>
                 No {{ 'academic term'|trans }} set in system
               </li>
               <li class="no-term-link">
                 <a href="manage.php?page=manage_terms">Click here to set {{ 'academic term'|trans }}</a>
               </li> 
             {% endif %}
             
           {% endif %}
          </ul>
          {#  A user is logged in #}
          {% if instance_identifier|length > 0 %}  
          <ul id="manual">
            {% for manual in manuals %}
                <li>
                  <a id="manual_link{{ loop.index }}" href="javascript:void(0)">{{ manual.name|raw }}</a>
                  <input type="hidden" id="manual_link{{ loop.index }}_hidden" value="{{ manual.link|raw }}"/>
                </li>
            {% endfor %}
          </ul>
          
          Need help or have suggested improvements? then don't hesitate to contact us by email<br/><a href="mailto:support@qpercom.com">support@qpercom.com</a>
              {% if pubbleLink %}or via <a href="#" class="pubble-cw-contactbot">live chat support</a>{% endif %}
          {% endif %} 
          <div id="privacy-terms-home">
          Your privacy is our priority. Please view our <a href="http://www.qpercom.com/privacy-policy-product-websites" target="_blank">Privacy Policy</a> &amp; <a href="http://www.qpercom.com/terms-product-websites" target="_blank">Terms of Use</a>
          </div>
                </div>
            </div>
        </div>
    </div>    
</div>


        {% if user_is_admin %}
          {% include('admin_data.html.twig') %}
        {% endif %}


<div class="row">

{# Include Qpercom twitter feed if we have a user logged in #}
{% if instance_identifier|length > 0 %}

<div class="col-lg-5 col-sm-6 col-12  mb-4">
<div class="card w-100 h-100">
                <div class="card-header">
                    <div class="h6 mb-0">
                      <div class="row no-gutters align-items-center">
                        <img src="assets/images/whats_new.svg" class="card-title-icon">
                        <span class="card-title-text">
                          What's <i>New</i> and what's <i>Changed</i> in Qpercom Observe 
                        </span>
                      </div>
                    </div>
                </div>
            <div class="card-body">
                <div class="card-text">
                {% spaceless %}
                  {% include "changelogs/features.html.twig" %}
                {% endspaceless %}
              </div>   
            </div> 
      </div> 
</div> 

  {% if  twitter['enabled']  %}
<div class="col-lg-5 col-sm-6 col-12  mb-4">
<div class="card align-top w-100 h-100">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/Twitter.svg" class="card-title-icon">
        <span class="card-title-text">
          Twitter
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text" id="twitter-box">
      {% spaceless %}
        <div id="twitter-timeline-loading">Loading twitter feed...</div>
        {% endspaceless %}
        <a class="twitter-timeline" style="display:none" data-chrome="nofooter noheader transparent" data-lang="en" data-width="740" data-height="420"
           data-link-color="#19CF86" tweet-limit="40" href="https://twitter.com/{{ twitter['name'] }}">Tweets by qpercomobserve</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>   
  </div> 
</div> 
</div> 


  {% endif %}  
    
{% else %}
  <div class="contentdiv"><div class="front"></div></div>
{% endif %}
</div>

</div>