<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="assets/js/admin-data.js"></script>
{% if user_is_admin %}
<script src="assets/js/super-admin-data.js"></script>
{% endif %}

<div class="row">
<div class="col-lg-5 col-sm-6 col-12 mb-4">
<div class="card d-inline-block align-top h-100 w-100">
            <div class="card-header">
                <div class="card-title h6 mb-0">
                    <div class="row no-gutters align-items-center">
                        <img src="assets/images/last_active.svg" class="card-title-icon">
                        <span class="card-title-text">
                          Last Active Users
                        </span>
                      </div>
                </div>
            </div>
        <div class="card-body">
            <div class="card-text">
                <div class="last-active-wrap" data-scroll-scope>
                        <table class="white">
                                <thead>
                                        <tr id="last-active-users-header">
                                            <th class="text-center">
                                                <div>
                                                <img src="assets/images/last_active2.svg" class="card-title-icon">
                                                <span>
                                                    User
                                                </span>
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                <img src="assets/images/ip.svg" class="card-title-icon">
                                                <span>
                                                    IP
                                                </span>
                                                </div>
                                                </th>
                                            <th class="nbr">
                                                <div>
                                                <img src="assets/images/last_active_time.svg" class="card-title-icon">
                                                <span>
                                                Last Activity
                                                </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                            <tbody id="last-active-users-table"></tbody>
                        </table>
                    </div>
                    <div class="last-active-buttons row no-gutters justify-content-around mt-2">
                        <a id="btn-load-more" class="btn btn-primary btn-sm" href="javascript:void(0)">Load more</a>
                        <a class="btn btn-info btn-sm" id="btn-refresh-last-active" href="javascript:void(0)">Refresh</a>
                        <a class="btn btn-secondary btn-sm" href="manage.php?page=userlog_tool">View audit log</a>
                    </div>
            </div>
        </div>
        </div>
    </div>
{% if user_is_admin %}
<div class="col-lg-5 col-sm-6 col-12 mb-4">
<div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
                <div class="card-title h6 mb-0">
                    <div class="row no-gutters align-items-center">
                        <img src="assets/images/Submitted_Form_Count.svg" class="card-title-icon">
                        <span class="card-title-text">
                           Submitted Forms Count
                        </span>
                      </div>
                </div>
            </div>
        <div class="card-body">
            <div class="card-text">
                <div class="form-row information-filter">
                    <div class="col-5">
                            <input id="txt-date-from" class="form-control form-control-sm" placeholder="From date...">
                    </div>
                    <div class="col-5">
                            <input id="txt-date-to" class="form-control form-control-sm" placeholder="To date...">
                    </div>
                    <div class="col-2">
                            <button id="btn-update-scoresheets-count" class="btn btn-success btn-sm" type="button">
                                Filter
                            </button>
                    </div>
                </div>
            
                <p style="text-align: center">Number of submitted {{ 'forms'|trans }}</p>
                <p id="submitted-results-count" style="font-size: 400%; text-align: center; margin-bottom: 4px; font-weight: bold"></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

</div>
