{# Description: Twig template for assessment menu #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}
<div id="top" class=" border-bottom"> <div class="topimagediv container-fluid">
 <div class="innerimgdiv row no-gutters justify-content-between align-items-center">

 <div class="header-left">
 <nav class="navbar navbar-top-menu">

 <ul class="navbar-nav align-items-center navbar-expand navbar-default" id="navigation">
      <li class="navbar-brand">
        <img id="q-icon-top-left" src="assets/images/{{ skin.icon_filename }}" alt="{{name.long}}" title="{{name.long}}"><a class="logo-recruit">Recurit</a>
      </li>

      <li class="nav-item  ">
        <a class="nav-link mainlevel-nav" href="extra/initial.php?logout=lt">Logout</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link management_sel" href="javascript:void(0)">Manage</a>
      </li>

      {% if ('config' in enable_menus) %}
       
      {% if (selected_menu == 'config') %}
         {% set highlight = ' active' %}
         {% set link = 'javascript:void(0)' %}
      {% else %}
         {% set highlight = '' %}
         {% set link = 'assess.php?p=exam_configuration' %}
      {% endif %}

      <li class="nav-item{{ highlight|raw }}"><a href="{{ link|raw }}" class="mainlevel-nav nav-link">Configuration</a></li>
      
    {% endif %}
    
    {% if ('students' in enable_menus) %}
      
      {% if (selected_menu == 'students') %}
          {% set highlight = ' active' %}
          {% set link = 'javascript:void(0)' %}
      {% else %}
          {% set highlight = '' %}
          {% set link = 'assess.php?p=student_selection' %}
      {% endif %}
      
      <li class="nav-item{{ highlight|raw }}"><a href="{{ link|raw }}" class="mainlevel-nav nav-link">{{ 'students'|trans|title }}</a></li>
      
    {% endif %}
    
    {% if ('results' in enable_menus) %}
        
      {% if (selected_menu == 'results') %}
          {% set highlight = ' active' %}
          {% set link = 'javascript:void(0)' %}
      {% else %}
          {% set highlight = '' %}
          {% set link = 'assess.php?p=results' %}
      {% endif %}
      
      <li class="nav-item{{ highlight|raw }}"><a href="{{ link|raw }}" class="mainlevel-nav nav-link">Results</a></li>
      
    {% endif %}
    
    {% if ('change_examiners' in enable_menus) %}
        
      {% if (selected_menu == 'change_examiners') %}
          {% set highlight = ' active' %}
          {% set link = 'javascript:void(0)' %}
      {% else %}
          {% set highlight = '' %}
          {% set link = 'assess.php?p=examiners' %}
      {% endif %}     
        
      <li class="nav-item{{ highlight|raw }}"><a href="{{ link|raw }}" class="mainlevel-nav nav-link">Switch {{ 'examiner'|trans|title }}</a></li>
      
    {% endif %}
            
    </ul>
  </nav>

 </div> 
 
 </div>
</div>

<div class="fc"> 
<noscript>
<span class="bold">
  Javascript is disabled on this browser. In order for this site to work javascript needs to be enabled<br/>
  <a target="_blank" href="http://www.enable-javascript.com/">See Javascript guide?</a>
</span>
</noscript>
</div>
</div>
<div id="tabmenu">
</div>
{% if ('support' in enable_menus) %}
  <input type="image" id="support" src="assets/images/support.gif" alt="Click to request for assistance"/>
{% endif %}
<style type="text/css">
    .border-bottom{
        background-color: rgb(206,210,220);
    }
    .logo-recruit{
        font-size: 19px; font-weight: bold;text-transform: uppercase;color: rgb(127,64,152)!important;
    }
</style>
