{# Twig template to invoke buttonEditItem macro to replace editButton method in extra/helper.php #}
{% import "helpers.twig" as helpers %}
{{- helpers.buttonEditItem(anchor_class, anchor_id, image_class, alt, title) -}}