{# Description: Twig template for error messages  #}
{# Date: 09/04/2015 #}
{# Author: David Cunningham #}
{# © 2015 Qpercom Limited.  All rights reserved. #}

{% if content_wrapper %}
<div class="contentdiv">
{% endif %}
{% if message|length == 0 %}
  {% set message = "An error has occurred. Please contact your administrator" %}  
{% endif %}
<div class="errordiv">{{ message|raw }}
{% if return_url|length > 0 %}
  <br/><br/>
  <a href="{{ return_url|raw }}">click here to return to previous section</a>
{% endif %}
</div>

{% if content_wrapper %}
</div>
{% endif %}