<script>
    jQuery(function() {
        jQuery("#select-department").chosen();
    })
</script>
 
{# Twig template for filter_Options() function in extra/helper.php #}


<div class="card d-inline-block align-top w-100 h-100">
        <div class="card-header">
                <div class="card-title h6 mb-0">
                  <div class="row no-gutters align-items-center">
                    <img src="assets/images/Filter.svg" class="card-title-icon">
                    <span class="card-title-text">
                            Filter List
                    </span>
                  </div>
                </div>
            </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="filter">
        <li>
            <label for="select-department">{{ 'Department'|trans }} </label>
            <select id="select-department">
                <option value="" class="black">--</option>
        {% for schoolName, school in schools %}
        <optgroup label="{{ schoolName|title|raw }}">
          {% for department in school %}
             {% spaceless %}
                <option value="{{ department.dept_id }}" {{ (department.dept_id == selected_department) ? 'selected="selected"' }}>
                   {{ department.dept_name|raw }} [{{ department.dept_id|raw }}]
                </option>
             {% endspaceless %}
          {% endfor %}
        </optgroup>
        {% endfor %}
            </select>
        </li>
        <li>
            <label for="select-term">{{ 'Term'|trans }} </label>
            <select id="select-term" class="custom-select custom-select-sm w-auto">
                <option value="" class="black">--</option>
{% for term in terms %}
    {% spaceless %}
                <option value="{{ term.term_id }}" title="{{ term.term_desc|raw }}" {{ (term.term_id == selected_term) ? 'selected="selected"' }}>
                    {{ term.term_id|raw }}
                </option>
    {% endspaceless %}
{% endfor %}
            </select>
        </li>
                
   {% if accessible_option %}     
        <li>
            <label for="select-accessible">Accessible </label>
            <select id="select-accessible" class="custom-select custom-select-sm w-auto">
                <option value="">All</option>
                <option value="1"{{ (selected_accessible == "1") ? ' selected="selected"' }}>Yes</option>
                <option value="0"{{ (selected_accessible == "0") ? ' selected="selected"' }}>No</option>
            </select>
        </li>
  {% endif %}
  
  {% if filterTags|length > 0 %}
     {% set stickValues = stickies['form_bank'][selected_department]['tags'] %}
     {% set stickTags = stickValues|split(',') %} 
     <li>
       <label for="select-accessible">Filter Tags </label>
       <ul id="filter-tags">
       {% for tag in filterTags %}
         <li>
           <input type="checkbox" title="filter list by this tag" id="cbtags-{{ tag.id|raw }}" class="cb-tags" value="{{ tag.id|raw }}" {{ (tag.id in stickTags) ? 'checked="checked"'|raw }}/>   
           <label for="cbtags-{{ tag.id|raw }}" title="filter list by this tag">{{ tag.name|raw }}</label>
         </li>
       {% endfor %}
       </ul>
     </li>
  {% endif %}
  </ul>
        </div>
    </div>
</div>
