{# Twig template for "flash" (read once) system messages #}
{% spaceless %}
<br id="break-flash"/>
<div class="flashbox" id="flash-messages">
{% for message in messages %}
    <div class="flash-message">
{% if message.type is constant("\\OMIS\\Session\\FlashMessage::SESSION_FLASH_ERROR") %}
        <img src="{{- image_folder -}}/exclamation.png" alt="warning" class="flash-icon" width="16" height="16"/>
        <span class="flash-error">{{- message.message|trim -}}</span>
{% elseif message.type is constant("\\OMIS\\Session\\FlashMessage::SESSION_FLASH_WARNING") %}
        <img src="{{- image_folder -}}/error.png" alt="error" class="flash-icon" width="16" height="16"/>
        <span class="flash-warning">{{- message.message|trim -}}</span>
{% else %}
        <img src="{{- image_folder -}}/information.png" alt="information" class="flash-icon" width="16" height="16"/>
        <span class="flash-information">{{- message.message|trim -}}</span>
{% endif %}
    </div>
{% endfor %}
</div>
{% endspaceless %}