{# Twig template for a selection of small utility functions #}
{% macro buttonEditItem(anchor_class, anchor_id, image_class, alt, title, link) %}
{# Render a "pencil" edit button in HTML. #}
{# Replaces editButton() function in /extra/helper.php #}
{# NOTE: editButton() argument order is different. Must be a good reason why. #}
    {%- spaceless %}
    {% set anchorClassAttr = (anchor_class|length > 0) ? ' class="' ~ anchor_class ~ '"' : '' %}
    {% set anchorIDAttr = (anchor_id|length > 0) ? ' id="' ~ anchor_id ~ '"' : '' %}
    {% set href = (link|length > 0) ? link : 'javascript:void(0)' %}
    <a href="{{ href|raw }}"{{ anchorClassAttr|raw }}{{ anchorIDAttr|raw }}>
       <img class='{{ image_class|default('editb') }}' src='assets/images/edit.svg' alt='{{ alt|default('Edit') }}' title='{{ title|default('Edit') }}'/>
    </a>
   {% endspaceless -%}
{% endmacro %}

{% macro selectEnableOrDisable(name, enabled) %}
{# Render a suitably colourful "enabled/disabled" selector, mostly for users #}
    {% spaceless %}
    {% set enabled_index = (enabled) ? 1 : 0 %}
    {% endspaceless %}
    <select id="{{ name }}" class="custom-select custom-select-sm w-auto">
        <option value="1" class="green" {{ enabled_index == 1 ? 'selected="selected"' : ''}}>Enabled</option>
        <option value="0" class="red" {{ enabled_index == 0 ? 'selected="selected"' : ''}}>Disabled</option>
    </select>
{% endmacro %}

{% macro selectYesOrNo(name, enabled, case = 'upper') %}
{# Render a suitably colourful "enabled/disabled" selector, mostly for users #}
    {% spaceless %}
    {% set enabled_index = (enabled) ? 1 : 0 %}
    {% endspaceless %}
    <select id="{{ name }}" class="custom-select custom-select-sm w-auto">
        {% set caseYes = (case == 'upper') ? "YES" : "yes" %}
        {% set caseNo = (case == 'upper') ? "NO" : "no" %}
        <option value="1" class="green" {{ (enabled_index == 1) ? 'selected="selected"'}}>{{ caseYes }}</option>
        <option value="0" class="red" {{ (enabled_index == 0) ? 'selected="selected"'}}>{{ caseNo }}</option>
    </select>
{% endmacro %}

{% macro checkboxYesOrNo(name, enabled, class) %}
{# Render checkbox version of the select yes/no  #}
    {% spaceless %}
    {% set enabled_value = (enabled) ? 1 : 0 %}
    {% set checked_attribute = (enabled) ? ' checked="checked"' : '' %}
    <input type="checkbox" id="{{ name }}" class="{{ class }}" value="{{ enabled_value }}"{{ checked_attribute|raw }}/>
    {% endspaceless %}
{% endmacro %}

{% macro selectRole(name, roles, selected) %}
{# Render a role select dialog, where the selected role can be pre-chosen. #}
    <select id="{{ name }}" class="custom-select custom-select-sm w-auto">
    {% if selected is not defined %}
        {% set selected = -1 %}
    {% endif %}
    {% for role in roles %}
        {% spaceless %}
        <option value="{{ role.role_id }}" title="{{ role.name|raw }}: {{ role.description|raw }}" 
            {{ (selected == role.role_id) ? 'selected="selected"' }}>
            {{ role.shortname|raw }}
        </option>
        {% endspaceless %}
    {% endfor %}
    </select>
{% endmacro %}

{% macro renderDepartmentList(departments) %}
{# Render a list of departments within a table row. #}
    {% if (departments|length > 0) %}
        {% for department in departments %}
            {{ department.dept_name|raw }} [<span class="boldgreen">{{ department.dept_id|raw }}</span>]<br/>
        {% endfor %}
    {% else %}
        (No {{ 'Departments'|trans }})
    {% endif %}
{% endmacro %}

{# Sort by database field #}
{% macro sortByDatabaseField(title, orderIndex, databaseIndex, orderType, url) %}
  <th>
  {# Sorting disabled #}
  {% if orderIndex|length == 0 or orderIndex is null %}
     {{ title|raw }}
  {# Sorting enabled #}
  {% else %}
      <a {% if orderIndex == databaseIndex %}
          {% if orderType == "asc" %}
             {% set url = url ~ "&amp;i=" ~ databaseIndex ~ "&amp;o=desc" %}
             href="{{ url|raw }}" class="title_au orderlink" data-original-title="Click To Sort" rel=" "
          {% elseif orderType == "desc" %}
             {% set url = url ~ "&amp;i=" ~ databaseIndex ~ "&amp;o=asc" %}
             href="{{ url|raw }}" class="title_ad orderlink" data-original-title="Click To Sort" rel=" "
          {% endif %}
        {% else %}
           {% set url = url ~ "&amp;i=" ~ databaseIndex ~ "&amp;o=" ~ orderType %} 
           href="{{ url|raw }}" class="orderlink" data-original-title="Click To Sort" rel=" "
        {% endif %}
      >{{ title|raw }}</a>
  {% endif %}
  </th>
{% endmacro %}
    
{# Sort column #}
{% macro sortColumn(title, index, type, sort, url, enabled) %}

    <a 
     {# Sorting disabled in any case #}   
     {% if enabled == false %}
        href="javascript:void(0)" 
     
     {# Sort this column #}
     {% elseif sort %}
         {# Sort ASC #}
         {% if type == 'asc' %}
           {% set href = url ~ '&amp;order_index=' ~ index ~ '&amp;order_type=desc' %}
           href="{{ href|raw }}" class='title_au orderlink' data-original-title="Click To Sort" rel=""
           
         {# Sort DESC #}
         {% elseif type == 'desc' %}
           {% set href = url ~ '&amp;order_index=' ~ index ~ '&amp;order_type=asc' %}
           href="{{ href|raw }}" class='title_ad orderlink' data-original-title="Click To Sort" rel=""
         {% endif %}
         
    {# Specific Sort #}
    {% else %}
         {% set href = url ~ '&amp;order_index=' ~ index ~ '&amp;order_type=' ~ type %}
         href="{{ href|raw }}" class='orderlink' data-original-title="Click To Sort" rel=""
    {% endif %}
    
    >{{ title|raw }}</a>
    
{% endmacro %}