{# Description: Twig template for error messages  #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% set justReturn = (jumpRecords.previousUrl|length == 0 and jumpRecords.nextUrl|length == 0) %}  

<div class="jump-button-div"{% if justReturn %} style="min-width: 0 !important"{% elseif jumpRecords.boxWidth|length > 0 %} style="width: {{ jumpRecords.boxWidth }} !important"{% endif %}>
  {% if jumpRecords.customEvents %} 
    <script>
        jQuery(document).ready(function() {
            jQuery('.previous').click(function() {
               parent.location="{{ jumpRecords.previousUrl|raw }}";
            });

            jQuery('.next').click(function() {
               parent.location="{{ jumpRecords.nextUrl|raw }}";
            });
        });
    </script>
  {% endif %}
    <input type="button" class="return{% if justReturn %} reset-return-margin{% endif %} btn btn-sm btn-dark" title="Return to List" value="{{ jumpRecords.returnLabel|raw }}"/>
    {% if jumpRecords.previousUrl|length %} 
      <input type="hidden" id="previous-url" value="{{ jumpRecords.previousUrl|e('html_attr') }}"/>
      <input type="button" id="previous" class="previous btn btn-sm btn-secondary" title="Jump to Previous {{ jumpRecords.previousRecordLabel|raw }}" value="<{% if not jumpRecords.noRecordLabel %} Previous {{ jumpRecords.previousRecordLabel|raw }}{% endif %}"/>
    {% endif %}
    
    {% if jumpRecords.nextUrl|length %}
      <input type="hidden" id="next-url" value="{{ jumpRecords.nextUrl|e('html_attr') }}"/>
      <input type="button" id="next" class="next btn btn-sm btn-secondary" title="Jump to Next {{ jumpRecords.previousRecordLabel|raw }}" value="{% if not jumpRecords.noRecordLabel %}Next {{ jumpRecords.nextRecordLabel|raw }} {% endif %}>"/>
    {% endif %}
</div>
