{# Twig template for when someone tries to run a redirect they're not allowed to #}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 
    'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>You're not authorized to perform this action</title>
    <link rel="stylesheet" type="text/css" href="../css/basic.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style_reg.css"/>
</head>
<body>
    <div class="errordiv">
        <p>Sorry, you're not authorized to perform this action.</p>
{% if logged_in %}
        <p>If you believe this is in error, please contact <a href="mailto:support@qpercom.ie">support@qpercom.ie</a>
        and provide them with the following details:</p>

        <div class="pre">
        Instance: {{ root_url }}<br/>
        Username: {{ username }}<br/>
        Page: {{ page }}<br/>
        Failure Reason: Access Denied<br/>
        </div>

        <p>(You can copy and paste this information directly into the e-mail)</p>

        <p>Thanks,<br/>
        Qpercom Support.
        </p>
{% endif %}
        <button onclick="history.go(-1)">Return to previous page</button>
    </div>
</body>
</html>