{# Render pagination options i.e. page numbers #}
{# Date: 29/07/2015 #}
{# Author: David Cunningham #}
{# © 2015 Qpercom Limited.  All rights reserved. #}

{# Only render pagination if page count > 0 #}
{% if (pageCount > 0) %}

  <table class="navigate">
  <tr>
     
  {# Previous page link #}
  {% if currentPage not in [0,1] %}
    {% set previousPage = currentPage - 1 %}
    {% set revisedURL = pageURL ~ previousPage %}
     <td><a href="{{ revisedURL|raw }}">Previous</a></td>
  {% endif %}
  
  {# Page numbers #}
  {% for pageNumber in range(1, pageCount) %}
    {% set revisedURL = pageURL ~ pageNumber %}
    {% if pageNumber == currentPage %}
       <td>{{ pageNumber|raw }}</td>
    {% else %}
       <td><a href="{{ revisedURL|raw }}">{{ pageNumber|raw }}</a></td>
    {% endif %}
  {% endfor %}
      
  {# Next page link #}
  {% if currentPage != pageCount and currentPage != 0 %}
     {% set nextPage = currentPage + 1 %}
     {% set revisedURL = pageURL ~nextPage %}
     <td><a href="{{ revisedURL|raw }}">Next</a></td>
  {% endif %}
  
  {# Complete list link #}
  {% if currentPage != 0 %}
    {% set revisedURL = pageURL ~ "0" %}
    <td><a href="{{ revisedURL|raw }}">All</a></td>
  {% else %}
    <td>All</td>
  {% endif %}
  </tr>
  </table>
    
{% endif %}
