{# Description: Twig template for password fields in the Manage Admins and Examiners section #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% if enable_password_fields %}
  {% set password_field_attr = 'value=""' %}
{% else %}
  {% set password_field_attr = 'disabled="disabled" value="*******"' %}
{% endif %}

{# Name attribute for password and change password fields #}
{% set password_name = (password_field_name is defined) ? password_field_name : "password" %}
{% set change_name = (change_field_name is defined) ? change_field_name : "change" %}

<td class="password-fields-td">
<div class="first-password-field-div">
  <input type="password" class="first-password-field form-control form-control-sm" name="{{ password_name }}" placeholder="enter password" {{ password_field_attr|raw }} autocomplete="false"/>
  <div class="pwstrength-viewport-progress"></div>
</div>
<div class="second-password-field-div">
  <input type="password" class="second-password-field form-control form-control-sm" placeholder="confirm password" {{ password_field_attr|raw }}/>
</div>
<div class="change-option-div">
 {% if show_change_checkbox %}
  <label class="change normal">Change</label>
  <input type="checkbox" class="change-password" name="{{ change_name }}" title="Change Password"/>
 {% endif %}
</div><br/>
</td>
