{# Twig template to load and invoke Pubble (pubble.io) #}
{% if pubble.enabled %}
    <div class="pubble-app" data-app-id="{{ pubble.appID }}" data-app-identifier="{{ pubble.identifier }}" 
         data-user-name="{{ user_fullname|raw }}" data-user-email="{{ user_email|raw }}"></div>
    <script src="{{ pubble.source }}" defer></script>
{% endif %}