{# Description: Twig template for records table/list #}
{# Date: 15/12/2015 #}
{# Author: David Cunningham #}
{# © 2015 Qpercom Limited.  All rights reserved. #}

{% import "helpers.twig" as helpers %}
{% set num_of_fields = field_types|length %}
<div class="contentdiv">
    
<form id="list-form" action="">
<table id="list-table" class="table-border">
 <tr id="title-row" class="title-row">
    <td class="all-checkbox-td">
       <input type="checkbox" id="check-all" {% if records|length == 0 %}disabled="disabled"{% endif %}/>
    </td>

    {% for title in titles %}
        <th>{{ title }}</th>
    {% endfor %}
    
    <td class="edit-column-title">&nbsp;</td>
 </tr>
 {% for key, fields in records %}
   <tr class="datarow">
     <td class="checkb">
       <input type="checkbox" class="list-check" value="{{ key }}"/>
     </td>
     
    {% spaceless %}
     {% for field in fields %}
       {% set type = field_types[loop.index0]['type'] %}
       {% set center = (type == "yes-icon" or type == "text-center") ? " tac" : "" %}
       <td class="data-cell{{ center }}"> 
         {% if type == "link" %}
          {% set page = sub_pages[loop.index0] %} 
          {% set linkUrl = "manage.php?page=" ~ page ~ "&id=" ~ key %}
           <a href="{{ linkUrl }}" class="field-link">{{ field|raw }}</a>
         {% elseif type == "yes-icon" %}
            {% if field == 1 %}
               <img src="assets/images/green-check.png" title="enabled" alt="enabled" class="check-icon"/>
            {% endif %}    
         {% else %}
             <span>{{ field|raw }}</span>
         {% endif %}
       </td>
     {% endfor %}
    {% endspaceless %}
     
     <td class="titleedit2">
      {{ helpers.buttonEditItem('edit-record', "", 'editb', edit_message, edit_message) }}
     </td>
   </tr>
{% endfor %}

{% if records|length == 0 %}
<tr id="no-records-row">
  <td colspan="{{ num_of_fields+2 }}" class="mess">
      <div class="tablestatus3">{{ list_empty_message|raw }}</div>
  </td>
</tr>
{% endif %}

<tr id="base-row">
 <td colspan="{{ num_of_fields+2 }}" class="base-button-options" id="base-button-td">
  
  {% if records|length > 0 %}
    {% spaceless %} 
     <div id="action-fields" class="fl">
      <select id="actions" disabled="disabled" class="custom-select custom-select-sm">
       <option value="delete">delete from system</option>
      </select>
      <input type="button" value="go" id="go" disabled="disabled" class="btn btn-outline-default btn-sm"/>
     </div>
    {% endspaceless %}
  {% endif %}
   <div id="add-div">
      {% for sub_page in sub_pages %}
          <input type="hidden" id="field{{ loop.index }}-subpage" value="{{ sub_page }}"/>
      {% endfor %}
      {% for key, hidden_field in additional_hidden_fields %}
          <input type="hidden" id="{{ key }}" value="{{ hidden_field }}"/>
      {% endfor %}
      <input type="hidden" id="num-of-fields" value="{{ num_of_fields }}"/>
      <input type="hidden" id="list-empty-message" value="{{ list_empty_message }}"/>
      <input type="hidden" id="edit-tooltip-message" value="{{ edit_message }}"/>
      <input type="button" value="add +" id="add" class="btn btn-success btn-sm"/>
   </div>			 
  </td>
 </tr>

</table>
</form>
</div>