{# Description: Section Description Twig template #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

<div class="topmain">
  <div class="row">
    <div class="col-5">
        <div class="card d-inline-block align-top mr-2 w-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    {{ title|raw }}
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                {{ description|raw }}
            
               {# Additional Information #}
               {% if section_text|length > 0 %}
                <div style="margin-top: 8px">
                 {% for name, value in section_text %}
                      <div><span class="bold">{{ name }}: </span>{{ value }}</div>
                 {% endfor %}
                </div>
               {% endif %}
              </div>   
            </div> 
          </div>           
    </div>

    <div class="col-5">
   {# Options Panel #}
   {% if return_button == true or additional_buttons|length > 0 %}
     <div class="divoptions">
      {% if return_button == true %}
        {% set return_button_text = (return_text is defined) ? return_text : "Return" %}
        <input type="button" value="{{ return_button_text }}" class="return btn btn-dark"/>
      {% endif %}
  
      {% if additional_buttons|length > 0 %}
         {% for additional_button in additional_buttons %}
             {% set disabledAttr = (additional_button['disabled']) ? ' disabled="disabled"' : '' %}
              <input class="btn btn-info" type="{{ additional_button['type']|raw }}" id="{{ additional_button['id']|raw }}"
                    value="{{ additional_button['value']|raw }}"{{ disabledAttr|raw }}/>
         {% endfor %}
      {% endif %}
     </div>
   {% endif %}
    </div>
  </div>


   <div class="topmain-clear"></div>
</div>