<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qpercom | Exam monitor</title>
    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #rotations-monitor {
            display: flex;
            align-items: stretch;
        }

        .station, .rotation {
            transition: background-color 0.5s;
        }

        .blank {
            background-color: #e8e8e8;
            box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.2);
        }

        .open-scoresheet {
            background-color: #e1bee7 !important;
        }

        .blank-discarded {
            box-shadow: inset 1px 1px 15px rgb(192, 226, 177);
        }

        .rest-station {
            background-color: #f3f3f3;
        }

        .progress-bar-osce {
            transition: width 1s, background-color 1s;
        }

        .progress-bar-complete {
            box-shadow: inset 0 0 7px 3px #00ff007d;
        }

        .groups-checkform {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            flex-wrap: wrap;
            max-height: 100px;
            list-style: none;
            padding-left: 0;
        }

        [v-cloak] {
            display: none;
        }

        td.station.success {
            background-color: #dff0d8 !important;
        }

        .rotation-number {
            text-align: center;
            vertical-align: middle !important;
            opacity: .6;
        }

        .info .rotation-number {
            font-weight: bold;
        }
        
        .active a {
            color: #fff;
            font-weight: bold;
        }

        .list-group div.active {
            box-shadow: 0px 3px 10px rgba(0, 0, 0, .6);
            transition: box-shadow 0.1s;
        }

        .list-group-item {
            border-color: #d1dfe4;
        }

        .list-group-item.side-menu {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .list-group-item.active {
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .list-group-item.active:hover {
            background-color: #449e71;
            border-color: #378c62;
        }

        .extra-rotation {
            background-color: #ddd;
        }

        .btn[disabled] {
            border: none;
        }

        .left-menu-item {
            text-decoration: none !important;
            color: #fff;
            padding: 1em;
            width: 100%;
            display: block;
        }

        .left-menu-item:hover {
            background-color: #455b65;
            color: #fff;
        }

        .left-menu-separator {
            border-top-color: rgb(37, 60, 70);
        }

        .session-list-item {
            color: #314953;
        }

        .session-list-item:hover {
            color: #233740;
        }

        a {
            color: rgb(49, 73, 84);
        }

        .panel-primary {
            border-color: rgb(49, 73, 84);
        }

        .panel-primary > .panel-heading {
            background-color: rgb(49, 73, 84);
            border-color: rgb(49, 73, 84);
        }
    </style>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

    <!-- Template of the station component -->
    <script type="text/x-template" id="station-monitor-template">
        {% raw %}
        <td style="text-align: center; cursor: pointer" :class="studentStationClass(studentStation)"
            @click="detailStudentStation(studentStation)">
            <div style="font-size: 70%">
                <span v-if="studentStation.student.student_id" :style="rotationsLogic.isRestStation(studentStation.station) ? 'color: #b6c4cc' : ''">{{ displayStudentId() }}</span>
                <span v-else>-</span>
                <span v-if="studentStation.absent">(Absent)</span>
            </div>
            <div class="progress" :style="(studentStation.progress && rotationsLogic.getProgressPercentage(studentStation.progress) > 0) ? '' : 'visibility: hidden'"
                @click="detailStudentStation(studentStation)">
                <div :class="['progress-bar', 'progress-bar-striped', 'progress-bar-osce', rotationsLogic.isCompleteStation(studentStation) ? 'progress-bar-success' : 'progress-bar-warning', 'progress-bar-osce']"
                     :style="'width: ' + rotationsLogic.getProgressPercentage(studentStation.progress) + '%;'">
                </div>
            </div>
        </td>
        {% endraw %}
    </script>

    <!-- Template of the session component -->
    <script type="text/x-template" id="session-monitor-template">
        {% raw %}
        <div>
        <h2 class="session-title" :data-session-id="sessionId" :id="'session' + sessionId">
            {{ sessionDescription }}
            <small>
                {{ formattedDate }}
            </small>
        </h2>
        <div class="panel panel-primary" style="overflow-x: scroll">
            <div class="panel-heading">Groups</div>
            <div class="panel-body">
                <ul class="groups-checkform">
                    <li class="checkbox" style="margin-top: 0">
                        <label style="font-weight: bold">
                            <input checked="checked" type="checkbox" @click="toggleCheckboxes">
                            All groups
                        </label>
                    </li>

                    <li class="checkbox" v-for="group in rotationData.groups" style="margin-top: 0">
                        <label>
                            <input :value="group.group.group_id" type="checkbox" v-model="options.selectedGroups"/>
                            <a :href="'#group' + group.group.group_id">{{group.group.group_name}}</a>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="panel-footer" v-if="options.selectedGroups.length == 0">
                <div class="card-text text-center text-muted">
                    No groups to display
                </div>
            </div>
            <table v-else class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align: center; vertical-align: middle">Group</th>
                        <th :colspan="rotationData.stations.length" style="text-align: center">Station</th>
                        <th rowspan="2" style="text-align: center; vertical-align: middle"># rotation</th>
                    </tr>
                    <tr>
                        <th v-for="station in rotationData.stations">
                            Station {{station.station_number}}
                        </th>
                    </tr>
                </thead>
                <tbody v-for="(group, gi) in rotationData.groups" v-if="displayGroup(group)">
                    <tr :class="ongoingCell(rotation, rotationsLogic.isOngoingRotation)" v-for="(rotation, i) in group.rotations"
                        :id="rotationsLogic.isOngoingRotation(rotation) ? 'ongoing' + sessionId : false">
                        <th :class="ongoingCell(group, function(group) { return group.rotations.some(rotationsLogic.isOngoingRotation) })"
                            :id="'group' + group.group.group_id" scope="row" v-if="i == 0"
                            style="vertical-align: middle; text-align: center"
                            :rowspan="group.rotations.length">{{group.group.group_name}}</th>

                        <td is="station-monitor" v-for="student in rotation" :student-station="student"
                            @detailed-student="detailStudentStation" :rotations-logic="rotationsLogic"></td>

                        <td class="rotation-number">
                            {{ (gi * group.rotations.length) + i + 1 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        {% endraw %}
    </script>

    <script src="../assets/js/session-rotations.js"></script>
    <script src="../assets/js/session-monitor.js"></script>
    <script src="../assets/js/session-monitor-component.js"></script>
    <script src="../assets/js/station-monitor-component.js"></script>
    <script src="../assets/js/rotations-monitor.js"></script>
    <script src="../assets/js/he.js"></script>

</head>
<body>
    <input type="hidden" id="ws-endpoint" value="{{ wsEndpoint }}" />
    <input type="hidden" id="exam-sessions" value="{{ examSessions }}" />
    <input type="hidden" id="student-id-key" value="{{ studentIdKey }}" />

    <div id="rotations-monitor" style="min-height: 100vh">
        {#<!-- Left menu -->#}
        <div style="flex-grow: 1; background-color: rgb(49,73,84); border-right: 1px solid #c3c3c3; box-shadow: #ddd 2px 0 4px">
            <div style="padding: 1em; padding-bottom: 0">
                <label style="color: #fff">Select session/circuit</label>
                <select v-model="selectedSession" class="form-control form-control-sm" @change="onSelectedSession">
                    <option value="" selected="selected" disabled="disabled">---- Select circuit ----</option>
                    <option v-for="session in availableSessions" :value="session">
                        {% raw %}{{ session.session_description }} - {{ formatDate(session.session_date) }}{% endraw %}
                    </option>
                    <option style="font-style: italic; font-weight: bold" v-if="availableSessions.length" :value="null">
                        Show all circuits
                    </option>
                </select>
            </div>

            <div>
                <hr class="left-menu-separator" style="margin-bottom: 0" />
                <div class="left-menu-item">
                    <input id="chck-display-student-ids" type="checkbox" v-model="displayStudentIDs" style="margin-right: 2em; cursor: pointer" />
                    <label for="chck-display-student-ids" style="cursor: pointer;">Display student IDs</label>
                </div>
            </div>

            <div v-if="ongoingRotations.length > 0">
                <hr class="left-menu-separator" style="margin-bottom: 0; margin-top: 0" />
                <a href="#ongoing-overview" class="left-menu-item">
                    <span class="glyphicon glyphicon-time" style="margin-right: 2em"></span>
                    <span style="font-weight: bold;">Ongoing overview</span>
                </a>
            </div>

            <div v-if="sessions.length">
                <hr class="left-menu-separator" :style="ongoingRotations.length > 0 ? 'margin-top: 0' : false" />
                <label style="margin-left: 1em; color: #fff">Selected circuits</label>
            </div>

            <div style="padding: 1em">
                <div class="list-group">
                    <draggable :options="{handle: '.handle'}" v-model="sessions">
                        <div :key="session.sessionID" v-for="session in sessions"
                             :class="['list-group-item', 'side-menu', session.sessionID == currentSessionId ? 'active' : '']"
                             :style="session.circuitColour ? 'border-left: 3px solid #' + session.circuitColour : false">
                            <a class="session-list-item" style="font-size:85%" :href="'#session' + session.sessionID" @click="onClickSessionMenu"
                                :data-session-id="session.sessionID">
                                {% raw %}{{ session.sessionDescription }}{% endraw %}
                            </a>
                            <div style="float:right; ">
                                <a @click="removeSession(session.sessionID)" class="glyphicon glyphicon-remove"
                                   title="Remove from monitor" style="cursor: pointer; font-size: 80%; color: #cb6e63"></a>
                                <a v-if="session.hasOngoing" class="glyphicon glyphicon-time session-list-item" title="Go to ongoing rotation"
                                   style="cursor: pointer; font-size: 80%" :href="'#ongoing' + session.sessionID">
                                </a>
                                <a class="handle glyphicon glyphicon-menu-hamburger session-list-item" title="Drag and drop to reorder" style="cursor:pointer; font-size: 80%"></a>
                            </div>
                        </div>
                    </draggable>
                </div>
            </div>
        </div>

        <div style="flex-grow: 5;">
            <div class="container-fluid" v-if="sessions.length == 0">
                <div class="jumbotron" style="background-color: white">
                    <h1>
                        {{ exam.exam_name }}<br/>
                        <small>{{ exam.exam_description }}</small>
                    </h1>
                </div>
            </div>
            <div v-else style="transition: display 2s;" v-cloak>
                {#<!-- Ongoing overview table -->#}
                <div v-if="ongoingRotations.length > 0">
                    <div class="container-fluid">
                        <h2 id="ongoing-overview">Ongoing overview</h2>
                        <div>
                            {% raw %}
                            <table class="table table-bordered table-hover table-striped">
                                <template  v-for="ongoingRotation in ongoingRotations">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle" rowspan="2">Group</th>
                                        <th :colspan="maxNumberOfOngoingStations" style="text-align: center">
                                            <span v-if="ongoingRotation.circuitColour" :style="'background-color: #' + ongoingRotation.circuitColour + '; margin-right: 0.5em'">
                                                &nbsp;&nbsp;
                                            </span>
                                            {{ ongoingRotation.sessionDescription }}
                                        </th>
                                        <th rowspan="2" style="text-align:center; vertical-align: middle"># rotation</th>
                                    </tr>
                                    <tr>
                                        <th v-for="station in ongoingRotation.stations" style="">Station {{ station.station_number }}</th>
                                        <th v-for="_ in (maxNumberOfOngoingStations - ongoingRotation.stations.length)" class="extra-rotation"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(rotation, i) in ongoingRotation.rotations" :class="rotation.isOngoing ? ['info'] : []">
                                        <td v-if="i == 0" :rowspan="ongoingRotation.rotations.length" style="text-align: center; vertical-align: middle; font-weight: bold">{{ ongoingRotation.group.group_name }}</td>
                                        <td is="station-monitor" :key="student.student.student_id + '.' + i"
                                            v-for="(student, i) in rotation.rotation" :student-station="student" :rotations-logic="ongoingRotation.rotationsLogic"
                                            @detailed-student="detailStudentStation" @update-detail-position="updateDetailPosition" @hide-student="hideStudentStation"></td>

                                        <td v-for="_ in (maxNumberOfOngoingStations - ongoingRotation.stations.length)"
                                            class="extra-rotation"></td>
                                        <td class="rotation-number">{{ rotation.rotationNumber + 1 }}</td>
                                    </tr>
                                    </tbody>
                                </template>
                            </table>
                            {% endraw %}
                        </div>
                    </div>
                    <hr/>
                </div>

                {#<!-- Monitored sessions -->#}
                <div v-for="(session, i) in sessions">
                    <hr v-if="i !== 0" />
                    <div class="container-fluid">
                        <session-monitor :rotation-data="session.rotationData" :session-id="session.sessionID" :session-description="session.sessionDescription"
                                         :key="session.sessionID" :session-date="session.sessionDate" @changed-ongoing="changeOngoingFor(session)"
                                         ref="sessionComponents" @detailed-student="detailStudentStation">
                        </session-monitor>
                    </div>
                </div>

                {#<!-- Detail view -->#}
                {% raw %}
                <div id="detail-student-modal" class="modal fade" v-if="detail.visible">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading" style="font-weight: bold">Student</div>
                                <div class="panel-body">
                                    {{ detail.studentIdDisplay }} - {{ detail.data.student.forename }} {{ detail.data.student.surname }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading" style="font-weight: bold">Station</div>
                                <ul class="list-group">
                                    <li v-for="station in detail.data.station"
                                        class="list-group-item">
                        <span
                                v-for="examinerProgress in detail.data.progress.filter(function(p) { return p.station_id === station.station_id; })"
                                :style="'background-color: ' + colourAssigner.getColourFor(examinerProgress.examiner_id) + '; margin-right: 0.5em;'"
                        >&nbsp;&nbsp;&nbsp;</span>
                                        {{ station.form_name || 'Rest station' }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="detail.data.progress.length" style="margin-left: 0; margin-right: 0">
                        <div class="panel col-md-12">
                            <div class="panel-heading" style="font-weight: bold">Examiners</div>
                            <div class="list-group">
                                <div v-for="examinerProgress in detail.data.progress" class="list-group-item">
                                    {{ examinerProgress.examiner_id }} - {{ examinerProgress.forename }} {{ examinerProgress.surname }}
                                    <div class="progress">
                                        <div :class="['progress-bar', 'progress-bar-osce', examinerProgress.is_complete === '1' ? 'progress-bar-complete' : '']"
                                             :style="'width: ' + parseInt(examinerProgress.completed) * 100 / parseInt(examinerProgress.total) + '%; background-color: ' + colourAssigner.getColourFor(examinerProgress.examiner_id)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-else-if="detail.logic.getExaminersForStation(detail.data.station[0].station_number).length" style="margin-left: 0; margin-right: 0">
                        <div class="panel col-md-12">
                            <div class="panel-heading" style="font-weight: bold">Expected examiners</div>
                            <ul class="list-group">
                                <li v-for="examiner in detail.logic.getExaminersForStation(detail.data.station[0].station_number)" class="list-group-item">
                                    {{ examiner.user_id }} - {{ examiner.forename }} {{ examiner.surname }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0; margin-right: 0">
                        <div class="col-md-12" style="padding-bottom: 0.5em">
                            <span class="label label-info" v-if="detail.logic.isRestStation(detail.data.station)">Rest station</span>
                            <span class="label label-warning" v-if="detail.data.absent">Absent student</span>
                            <span class="label label-success" v-if="detail.logic.isCompleteStation(detail.data)">Completed</span>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                {% endraw %}
            </div>
        </div>
    </div>
</body>
