{# Description: Twig template for standalone error messages  #}
{# Date: 03/10/2016 #}
{# Author: David Cunningham #}
{# © 2016 Qpercom Limited.  All rights reserved. #}
<br/><div class="errordiv error-adjust">
    {{ message|raw }}
</div><br/></div>