{# Twig template for timepicker options #}

  {# Station Time #}
  {% set defaultHour = time[0] %}
  {% set defaultMins = time[1] %}
  {% set defaultSecs = time[2] %}

  {%- if pickerLabel|length > 0 -%}
  <li><label for="{{ pickerID }}-hrs">{{ pickerLabel|raw }}</label>
  {%- endif -%}    
      <select id="{{ pickerID }}-hrs" title="Hours" class="disable-element">
       {% for hour in 0..23 %}
         {% set selected = (defaultHour == hour) ? ' selected="selected"' : '' %}
         <option value="{{ hour }}"{{ selected|raw }} title="Hours">{{ "%02d"|format(hour) }}</option>
       {% endfor %}
     </select>
     <select id="{{ pickerID }}-mins" title="Minutes" class="disable-element">
       {% for min in 0..59 %}
         {% set selected = (defaultMins == min) ? ' selected="selected"' : '' %}
         <option value="{{ min }}"{{ selected|raw }} title="Minutes">{{ "%02d"|format(min) }}</option>
       {% endfor %}
     </select>
     <select id="{{ pickerID }}-secs" title="Seconds" class="disable-element">
       {% for sec in 0..59 %}
         {% set selected = (defaultSecs == sec) ? ' selected="selected"' : '' %}
         <option value="{{ sec }}"{{ selected|raw }} title="Seconds">{{ "%02d"|format(sec) }}</option>
       {% endfor %}
     </select>
     {%- if buffer -%}
     <div style="height: 6px">&nbsp;</div> 
     {%- endif -%}
  {%- if includeLabel -%}
  </li>
  {%- endif -%}