{# Twig template for pdfgen/frame_results.php #}
<form id="pdform" action="manage.php" method="post">
<div id="opt-div">
<div id="forms-title"><span class="bold">Stations: </span></div>
<ul class="forms-container">
{% for number, station in results %}
  {% set checked = ((not genClicked) or (number in stationsSelected)) %}
  {% set formNames = [] %}
  {% for result in station %}
     {% if result['form_name'] not in formNames %}
       {% set formNames = formNames|merge([result['form_name']]) %}
     {% endif %}
  {% endfor %}
    <li class="each-form" title="{{ formNames|join(" | ") }}">
      <span>
      {% spaceless %}
        <input type="checkbox" name="stations[]" id="si{{- number -}}" value="{{- number -}}" {% if checked %}checked="checked"{% endif %}/>
        <label for="si{{- number -}}" style="cursor:help">Station {{ number }}</label>
      {% endspaceless %}
      </span>
    </li>
{% endfor %}
</ul>
<div><span class="bold f12">Options: </span></div>
  <ul class="forms-container">
    <li class="each-form">
      <span>
      {% spaceless %}
      <input type="checkbox" id="include-observer-results" name="observers" {% if observerScores == 1 %}checked="checked"{% endif %} value="1"/>
      <label for="include-observer-results">Include Observer Scores (if any)</label>
      {% endspaceless %}
      </span>
    </li>  
  </ul>
  <div>
    <input type="hidden" id="respdf-info" value="{{- studentName ~ ' | ' ~ examDB.exam_name -}}" />
    <input type="hidden" name="page" value="pdfresults"/> 
    <input type="hidden" id="exam" name="exam" value="{{- examID -}}"/>
    <input type="hidden" id="student" name="student" value="{{- studentID -}}"/>
    <input type="button" id="back-{{ allResultsPage ? 'all' : 'single' }}" class="backb btn btn-secondary btn-sm" value="Back"/>
    <input type="submit" id="gen" name="gen" value="Generate PDF" class="btn btn-success btn-sm"/>
{% if not allResultsPage %}
    <input type="hidden" id="resultsid" value="{{- resultsID -}}"/>
{% endif %}
  </div>
 </div>
</form>
{% if genClicked %}
    {% if stationsSelected is not empty %}
<div id="pdfwait">Please Wait...
    <span>
        [<span class="red">producing&nbsp;{{- stationsSelected|length -}}&nbsp;{{ 'form'|trans }}{{ (stationsSelected|length > 1) ? "s" }}</span>]
    </span>
</div>
{% set src = "pdfgen/pdf_result_form.php?"
           ~ "student=" ~ studentID 
           ~ "&exam=" ~ examID
           ~ "&observers=" ~ observerScores 
           ~ "&selected=" ~ stationsSelected|join(",") 
           ~ "&t=" ~ "now"|date("sihymd") %}
<iframe src="{{ src }}" id="pdframe-bulk" onreadystatechange="removeWait()" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">
    <p>Your browser does not support iframes.</p>
</iframe>
    {% else %}
<div id="pdfwait" class="bold">[<span class="red">No stations selected</span>]</div>
    {% endif %}
{% endif %}
