{# Description: Twig template for preview groups script #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% set groupCount = groups|length %}

<div class="topmain-groups">
<div class="row">
    <div class="card d-inline-block align-top mr-2 mb-4">
        <div class="card-header">
          <div class="card-title h6 mb-0">
            <div class="row no-gutters align-items-center">
              <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
              <span class="card-title-text">
                Day/Circuit {{ 'Students'|trans }}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">
            {# If session exists then print session information #}
            {% if sessionExists %}		   
             <span class="bold">Day/Circuit: </span>
             <span>{{ sessionDesc|raw }} - {{ sessionDate|raw }}</span>
             <br/><span class="bold">{{ 'OSCE'|trans|title }}: </span>{{ examDesc|raw }}
             <br/><span class="bold">{{ 'Department'|trans }}: </span>{{ deptName|raw }}
             <br/>
            {% else %}
             <span class="boldred">
               Day/Circuit does not exit. It might have been recently deleted.
             </span>
            {% endif %}
          </div>   
        </div> 
      </div> 
      
      {# Session exists then render the print form #}
      {% if sessionExists %}	
      <div class="d-inline-block px-2" id="groups-print">
       <form id="print-action" action="manage.php" method="get">
         <input type="hidden" name="page" value="pdf_groups"/>
         <input type="hidden" name="id" value="{{ sessionID|raw }}"/>
         <input type="hidden" id="exam-name" value="{{ examDesc|raw }}"/>
         <input type="hidden" id="session-name" value="{{ sessionDesc|raw }}"/>
         <input type="hidden" id="session-date" value="{{ sessionDate|raw }}"/>
         <input type="submit" id="printslist" value="PDF &amp; Print" class="btn btn-info btn-sm"/>
       </form>
          
       <form action="export/export_student_groups.php" method="post">
         <input type="hidden" name="id" value="{{ sessionID|raw }}"/>
         <input type="submit" name="export_student_groups" value="Export to Excel" class="btn btn-warning btn-sm"/>
       </form>
      </div>
      {% endif %}
</div>
<br class="clearv2"/>
</div>
<div class="contentdiv mt-3">
{# Session exists then render the groups of examinees for this session #}
{% if sessionExists %}
   
   {# Group by group #}
   {% for group in groups %}    
      {% set groupID = group['group_id'] %}
      {% set groupName = group['group_name'] %}
      {% set examineeCount = examinees[groupID]|length %}
      <div class="h6">
          {{ groupName|raw }}
      </div>
      <table class="group-table">
    <tr class="title-row">
     <th class="squeeze-cell">Order</th>
     <th class="squeeze-cell">Identifier</th>
     <th>Surname</th>
     <th>Forenames</th>
     <th class="squeeze-cell nbr">Gender</th>
    </tr>
    
    {# Render examinee records for each group #}
     {% for examinee in examinees[groupID] %}

       {# Record type, examinee or blank #}
       {% set examineeType = examinee['type'] %}           
       {% set noBorderBottom = (loop.index == examineeCount) ? " nbbtr" : "" %}
       
       {# Is examinee record #}
       {% if examineeType == 0 %}
        
         {% if examSettings["exam_student_id_type"] == constant("EXAM_NUMBER_TYPE") %}
            {% set examineeID = examinee['exam_number'] %}
         {% elseif examSettings["exam_student_id_type"] == constant("CANDIDATE_NUMBER_TYPE") %}
            {% set examineeID = examinee['candidate_number'] %}  
         {% else %}
            {% set examineeID = examinee['student_id'] %}
         {% endif %}
         
         {% set surname = examinee['surname'] %}
         {% set forenames = examinee['forename'] %}
         {% set gender = examinee['gender'] %}
        
         <tr class="datarow{{ noBorderBottom|raw }}">
	  <td class="bold c">{{ loop.index }}</td>
	  <td class="c">{{ examineeID|raw }}</td>	
	  <td>&nbsp;{{ surname|raw }}&nbsp;</td>
	  <td>&nbsp;{{ forenames|raw }}&nbsp;</td>
	  <td class="c nbr">{{ gender|raw }}</td>
	 </tr>
   
        {# Is blank record #}
       {% elseif examineeType == 1 %}
         <tr class="datarow{{ noBorderBottom|raw }}">
	  <td class="bold c">{{ loop.index }}</td>
	  <td colspan="4" class="blanks">BLANK {{ 'student'|trans|upper }}</td>
	 </tr>
       {% endif %}
     {% endfor %}
     
     {# Examinees found in group #}
     {% if examineeCount == 0 %}
       <tr>
        <td colspan="5" class="nbb nbr">
         <div class="tablestatus2">
             No {{ 'students'|trans }} found in this group
         </div>
        </td>
       </tr>
     {% endif %}
    </table>
   {% endfor %}

 {# No groups found in session #}
 {% if groupCount == 0 %}
  <br/>
  <div class="errordiv">
      No {{ 'student'|trans }} groups found in this day/circuit
  </div>
  <br/>
 {% endif %}
{% endif %}
</div>
