/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */

 #acc_table th {
    border-right: 1px solid #bdbdbd;
    padding-left: 6px;
    padding-right: 6px;
 }

 #acc_table td {
    padding: 6px;
 }

 #acc_table #change_pass {
    margin-right: 4px;
 }

 #acc_table #user_id_td {
    width: 240px;
 }

 input#email_pass {
    margin-left: 0;
    vertical-align: middle;
 }

 label#email_pass_label {
    vertical-align: middle;
    margin-left: .3rem;
 }

 input.acip {
    width: 200px;
 }

 input.acip::placeholder {
    font-size: 13px;
 }

 input#new_pass {
    margin-bottom: 2px;
 }

 td#td-new-password .progress {
    height: 16px !important;
    width: 205px !important;
 }

 td#td-new-password .pwstrength-viewport-progress {
    margin-bottom: 0px !important;
 }

 td#td-new-password .password-verdict {
    font-size: 12px !important;
 }

 td.td-password-fields {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
 }
