/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2017 Qpercom Limited.  All rights reserved.
 */
   
 label.change {
   color: red;
   font-weight: bold;
   vertical-align: middle;
 }
 
 input#edit_passc {
  vertical-align: middle;
 }
 

 /* inputs */ 
 input.passf {
   width: 70px;
   margin-bottom: 2px;
}
 input.passfb {
   width: 70px;
   margin-bottom: 2px;
 }

 img.admin-schools {
   cursor: pointer;
   margin-left: 8px;
 }

 div#dialog-message {
   margin-top: 8px;
 }

 ul#linked-schools {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 2px;
  float: left;
  clear: both;
  height: 310px;
  text-align: left;
  width: 500px;
  list-style: none;
  overflow-y: auto;
}

ul#linked-schools label {
  vertical-align: middle;
}

ul#linked-schools input {
  vertical-align: middle;
  margin-right: .25rem;
}

span#link-error {
  margin-top: 4px;
  color: #f00;
  display: inline-block;
}

span#link-loading {
  margin-top: 4px;
  display: inline-block;
}

div.flashbox {
  margin-bottom: 24px !important; 
}


