.last-active-wrap {
    max-height: 95px;
    min-height: 123px;
    overflow-y: scroll;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}

.last-active-wrap table {
    width: calc(100% - 2px);
}

.information-fs.is-admin-data {
    min-height: 185px;
}

.last-active-wrap td {
    padding: .19rem .25rem;
}

.last-active-wrap td:last-child {
    border-right: none;
}
  
.last-active-wrap tr:last-child td {
    border-bottom: none;
}
#last-active-users-table a {
    text-decoration: underline;
}

#last-active-users-header th {
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
}

#last-active-users-header th span {
    vertical-align: middle;
    margin-left: 2px;
}
  
#last-active-users-header th {
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }