/* Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */

h1, h2
{
    text-align: left;
    color: blue;
}

th.titletop {
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    white-space: nowrap;
    background-color:#f5deb3;
    padding:5px;
    text-align: center !important;
    vertical-align: middle;
}

th.titletop2 {
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    white-space: nowrap;
    background-color:#f5deb3;
    padding:5px;
    text-align: left;
    vertical-align: top;
}

th.titletop3 {
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    white-space: nowrap;
    background-color: #f5deb3;
    padding: 3px 5px 3px 5px !important;
    text-align: center;
    vertical-align: middle;
}

th.brown {
    background-color: #f5deb3 !important;
}

/* Colour codes raw results section */
div#colour-codes {
  height: auto;
  float: right !important;
  font-weight: bold;
  font-size: 11px;
  background-color: #f8f8f8;
  border: 1px solid #bdbdbd;
  vertical-align: middle;
  padding: 2px 3px 2px 3px;
  cursor: help;
  border-radius: 2px;
}

span#fail-colour-code {
  color:#FF0000;
  margin-right: 3px;
  text-decoration: underline;
}

span#incomplete-colour-code {
  color:#FF9900;
  margin-right: 2px;
  text-decoration: underline;
}

span#pass-colour-code {
  color:#1B5E20;
  text-decoration: underline;
}

/* Pass, Fail and Incomplete results */
.fail {
    color:#FF0000;
    font-weight: 600;
}

.fail:link {
    color:#FF0000;
    font-weight: 600;
}

.fail:visited  {
    color:#FF0000;
    font-weight: 600;
}

.fail:active {
    color:#FF0000;
    font-weight: 600;
}

.pass {
    color:#1B5E20;
    font-weight: 600;
}

.pass:link {
    color:#1B5E20;
    font-weight: 600;
}

.pass:visited  {
    color:#1B5E20;
    font-weight: 600;
}

.pass:active {
    color:#1B5E20;
    font-weight: 600;
}

.appointable {
    color: #1b5e20;
}

.not-appointable {
    color: #ff0000;
}

.panel-to-decide {
    color: #ff9900;
}

.incomplete {
  color:#FF9900;
  font-weight:bold;

  /* Include CSS3 Blinker for incomplete result fields */
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}

td.flag-cell {
  color: #ff0000;
  font-weight: bold;
}

td.flag-cell img {
  margin-top: -4px;
  margin-bottom: -5px;
}

/* Include CSS3 Blinker for incomplete result fields */
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.incomplete:link {
  color:#FF9900;
  font-weight:bold;
}

.incomplete:visited  {
  color:#FF9900;
  font-weight:bold;
}

.incomplete:active {
  color:#FF9900;
  font-weight:bold;
}

td.values {
    text-align:center;
}

td.feedback {
    white-space: normal !important;
}

td.notes {
    white-space: normal !important;
}

td.submission {
    text-align: center;
}

#topresdiv {
    clear: both;
    margin-bottom: 20px;
    float: left;
}

#analysis_table {
    margin: 0px;
    font-size: 11px !important;
    min-width: 384px !important;
    clear: both;
    float: left;
}

#analysis_table tr:last-child>td {
    border-bottom: 0 !important;
}

#analysis_table tr:last-child>th {
    border-bottom: 0 !important;
}

#analysis_table td:last-child {
    border-right: 0 !important;
}

#analysis_table th:last-child {
    border-right: 0 !important;
}

div.incomplete-warn {
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 4px;
    background-color: #ffd862;
    float: left;
    font-size: 14px;
    font-weight: normal;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#left-columns {
    border-right: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd;
    white-space: nowrap;
    background-color: #f5deb3;
    padding: 3px 5px 3px 5px !important;
    text-align: center;
    vertical-align: middle;
}

div.selfassess-warn {
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 4px;
    background-color: #ffd862;
    float: left;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#selfassess-table {
    margin: 0px;
    font-size: 11px !important;
    clear: both;
    float: left;
    border-left: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
}

tr.self-assessment-rw {
    vertical-align: top !important;
}

td.response-missing {
    background-color: #ffff00 !important;
    white-space: normal !important;
    color: #ff0000;
}

div.response-quote {
  font-style: italic;
}

div.response-score {
  margin-top: 6px;
  color: #ff0000;
}

#summary_table {
    font-size: 11px !important;
    margin-bottom: 0px;
    float: left;
    clear: both;
}

#summary_table th {
    vertical-align: top;
}

#summary_table th.title {
    padding-left: 6px !important;
}

#summary_table td {
    vertical-align: top;
    text-align: center;
}

#summary_table tr:last-child>td {
    border-bottom: 0 !important;
}

#summary_table tr:last-child>th {
    border-bottom: 0 !important;
}

#summary_table td:last-child {
    border-right: 0 !important;
}

#summary_table th:last-child {
    border-right: 0 !important;
}

/* Competency Framework Summary Table */
table#competency-framework-results {
    font-size: 11px !important;
    min-width: 384px !important;
    float: left;
    clear: both;
}

/* Graphs */

img#graph-img1 {
    margin-bottom: 20px;
    float: left;
    border: 0px;
    width: 520px;
    height: 470px;
}

img#graph-img2 {
    margin-bottom: 20px;
    margin-left: 10px;
    float: left;
    border: 0px;
    width: 520px;
    height: 470px;
}

img#graph-img3 {
    margin-bottom: 20px;
    float: left;
    border: 0px;
    width: 520px;
    height: 470px;
}

img#graph-img4 {
    margin-bottom: 20px;
    margin-left: 10px;
    float: left;
    border: 0px;
    width: 520px;
    height: 470px;
}

img#graph-img5 {
    margin-bottom: 20px;
    float: left;
    border: 0px;
    width: 520px;
    height: 470px;
}

img#framework-logo {
    float: left;
    clear: both;
}

#marking_average {
    clear: both;
    float: left;
    margin-bottom: 20px;
    border-right: 0;
    border-bottom: 0;
}

#marking_average td {
    vertical-align: top;
    border-top: 0;
}

#marking_average thead th {
    border-bottom: 1px solid #dee2e6 !important;
}

#delete-results {
    display: none;
}

/* Results and Analysis Tabs */
#analysis-div {
    float: left;
    clear: both;
    margin-top: 10px;
}

#results-rules {
    display: none;
}

#results-raw {
    display: none;
}

#results-competencies {
    display: none;
}

#results-assessments {
    display: none;
}

#results-examiners {
    display: none;
}

#results-alerts {
    display: none;
}

#results-summary {
    display: none;
}

#results-detailed {
    display: none;
    padding: 0px;
    margin-top: -10px;
    margin-left: -10px;
}

p.adjusted-p {
    padding: 10px;
}

#results-graphs {
    padding: 0px;
    display: none;
    width: 1050px !important;
}

#results-export {
    display: none;
}

#results-export input[type=checkbox] {
    margin-right: .25rem;
}

.results-assessments a {
  width: 134px !important;
}

.results-competencies a {
  width: 120px !important;
}

#tabs ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

#tabs li {
    float: left;
    padding: 0px;
    border: 1px solid #bbbbbb;
    border-bottom-width: 0;
    margin: 0 .25rem 0 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#tabs a {
    text-decoration: none;
    font-size: 13px;
    display: block;
    background: #f7f7f7;
    padding: 1px;
    color: #000000;
    width: auto;
    padding: .375rem .75rem;
    text-align: center;
    white-space: nowrap;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#tabs a:hover {
    background: #ddf;
}

#tab-selected {
    border-color: #000000 !important;
}

#tab-selected a {
    position: relative;
    top: 1px;
    background: #FFFFFF !important;
    color: #000000;
    font-weight: bold;
}

#tabs-content {
    border: 1px solid #000000;
    clear: both;
    float: left;
    padding: 10px;
    margin-bottom: 100px;
    min-width: 1200px;
    min-height: 400px;
    -moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
    border-radius: 0px 3px 3px 3px;
    display: none;
}

#tabs-content div {
    clear: both;
    float: left;
}

/* wait div for tabs content */
div#wait-content {
    border: 1px solid #000000;
    clear: both;
    float: left;
    padding: 16px;
    margin-bottom: 100px;
    min-width: 928px;
    min-height: 488px;
    -moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
    border-radius: 0px 3px 3px 3px;
}

.show-content {
    display: block !important;
    margin-bottom: 20px !important;
}

tr.each-data-rw td:hover {
    background-color: #ffff00 !important;
}

tr.each-data-rw td{
    vertical-align: top !important;
}

/* Station Setup Section of Analysis */
tr.stitle-rw th {
    background-color: #f5deb3;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding: 5px 3px 5px 5px;
    border-left: 1px solid #bdbdbd;
    border-right: 0px;
    white-space: nowrap;
}

tr.sdata-rw th{
    background-color: #f5deb3;
    vertical-align: top;
    font-size: 12px;
    padding: 3px;
    white-space: nowrap;
    border-right: 0px;
}

tr.sdata-rw td{
    font-size: 12px;
    padding: 3px;
    border-bottom: 0px;
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 0px;
}

input.pass-field {
    width: 24px;
    font-size: 12px;
}

input.edit-mode {
    font-size: 15px !important;
    width: 36px !important;
}

input.weight-field {
    width: auto !important;
}

div.edit-all-rules {
    float: left;
    clear: both;
}

div.edit-all-rules button {
    font-size: 13px;
}

div.edit-rules-top {
    margin-top: 10px;
    margin-bottom: 4px;
}

div.edit-rules-bottom {
    margin-top: 24px;
}

input.incomplete-pass {
    border: 1px solid #ff0000 !important;
}

table.sub-rules-table {
  float: left;
  clear: both;
  margin-top: 20px;
  width: 100%;
}

table.sub-rules-table .passrule-cells {
   width: 1px;
}

table#rules-table {
  float: left;
  clear: both;
  margin-top: 16px;
}

table#rules-table th {
    font-size: 12px;
    padding: 5px !important;
}

table#rules-table td {
    font-size: 12px;
    padding: 3px;
}

td.rule-symbol {
   background-color: #fff;
   padding: 6px !important;
}

table.rules-edit-mode td {
   border-top: 1px solid #bdbdbd;
}

span.conditional-hl {
  background-color: #ffbf00;
  border: 1px solid #6c757d
}


#delete-box  input[type="checkbox"]{
    vertical-align: middle;
}

#delete-box label {
    color: #484848;
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
}

#updateanaly {
    margin-left: 6px;
    float: right;
}

table#res_options {
    font-size: 11px !important;
    width: 818px;
    float: left;
    box-shadow: 0 6px 6px -6px #777;
    line-height: 1.45;
}

th.top-bar {
    background-color: #f7f7f7;
    width: 10px;
}
.top-bar:empty, .bottom-bar:empty {
    display: none;
}

th.bottom-bar {
    background-color: #f7f7f7;
    border-right: 0px;
    width: 10px;
}

td.analyopt {
    color: #6c757d;
    vertical-align: middle;
    text-align: center;
    width: 24px;
    padding: 1px 2px 1px 2px;
}

td.analyopt2 {
    vertical-align: middle;
    text-align: right;
    padding: 1px 0px 0px 10px;
    border-bottom: 0px;
    border-right: 0px;
    background-color: #f7f7f7 !important;
}

td.analyopt2 label{
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

td.analyopt2 select{
    margin-top: 3px;
    font-size: 12px;
    text-align: center;
}

.analyopt input[type=checkbox], .analyopt input[type=radio] {
    margin: 0rem .25rem;
}

th.base-bs {
    border-bottom: 0px;
    border-right: 0px;
    text-align: right;
    background-color: #f7f7f7 !important;
    padding: 22px 10px 12px 6px;
}

th.title-an {
    white-space: nowrap;
    text-align:left;
    padding: 3px 4px 3px 4px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    vertical-align: middle;
    background-color: #f7f7f7 !important;
    font-size: 1.1em;
}

th.title-an2 {
    white-space: nowrap;
    text-align: right;
    padding: 1px 4px 1px 11px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    vertical-align: middle;
    background-color: #f7f7f7 !important;
    font-size: 1.1em;
}

th.padding-adj {
    padding-left: 120px !important;
}

th.title-sep {
    border-right: 0px !important;
    background-color: #f7f7f7 !important;
    padding: 0px !important;
    height: 0%;
}

td#sessions-grps {
    border-bottom: 1px solid #bdbdbd;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding:0px !important;
    vertical-align: top;
}

#sessions-grps [type="checkbox"] {
    margin-right: 0.25rem;
}

ul#tddets {
    padding: .5rem .5rem .5rem .0rem;
    background-color: #FFFFFF;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    height: 276px;
    width: 406px;
    overflow: auto;
    overflow-y: scroll;
    list-style-type: none;
}

li#examcb-li {
    margin-left: 24px;
    display: inline-block;
    margin-bottom: 0.1rem;
}

li#examcb-li input {
    vertical-align: middle;
}

li#examcb-li label {
    vertical-align: middle;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0;
}

li.tdli {
    margin-left: 4px;
}

li.tdli ul {
    margin-left: -3px !important;
}

ul.grpul {
    display: none;
}

label.td-label {
    font-size: 12px;
    vertical-align: 0%;
}

ul#station-dets {
    padding: .5rem;
    background-color: #FFFFFF;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 0px;
    float: none;
    overflow: hidden;
    height: 276px;
    overflow-y: scroll;
    list-style-type: none;
}

li#all-stations-li {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.station-li {
    margin-bottom: 0.1rem;
}

li#station-status {
    font-size: 12px;
    color: red;
    padding: 2px;
}

li#station-wait {
    font-size: 12px;
    padding: 2px;
}

ul#station-dets input {
    vertical-align: middle;
}

ul#station-dets label {
    vertical-align: middle;
    font-size: .8rem;
    margin-bottom: 0;
}

li#base-li {
    height: 44px;
}

/********Delete Results Section***************/

fieldset.todel {
    white-space: nowrap;
    font-size: 13px;
    padding: 10px 20px 14px 20px !important;
    min-width: 450px;
    margin-left: -8px;
}

div#todel-div1 {
    margin-right: 14px;
    float: left;
}

ul#sess-del-list {
    padding: 1px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    margin-right: 26px;
    margin-bottom: 8px;
    margin-left: -6px;
    margin-top: -2px;
    list-style-type: none;
}

li.sess-desc {
    padding-top: 1px;
    padding-bottom: 1px;
}

li.sess-desc  label{
    padding-left: 4px;
}

li.sess-desc ul {
    margin-left: -6px !important;
}

ul.station-list {
    margin-left: 2px;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    padding: 0px;
    list-style-type: none;
}

ul.station-list li{
    padding-bottom: 0.1rem;
}

/**********Detailed Results Options********************/
select#choose-form {
    min-width: 300px;
}

iframe#detailed-iframe {
    float: left;
    clear: both;
    width: 1200px;
    height: 900px;
}

div#iframe-load {
    font-size: 14px;
    padding: 10px 0px 0px 10px;
    margin-left: 4px;
}

fieldset#stationfs {
    margin-top: 10px;
    margin-left: 10px !important;
}

form.form-delete {
    margin-left: 14px;
}

input#yes_confirm {
    margin-left: 4px;
}

#backr {
    width: 190px;
}

#mainadiv {
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    float: left;
}

#mainadiv2 {
    padding-bottom: 40px !important;
    padding-right: 10px !important;
    float: left;
}

.examineel {
    background-image: url('../images/person-icon-tiny.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:left;
    vertical-align:text-bottom;
    padding-left:18px;
}

/*********** EXPORT DATA TAB ***********************/
fieldset#export-fs {
    margin-top: 2px;
    margin-left: 2px;
    padding-top: 14px !important;
}

fieldset#export-fs label {
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 0.25rem;
}

div#export-div {
    width: 360px;
    text-align: right;
    padding-top: 10px;
}

div#exporting-wait {
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
    color:#FF0000;
    display: none;
}

div#exporting-wait img {
    vertical-align: middle;
}

/*********** BORDERLINE GROUP ANALYSIS ************/
#blg_summary_table {
    font-size: 11px !important;
    float: left;
    clear: both;
}

#blg_summary_table tr:last-child>td {
    border-bottom: 0 !important;
}

#blg_summary_table tr:last-child>th {
    border-bottom: 0 !important;
}

#blg_summary_table td:last-child {
    border-right: 0 !important;
}

#blg_summary_table th:last-child {
    border-right: 0 !important;
}

tr.rw1 th{
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    background-color:#f5deb3;
    padding:3px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #bdbdbd;
}

tr.rw2 th{
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    background-color:#f5deb3;
    padding:3px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #bdbdbd;
    color: red;
}

tr.rw_values th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    background-color:#f5deb3;
    padding:3px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

tr.rw_values td{
    text-align: center;
}

tr.scenario-summary td {
    background-color: #F7F7F7;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
}

td.total-empty {
    text-align: right !important;
    padding-right: 6px;
}

div.blrcpyw {
    font-size: 9px;
    margin-bottom: 0px;
    margin-right: -86px;
    padding: 4px 0px 0px 4px;
    float: left;
    clear:both;
    width: 370px;
}

.bglg2 {
    background-color: #ffffff;
}

div#notifications-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
    width: 100%;
    margin-top: 6px;
}

div.divergence-alert {
   background: #ffdf80 url("../../assets/images/bar-chart-warning-20-20.png") no-repeat 99% 50%; 
   margin-bottom: 12px;
   -moz-border-radius: 0px 4px 4px 0px;
   -webkit-border-radius: 0px 4px 4px 0px;
   border-radius: 0px 4px 4px 0px;
   border: 1px solid #bdbdbd;
   padding: 6px 36px 6px 6px;
   display: inline-block;
   min-width: 100%;
   font-size: 15px;
}

div.flag-alert {
   background: #fff0c4 url("../../storage/custom/images/flag-medium.png") no-repeat 99% 50%;
   margin-bottom: 12px;
   -moz-border-radius: 0px 4px 4px 0px;
   -webkit-border-radius: 0px 4px 4px 0px;
   border-radius: 0px 4px 4px 0px;
   border: 1px solid #bdbdbd;
   padding: 6px 36px 6px 6px;
   display: inline-block;
   min-width: 100%;
   font-size: 15px;
}

div#template-alert {
   display: none;
}
.rules-highlight{
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: #ff0000;}
    to {color: #ffcccc;}
}
div#results-detailed {
    padding: 10px;
}

.treemenu li {
    margin-bottom: .1rem;
    line-height: 1.6;
  }