.self-assess-panel {
    top: 0;
    height: 100vh;
    z-index: 50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;
    transition: 0.1s;
    position: fixed;
    touch-action: none;
    -ms-touch-action: none;
    box-sizing: border-box;
}

.self-assess-actions i {
    cursor: pointer;
}

.self-assess-actions .self-assess-actions-left {
    top: 10px;
    position: absolute;
    left: 15px;
}

.self-assess-actions .self-assess-actions-right {
    top: 10px;
    position: absolute;
    right: 15px;
}

.self-assess-actions i.fa.fa-arrows-alt {
    font-size: 20px;
}

.self-assess-actions i.fa.fa-close {
    font-size: 26px;
}

.self-assess-content {
    margin: 40px 25px 25px;
}

.self-assess-panel .close-btn {
    color: #000000;
    text-decoration: none;
}

.self-assess-panel .close-btn {
    font-size: 30px;
}

.self-assess-panel-right .close-btn {
    left: 10px;
}

.self-assess-panel-left .close-btn {
    right: 10px;
}

.self-assess-panel .self-assess-title {
    text-align: center;
    padding-bottom: 20px;
}

#self-assess-list {
    list-style: none;
    height:85vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
}

.self-assess-item-group {
    width: 100%;
    border: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.self-assess-item-label {
    flex: 40%;
    background-color: #f2f2f2;
    font-weight: bold;
    display:flex;
    flex-direction: column;
}

.self-assess-total-score-label {
    flex: 80%;
}

.self-assess-item-value {
    display:flex;
    flex: 60%;
    flex-direction: column;
}

.self-assess-total-score-value {
    align-items: center;
    flex: 20%;
}

.self-assess-item-heading {
    background-color: #f2f2f2;
    font-weight: bold;
    border: 1px solid #000000;
    padding: 12px 10px;
}

.self-assess-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.self-assess-item-row > div {
    padding: 10px;
    border: 1px solid #000000;
}

#maincontdiv {
    width: 100%;
    /*border: 2px solid red;*/
}

 #assessment-config {
     font-size: 200%;
     position: fixed;
     right: 0.4em;
     top: 0.4em;
 }

#assessment-config-btn {
    color: #4e4e4e;
}

#assessment-config-btn:hover {
    color: #656565;
}