/* Original Author: David Cunningham
   For Qpercom Ltd
   © 2019 Qpercom Limited.  All rights reserved.
*/
 
  
  table#examiner_table {
   clear: both;
  }
 
  table#examiner_table td {
     /*padding-left:3px !important;
     padding-right:3px !important;*/
  }
 
  table#examiner_table th {
     /*padding-left:3px !important;
     padding-right:3px !important;*/
  }
   
  table#examiner_table td.title-edit-top {
     width: 20px;
  }
  
 
  table#examredit_table {
   margin-left: -2px;
   margin-top: 6px;
   margin-bottom: 60px;
   float: left;
   clear: both;
  }
  
  table#examredit_table td {
     padding-left:3px;
     padding-right:3px;
     vertical-align: top;
  }
 
  table#examredit_table th {
     padding-top: 4px;
     padding-left:3px;
     padding-right:3px;
     vertical-align: top;
  }
   
 /* Last login (TD and TH cells) */
 .last-login {
    text-align: center;
 } 
  
 ul.depts {
  margin-left: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  height: 60px;
  overflow-y: auto;
 }
 
 ul.depts li {
   padding: 0px 2px 2px 0px;
   list-style: none;
 }
 
 ul.depts img {
   margin-bottom: -3px;
   margin-left: 1px;
   cursor: pointer;
   height: 16px;
   width: 16px;
 }
  
/* Examiner Department Editing Fields */ 
 ul.editdepts {
  margin: 0px 0px 10px 0px;
  background-color: #FFFFFF;
  padding: 3px 1px 1px 1px;
  height: 90px;
  border: 1px solid #BDBDBD;
  overflow: auto;
  min-width: 70px;
  border-radius: 5px;
 }
 
 ul.editdepts li {
   padding: 0px 2px 1px 0px;
   list-style: none;
   text-align: left;
 }
 
 ul.editdepts label {
   vertical-align: middle;
 }
 
 ul.editdepts input {
   vertical-align: middle;
   margin-right: 4px;
 }
  
 input#common-password-button {
  margin-left: 4px;
 }
 
 input.revalidate {
   background-color: #FAF8DC;
 }
 
 select.examiners-action {
    width: 320px;
    font-size: 14px;
 }
 
 /* error div  */
 div.edit-errordiv {
  float:left;
  padding:6px;
  font-weight:bold;
  border: 1px solid #A0A0A0;
  font-size: 12px;
  background-color: #FFFF99;
  color: #FF0000;
  margin-bottom: 16px;
  margin-left: -6px;
}

/* Fieldset adjustments to fit to page */

fieldset.options {
 margin-left: -2px !important;
 padding-bottom: 18px !important;
 margin-bottom: 6px !important;
}

/* Filter list button */
input#filter-list {
 margin-top: 14px;
}

/* filter UL adjustments */

ul.filter-column-one {
 float: left;
}

ul.filter-column-one label {
 width: 76px !important;
}    
    
ul.filter-column-two {
 margin-left: 24px !important;
 float: right;
}

ul.filter-column-two label {
 width: 100px !important;
}

/* IFrame Moo Dialog Popup SMS Messages */
.smsDialog {
    height: 500px !important;
    margin: -240px 0 0 -350px !important;
    width: 660px !important;
}
.smsDialog iframe {
    height: 420px;
    width: 630px;
    border: 0 !important;
}

input#search {
  margin-left: 0;
  margin-top: 14px;
}


/* webkit placeholder */
input#search::-webkit-input-placeholder {
  font-size: 13px;
}

/* Firefox 18- placeholder */
input#search:-moz-placeholder {
  font-size: 13px;
}

/* Firefox 19+ placeholder */
input#search::-moz-placeholder {
  font-size: 13px;
}

/* Internet explorer placeholder */
input#search:-ms-input-placeholder {  
  font-size: 13px;
}

a.password-title {
  text-decoration: none !important;
  color: black !important;
}

select#choose-term {
    margin-bottom: 10px;
}

.exam-session-list .color-selected-list {
  margin-top: 4px;
}