/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2017 Qpercom Limited.  All rights reserved.
 */

fieldset.information-fs2 {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: left !important;
}

table#examinee_table {
    margin-top: -4px;
    min-width: 800px;
}

table#examinee_table  caption{
    height: 27px;
    padding: 0 12px 0 12px !important;
}

@-moz-document url-prefix() {
  table#examinee_table  caption{
     height: 34px;
     padding: 0 12px 0 12px !important;
  }   
}

table.selections {
    border: 0px;
    margin-bottom: -4px;
}

table.selections td, table.selections th{
    border: 0px;
}

table.selections th {
    vertical-align: middle;
    padding-right: 6px;
    background-color: transparent;
}

table.selections #crs_td {
    width: 380px;
} 

td#base-button-td {
    padding-right: 8px;
}

div#pagesel {
    float: left;
    font-size: 13px;
}

div.add-examinees-div {
    float: right;
    font-size: .865rem;
    font-weight: bold;
    color: var(--primary-main);
}

#number {
    width: 18px;
    font-size: .865rem;
}

#print-list {
    margin-left: 18px;
}

#search {
    margin-top: -2px;
}

/*********Add Students ********/
#update-table {
    clear: both;
    margin-top: 16px;
}

div.datefields input.day {
    width: 36px;
}

div.datefields input.month {
    width: 36px;
}

div.datefields input.year {
    width: 48px;
}

div.datefields input.spacer {
    width: 4px;
    border: 0px;
    padding: 0;
    display: inline-block;
    background-color: #F8F8F8;
}

tr.modulerw td {
    padding: 0px 0px 16px 0px;
}

td.moduletd {
    white-space: nowrap;
    padding: 0 !important;
    overflow: hidden;
    background-color: #F8F8F8;
    border-right: 0px;
}

td.space-td {
    border-right: 0px;
}

td.right-td {
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;
}

td.moduletd  ul.years-selection {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: -1px;
    margin-top: 0;
    padding: 0 6px 6px 6px;
    height: 201px;
    width: 252px;
    overflow: auto;
    overflow-y: scroll;
    display: inline-block;
    vertical-align: top;
}

td.moduletd ul.modules-ul {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -10px;
    margin-top: 0;
    padding: 0 6px 6px 6px;
    height: 200px;
    width: calc(100% - 251px);
    overflow: auto;
    overflow-y: scroll;
    display: inline-block;
    vertical-align: top;
}

td.moduletd  li {
    padding: 0px 2px 1px 0px;
    list-style: none;
    text-align: left;
}

li.mloading {
    padding-left: 4px !important;
    padding-top: 4px !important;
}

td.moduletd input[type="checkbox"]{
    vertical-align: middle;
    margin-right: 4px;
}

td.moduletd  label {
    vertical-align: middle;
}

li.each-title {
    font-weight: bold;
    padding: 6px 2px 2px 2px !important;
}

li.li-buffer {
    padding: 6px 2px 2px 2px !important;
    height: 40px;
}

li.mod-element {
    margin-left: 0px;
}

ul.years-list {
    margin-left: -40px;
}

#examinee-count {
    color: #ff0000;
}

.row-number {
    font-size: 16px;
    vertical-align: top;
    color: #FF0000;
    text-align: center;
    padding-top: 5px !important;
    font-weight: normal;
}

#thedate {
    width: 100px !important;
}

td.titleedit2 {
    text-align: center;
    width: 20px !important;
}

img.examinee-result {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}

td.thumbnail {
    width: 28px;
    height: 37px;
    vertical-align: middle;
    text-align: center;
}

td.thumbnail img {
  border: 0px !important;
  margin-top: -3px !important;
}

div.cannot-delete-student {
  margin-top: 6px;
  text-align: left;
  border: 1px solid #FF0000;
  background-color: #FFFF00;
  font-weight: bold;
  color: #000000;
  width: 130px;
  padding: 2px 0px 2px 4px;
}

div#go-action-div {
 float: left;
 width: 200px;
}

div#submit-action-div {
 float: right;
}

input.examinee-email {
  width: 200px;  
}

td.hover-modules {
   cursor: help;  
}

select.term-dd {
  margin-right: 6px;     
}
#examinees-caption {
  margin-top: 0.8rem;
  caption-side: bottom !important;
}