/* Original Author: David Cunningham
   For Qpercom Ltd
   Date: 13/04/2013
   © 2013 Qpercom Limited.  All rights reserved.
   @SMS Examiners
*/

html {
    background-color: #eee !important;
    padding: 12px !important;
    margin-bottom: 0px !important;
}


.contentdiv {
    margin-bottom: 0px !important;
}

div#sms-container {
    border: 1px solid #A0A0A0;
    background-color:#E8E8E8;
    width: 618px;
    height: 400px;
    padding-top: 6px;
    padding-left: 6px;
    margin: 0 -10px;
    overflow-y: auto;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

textarea#sms-message {
  width: 530px;
}

div.sms-title {
    float: left;
    clear: both;
    padding: 7px 6px 0px 8px;
    font-weight: bold;
    font-size: 11px;
    vertical-align: middle;
}

div#sms-content {
    float: left;
    clear: both;
    text-align: left;
    padding: 6px 6px 3px 6px;
}

div#sms-examiners {
    float: left;
    clear: both;
    text-align: left;
    padding: 6px 6px 6px 4px;
}

div#sms-base {
    width: 544px;
    float: left;
    clear: both;
    text-align: right;
    margin-bottom: 20px;
}

input#sms-cancel {
    margin-top: 0px;
    margin-bottom: 0px;
}

input#sms-send {
    margin-top: 0px;
    margin-bottom: 0px;
}

input#credits-left {
    margin-left: 4px;
    float: left;
}

label#credits-left-label {
    font-weight: bold;
    vertical-align: middle;
    float: left;
    margin-left: 6px;
}

div.examiner-bubble {
    padding: 3px;
    margin: 1px 2px 1px 2px;
    border: 1px solid #BDBDBD;
    background-color: #E7F5FE;
    vertical-align: middle;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

div.examiner-bubble img {
    width: 8px;
    height: 8px;
    margin-top: 3px;
    margin-right: 3px;
    cursor:pointer;
}

div.errordiv {
    margin-left: 6px;
}

.amber-bg {
    background-color: #FFC966 !important;
}

.green-bg  {
    background-color: #72E600 !important;
}

.read-only {
    background-color: #E8E8E8 !important;
}