/* Original Author: David Cunningham
 * For Qpercom Ltd
 * This pages is used to determine the basic layout-out of the HTML used
 * on this Exam application for the Exam pages
 * © 2019 Qpercom Limited.  All rights reserved.
 */

#exam_table {
    min-width: 60%;
}
table.itemtable {
    width: 100%;
    margin-top: 0px;
    border-right: 0px;
}

table.itemtable td {
    padding: 5px;
}

table.itemtable th {
    padding: 5px;
}

table.fshid {
    border: 0px;
    margin-bottom: 10px;
}

table.fshid select {
    font-size: 12px !important;
}

table.fshid td {
    border: 0px;
    background-color: transparent;
}

table.fshid th {
    border: 0px;
    background-color: transparent;
    padding: 4px;
}

div.nmb {
    margin-bottom: 0px !important;
    min-width: 1200px !important;
}

div.noitems {
    font-weight: normal;
    background-color: #ffffcc !important;
    color: #000000;
}

div.noitemsdiv {
    text-align: center;
    clear: both;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 13px;
}

div.advanced-link-div {
    padding: 0px 0px 10px 5px;
    float: left;
}

table.no-sections-table { /* no sections table */
    clear: both;
    margin-bottom: 10px;
    margin-top: 16px;
    width: 1050px;
    height: 200px;
}

table.no-sections-table caption { /* no sections table */
    height: 20px !important;
}

table.no-sections-table td {
    padding: 20px 20px 20px 20px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,.03);
    border: 0px;
}

table#section-items {
    width: 1050px;
    margin-top: 8px;
}

.bl {
    border-left: 1px solid #E0E0E0 !important;
}

.br {
    border-right: 1px solid #f7f7f7 !important;
}

caption.exam {
    text-align: left;
}

.optionsdisplay {
    display: inline;
    float: left;
}

.optionshide {
    display: none;
    float: left;
    clear: both;
}

td.waittdw {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 100%;
    width: 800px;
    border-right: 0px;
}

td.waittdw2 {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 100%;
    padding: 14px;
    border-right: 0px;
    border-bottom: 0px;
}

td.pass-time-cell {
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
}

td.edit {
    background-color: white;
    border-right: 0px;
}

.complete {
    color: green;
    text-align: center;
}

.notcomplete {
    color: red;
    text-align: center;
}

td.section-buttons { /* For Section Button td  */
    border-right: 0px;
    border-bottom: 0px;
    white-space: nowrap;
    background-color: white;
    text-align: left;
    padding: 20px 4px 4px 4px;
}
div.itemweighdiv {
	display: inline;
	border-top: 0px;
    border-left: 0px;
	border-right: 0px !important;
	border-bottom: 0px !important;
	padding: 14px 10px 10px 10px;
    background-color: #bced91;
}
div.optsdivcont{
	display: contents;

}
div.optsdiv {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    float: left;
    padding: 14px 10px 10px 10px;
    background-color: #bced91;
}

div.optsdiv2 {
    border-top: 0px;
    border-left: 0px;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    width: 200px;
    float: left;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #bced91;
}


div.radcont {
    padding-left: 0px;
    margin-left: -10px;
    padding-top: 12px;
    padding-right: 10px;
    clear: both;
}


div.radcontwait {
    padding: 20px;
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div.option-panel-error {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #FF0000;
}

div.redborderv1 {
    margin: -6px -20px -6px -14px !important;
    padding: 12px 14px 10px 14px;
    border: 2px solid #ff0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    background-color: #F8F8F8;
    text-align: left;
}

div.redborderv2 {
    margin: -3px -20px -3px -14px !important;
    padding: 12px 14px 10px 14px;
    border: 2px solid #ff0000;
    background-color: #F8F8F8;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.redborderv3 {
    margin: -4px -20px -16px -14px !important;
    padding: 24px 14px 22px 14px;
    border: 2px solid #ff0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
}

div.ansoptioncreatediv {
    border: 1px solid #cacaca;
    background-color: #FFFFFF;
    padding: 0px 0px 0px 0px !important;
    margin-top: 0.75rem;
    border-radius: 5px;
    display: grid;
}

div.ansoptcdivwait {
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #cacaca;
    margin-top: 4px;
}

div.tddateva {
    margin-bottom: 2px;
}

div.tddateva2 {
    margin-top: 4px;
    clear: both;
    text-align: left;
    float: left;
}

div.color-container {
    margin-top: 10px;
    float: left;
    clear:both;
}

div.color-selected {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
    padding: 0 !important;
    line-height: 16px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 2px;
}

div.color-selected-list {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    padding: 0 !important;
    line-height: 11px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-right: 2px;
    margin-top: 4px;
    float: left;
    cursor: help;
}

div.color-label {
    float: left;
    height: 18px;
    width: 40px;
    margin-top: 1px;
    margin-left: 3px;
}

div.remove-color-div {
    float: left;
    height: 18px;
    width: 50px;
    margin-top: 1px;
    padding-left: 6px;
    text-align: left;
}

div.qitem {
    margin-bottom: 0px;
    font-weight: bold;
    float: left;
    clear: both;
    width: 1050px;
}

div.qitem  label {
    vertical-align: top;
}

div.qitem  label.talb {
    vertical-align: top;
    margin-left: 16px;
}

div.qitem  input {
    vertical-align: top;
}

label.labeltext {
    font-weight: bold;
    vertical-align: top;
    padding-right: 0px !important;
}

label.labeltext3 {
    font-weight: bold;
    padding-right: 0px !important;
    margin-right: 2px;
}

label.section-label {
    vertical-align: 11%;
    font-size: 0.955em;
    padding-right: 2px;
}

label.section-label-2 {
    vertical-align: 6%;
    font-size: 0.955em;
    padding-right: 2px;
}

label.ltxt {
    font-weight: bold;
    vertical-align: top;
}

label.labeltexttitle {
    font-weight: bold;
    vertical-align: top;
    font-size: 11px;
}

label.lbnumval {
    font-weight: bold;
    vertical-align: top;
    font-size: 11px;
    margin-left: 10px;
}

div.statmsg {
    color: #FF0000;
    padding: 2px 6px 6px 6px;
    text-align: left;
}

.selectcloneitem {
    margin-right: 4px;
    width: 320px;
}

select.sorder {
    vertical-align: top;
    height: 26px;
    font-size: 15px;
}

select#previous-form-id {
    width: 350px;
}

optgroup.departments {
    font-size: 13px;
}

optgroup.tags {
    font-style: italic !important;
    color: #4d4d4d !important;
}

option.tag-forms {
    font-style: normal !important;
}

/* Add Session Section */
select.clone-stations {
    display: block;
    width: auto;
    font-size: 13px !important;
}

select.clone-groups {
    display: block;
    width: auto;
    font-size: 13px !important;
}

select.clone-assistants {
    display: block;
    width: auto;
    font-size: 13px !important;
}

div.section-total {
    float: right;
    margin: 20px 18px -40px 6px;
    border: 1px solid #000000;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 6px 6px -6px #777;
    background-color: #fefefe;
    font-style: italic;
}

div.section-total span {
    color: #ff0000;
}

td.section-buttons-td {
    background-color: #ffffff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    width: 0px;
    padding: 0px !important;
    white-space: nowrap !important;
}

div.sectionbuttondiv {
    float: left;
    padding-top: 9px !important;
    padding-bottom: 54px !important;
    padding-left: 4px;
    padding-right: 3px;
    width: 99.2%;
}
.sectionbuttondiv.noitems {
    width: 100%;
  }
td.section-buttons-edit {
    padding: 2px !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
}

div.section-buttons-div .delbut {
    margin-right: 12px;
}

div.section-buttons-div div.delitemdiv {
    width: 210px;
    float: left;
}

div.section-buttons-div .arrow {
    margin-left: 4px;
}

div.group1-section-settings {
   margin-bottom: 26px;
   margin-top: 8px;
}

div.group2-section-settings {
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: left;
}

div.group3-section-settings {
    margin-top: 8px;
    text-align: right;
}

.lgrey {
    background-color: #F8F8F8 !important;
}

tr.lgrey th {
    background-color: #F8F8F8;
}

tr.lgrey td {
    background-color: #F8F8F8;
}

tr.itrw td {
    padding-top: 3px !important;
}

tr.itrw th {
    padding-top: 3px !important;
}

tr.row-highlight td {
    background-color: #f2f5ef !important;
}

.scorevalue {
    font-weight: bold;
    display: inline;
    background-color: white;
    padding: 3px;
    border: 1px solid #D8D8D8;
    margin-left: 4px;
}

.height30 {
    height: 30px;
}

div.innervaldiv {
    display: inline;
}

td.totaltd {
    padding: 10px 14px 20px 12px;
    background-color: white !important;
    border-right: 0px;
    vertical-align: top;
    text-align: right;
}

input.textinputtest {
    margin-left: 8px !important;
    border: 1px solid #000000;
    font-size: 14px;
}

input.radtype2 {
    width: 54px;
    float: left;
    clear: both;
}

input.item-type {
  margin-left: 1px;
  margin-right: 9px;
}

input#setback-top {
   float: left;
}

input#setback-bottom {
   float: left;
}

input#preview-bottom {
   float: right;
}

input.cbscore {
    vertical-align: top;
}

div#clone-selector {
    display: none;
    padding-top: 12px;
    padding-bottom: 10px;
}

input.field-required::-webkit-input-placeholder {
  color: #ff0000;
}

div.clone-div {
  padding: 5px 10px 5px 5px;
}

input.section-edit-button {
    width: 126px;
    margin-left: 1px;
}

input.section-delete-button {
    width: 66px;
    margin-left: 12px;
}

input.scale-types-radio {
    margin-right: 10px;
    margin-left: 2px;
    margin-bottom: 5px;
}

input.name-field {
  width: 230px;
}

.comp-edit-fields {
    margin-right: 14px;
}

/* assistant section */
input#add-existing-assistant {
     width: 96px;
     margin-left: 100px;
}

input#add-new-assistant {
    width: 70px;
    margin-left: 1px;
}

input#pdf-forms {
    margin-top: 5px;
    display: block;
    width: 160px;
}

input.edit-section-buttons {
  margin-left: 2px;
}

div.divoptions input[type="button"] {
    margin-top: 3px;
    width: 188px;
}

div.item-info-div {
    margin-left: 24px;
    color: #FF0000;
    padding: 0px;
    margin-top: -4px;
    margin-bottom: 4px;
}

td.itemstxt {
    background-color: #fff;
    vertical-align: top;
    white-space: normal !important;
    width: 100% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-width: 400px;
}

td.itemstxt h1 {
    text-decoration: none !important;
    color: initial !important;
    font-size: 2em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt h2 {
    text-decoration: none !important;
    color: initial !important;
    font-size: 1.5em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt h3 {
    text-decoration: none !important;
    color: initial !important;
    font-size: 1.17em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt h4 {
    text-decoration: none !important;
    color: initial !important;
    font-size: 1.12em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt h5 {
    text-decoration: none !important;
    color: initial !important;
    font-size: .83em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt h6 {
    text-decoration: none !important;
    color: initial !important; 
    font-size: .75rem !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.itemstxt table {
    margin: 0px;
    border-left: 1px solid #bdbdbd !important;
    border-top: 1px solid #bdbdbd !important;
}

td.itemstxt table td {
    white-space: normal !important;
    padding: 2px;
}

td.itemstxt table th {
    white-space: normal !important;
    padding: 2px;
}

td.itemstxt p {
    margin-bottom: 2px;
    margin-left: 0px;
    margin-top: 2px;
}

td.itemstxt ul {
    margin-top: 4px;
    margin-bottom: 8px;
}

td.itemstxt ol {
    margin-top: 4px;
    margin-bottom: 8px;
}

/* Station form section */
td.edititem-td {
    font-weight: bold;
    vertical-align: middle;
    padding: 0px 7px 4px 7px !important;
    background-color: #fff !important;
    border-right: 0px !important;
    width: 0;
    height: 50px;
}

td.edititem-td img {
    margin-top: -9px;
}

div.bdivfr {
    float: right;
    margin: 0px;
}

div.bdivfr-icons {
    float: left;
    margin: 0 0px 0 4px;
}

img.comment-img {
    margin-right: 2px;
    margin-top: 1px;
    float: right;
}

img#item-feedback {
   width: 19px;
   height: 19px;
}

img.tags-info {
  vertical-align: middle;
  cursor: help;
}

ul#linked-exams-ul {
    margin: 8px 0 0 2px;
    padding: 1px;
    width: 358px;
    background-color: #ffffff;
    list-style-type: none;
    clear: both;
    float: left;
    max-height: 52px;
    overflow: auto;
    color: #000000 !important;
    max-width: 100%;
}

li.hl-exam {
    border-radius: 3px;
    position: relative;
    padding-left: 10px;
    cursor: help;
}

li.hl-exam:before {
  content: "\25BA \0020";
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: -2px;
}

ul#linked-exams-ul li {
    margin: 0px 0px 3px 0px;
}

div#clone-buttons {
  margin-top: 20px;
  float: left;
}

div#linked-message-div {
  color: #000000 !important;
  margin-top: 10px;
}

div.button-div-wait {
    margin: 0px;
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 10px 0px 10px;
}

th.section-title {
    border-top: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    white-space: nowrap;
    font-size: 13px;
    background-color: rgba(0,0,0,.02);
    padding: 1rem;
    border-bottom: 1px solid #bdbdbd;
}

th.section-title div {
    white-space: normal !important;
}

th.selfassessment-bar {
    background-color: #9bc4e2 !important;
}

div#no-selfassess {
    float: left;
    color: #ff0000;
    padding-top: 26px !important;
    padding-bottom: 34px !important;
    margin-left: -10px;
    font-size: 12px;
    font-weight: normal !important;
}

label.selfassess {
   color: #000 !important;
   vertical-align: 10% !important;
   font-weight: bold;
}

span.item-assessment-question {
  color: #000 !important;
  white-space: normal !important;
}

.self-assessment-question {
    margin-bottom: 10px;
}

.self-assessment-question span {
    font-style: italic;
    font-weight: normal;
}

.self-assessment-response {
    font-weight: bold;
    margin-left: 8px;
}

.self-assessment-response span {
    font-style: italic;
    font-weight: normal;
}

.self-assessment-score {
   font-weight: bold;
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 8px;
}

.self-assessment-score span {
    font-weight: normal;
    font-style: italic;
}

tr.selfassessment-bar th {
    background-color: #9bc4e2 !important;
}

td.section-feedback {
    border-top: 0px;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    white-space: nowrap;
    font-size: 13px;
    padding: 12px 8px 12px 6px;
    width: 100%;
    text-align: center;
}

tr.feedback-disabled td.section-feedback {
    background-image: repeating-linear-gradient(165deg, #fafafa, #fafafa 2px, #ffffff 2px, #ffffff 5px);
}

td.section-feedback div {
    white-space: normal !important;
}

input.configure-feedback {
    margin-right: 10px;
}

th.scalestyle {
    background-color: #ffdf00;
}

.flagstyle {
    background-color: #ffbf00 !important;
}

.flagstyle th {
    background-color: #ffbf00 !important;
}

.flagstyle td {
    background-color: #ffbf00 !important;
}

td.section-item-td {
    background-color: #f2f2f2;
    border-right: 1px solid #bdbdbd !important;
    border-left: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
    padding: 0px;
}

div.section-warning {
    padding: 20px;
    margin-left: -8px;
    margin-right: -8px;
    border: 1px solid #ff0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fffdd0;
    color: #ff0000;
    font-weight: bold;
}

div.optsba {
    float: left;
    clear: both;
    margin-top: 4px;
}

div.divtotal {
    font-weight: bold;
    float: left;
    font-size: 17px;
    margin: 10px 0px 0px 0px;
    border: 1px solid #A0A0A0;
    padding: 6px 6px 6px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 6px 6px -6px #777;
    font-style: italic;
    background-color: #fefefe;
}

div.divtotal span {
    color: #ff0000;
}

fieldset.add-section-fs {
    padding: 8px 12px 10px 12px !important;
    margin-left: 12px !important;
}

fieldset.advanced-settings-fs {
  padding-bottom: 20px !important;
  margin-right: 20px;
  margin-bottom: 20px;
}

fieldset.advanced-settings-fs select {
   font-size: 13px !important;
}

fieldset.add-section-fs legend {
    margin-left: -2px !important;
}

div.flp {
    float: left;
    padding: 0px 0px 12px 24px;
}

div.value-div {
   height: 83px;
   float: left;
}

img.flag {
   float: left;
   clear: both;
   margin-top: 6px;
   margin-left: 26px;
   cursor: pointer;
}

img.flag-off {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.3;
}

img.flag-off:hover {
   -webkit-filter: grayscale(0%) !important;
   filter: grayscale(0%) !important;
   opacity: 1 !important;
}

div.textarea-div {
    margin-left: 5px;
}

div.bpan {
    margin-top: 4px;
    text-align: right;
}

div.bpanwait {
    padding: 40px 10px 0px 10px;
    height: 100%;
    margin-top: 4px;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
}

div.edit-section-wait {
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -15px;
}

td.feedback-section-wait {
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -15px;
}

div.indivopts {
    margin: 14px 0px 14px 14px;
}

div.indivopts input {
    vertical-align: top;
}

div.indivopts textarea {
    vertical-align: top;
}

div.indivopts label.tranlb {
    font-weight: bold;
    vertical-align: top;
    margin-left: 0px;
}

div#form-section-list {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px 8px 10px 6px;
    font-size: 12px;
}

tr#todo-tr td {
    padding-top: 8px !important;
}

tr#todo-tr th {
    padding-top: 8px !important;
}

label.sectionlabel {
    font-weight: normal !important;
    font-size: 12px !important;
    vertical-align: top;
}

/* Unordered lists and other lists */
ul.itemdet {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.itemdet2 {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 11px;
}

ul.information-list {
   list-style-type: none;
   margin-bottom: 2px;
}

ul.information-list li {
  margin-left: -35px;
  font-weight: bold;

}

/* Session station management section */
ul.addstats-ul {
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    padding: 0px !important;
    list-style-type: none;
    width: 620px;
}

ul.addstats-ul li {
    text-align: left;
}

ul.addstats-ul label {
    font-weight: bold;
    vertical-align: 20%;
    float: left;
    width: 184px;
    font-size: 12px;
    color: #726E6D;
}

ul.addstats-ul select {
    margin-bottom: 6px;
    font-size: 13px !important;
}

ul.addstats-ul input {
    margin-bottom: 6px;
}

ul#form-name-change {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 0px;
    padding: 0px;
    list-style-type: none;
}

label#form-name-warm {
   color: #ff0000;
   margin-top: 6px;
   margin-left: 22px;
   display: inline-block;
}

ul#form-name-change li {
  padding-bottom: 6px;
  vertical-align: middle;
}

ul#form-name-change input[type="radio"] {
    vertical-align: middle;
}

ul#form-name-change input[type="text"] {
    display: block;
    margin-left: 38px;
    margin-top: 6px;
}

ul#form-name-change label {
    vertical-align: middle;
}

input#add_rest {
    margin-top: 1px !important;
    margin-bottom: 7px !important;
    margin-left: 1px;
}

label#rest-label {
    margin-top: -3px !important;
}

select#add_hrs, select#add_mins, select#add_secs  {
    font-size: 12px !important;
    margin-right: 2px !important;
}

#station-add-panel {
    clear: both;
    border: 1px solid #726e6d;
    padding: 18px 10px 10px 10px;
    height: auto;
    width: 930px;
    background-color: #fff;
    margin-left: 8px;
    margin-top: 3px;
    margin-right: 8px;
    margin-bottom: 14px;
    text-align: left;
    float: left;
}

div.divcrstat {
    float: left;
    clear: both;
    margin-left: 10px;
    margin-bottom: 3px;
    margin-top: 8px;
}

div.divcrstat input[type="radio"] {
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 14px;
}

div.divcrstat label {
    vertical-align: middle;
    padding-right: 0px;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

ul.exam-session-list {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}

ul.exam-session-list li {
    list-style: none !important;
    padding-top: 2px;
    padding-bottom: 4px;
}
ul.exam-session-list li:first-child {
    padding-top: 0;
}

img.exam-res {
    height: 22px;
    width: 22px;
    margin-bottom: -3px;
    cursor: pointer;
}

div.matrix-div {
    margin-bottom: 8px;
}

div.matrix-div button {
   border: 0px !important;
   cursor: pointer;
   margin-top: -2px;
}

th.new-section-title {
    width: 160px !important;
    vertical-align: top;
    cursor: help;
    padding-right: 0px !important;
}

td.setheight {
    height: 150px;
}

/* grp sortables */
input.group-title-input {
    background-color: rgba(0,0,0,.0);
    font-size: 13px;
    font-weight: bold;
    border: 0px;
}

input.feedback-cb {
   margin-left: 0px;
   vertical-align: middle;
}

input.group-title-input2 {
    font-size: 13px;
    float: left;
    margin-bottom: 4px;
    margin-top: -1px;
}

div.group-edit-div {
    vertical-align: top;
    padding-bottom: 3px;
}

img.cancel-group {
    height: 22px;
    width: 22px;
    border: 0px;
    margin: 0 0px 0px 8px !important;
}

img.update-group {
    height: 21px;
    width: 21px;    
    margin: 0 0px 0px 3px !important;
    border: 0px;
}

img.delete-group {
    height: 16px;
    width: 16px;
    border: 0px;
    margin-right: 4px;
}

img.remove-student {
    height: 16px;
    width: 16px;
    border: 0px;
    margin: 0px 4px 2px 0px;
}

img.printbu {
    height: 20px;
    width: 20px;
    margin-bottom: 8px;
    margin-left: 4px;
    display: block;
    cursor: pointer;
}

img.sessr-icon {
    height: 20px;
    width: 20px;
    margin-left: 4px;
    display: block;
    cursor: pointer;
}

img.chart-icon {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    margin-left: 2px;
}

img.chart-icon2 {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    margin-left: 2px;
}

img.previewbu {
    height: 18px;
    width: 18px;
    border: 0px;
    cursor: pointer;
}

div#moddiv {
    padding: 0px 10px 10px 10px;
    border: 1px solid #bdbdbd;
    background-color: #F5DEB3;
    text-align: center;
    display: none;
    left: 280px;
    top: 220px;
    max-width: 372px;
    width: 100%;
}

div.filter-div {
    clear: both;
    padding: 0px 0px 6px 0px;
    text-align: left;
}

#module-select {
    width: 348px;
    background-color: #F8F8F8;
    font-size: 12px;
}

#module-select-menu {
  max-height: 272px !important;
  padding-bottom: 40px;
  text-align: left;
}

#group-filter {
    width: 184px;
    background-color: #F8F8F8;
    font-size: 12px;
    float: left;
}

#group-filter-menu {
  max-height: 244px !important;
  padding-bottom: 40px;
}

div.exam-number-div {
  padding: 0px;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
}

div#colour-reference-div {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #bdbdbd !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
   width: 278px;
   text-align: center;
}

span#exam-number-switch {
   border: 1px solid #fff;
   cursor: pointer;
   font-size: 11px !important;
}

span#exam-number-switch:hover {
   background-color: #ededed;
   border: 1px solid #bdbdbd;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

span#candidate-number-switch {
   border: 1px solid #fff;
   cursor: pointer;
   font-size: 11px !important;
}

span#candidate-number-switch:hover {
   background-color: #ededed;
   border: 1px solid #bdbdbd;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

span#student-id-switch {
   border: 1px solid #fff;
   cursor: pointer;
   font-size: 11px !important;
}

span#student-id-switch:hover {
   background-color: #ededed;
   border: 1px solid #bdbdbd;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}


span.switch-on {
   background-color: #ededed;
   border: 1px solid #bdbdbd !important;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

span.student-identifier-display {
   font-weight: bold;
   color: #008000;
}

span#student-name {
  color: #ff0000;
}

div#dialog-message {
  float: left;
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 2px;
  vertical-align: middle !important;
  height: 38px;
}

table#loading-results {
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  background-color: #fff;
  float: left;
}

table#loading-results th {
  border-bottom: 1px solid #bdbdbd;
  text-align: center;
  padding: 3px;
  white-space: nowrap;
}

div#groups-password-div {
  margin-top: 16px;
  float: left;
}

div#groups-password-div label {
   font-weight: bold;
   font-size: 13px;
}

div#password-message {
   color: #ff0000;
   margin-top: 6px;
}

ul#exam-number-prefix-menu {
   max-height: 120px !important;
}

/* jquery ui - select menu - adjustments */
#moddiv .ui-state-default {
  color: #000000 !important;
  font-weight: normal !important;
}

#moddiv .ui-state-focus {
  font-weight: normal !important;
}

#moddiv .ui-selectmenu-text {
  font-weight: normal !important;
}

.ui-selectmenu-button.ui-button {
  width: inherit;
  min-width: 140px !important;
  padding-right: 2px !important;
}

#moddiv .ui-selectmenu-icon {
    margin-left: 10px;
}

#moddiv .ui-button {
    color: #000000 !important;
    font-weight: normal !important;
}

#moddiv .ui-state-active {
    font-weight: normal !important;
    background: #fdf5ce url(../images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x !important;
}

.dropdown-item {
    padding-top: 6px !important;
    padding-bottom: 5px 4px 5px 4px !important;
}

input#search-student-list {
    font-size: 13px;
    width: 150px;
    padding: 5px !important;
    float: right;
    background: #fff !important;
}
label#number-prefix-label {
   vertical-align: 10%;
   color: #4d4d4d;
   font-size: 13px;
}

select#exam-number-prefix {
    width: 60px;
}

input#exam-number-postfix {
   width: 30px;
   padding: 5px !important;
   font-size: 13px;
   background: #fff !important;
}

button#increment-postfix {
  font-size: 14px;
  vertical-align: 42%;
}

div.close-top-div {
    float: left;
    margin: 0px 0px 0px -8px;
    padding: 3px;
}

div.close-top-div img {
   width: 14px;
   height: 14px;
}
div.grab {
    float: right;
    width:22px;
    height: 16px;
    margin: 6px 0px 6px 0px;
    background: url('../images/grabbable.png') 0px 0px repeat;
}

li#addgroupli div.grab {
    margin-top: -2px;
    margin-right: -2px;
}

div.modules-students-div {
    clear: both;
    float: left;
    padding: 0px 0px 6px 0px;
    margin-top: 7px;
}

ul#grpsort {
    margin: 0px 0px 40px -10px;
    padding: 0;
    list-style-type: none;
    clear: both;
    float: left;
    width: 100%;
}

ul#grpsort li {
    margin: 0px 0px 12px 0px;
    display: block;
    float: left;
    border-radius: 5px;
}

div.draghandle {
    cursor: move;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 2px;
    height: 16px;
    width: 310px;
    float: right;
    text-align: right;
}

div.nondrag {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 2px;
    height: 16px;
    width: 310px;
    float: right;
    text-align: right;
}

div.draghandle div.grab {
    margin-top: -2px;
    margin-right: -2px;
}

div.nondrag div.grab {
    margin-top: -2px;
    margin-right: -2px;
}

span.groupcount {
    color: #008000;
    float: right;
    margin-right: 2px;
}

div.group-options-div {
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
}

li.eachglist {
    padding: 0px 4px 4px 4px;
    list-style: none;
    width: 360px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    background-color: rgba(0,0,0,.06);
    margin-left: 10px !important;
}

div.draghandle2 {
    cursor: move;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    float: left;
    width: 352px;
    margin-left: -10px;
}

ul.eachslist {
    margin: 0px 0px 0px 0px !important;
    background-color: white;
    cursor: default;
    border: 1px solid #BDBDBD;
    clear: both;
    padding: 0px;
    white-space: nowrap;
    padding-bottom: 20px;
    overflow-x: scroll;
}

ul.modslist {
    margin: 0px 0px 6px 0px !important;
    background-color: white;
    cursor: default;
    border: 1px solid #BDBDBD;
    height: 240px;
    overflow: scroll;
    clear: both;
    padding: 0px;
    white-space: nowrap;
    text-align: left;
}

ul.modslist li {
    list-style: none !important;
    padding: 4px 0px 4px 4px !important;
    margin: 0px !important;
}

ul.blank-list {
    margin: 0px !important;
    background-color: white;
    cursor: default;
    border: 1px solid #BDBDBD;
    height: 24px;
    clear: both;
    padding: 0px;
    white-space: nowrap;
    text-align: left;
}

ul.blank-list li {
    list-style: none !important;
    padding: 4px 0px 4px 4px !important;
    margin: 0px !important;
}

li.eachs {
    padding: 4px 0px 4px 4px !important;
    margin: 0px !important;
    cursor: pointer;
    list-style: none;
    font-size: 12px !important;
    background-color: white;
    font-weight: normal;
    float: none !important;
}

li.eachsnew {
    padding: 4px 0px 4px 4px !important;
    margin: 0px !important;
    cursor: pointer;
    list-style: none;
    font-size: 12px !important;
    background-color: white;
    font-weight: normal;
    float: none !important;
}

li.eachglist2 {
    padding: 0px 4px 0px 4px !important;
    list-style: none;
    width: 360px;
    height: 396px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    background-color: #FFFF99;
    margin-left: 10px !important;
    margin-bottom: 0px !important;
    text-align: center;
}

li.eachglist2 div.new-group-div {
    height: 30px;
    width: 330px;
    clear: both;
    float: left;
    text-align: left;
}

li.addgroup-li {
    background-color: #F5DEB3;
}

#group-name {
    width: 220px;
    margin-left: 1px;
}

li#no-students {
    padding: 4px 6px 4px 6px !important;
    font-size: 0.9em;
}

div.groups-button-div {
    margin: 4px 0px 8px 0px;
    padding: 4px 10px 8px 10px;
    clear: both;
    float: left;
    border: 1px solid rgba(0,0,0,.125);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.groups-button-div input {
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-top: 6px;   
}

input#save {
   width: 120px;
}

div#group-info {
    margin-top: 5px;
    margin-bottom: 6px;
}

div#saveupwarn {
    background-color: #ffa500;
    width: 290px;
    padding: 3px !important;
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#saved {
    background-color: #33CC33;
    width: 290px;
    padding: 3px !important;
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* tips */
.tipsval {
    color: #000;
    z-index: 13000;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
}

.tipsval .tip-title {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 8px 4px;
    background-color: #E8E8E8;
    border-bottom: 1px solid;
}

.tipsval.tip-text {
    font-size: 11px;
    background: #FFFFFF;
    padding: 4px 8px 8px;
}

span.perpass {
    font-size: 14px;
    color: #726E6D;
}

/* tips */

#load-editor {
    width: 820px;
    height: 200px;
}

.itemtxtdiv {
    float: right;
    padding-bottom: 20px;
    padding-left: 10px;
}

.itemtxtdiv2 {
    float: left;
    padding-bottom: 20px;
    padding-left: 0px;
}

tr.baseborder td {
    border-bottom: 1px solid #BDBDBD !important;
}

.grscale {
    font-style: italic;
}

input.flip {
    font-size: 12px;
}

a.editems {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

a.tdlink {
    font-size: 12px;
}

a.sesslink {
    float: left;
    margin-top: 2px
}

div.no-sessions {
    padding-bottom: 2px;
    color: #FF0000;
    float: left;
}

div.link-sessions {
    padding-top: 20px;
    padding-bottom: 10px;
    float: left;
}


div#filter-sessions-options {
   margin-top: 10px;
   clear: both;
   min-width: 190px;
   padding-left: 13px;
   float: left;
}

select#filter-sessions {
  margin-left: 4px;
}

div#return-exam-list {
   min-width: 190px;
   float: left;
}

label.filter-label {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

div.exam-description {
    width: 140px;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

fieldset.infowarn {
    background-color: #FFFFFF;
}

div.errordivnofloat {
    padding: 4px;
    border: 1px solid #a0a0a0;
    background-color: #ffffff;
    font-size: 13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.cannot-delete-exam {
    margin-top: 6px;
    border: 1px solid #FF0000;
    background-color: #FFFF00;
    font-weight: bold;
    color: #000000;
    width: 114px;
    padding: 2px 0px 2px 4px;
}

div.cannot-delete-session {
    margin-top: 6px;
    margin-bottom: -4px;
    border: 1px solid #FF0000;
    background-color: #FFFF00;
    font-weight: bold;
    color: #000000;
    width: 130px;
    padding: 2px 0px 2px 4px;
}

div.cannot-delete-station {
    margin-top: 6px;
    text-align: left;
    background-color: #ffde03;
    font-weight: bold;
    width: 130px;
    padding: 3px 0px 3px 4px;
}

div.cannot-delete-form {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: left;
    background-color: #ffde03;
    width: 144px;
    padding: 3px 0px 3px 4px;
}

fieldset.information-fs3 input[type="text"] {
    width: 408px;
    max-width: 100%;
}

fieldset.inner-fs {
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 8px 10px 8px 14px;
    position: relative;
    display: inline;
    vertical-align: top;
    float: left;
    clear: both;
    width: 460px;
    background-color: white;
    text-align: left;
    border: 1px solid #bdbdbd;
}

fieldset.inner-fs legend.inner-fsl {
    color: #000000;
    left: 25px;
    font-weight: bold;
    padding: 0px;
    margin-top: -1px;
    margin-left: -4px;
    margin-bottom: -2px;
    font-size: 12px;
}

.success-tooltip {
   background: none !important;
   background-color: #deedbf !important;
   webkit-box-shadow: none !important;
   box-shadow: 0 6px 6px -6px #777 !important;
}

.failed-tooltip {
   background: none !important;
   background-color: #ffff99 !important;
   webkit-box-shadow: none !important;
   color: #ff0000;
   box-shadow: 0 6px 6px -6px #777 !important;
}

fieldset.updated-non-edit {
    border: 1px solid #bdbdbd !important;
    padding: 9px 10px 11px 14px !important;
}

fieldset.inner-fs input[type="radio"] {
    vertical-align: middle;
}

fieldset.inner-fs textarea {
    vertical-align: middle;
    width: 408px;
    resize: none;
    max-width: 100%;
}

textarea.empty {
    height: 14px !important;
}

fieldset.inner-fs label {
    vertical-align: middle;
}

fieldset.group-fs {
    padding-top: 6px;
    padding-bottom: 6px !important;
}

div.panel1-button-container {
   float: left;
   clear: both;
   margin-top: 2px;
   margin-bottom: 16px;
   padding: 0px;
   width: 446px
}

div.otherbs {
    float: right;
    width: 300px;
    margin-top: 13px;
    text-align: right;
    padding: 0px;
}

input#cancelsbu {
    margin-right: 3px;
}

label.not-finished-label {
    margin-left: 6px;
}

.w160 {
    width: 160px !important;
}

.set-adj {
    margin-bottom: 30px !important;
}

div#prev-stations {
    margin-bottom: -5px;
}

td.station-dept-cell {
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px !important;
}

td.station-dept-cell div {
    margin-top: 8px !important;
}

/* jquery-ui-timepicker */

div#start-div {
    clear: both;
    float: right;
}

div#end-div {
    clear: both;
    float: right;
    margin-top: 4px;
    margin-left: 6px;
}

td#session-description div {
    padding-top: 1px;
    padding-bottom: 2px;
}

input#start-time, input#end-time {
    width: 60px;
}

td#session-description label, td#session-description div label {
    display: table-cell;
    width: 40px;
    float: left;
}

input#thedate {
    display: table-cell;
    width: 94px;
    margin-right: 6px;
}

tr.rest-station-row th {
    background-color: #FCFCE4;
    text-align: center;
}

tr.rest-station-row td {
    background-color: #FCFCE4;
    text-align: center;
}

td.rest-station {
    vertical-align: middle !important;
    padding-top: 23px !important;
    padding-bottom: 28px;
    font-size: 15px;
}

ul.settings-margin {
    margin-bottom: 32px !important;
}

/* Advanced exam (OSCE) settings */
ul.advanced-settings-ul {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    list-style-type: none;
    border: 1px solid #BDBDBD;
    background-color: #FFF;
    padding: 14px 120px 12px 20px;
}

ul.advanced-settings-ul li {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 3px;
}

ul.advanced-settings-ul label {
    display: block;
    float: left;
    font-size: 12px;
    min-width: 92px;
    line-height: calc(1.8125rem + 2px);
    margin-bottom: .5rem;
}

ul.advanced-settings-ul select {
    font-size: 12px;
}

ul.advanced-settings-ul div {
    float: left;
    margin-left: 6px;
}

ul#multi-examiner-notes {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 6px;
    margin-right: 0px;
    list-style-type: none;
}

ul#multi-examiner-notes li {
   margin-left: -33px;
   padding-top: 2px;
   padding-bottom: 2px;
}

div#num-slots-div {
    margin: 4px 0 0 0px;
    padding: 10px 10px 10px 70px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,.125);
    float: left;
    clear: both;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: right;
}

div#num-slots-div label {
   vertical-align: middle;
   margin-bottom: 0;
   font-size: 0.9em;
}

select#num-slots-examiners {
   margin-bottom: 6px;
}

div#examiners-buttons-div {
   margin-top: 8px;
}

div#examiners-buttons-div button {
   font-size: 14px;
}

div.slot-div {
  float: left;
  clear: both;
  height: 44px;
  margin-bottom: 10px;
  border: 1px solid #bdbdbd;
  font-size: 13px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

div.slot-div > div {
  text-align: center;
  padding-top: 11px;
  height: 44px;
  border-right: 1px solid #bdbdbd;
  float: left;
}

div.remove-slot {
  font-weight: bold;
  width: 20px;
}

div.remove-slot img {
  height: 11px;
  width: 11px;
  margin-top: 4px;
  cursor: pointer;
}

div.slot-name {
  width: 360px;
  text-align: left !important;
  padding-left: 10px !important;
}

div.chosen-container {
  margin-top: -6px !important;
}

div.slot-weighting {
  width: 190px;
  text-align: left !important;
  padding-left: 10px !important;
  border-right: 0px !important;
}

div.slots-title {
  font-weight: bold;
  font-size: 13px;
  clear: both;
  float: left;
  padding: 0px 0px 4px 0px;
}

div#observer-slots-container {
  margin-top: 10px;
  clear: both;
  float: left;
}

/* Templates hidden by default */
select#weighting-list-template {
    display: none;
}

select#examiner-list-template {
    display: none;
}

select#observer-list-template {
    display: none;
}

.weighting {
   width: 172px !important;
}

.examiner {
   width: 340px !important;
}

/* flash message adjustment */
div#flash-messages {
  margin-top: -10px !important;
  margin-bottom: 16px !important;
  margin-left: -1px !important;
}

/* Item competencies dropdown multi-select */
div#container-competencies {
    width: 850px !important;
    height: 27px !important;
    padding-left: 5px;
    vertical-align: 0%;
    margin-bottom: 10px;
    margin-left: 6px;
    float: left;
}

input#edit-competencies {
    margin-left: 1px;
    font-size: 14px;
}

div#competency-selector {
    display: none;
}

div.level-one-container {
   margin-bottom: 6px;
}

div.level-one-container input[type="checkbox"] {
  margin-right: 1px;
}

div.level-one-container label {
  vertical-align: 10%;
}

div.sub-competencies {
  margin-left: 20px;
}
div.sub-competencies input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
  }
  
  div.level-one-container label {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 25px);
    margin-left: 4px;
    line-height: 1.5;
  }
div.toggle-div {
  margin-left: 20px;
}

a.toggle-sub-competencies {
  color: #0000ff;
}

input[type="checkbox"].level-two-check {
  margin-left: 0px;
}

span.item-competency {
    float: right;
    border: 1px solid #a0a0a0;
    display: inline-block;
    margin-right: 3px;
    padding: 4px;
    font-size: 12px;
    vertical-align: 0%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

img.remove-competency {
   cursor: pointer;
   margin-right: 2px;
}

img#remove-img-template {
  display: none;
}

div.item-competency-inner {
    border: 1px solid #a0a0a0;
    padding: 3px;
    text-align:center;
    margin-bottom: 2px;
    border-radius: 4px;
    cursor: help;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

td.no-indicators {
   border-right: 0px;
   width: 0px !important;
   padding: 0px !important;
}

td.no-indicators div {
  display: none;
}

div#form-creator-buffer {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Tooltip tagging */
.ui-tooltip {
    max-width: 800px;
}

img.has-results {
  margin-left: 5px;
}

div#session-has-results {
   background-color: #ffa500;
   width: 290px;
   padding: 3px !important;
   text-align: center;
   font-size: 12px;
   margin-top: 6px;
   margin-bottom: 6px;
   display: none;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

/* Assessment Form List Page */
table#forms_table {
  min-width: 600px;
}

tr#no-forms-found td {
   border-right: 0px;
}

tr#no-forms-found td {
   border-right: 0px;
}

div.form-tag {
  border: 1px solid #a0a0a0;
  background-color: #ffcc99;
  font-style: oblique;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 3px;
  float: left;
  clear: both;
}

span.form-tag {
  border: 1px solid #a0a0a0;
  background-color: #ffcc99;
  font-style: oblique;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 4px;
  float: left;
}

div.form-tag-linked {
  border: 1px solid #a0a0a0;
  background-color: #ffcc99;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 3px;
  font-style: oblique;
  font-size: 12px;
  float: left;
  clear: both;
}

div.form-tag-linked:hover {
  background-repeat: no-repeat;
  padding: 3px 3px 3px 11px;
  background-position: 2px;
  background-image: url('../images/deletetinier.png');
  cursor: pointer;
}

span.form-tag-linked {
  border: 1px solid #a0a0a0;
  background-color: #ffcc99;
  font-style: oblique;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
  float: left;
}

span.form-tag-linked:hover {
  background-repeat: no-repeat;
  background-position: 2px;
  color: #2a2a2a;
  background-image: url('../images/deletetinier.png');
  cursor: pointer;
}

div#tagging-div {
  clear: both;
  float: left;
  margin-bottom: 4px;
}

fieldset#tags-fieldset {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.custom-combobox .ui-icon {
   background-image: url('../images/ui-icons_222222_256x240.png') !important;
}

div#forms-tags {
  padding: 6px 6px 6px 6px;
  background-color: #fff;
  border: 1px dashed #696969;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 14px;
  margin-left: 2px;
  float: left;
  clear: both;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
  min-width: 172px;
}

span#tags-existing {
  color: #696969;
  font-style: italic;
  display: inline-block;
}

.custom-combobox {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-left: 2px;
  float: left;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  color: #000000;
  font-weight: normal;
}

fieldset#tags-fieldset .custom-combobox-input {
  width: 120px !important;
  font-size: 0.9em;
}

#add_form_name, #edit_form_name {
  padding: 2px 2px 2px 3px !important;
  width: 200px;
}

ul#filter-tags {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  margin-left: 70px;
  list-style-type: none;
  padding: .5rem;
  overflow-y: auto;
  height: 4.75rem;
  border-radius: .25rem;
}

ul#filter-tags > li {
  text-align: left;
  vertical-align: middle;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 12px;
}

ul#filter-tags li input {
  vertical-align: middle;
  margin-right: .25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul#filter-tags label {
  vertical-align: middle;
  margin: 0;
  font-weight: normal !important;
  float: none !important;
}

fieldset.filter-forms-fs {
  margin-left: 10px !important;
}

div#search-records-div {
  margin: 1rem 0px -25px 0px !important;
  padding: 10px 10px 10px 0px;
  width: 346px;
  clear: both;
  border-bottom: 0;
  text-align: left;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

input#search-records {
  font-size: 13px;
  width: 300px;
}

.assess-form-name {
    color: #ff0000;
    font-style: italic;
}

select.grade-rule-select {
    width: 132px !important;
}

div.grade-warning {
    padding: 8px;
    margin: 0px 4px 30px 6px;
    border: 1px solid #ff0000;
    float: left;
    clear: both;
    font-size: 12px;
    background-color: #ffde03;
}
