/* Original Author: David Cunningham
   For Qpercom Ltd
   Date: 16/04/2015
   © 2015 Qpercom Limited.  All rights reserved.
   @Manage Features Section
*/


fieldset#features-fieldset {
 width: 330px;
}

dl#features-dl {
  margin-left:3px;
  margin-bottom:3px;
  margin-top:0px;
  margin-right:3px;
  padding: 0px;
  font-weight: bold;
  clear: both;
}

dl#features-dl label {
  vertical-align: 0%;
}

dl#features-dl input {
  vertical-align: middle;
  margin-right: 6px;
}

dl#features-dl dd {
  margin-top: -8px;
  font-weight: normal;
  margin-left: 4px;
  color: #000000;
  margin-bottom:8px;
}

dl#features-dl dt {
  font-size: 12px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}


div.innerdv {
 width: 500px;
 max-width: 100%;
 min-height: 280px;
 background-color:#FFF;
 overflow: auto;
 font-size: 0.9em;
}

div.bottomdv {
 padding: 1rem 0px 1rem 0px;
}

div.nonedv {
  color: red; 
  font-weight: bold;
  margin-top: 2px;
  margin-left:3px;
  margin-bottom: 16px;
  clear: both;
}
select#feature-groups-select {

}

div#filter-div label {
  font-weight: bold;
  font-size: 13px;
}

.features-title {
  font-size: 1.3em;
}