/*
    Created on : 29-Jul-2014, 11:09:30
    Author     : Domhnall Walsh <domhnall.walsh@qpercom.ie>
*/

div#flashbox {
    display: inline-block;
    vertical-align: top;
}

div#flash-messages {
    border-radius: 8px;
    border: 1px solid #FFA500;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 8px;
    padding: 6px 6px 4px 6px;
    background: #ffcc66;
    font-weight: bold;
    float: left;
    clear: both;
}
div.flash-message {
    display: block;
}

div.flash-message img.flash-icon {
    margin-right: 5px;
}

div.flash-message span {
   font-size: 0.9em;
}

div.flash-message span.flash-warning {
    color: #ff3300; /* orange */
}

div.flash-message span.flash-error {
    color: #ff0000; /* red */
}

div.flash-message span.flash-information {
    color: #0000cd; /* blue */
}