/* Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */

html {
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
      
  input[type='radio'] { 
     transform: scale(1.2);
  }

  input[type='checkbox'] { 
    transform: scale(1.2);
  }

}

#top-table {
    float: left;
    margin-bottom: 14px;
    box-shadow: 0 6px 6px -6px #777;
}

#exam_assessment_table {
    display: none;
    clear: both;
    margin-right: 20px;
    margin-left: -10px;
    border-color: #A8A8A8 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#exam-assessment-top {
    float: left;
    margin-left: -10px;
    margin-top: -5px;
}

#clock {
    float: left;
    width: 96px;
    text-align: center;
    border: 1px solid #bdbdbd;  
    margin-left: 10px;
    padding: 7px 0px 7px 0px;
    font-size: 20px;
    cursor: default;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0 6px 6px -6px #777;
}

.clock-off {
    color: #ff0000 !important;
}

/* Station Examiner Notes */
div#station-notes-outer {
    background-color: #FFA500;
    margin: 0px 0px 14px -10px;
    padding: 8px 8px 8px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    display: none;
    width: 460px;
    min-height: 308px;
    z-index: 1000;
}

div#notes-title {
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 4px 4px;
}

li#show-notes-li {
    margin-top: 23px;
    text-align: right;
    margin-bottom: -3px;
}

div#close-div {
    float: left;
    clear: both;
    padding: 4px;
    float: right;
}

div#station-notes-main {
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    padding: 6px;
    width: 444px;
    height: 246px;
    font-size: 13px;
    overflow-y: scroll;
}

.mask {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}


/* Other Styles */
td.filler {
    border-left: 1px solid #BDBDBD;
    border-right: 0px;
    text-align: center;
}


td.options {
    vertical-align: middle;
    text-align: center;
    padding: 4px 3px 4px 3px;
    white-space: nowrap !important;
    border-left: 1px solid #BDBDBD;
    border-right: 0px;
}


td.options label {
    padding: 0px;
    margin: 0px;
    vertical-align: 20%;
    font-size: 12px;
}

div.textbox-descriptor {
  clear: both;
  margin-bottom: 4px;
  text-align: left;
  margin-top: -4px;
}

td.anscale label {
    font-size: 11px;
    display: none;
}

td.anslider {
    padding-top: 10px !important;
    vertical-align: middle;
    padding-bottom: 10px !important;
    border-right: 0px;
    border-left: 0px;
}

.title-section {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding: 6px 8px 4px 8px;
    vertical-align: top;	  
    border-bottom: 0px;
    border-right: 0px;
    width: 100%;
    white-space: nowrap;
    background-color: #d3d3d3;
}

.title-section div {
    margin-left: auto;
    margin-right: auto;
    min-height: 24px;
}

.title-sectionv2 {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding: 6px 8px 0px 8px;
    border-bottom: 0px;
    border-right: 0px;
    width: 100%;
    background-color: #d3d3d3;
    font-style: oblique;
}

.title-sectionv2 div {
    margin-left: auto;
    margin-right: auto;
    min-height: 15px;
}

tr.scalebar th {
    background: none !important;
    background-color: #ffdf00 !important;
}

tr.comments-divider div {
    height: 30px;
    background-image: repeating-linear-gradient(165deg,#fafafa,#fafafa 2px,#fff 2px,#fff 5px);
    padding: 0px !important;
}

tr.comments-divider td {
   border-right: 0px !important;
}

.descriptors {
    font-weight: bold;
    padding: 6px 6px 3px 6px;
    border-bottom: 0px;
    border-right: 0px;
    font-size: 9px !important;
    text-align: center;
    vertical-align: top;
    background-color: #d3d3d3;
    white-space: nowrap;
    color: #000000;
    min-width: 50px;
}

.descriptors div {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 0px;
}

td.comment {
    background-color: #fff !important;
    padding: 0px !important;
    border-bottom: 1px solid #bdbdbd;
    border-left: 0px;
    border-right: 0px;
    font-weight: bold;
    color: #ff0;
    font-size: 11px;
}

td.comment textarea {
    margin: 0px;
    color: #bfbfbf;
    font-size: 12px;
    border: 0px;
    padding: 2px;
    height: 50px !important;
    width: 99.2% !important;
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text;
    user-select: text !important;
    cursor: text !important;
    overflow-y: auto;
}

textarea.tahighlight {
    border: 1px solid #ff0000 !important;
}

textarea.tahighlight::placeholder {
    color: #ff8080 !important;
}

textarea.tahighlight::-webkit-input-placeholder {
    color: #ff8080 !important;
}
 
textarea.tahighlight::-moz-placeholder {
    color: #ff8080 !important;
    opacity: 1;
}
 
textarea.tahighlight:-ms-input-placeholder {  
    color: #ff8080 !important;
}

td.comment-icon-cell {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 4px;
  vertical-align: top;
  text-align: center;
}

td.comment-icon-cell div {
  background: url('../images/comments-assess.png') 0% 0% no-repeat;
  width: 18px;
  height: 18px;
}

td.item-comment-icon-cell {
   padding-top: 4px;
   padding-left: 6px;
   padding-right: 4px;
   vertical-align: top;
   text-align: center;
}

td.item-comment-icon-cell div {
    background: url('../images/item-comment.png') 0% 0% no-repeat;
    width: 18px;
    height: 18px;
}

.titleqcount {
    font-weight: bold;
    color: red;
    font-size: 14px !important;
    text-decoration: italic;
    text-align: center;
    vertical-align: top;
    padding: 4px 4px 0px 1px !important;
    border-bottom: 1px solid #bdbdbd;
    border-right: 0px;
}

tr.lgrey th, tr.lgrey td {
    background-color: #f2f2f2;
}

tr.done th, tr.done td {
    background-color: #deedbf !important;
}

tr.done .titleqcount {
   border-left: 3px solid #006400;
}

tr.done div.knob {
    background-color: #bdcc9d;
}

tr.done .slider-track {
    background-color: #fafafa; 
}

tr.checked th, tr.checked td {
    background-color: #ffffcc;
}

tr.checked .titleqcount {
   border-left: 3px solid #000000;
}

td.items {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    padding: 3px 6px 4px 0px;
    border-bottom: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    white-space: normal;
    font-size: 13px;
    width: 100%;
}


td.items table {

    background-color: #ffffff !important;
    border-collapse: collapse !important;
    border: 1px solid #BDBDBD !important;
    margin: 0px;
}


td.items table th {

    white-space: normal !important;
    border-color: #bdbdbd !important;
    padding: 2px;
}


td.items table td {

    white-space: normal !important;
    border-color: #bdbdbd !important;
    padding: 2px;
}

td.items ul {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

td.items ol {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}


td.items > * {
    margin-left: -18px !important;
}

td.items p {

    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

td.items h1 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 2em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.items h2 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.5em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

td.items h3 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.17em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;    
}

td.items h4 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.12em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;    
}

td.items h5 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: .83em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;    
}

td.items h6 {
    text-decoration: none !important;
    color: initial !important; 
    font-size: .75rem !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;    
}

td.tdscorebuttons {
    background-color: #F7F7F7;
    text-align: right;
    border: 0px;
    padding: 8px 7px 8px 7px;
}

td.noitemsfnd {
    color: red;
    font-weight: bold;
    padding: 8px 8px 8px 20px;
    font-size: 14px;
    border-right: 0px;
}

td.noitemsfnd2 {
    color: red;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    border-right: 0px;
    border-bottom: 0px;
}

td.stationdettd {
    border-right: 0px; 
    vertical-align: top;
}

.titlestatus {
    background-color: #f7f7f7;
    padding: 8px;
    border-top: 0px solid #BDBDBD;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

ul.alt {
    margin-bottom: 4px !important;
    margin-top: 4px !important;
    font-size: 11px !important;
}

ul.alt select {
    font-size: 11px !important;
}

div.totalscore {
    padding: 5px 2px 4px 8px;
    font-size: 15px;
    float: right;
}

.hmv {
    vertical-align: 0 !important;
    margin-left: 10px !important;
}

