/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */

/* Tables */
table {
    border-collapse: separate !important;
    border-spacing: 0;
    border-radius: 3px;
    empty-cells: show !important;
}
table.table-border {
    border: 1px solid #bdbdbd;
}

table.table-border2 {
    border: 1px solid #BDBDBD;
}
.table-border td:last-child, .table-border th:last-child {
    border-right: 0;
}
table.title-table th {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: .4em;
    border-right: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    vertical-align: middle;
}
tr.title-row td:first-child {
    border-radius: 2px 0px 0px 0px;
}
tr.title-row td:last-child {
    border-radius: 0px 2px 0px 0px;
}

th {
    border-right: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    text-align: left;
    font-size: .82rem;
}

td {
    white-space: nowrap;
    padding: .40rem .40rem .40rem .40rem;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    font-size: .75rem;
}

td.v2 {
    padding: 6px;
}

td.w {
    background-color: #FFFFFF;
}

th#options-th {
    width: 34px;
}

td.options-td {
    text-align: center;
    vertical-align: top;
    padding-top: .68rem !important;
}

td.updatelast {
    color: #FF0000;
    font-weight: bold;
    border-right: 0;
}

th.title {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 0.4rem;
    border-right: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    vertical-align: middle;
}

td.tdpadd {
    padding: 5px 40px 5px 40px;
}

td.tdpadd2 {
    padding: 5px 80px 5px 80px;
}

th.titlet2 {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 6px;
    vertical-align: middle;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

th.titleb {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 3px;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
}

.titleedit {
    font-weight: bold;
    vertical-align: top;
    background-color: #FFFFFF !important;
    padding-top: .70rem !important;
    border-right: 0;
    width: 0;
    height: 50px;
    text-align: center;
}

.titleedit2 {
    font-weight: bold;
    vertical-align: top;
    background-color: #FFFFFF !important;
    border-right: 0;
    padding: .75rem !important;
    height: 35px;
    width: 0;
}

td.title-edit-top {
    background-color: #f7f7f7;
    padding: 3px;
    border-bottom: 1px solid #BDBDBD !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

td.edit-column-title {
    background-color: #f7f7f7;
    padding: 3px 6px 3px 6px !important;
    border-bottom: 1px solid #BDBDBD !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

td.checkb {
    vertical-align: top;
    text-align: center;
    background-color: #FFFFFF;
    padding: .4rem .75rem .75rem .75rem;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 1px solid #BDBDBD;
    width: 20px;
}

td.checkb2 {
    background-color: #F8F8F8;
    vertical-align: top;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 1px solid #BDBDBD;
}

td.title {
    font-weight: bold;
    vertical-align: top;
    background-color: #f7f7f7;
    padding: 3px;
}

td.b2 {
    border-top: 1px solid #BDBDBD;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

td.rtd {
    border-bottom: 1px solid #BDBDBD;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

td.none {
    border: 0;
}

/*********** TOP INFO ***********/
tr.titlerow th {
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

td.buttontd {
    text-align: right !important;
    background-color: #f7f7f7;
    padding: 10px 2px 4px 0 !important;
    border: 0 !important;
}
.text-center.buttontd {
    text-align: center !important;
}
td.buttontdv2 {
    text-align: right !important;
    padding: 15px 0px 4px 0 !important;
    border: 0 !important;
}

td.mess {
    border-top: 1px !important;
    border-right: 0 !important;
    border-bottom: 1px solid #BDBDBD !important;
    border-left: 0 !important;
}

td.mess2 {
    border-top: 1px !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}

th.totalth {
    border-left: 2px solid #6c757d;
    padding : 4px;
    font-weight: bold;
    font-size: 0.7rem;
    white-space: nowrap;
}

td.infotd {
    border: 0 !important;
    text-align: left !important;
    color: #FF0000 !important;
    padding-right: 2px !important;
    background-color: #f7f7f7;
}

td.infotd2 {
    font-weight: bold !important;
    border: 0 !important;
    text-align: left !important;
    color: #FF0000 !important;
    padding-right: 2px !important;
}

td.titleerror {
    font-weight: bold;
    background-color: #f7f7f7;
    text-align: left;
    color: #FF0000;
    border: 0 !important;
}

td.all-checkbox-td {
    border-right: 1px solid #BDBDBD !important;
    border-bottom: 1px solid #BDBDBD !important;
    padding: 2px 3px 2px 3px !important;
    text-align: center !important;
    width: 0;
}

td.cell-spacing {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

td.grey-out-cell a {
    opacity: 0.4;
    /* msie */
    filter: alpha(opacity=40);
}

td.grey-out-cell span {
    opacity: 0.6;
    /* msie */
    filter: alpha(opacity=60);
}

.tcaption {
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    font-size: 0.75rem;
}

/* Links to sub sections */
a.linkin {
  font-size: 0.75rem;
}

/* Unordered Lists */
ul.filter {
    padding: 0;
    list-style-type: none;
}

ul.filter > li {
    text-align: left;
    margin-top: 6px;
}

ul.filter label {
    font-weight: bold;
    vertical-align: 20%;
    float: left;
    width: 80px;
    color: #726E6D;
    margin-right: 10px;
}
.filter-col-item {
    min-width: 340px;
}

.filter-col-item.filter label {
    font-weight: 700;
    vertical-align: 20%;
    float: left;
    width: 110px;
    color: #726e6d;
    margin-right: 10px;
}
.filter-col-item.filter label ~ * {
    width: calc(100% - 120px) !important;
}

ul.filter select {
    vertical-align: 20%;
}

ul.settings {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.9em;
    padding: 0 !important;
    list-style-type: none;
}

ul.settings li {
    text-align: left;
    padding-bottom: 3px;
}

ul.settings label {
    cursor: help;
}

input.setting-checkbox {
  margin-left: 1px !important;
}

/* captions */
caption {
    color: #000000;
    font-weight: bold;
    padding: 3px;
    font-size: .875rem;
    white-space: nowrap;
    caption-side: top !important;
}

/* rows */
tr.select {
    background-color: #F8F8F8;
}

tr.title-row td {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    border-right: 1px solid #BDBDBD;
}

tr.title-row th{
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
tr.title-row th a {
    color: var(--primary-main);
  }

/* Data Row */
tr.datarow {
    vertical-align: top;
    background-color: white;
}

tr.datarow td {
    vertical-align: top;
}

/* Data Row With Options */
tr.datarowsel td {
    vertical-align: top;
    background-color: var(--primary-opacity-2-main) !important;
}

tr.datarowsel th {
    vertical-align: top;
    background-color: var(--primary-opacity-2-main) !important;
}

tr.datarowsel select {
    font-size: 0.8em !important;
}

/* Highlight Row */
tr.highlight th {
    background-color: #FFFF00 !important;
}

tr.highlight td {
    background-color: #FFFF00 !important;
}

.highlight {
    background-color: #FFFF00 !important;
}

/* Add Row TR */
tr.addrow td {
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #ff0000 !important;
    border-bottom: 1px solid #ff0000 !important;
    background-color: #f2f5ef !important;
}

tr.addrow td.checkb {
    border-left: 1px solid #ff0000 !important;
}

tr.addrow td.titleedit {
    border-right: 1px solid #ff0000 !important;
}

tr.addrow td.titleedit2 {
    border-right: 1px solid #ff0000 !important;
}

/* Edit Row TR */
tr.editrw td {
    background-color: #f2f5ef !important;
    border-top: 1px solid #ff0000 !important;
    border-bottom: 1px solid #ff0000 !important;
    text-align: center;
    vertical-align: top;
}

tr.editrw td.checkb {
    border-top: 1px solid #ff0000 !important;
    border-left: 1px solid #ff0000 !important;
}

tr.editrw td.titleedit {
    border-right: 1px solid #ff0000 !important;
}

tr.editrw td.titleedit2 {
    border-right: 1px solid #ff0000 !important;
}

tr#update-fields-row td {
    border-top: 1px solid #bdbdbd !important;
}

/* Edit Row TR 2 */
tr.editrw2 {
    background-color: #F8F8F8;
    vertical-align: top;
}

tr.editrw2 td{
    padding-bottom: 10px;
    text-align: center;
}

tr.editrw2 select {
    font-size: 0.75rem !important;
}

tr.editrw2 input {
    font-size: 0.75rem !important;
}

tr.editrw2 textarea {
    font-size: 0.75rem !important;
}

/*inputs */
input {
    font-size: 0.8em;
    color: #424242;
    font-family: Arial, sans-serif;
}

[type="text"] {
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

button {
    font-size: .875rem;
    color: #424242;
    font-family: Arial, sans-serif;
    -webkit-appearance: button;
}

input[type=submit], input[type=button] {
   -webkit-appearance: button;
   font-size: .875rem;
}

input.readonly {
    border: 1px solid #FFF !important;
    background-color: #FFF !important;
}

textarea.readonly {
    border: 1px solid #FFF !important;
    background-color: #FFF;
}

input.button {
    width: 100px;
}

input.buttonv2 {
    margin-left: 4px;
}

input.buttonv11 {
    margin-bottom: 1px;
    margin-left: 4px;
    width: 70px;
}
[type="file"]::-webkit-file-upload-button{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 2px solid #39964c;
    background: #f8f9fa;
}
/****** Text Fields *****/

input.tf1 {
    width: 61px;
}

input.tf2 {
    width: 134px;
}

input.tf3 {
    width: 104px;
}

input.tf4 {
    width: 74px;
}

input.tf5 {
    width: 174px;
}

input.tf6 {
    width: 204px;
}

input.tf7 {
    width: 36px;
    float: left;
}

input.tf8 {
    width: 84px;
}

textarea {
    font-size: 0.7rem;
    color: #000000;
}

textarea.ta1 {
    margin-bottom: 6px;
}

/*fieldsets*/
fieldset {
    padding: 0;
    margin: 0;
    -moz-border-radius: .25rem;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

fieldset legend {
    left: 20px;
    color: #000000;
    font-weight: bold;
    font-size: .875rem;
    padding: 0 2px;
    background: transparent;
    width: auto;
}

fieldset.information-fs {
    margin-top: 0px;
    position: relative;
    padding: .25em 1.25em 1.25em 1.25em!important;
    background-color: #E8E8E8;
    border: 1px solid #A0A0A0;
    font-size: 0.7rem;
    vertical-align: top;
    float: left;
    display: inline;
    box-shadow: 0 6px 6px -6px #777;
}
fieldset.information-fs p {
    margin-bottom: 6px;
}
.form-row.information-filter {
    margin-bottom: 6px;
}
fieldset.information-fs2 {
    margin-left: 20px;
    position: relative;
    padding: 10px 20px 18px 20px !important;
    background-color: #E8E8E8;
    border: 1px solid #A0A0A0;
    font-size: 0.7rem;
    vertical-align: top;
    float: left;
    display: inline;
    box-shadow: 0 6px 6px -6px #777;
}

fieldset.information-fs2 label {
    left: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    margin-left: -10px;
    background: transparent;
    vertical-align: top;
}

fieldset.information-fs3 {
    margin-top: -7px;
    position: relative;
    padding: 8px 14px 14px 14px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid #bdbdbd;
    font-size: 0.7rem;
    display: inline;
    vertical-align: top;
    float: left;
    clear: both;
}

fieldset.information-fs3 legend {
    margin-left: -4px;
    left: .75rem;
}

fieldset.outerfs {
    background-color: #f7f7f7;
    padding: 20px 15px 0 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
    float: left;
    display: inline;
    border: 1px solid #bdbdbd;
    position: relative;
}

fieldset.outerfs legend {
    margin-left: -8px;
}

/* divs */

div.fs-div {
  padding: 2px;
}

div.divoptions {
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(0,0,0,.125);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    clear: both;
}

#loading {
    float: left;
    padding: 20px 30px 20px 30px;
    font-size: 0.8em;
}

div.topmain {
    margin-bottom: 1.5rem;
    clear: both;
}
.topmain .card {
    font-size: .875rem;
}
.row div.topmain {
    min-width: auto;
}
.topmain-clear {
    clear: both;
    height: 0;
}

.contentdiv {
    width: 100%;
    margin-bottom: 20px;
}
.container-main {
    max-width: 1440px;
}
div.content2 {
    clear: both;
    padding: 12px 20px 0 20px;
}

div.content3 {
    clear: both;
    padding: 10px 20px 0 20px;
    font-size: .875rem;
}

div.front {
    float: left;
    margin: 0;
    border: 1px solid #A0A0A0;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #E0E0E0 url('../images/main.jpg') 2px 15px no-repeat;
    width: 726px;
    height: 310px;
}

div.copywrite {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

div.errordiv { /* error div  */
    float: left;
    padding: 6px;
    border: 1px solid #a0a0a0;
    font-size: 0.75rem;
    background-color: #ffda72;
    color: #ff0000;
    clear: both;
}

div.warnfo {
    font-weight: bold;
    margin-top: 5px;
}

div.warnfo span {
    color: #FF0000;
}

div.infodiv { /* info div  */
    padding: 4px;
    color: #000000;
    font-weight: bold;
    background-color: #CCFB5D;
    border: 1px solid #000000;
    margin: 0 0 10px 0;
    position: relative;
    display: inline;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.infodivfloatcenter { /* info div float center  */
    padding: 4px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    background-color: #88e188;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.pre {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-family: monospace;
    white-space: pre;
}

/* table status type 1 */
div.tablestatus1 {
    padding: 6px 100px 6px 100px;
    font-size: 0.75rem;
    text-align: center;
    border: 1px solid #A0A0A0;
    margin: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* table status type 2 */
div.tablestatus2 {
    padding: 6px 100px 6px 100px;
    text-align: center;
    border: 1px solid #A0A0A0;
    margin: 4px;
    font-size: 0.75rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* table status type 3 */
div.tablestatus3 {
    padding: 6px 30px 6px 30px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #A0A0A0;
    color: #FF0000;
    margin: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.f9 {
    font-size: 0.650em;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.lh130 {
    line-height: 130%;
}

.w0 {
    width: 0 !important;
}

/*********** Main Layout *********/
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
#top {
    position: relative;
    font-size: 16px;
}

#main {
    padding: 0 15px 130px 15px !important;
    border: 0;
    text-align: left;
    overflow: visible;
    display: none;
}
@media (max-width: 1024px){
    #main {
        overflow-y: auto;
    }
}

.footer {
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 0;
    padding-top: 0;
    margin: 0px 0 0 0 !important;
    position: relative;
    border: 0;
    clear: both;
    width: 100%;
    background: var(--primary-main);
    color: #fff;  
}

#wrapper {
    min-height: calc(100% - 57px);
    width: 100%;
    overflow: visible;
    background-repeat: repeat-y;
    padding: 0 0 0 0;
    margin: 0;
}

/********** Base Section ***********/
div#privacy-terms a {
    text-decoration: underline;
    font-size: 0.8rem;
}

div#privacy-terms {
    float: left;
}

div#privacy-terms a {
    color: #fff;
    vertical-align: text-bottom;
    line-height: 1;
    padding: 4px 0;
    display: inline-block;
    font-size: .875rem;
}

div#privacy-terms-home {
   margin-top: 10px;
}

/**************************************/

/* select */

select {
    display: inline-block;
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(1.8125rem + 2px);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
  }

option {
    padding-bottom: 2px;
}

select.select-load {
    color: #FF0000 !important;
    border: 1px solid #FF0000 !important;
}

/* forms */

form {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Display layout of URLS: */


a:not([class]){color: var(--primary-main)}
a:hover {color: #FF0000}
a:not([class]):hover {
    color: var(--primary-main);
}
/*  h  */
h3.v2 {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

h4 {
    text-align: left;
    font-size: .875rem;
    margin-top: 4px;
}

h1,h2,h3 {
    text-align: left;
    margin-top: 4px;
    font-size: 14px;
}

h3 {
    margin-bottom: 24px;
}

/* p */
p {
    margin-top: 4px;
}

/* other */
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.cl {
    clear: left !important;
}

.cr {
    clear: right !important;
}

.cb {
    clear: both !important;
}

.ar {
    text-align: right;
}

.fc {
    clear: both;
}

.clear { /* version with height: 0 */
    clear: both;
    height: 0;
}

.clearv2 {
    clear: both;
    display: inline;
    height: 0;
}

/*****for student pages****/

div.wait {	  /* class to show wait symbol in div */
    width: 100%;
    height: 100%;
    padding-top: 11px;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div.waitv5 {	  /* class to show wait symbol in div */
    height: 100%;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div.waitv6 {	  /* class to show wait symbol in div */
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div.waitv6  * {
    visibility: hidden;
}

div.waiter {
    width: 200px;
    height: 20px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: left;
}

td.wait { /* Basic TD Wait */
    height: 100%;
    padding-top: 11px;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;

}

td.waittd {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

td.waittd2 {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0;
    border-top: 1px solid #bdbdbd !important;
    height: 30px;
}

td.waittd3 {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    border-top: 1px solid #bdbdbd !important;
    border-right: 0;
    border-bottom: 0;
}

td.waittd4 {
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}

td#list-wait-cell {
    border-top: 1px !important;
    border-right: 0 !important;
    border-bottom: 1px solid #BDBDBD !important;
    border-left: 0 !important;
}

td#list-wait-cell div {
    padding: 6px 30px 6px 30px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #A0A0A0;
    color: #FF0000;
    margin: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.al {
    text-align: left !important;
}

.red {
    color: #FF0000 !important;
}

.orange {
    color: #F87217 !important;
}

.green {
    color: #008000 !important;
}

.brown-color-font {
    color:#8B4513 !important;
}

.indigo-color-font {
    color:#4B0082 !important;
}

.boldb {
    font-weight: bold;
    color: #000000;
}

.ul {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal !important;
}

.red11 {
    color: #FF0000;
    font-size: 0.7rem;
}

.boldred {
    font-weight: bold;
    color: #FF0000;
}

.bold-amber {
    font-weight: bold;
    color: #FFC966 !important;
}

.bold-dark-amber {
    font-weight: bold;
    color: #E59400 !important;
}

.bold-dark-red {
    font-weight: bold;
    color: #FF0000 !important;
}

.red-border {
    border: 1px solid #FF0000 !important;
}

/* Padding */
.npl {
    padding-left: 0 !important;
}

.zero-padding {
    padding: 0 !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.c {
    text-align: center !important;
}

.vatop {
    vertical-align: top !important;
}

.boldgreen {
    font-weight: bold !important;
    color: #008000 !important;
}

.nbb {
    border-bottom: 0 !important;
}

.nbt {
    border-top: 0 !important;
}

.nbr {
    border-right: 0 !important;
}

.nbl {
    border-left: 0 !important;
}

.nbbr {
    border-right: 0 !important;
    border-bottom: 0 !important;
}

tr.nbbtr td {
    border-bottom: 0 !important;
}

tr.nbbtr th {
    border-bottom: 0 !important;
}

.innerbb {
    border-bottom: 1px solid #BDBDBD !important;
}

.blue {
    color: blue;
}

.black {
    color: #000000 !important;
}

.ggrey {
    background-color: #f7f7f7 !important;
}

.color-grey {
    color: #838B8B !important;
}

.white {
    background-color: #FFFFFF;

}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible  {
    visibility: hidden !important;
}

.opacedit {
    padding: 5px 40px 5px 40px;
}

.opacedit div {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    width: 100%;
}

/* ordering links for results table */
a.title_ad:hover {
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowup.gif');
}

a.title_au:hover {
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowdown.gif');
}

a.title_ad{
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowdown.gif');
}

a.title_au{
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowup.gif');
}

a.title_ad:visited{
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowdown.gif');
}

a.title_au:visited{
    color: #1B5E20;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    padding-right: .75rem;
    background-image: url('../images/arrowup.gif');
}

/************************Ordering Indicator Mootools*********************************/

th.table-th-sort a {
    color: #1B5E20;
    background-image: url('../images/arrowdown.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 4%;
    padding-right: .75rem;
}

th.table-th-sort-rev a {
    color: #1B5E20;
    background-image: url('../images/arrowup.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 4%;
    padding-right: .75rem;
}

th.table-th-sort a:hover {
    color: #1B5E20;
    background-image: url('../images/arrowup.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 4%;
    padding-right: .75rem;
}

th.table-th-sort-rev a:hover {
    color: #1B5E20;
    background-image: url('../images/arrowdown.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 4%;
    padding-right: .75rem;
}

th.table-th-sort a:visited{
    color: #1B5E20;
    background-image: url('../images/arrowdown.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 4%;
    padding-right: .75rem;
}

th.table-th-sort-rev a:visited{
    color: #1B5E20;
    background-image: url('../images/arrowup.gif') !important;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: 9%;
    padding-right: .75rem;
}
/************************Ordering Indicator Mootools*********************************/

/*image tool tip */

.italic {
    font-style: italic !important;
}

.strike {
    text-decoration: line-through !important;
}

/* tool tips */

/* Tips 1 */
.tips {
    color: #000;
    z-index: 13000px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
}

.tip-title {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 8px 8px 4px;
    background-color: #f7f7f7;
    border-bottom: 1px solid;
    text-align: center;
}

.tip-text {
    font-size: 0.7rem;
    background: #FFFFFF;
    padding: 4px 8px 8px;
    font-family: Arial, sans-serif;
}

/* Tips 2 */
.tips2 {
    color: #000;
    z-index: 13000px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
}

.tips2 .tip-title {
    display: none;
}

.tips2 .tip-text {
    font-size: 0.75rem;
    background: #FFFFFF;
    padding: 4px;
    font-family: Arial, sans-serif;
    background-color: #8CC63E;
    color: #F7F5FB;
    font-weight: bold;
}

/* Tips 3 */
.tips3 {
    color: #000;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
}

.tips3 .tip-title {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 8px 8px 4px;
    background-color: #f7f7f7;
    border-bottom: 1px solid;
}

.tips3 .tip-text {
    font-size: 0.7rem;
    background: #FFFFFF;
    padding: 4px 8px 8px;
    font-family: Arial, sans-serif;
}

/* Tips 4 */
.tips4 {
    color: #000;
    z-index: 13000px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
    font-size: 0.75rem;
}

.tips4 .tip-title {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 8px 8px 4px;
    background-color: #F5DEB3;
    border-bottom: 1px solid;
    text-align: center;
}

.tips4 .tip-text {
    font-size: 0.7rem;
    background: #FFFFFF;
    padding: 4px 8px 8px;
    font-family: Arial, sans-serif;
}

.imagetips {
    color: #000;
    z-index: 13000px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    white-space: nowrap;
}

.imagetips .tip-title {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 8px 8px 4px;
    background-color: #ADD8E6;
    border-bottom: 1px solid;
}

.imagetips .tip-text {
    font-size: 0.7rem;
    padding: 6px 10px 10px;
    background: #FFFFFF;
}

/*options td and other */
td.base-button-options {
    text-align: left;
    padding: .75rem;
    border-top: 0;
    border-right: 0 !important;
    border-bottom: 0 !important;
}

.base-button-options img {
    margin-left: 5px;
    margin-right: 5px;
}

.base-button-options select {
    margin-right: 4px;
}

td.editbts {
    text-align: right;
    border-right: 0;
    border-top: 1px solid #bdbdbd;
    padding-top: 6px !important;
    padding-bottom: 8px !important;
}

td.editbtsr {
    font-weight: bold;
    vertical-align: top;
    border-right: 0;
    border-top: 1px solid #bdbdbd;
    padding: 4px 0 4px 0 !important;
}

td.editbtsl {
    vertical-align: top;
    border-top: 1px solid #bdbdbd;
    border-left: 0;
    border-right: 0;
    padding: 4px 0 4px 0 !important;
}

/* images */
img.editb {
    border: 0;
    width: 18px;
    height: 18px;
}

img.grey-out-image {
    opacity: 0.3;
    /* msie */
    filter: alpha(opacity=30);
}

/* login info - top right */
.not-allowed {
    cursor:not-allowed;
}

/* Help Cursor */
.help {
    cursor: help !important;
}

.frag-ref {
    position: relative;
    top: -50px;
}

/* Cross browser compatible word wrapping */
.word-wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.wrap {
    white-space: normal !important;
}

/* Pagination, list page navigation controls */
table.navigate {
  position: relative;
  top: 0px;
  clear: both;
  float: left;
  color: #ff0000;
  font-size: 0.8em;
  border: 1px solid #a0a0a0;
  margin-bottom: 6px;
  margin-top: 6px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0 4px 6px -6px #777;
}

table.navigate a {
  text-decoration: none;
}

table.navigate td {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  color: #ff0000;
  border: 0px;
}

/* Styles for home screen */
ul#system-info {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0;
}

li.no-term-message {
  margin-top: 1em;
  font-weight: bold;
  color: #FF0000;
  font-size: 1.05em;
}

li.no-term-link {
  margin-bottom: 1em;
}

img.term-warning {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

ul#manual {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0;
}
.pubble-cw-contactbot {
    color: var(--primary-main);
}
ul#manual li {
 padding-top: 1px;
 padding-bottom: 1px;
}

ul#miscellaneous {
  margin-top: 16px;
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 6px;
}

/* Date input field */
input.date-field {
  display: table-cell;
  width: 112px;
  margin-right: 6px;
}

div.jump-button-div {
    margin-bottom: 8px;
    border: 1px solid rgba(0,0,0,.125);
    clear: both;
    float: left;
    width: auto;
    padding: 4px 10px 10px 10px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.jump-button-div input {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 6px;
}

input.reset-return-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

a.orderlink {
  font-weight: normal !important;
}

.fw-normal {
  font-weight: normal !important;
}

button#add-cancel, button#edit-cancel {
  margin-right: 6px;
}

.grey-border-top {
   border-top: 1px solid #bdbdbd !important;
}

.release-version {
    opacity: 0.7;
}
.release-version span {
    font-size: 0.8rem !important;
}
.release-version:hover {
    background: transparent !important;
}
.btn-logout {
    background: #e96656 !important;
    color: #fff !important;
    text-align: center !important;
}

/* Fix for Safari, horizontal lines were appearing in dialog content */
.ui-dialog-content {
    background: #eee repeat-x !important;
}

.ui-dialog-buttonset .ui-button {
  color: #424242;
}

/* CSS for changelog */
.changelog {
    font-size: 0.8em;
    margin-left: 1em;
    list-style-type: circle;
}

.changelog li {
    padding: 4px 0px;
}

.changelog-header {
    margin-bottom: 4px;
    color: #000000 !important;
    font-size: 0.8em !important;
}

.changelog-header span {
    color: #ff0000;
}

.text-highlight {
   animation-name: highlight;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
#q-icon-top-left {
    width: auto;
    height: 50px;
  }
/* Text Highlighter (timed) */
@keyframes highlight {

    from {
      font-size: .875rem;
      background-color: #ffff99;
      width:100%;
      border-radius: 3px;
      margin: -15px;
      padding: 0px 15px 0px 15px;
    }
    to {
      font-size: .875rem;
      background-color: #ffff99;
      width:100%;
      border-radius: 3px;
      margin: -15px;
      padding: 0px 15px 0px 15px;
    }

}

.ui-widget {
    font-family: Arial, sans-serif !important;
}

.ui-widget * {
    font-family: Arial, sans-serif !important;
}

.ui-widget-header {
    background: #f6a828 !important;
}

/* Chosen override */
.chosen-single {
    border-radius: 0px !important;
    background:#ffffff !important;
    border:none;
    border-bottom: 1px solid #eeeeee;
}

body .ui-widget-overlay {
    background: #666;
}

.anslider .start-div + [style] {
  height: auto!important;
  margin: 16px 0px 0px !important;
  overflow: visible !important;
  position: static !important;
}

.anslider .start-div + [style] .slider-track {
  overflow: visible !important;
  margin: initial !important;
}

.information-fs.is-request {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    max-width: 440px;
    widows: 100%;
}
.chosen-container-single .chosen-single {
    border: 1px solid #ced4da;
    border-radius: .25rem !important;
}

.chosen-container-single.chosen-container-active .chosen-single {
    border-radius: .25rem .25rem 0 0 !important;
}
.main-container {
    padding: 27px 15px 130px 15px!important;
    border: 0;
    text-align: left;
    clear: both;
    float: left;
    margin: 0;
    overflow: visible;
    width: 100%;
  }

  [style="font-size: 12px;"] fieldset.information-fs {
    font-size: 12px;
  }

  .chosen-container-single .chosen-single {
    padding: 2px 0 0 8px !important;
    height: 31px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 0 0 !important;
  }

  .chosen-container-single .chosen-single div b {
    background: url(chosen-sprite.png) no-repeat 0 4px !important;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 4px !important;
  }
  #config-table-options td, #config-table-options th {
    border: none;
    background: transparent !important;
    padding: 0.75rem;
  }
  
#config-table-options .buttontd {
    text-align: left !important;
    padding-bottom: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.titleedit {
    max-width: 24px;
    box-sizing: content-box;
    width: 24px;
}

.ui-dialog .ui-dialog-titlebar-close:focus {
    box-shadow: none;
    outline: none;
}

td#filtered-info-cell {
    padding: 12px 100px 11px 100px;
    text-align: center;
    background-color: #ffffe0;
    font-size: 0.9em;
    border-right: 0px;
}

td#filtered-info-cell b {
   color: red;   
}    