/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2018, Qpercom Limited
 */

body {
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    left:40px;
    top:20px;
}

p {
    margin: 3px;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
      
  input[type='radio'] { 
     transform: scale(1.2);
  }

  input[type='checkbox'] { 
    transform: scale(1.2);
  }

}

#results-table {
    margin-top: 24px;
    margin-right: 30px;
    margin-bottom: 100px;
    float: left;
    clear: both;
}

#results-table td {
    vertical-align: top !important;
}

/* forms */
form {
    display:inline;
}

/* heading */
h1,h2,h3,h5  {
    color: #424242;
    font-size: 1.167em;
}

h5 {
    margin-top:6px;
    margin-bottom:4px;
}

/* Selects */
select {
    color: #424242;
    font-size: 1.250em;
    font-family: Arial, sans-serif;
}

/* options */
select#toassess-select option {
    cursor:pointer;
}

select#assessed-select option {
    cursor:pointer;
}

.absent {
    color: #FF5252 !important;
    font-style: italic;
}

/* Tables */
table {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #A8A8A8;
    empty-cells: show !important;
}


/* captions */
caption {
    color:#000000;
    font-weight:bold;
    padding:3px 3px 8px 3px;
    font-size: 1.167em;
}


/* fieldsets */
fieldset {
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

fieldset.fssel {
    margin: 20px 0px 0px 0px;
    position: relative;
    padding: 0px 32px 10px 0px;
    border: 0px;
    display: inline;
    vertical-align:top;
    width: 100%;
    margin-left: 0;
    margin-top: 4em;
    padding: 0;
}

fieldset.fssel div {
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

fieldset.fssel legend {
    color: #585858;
    font-weight: bold;
    position: absolute;
    font-size: 1.320em;
    top: -30px;
    background:transparent;
    padding: 0px;
    text-align: left;
    left: 3px;
}

fieldset.information-fs {
    margin: 0px 0px 0px 0px;
    position: relative;
    padding: 6px 20px 10px 20px;
    background-color: #E8E8E8;
    border: 1px solid #A0A0A0;
    font-size: 0.917em;
    vertical-align:top;
    display: inline;
    box-shadow: 0 6px 6px -6px #777;
}

fieldset.information-fs legend {
    left: 20px;
    color:#000000;
    font-weight:bold;
    font-size: 1em;
    padding: 0px;
    margin-left: -14px;
    background:transparent;
}

fieldset.fswarn {
    font-size: 1.083em !important;
    background-color: #FFD280;
}

fieldset.fswarn legend {
    font-size: 1.083em !important;
    margin-top: -1px !important;
    margin-left: -12px !important;
}

fieldset.toexam {
    background-color: #FFD280;
    white-space: nowrap;
    font-size: 1.083em;
    padding: 10px 20px 14px 20px !important;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
}

fieldset.examined {
    background-color: #F5F5DC;
    white-space: nowrap;
    font-size: 1.083em;
    padding: 10px 20px 14px 20px !important;
    margin-bottom: 6px !important;
}

fieldset.toexam legend, fieldset.examined legend {
    font-size: 1.167em;
    margin-left: -12px;
}


/* support css */
#supportfs {
    margin: 0px 0px 0px 0px;
    position: relative;
    padding: 18px 20px 10px 20px;
    background-color: #F8F8F8;
    border: 1px solid #6c757d;
    font-size: 0.917em;
    vertical-align:top;
    clear: both;
    margin-bottom: 20px;
    display: none;
}

#supportfs legend {
    left: 20px;
    color:#585858;
    font-weight:bold;
    font-size: 1.167em;
    padding: 0px;
    background:transparent;
    margin-left: -10px;
}

#supportfs label {
    vertical-align:top;
    font-weight: bold;
    font-size: 1.083em;
    vertical-align: middle;
}

#supportfs input.contacts {
    vertical-align: middle;
    margin-left: 0px;
    margin-right: .25rem;
}

label.contact-label {
    line-height: 1.5;
}

#supportfs div.seldivsup {
    clear: right;
}

div.seldivsup label {
    font-weight: normal !important;
}

#supportfs div.bdivsup {
    clear: left;
    text-align: right;
    padding-top: 6px;
    padding-bottom: 4px;
}

#supportfs img {
    padding: 0px;
    margin: -8px 0px 0px -16px;
}

#cancel-support-button {
    font-size: 1em;
    width: 60px;
}

#submit-support-button {
    font-size: 1em;
    width: 60px;
}

/* Request for assistance success div */
div.success {
    padding:8px;
    color:#000000;
    font-weight:bold;
    background-color: #99ff55;
    border: 1px solid #000000;
    margin: 0px 0px 18px 8px;
    clear: both;
    width: 260px;
    text-align: center;
}

/* Request for assistance failure div */
div.failure {
    padding:8px;
    color:#000000;
    font-weight:bold;
    background-color:#FFE766;
    color: #000000;
    border: 1px solid #000000;
    margin: 0px 0px 18px 8px;
    clear: both;
    width: 260px;
    text-align: left;
}

td {
    padding:3px;
    border-right:1px solid #bdbdbd;
    border-bottom:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    font-size: .85rem !important;
}

table#find_student_table td {
    border-right: 0;
    border-bottom: 0;
}

table#find_student_table th {
    border-right: 0;
    border-bottom: 0;
}

table#find_student_table {
   width: 100%; 
}

th {
    padding: 3px;
    border-right: 1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

#examinername {
    padding:8px 50px 8px 4px;
    font-size: 1rem !important;
}

td.sel {
    padding:8px 3px 8px 3px;
}

td.td0 {
    padding: 5px 3px 5px 8px;
}

td.td0grp {
    padding: 8px 3px 8px 8px;
    min-width: 500px;
}

td.exmr-selects {
    padding:8px 8px 8px 5px;
}


td.noitemsfnd2 {
    color: #ff0000;
    padding: 8px 8px 8px 8px;
    font-size: 1.167em;
    border-right: 0px;
    border-bottom: 0px;
}

td.statdata {
    text-align: center;
    white-space: nowrap;
}

th.subheader {
    text-align:right;
    font-weight: bold;
    color:#585858;
    background-color:#F8F8F8;
    padding-left: 20px;
    font-style:italic;
}

/********* Title and Data rows tr td th ************/

tr.titlerow th {
    white-space: nowrap;
    background-color:#E8E8E8;
    text-align: center;
    vertical-align: middle;
    padding:5px;
    border-left: 0px;
    border-bottom: 1px solid #6c757d;
    border-right: 1px solid #bdbdbd;
    border-top: 0px;
}

tr.comments-divider div {
    height: 30px;
    background-image: repeating-linear-gradient(165deg,#fafafa,#fafafa 2px,#fff 2px,#fff 5px);
    padding: 0px !important;
}

tr.comments-divider td {
    border-right: 0px !important;
}

tr.highlight-row {
    background-color:#F8F8F8;
}

tr.no-border-last-cell td:last-child {
    border-right: 0px !important;
}

/* Lime green */
td.pass {
    background-color: #CCFFCC !important;
}

/* Light red */
td.fail {
    background-color: #FFCCCC !important;
}

/********* Title and Data rows tr td th ************/

th.totalth {
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px !important;
    border-top: 0px;
}


/*  td's  */
td.totaltds {
    text-align:center !important;
    border-left: 0px;
    border-right: 0px;
    white-space: nowrap;
}

div.searchdiv {
   float: right;
}

div.searchdiv > div {
    border: 1px solid #ddd;
    display: flex;
    border-radius: 0.25em;
    margin-top: 0px;
    margin-left: 1px;
    width: 12em;
}

td.comment {
    background-color: #fff !important;
    padding: 0px !important;
    border-bottom: 1px solid #bdbdbd;
    border-left: 0px;
    border-right: 0px;
    color: #ff0;
    font-size: 0.917em;
}

td.comment textarea {
    margin: 2px;
    overflow-y: scroll;
    color: #bfbfbf;
    font-size: 1.083em;
    border: 0px;
    padding: 2px;
    height: 50px !important;
    width: 99% !important;
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text;
    user-select: text !important;
    cursor: text !important;
    overflow-y: auto;
}

textarea.tahighlight {
    border: 1px solid #ff0000 !important;
}

textarea.tahighlight::placeholder {
    color: #ff8080 !important;
}

textarea.tahighlight::-webkit-input-placeholder {
    color: #ff8080 !important;
}
 
textarea.tahighlight::-moz-placeholder {
    color: #ff8080 !important;
    opacity: 1;
}
 
textarea.tahighlight:-ms-input-placeholder {  
    color: #ff8080 !important;
}

td.comment textarea.with-text {
    color: #000000;
}

td.comment-right {
    padding: 0px !important;
    border-left: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-right: 0px;
    color: #ff0;
    font-size: 0.917em;
    background-color: #fff !important;
}

td.comment-right textarea {
    margin: 0px;
    overflow-y: scroll;
    color: #bfbfbf;
    font-size: 1.083em;
    border: 0px;
    padding: 2px;
    height: 100%;
    min-height: 60px;
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text;
    user-select: text !important;
    cursor: text !important;
    overflow-y: auto;
}

td.comment-right textarea.with-text {
    color: #000000;
}

td.comment-icon-cell {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 4px;
  vertical-align: top;
  text-align: center;
}

td.comment-icon-cell div {
  background: url('../images/comments-assess.png') 0% 0% no-repeat;
  width: 18px;
  height: 18px;
}

td.item-comment-icon-cell {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 4px;
    vertical-align: top;
    text-align: center;
}

td.item-comment-icon-cell div {
    background: url('../images/item-comment.png') 0% 0% no-repeat;
    width: 18px;
    height: 18px;
}

textarea.tahighlight {
    color: #ff8080 !important;
    border: 1px solid #ff0000 !important;
}


td.totaltd {
    padding: 10px 14px 20px 12px;
    background-color:white;
    border-right: 0px;
    vertical-align: top;
    text-align: right;
}

td.student-list-td {
    white-space: nowrap;
    padding: 0;
    text-align: center;
    border-bottom: 0;
}

td#student-list-td-toassess fieldset.fssel {
   margin-top: 40px;
}

td#student-list-td-assessed {
   padding-bottom: 14px; 
}

.title {
    white-space: nowrap;
    background-color:#F8F8F8;
    text-align:left;
    padding: 5px 3px 3px 5px;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.title2 {
    white-space: nowrap;
    text-align: left;
    padding: 3px 3px 3px 12px;
    vertical-align: middle;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #bdbdbd;
}

.title3 {
    white-space: nowrap;
    background-color:#F8F8F8;
    text-align:right;
    padding: 1px 3px 3px 10px;
    vertical-align: middle;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #bdbdbd;
}

.titleerror {
    font-weight: bold;
    background-color: #fff !important;
    text-align: left;
    color: #FF0000;
    border: 0px;
    padding-right: 2px;
}


.titlenb {
    white-space: nowrap;
    background-color:#F8F8F8;
    text-align:left;
    padding:3px;
    border: 0px;
}

.titlenw {
    font-weight: bold;
    background-color:#fff;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #bdbdbd;
    padding:4px;
    white-space: nowrap;
}

td.infonb {
    font-weight: bold;
    vertical-align: top;
    background-color:#F8F8F8;
    padding:2px;
    border: 0px;
}

td.none {
    border: 0px;
}

th.student-title {
    white-space: nowrap;
    background-color:#F8F8F8;
    text-align:right;
    padding: 2px 3px 2px 10px !important;
    vertical-align: middle;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
}

td.student-cell {
    border-bottom: 0px;
    border-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

td.absent-field {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 24px;
}

td.absent-field label {
    vertical-align: middle;
}

td.absent-field input {
    vertical-align: middle;
    margin-left: 2px;
}

td.absent-cell {
    text-align: center;
    color: #ff0000;
    background-color: #ffff00;
}

td.updatelast {
    color: #ff0000;
}

.titlestatus {
    padding:8px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;

}

.titleqcount {
    font-weight: bold;
    color: #ff0000;
    font-size: 1.167em;
    text-decoration: italic;
    text-align: center;
    vertical-align: top;
    padding: 24px 0px 0px 1px !important;
    border-bottom: 1px solid #bdbdbd;
    border-right: 0px;
    width: 28px;
}

tr.lgrey th, tr.lgrey td {
    background-color: #f2f2f2;
}

tr.done-darker th, tr.done-darker td {
    background-color: #deedbf !important;
}

tr.done th, tr.done td {
    background-color: #eaf3d5;
}

tr.done .titleqcount {
   border-left: 3px solid #006400;
}

tr.done a.ui-slider-handle {
    background-color: #bdcc9d !important;
}

tr.done .slider-track {
    background-color: #fafafa !important; 
}

tr.updated-score th, tr.updated-score td {
   background-color: #ffefc1 !important;
}

tr.updated-score .titleqcount {
   border-left: 3px solid #333333;
}

tr.updated-score a.ui-slider-handle {
    background-color: #ffefc1 !important;
}

tr.updated-score .slider-track {
    background-color: #fafafa !important; 
}

tr.checked-darker th, tr.checked-darker td {
    background-color: #ffffb7 !important;
}

tr.checked th, tr.checked td {
    background-color: #ffffcc;
}

tr.checked .titleqcount {
   border-left: 3px solid #000000;
}

.title-section {
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    padding: 6px 8px 4px 8px;
    vertical-align: top;
    border-bottom: 0px;
    border-right: 0px;
    white-space: nowrap;
    background-color: #d3d3d3;
}

.title-section div {
    margin-left: auto;
    margin-right: auto;
    min-height: 24px;
}

tr.scalebar th {
    background: none !important;
    background-color: #ffdf00 !important;
}

tr.selfassessment-bar th {
   background-color: #9bc4e2 !important; 
}

.title-sectionv2 {
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    padding: 6px 8px 0px 8px;
    border-bottom: 0px;
    border-right: 0px;
    font-style: oblique;
    background-color: #d3d3d3;
}

.title-sectionv2 div {
    margin-left: auto;
    margin-right: auto;
    min-height: 15px;
}

.descriptors {
    font-weight: bold;
    font-size: 0.750em;
    padding: 3px 6px 3px 6px;
    border-bottom: 0px;
    border-right: 0px;
    vertical-align: top;
    background-color: #d3d3d3;
    white-space: nowrap;
    color: #000000;
    min-width: 50px;
}

.descriptors div {
    margin-left: auto;
    margin-right: auto;
    min-width: 40px;
}

th.items {
    font-weight: normal;
    vertical-align:top;
    text-align: left;
    padding: 3px 6px 4px 0px;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    font-size: .9em;
    white-space: normal;
}

th.items table {
    background-color: white !important;
    border-collapse:collapse !important;
    border:1px solid #bdbdbd !important;
    margin: 0px;
}

th.items table th {
    white-space:normal !important;
    border-color: #bdbdbd !important;
    padding: 2px;
}

th.items table td {
    white-space:normal !important;
    border-color: #bdbdbd !important;
    padding: 2px;
}

th.items ul {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

th.items ol {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

th.items p {
   margin-bottom: 2px !important;
   margin-top: 2px !important;
}

th.items > * {
    margin-left: -18px !important;
}

th.items h1 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 2em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;   
}

th.items h2 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.5em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;      
}

th.items h3 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.17em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;      
}

th.items h4 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: 1.12em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;      
}

th.items h5 {
    text-decoration: none !important;
    color: initial !important;  
    font-size: .83em !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;      
}

th.items h6 {
    text-decoration: none !important;
    color: initial !important; 
    font-size: .75rem !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;      
}

td.options {
    vertical-align: top;
    text-align: center;
    padding: 5px 3px 4px 3px;
    white-space: nowrap !important;
    border-left: 1px solid #bdbdbd;
    border-right: 0px;
}

td.options label {
    padding: 0px;
    margin: 0px;
    vertical-align: 20%;
    font-size: 1em;
}

div.textbox-descriptor {
    clear: both;
    margin-bottom: 4px;
    text-align: left;
    margin-top: -4px;
}

td.scale-check-td label {
    font-size: 0.917em;
    display: none;
}

td.checkbox-td {
    text-align: center;
    border-right: 0px;
}

td.slider-td {
    padding-top: 10px !important;
    vertical-align: middle !important;
    padding-bottom: 10px !important;
    border-right: 0px;
    border-left: 0px;
}

td.filler {
    border-left: 1px solid #bdbdbd;
    border-right: 0px;
    text-align: center;
}

.ac {
    text-align: center !important;
}

.al {
    text-align: left !important;
}

.tal {
    text-align: left !important;
}


.vatop {
    vertical-align: top !important;
}

td.buttontd {
    text-align: right !important;
    background-color:#F8F8F8 !important;
    padding-right:2px !important;
    border: 0px !important;
    padding: 8px 0px 6px 0px;
}

td.buttontd2 {
    text-align: right !important;
    background-color:#fff !important;
    padding-right:2px !important;
    border: 0px !important;
    padding: 8px 0px 6px 0px;
}

td.buttontd2 .btn {
    font-size: 1.167em;
}

td.tdscorebuttons {
    background-color:#f7f7f7;
    text-align: right;
    border: 0px;
    padding: 14px 7px 14px 2px;
}

.student-input {
    visibility: hidden;
    width: 0;
    margin: 0;
}

.student-input:not(:checked) + label {
    visibility: hidden;
}

.student-input:checked + label {
    visibility: visible;
}

#resetser {
    border: none;
    background: none;
    outline: 0;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
}

#resetser + * {
    border: none;
    background: none;
    outline: 0;
    color: #4d4d4d;
    font-size: 18px
}

#st:valid ~ #resetser {
    display: block;
}

#st:not(:valid) ~ #resetser {
    display: none;
}

#st:valid ~ #searchicon {
    display: none;
}

#st:not(:valid) ~ #searchicon {
    display: block;
}

/* inputs */
input, button {
    color:#000000;
    font-family: Arial, sans-serif;
    font-size: 1.167em;
}

button, input[type=submit], input[type=button] {
   -webkit-appearance: button;
}

#reset {
    width: 76px;
}

#clear {
    width: 50px;
}

#find {
    width: 56px;
}

#st {
    margin-bottom: 2px;
    font-size: 1.167em;
    margin-right: 2px;
    border: none;
    background: none;
    flex-grow: 1
}

ul.student-selection-list {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd !important;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    
}

ul.student-selection-list li {
    list-style: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 100ms;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 0.3em;
    justify-content: space-around;
    align-items: center;
}

ul.student-selection-list li:last-child {
    border-bottom: none;
}

ul.student-selection-list li > *:last-child {
    flex-grow: 1;
    border-bottom: none;
}

ul.student-selection-list li > *:first-child {
    flex-grow: 1;
}

.student-selection-student {
    flex-grow: 10;
    text-align: left;
    padding: 0 !important;
}

ul.student-selection-list li:hover {
    background-color: #f3f3f3;
    box-shadow: 0 3px 4px 0 #9e9e9e;
}

li.student-highlight {
    background-color: #f3f3f3;
    box-shadow: 0 3px 4px 0 #9e9e9e;
}

.student-selection-list > li  label {
    cursor: pointer;
    color: #404040;
    font-family: Roboto, Arial, sans-serif;
}

div.student-list-buttons {
    padding: 0.5em !important;
    display: flex;
}

.student-list-buttons > * {
    flex-grow: 1;
}

.student-list-buttons > input {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.6em;
    outline: none;
    background-color: #607D8B;
    font-family: Roboto, Arial, sans-serif;
    font-size: 100% !important;
    border-radius: 3px;
    margin-right: 0.5em;
    transition-property: background-color;
    transition-duration: 200ms;
}

.student-list-buttons > input:last-child {
    margin-right: 0;
}

.student-list-buttons > input:hover {
    background-color: #455A64;
}

ul.student-selection-list li.student-selection-empty {
    color: #888;
    cursor: default;
}

ul.student-selection-list li.student-selection-empty:hover {
    background-color: white;
    box-shadow: none;
}

i.student-check-icon {
    font-size: 24px;
    color: #8BC34A;
    font-weight: bold;
}

.student-thumbnail {
    top: -5px;
    position: relative;
}

#dotest {
    font-size: 1.167em;
    background-color: #4CAF50;
}

#dotest:hover {
    background-color: #388E3C;
}

#discard {
    font-size: 1.167em;
    background-color: #F44336;
}

#discard:hover {
    background-color: #D32F2F
}

#complete {
    font-size: 1.167em;
}

#retest {
    font-size: 1.167em;
}

#absentb {
    font-size: 1.167em;
    background-color: #F44336;
}

#absentb:hover {
    background-color: #D32F2F;
}

#config-station {
   font-size: 1.167em; 
}

input.textinputtest {
    margin-left: 8px !important;
    font-size: 1.167em;
}

input.button {
    font-size: 1.083em;
}

input.support {
    margin-left:2px;
}

.fc {
    clear: both;
}

.clearv2 {
    clear: both;
    display: inline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#exam-assessment-top {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0; 
   z-index: 3;
   padding: 8px 0px 0px 8px;
   border-bottom: 1px solid #bdbdbd;
   background-color: #f7ebd4;
   white-space: nowrap !important;
   box-shadow: 0 5px 6px -6px #777;
}

#exam-container-top {
    width: 1000px;
}

button#self-assessment {
    position: absolute;
    float:right;
    top:2px;
    right:-2px;
    border: none;
    background: none;
    color: #4a4a4a;
    cursor: pointer;
    visibility: hidden;
}

#exam_assessment_table {
    display: none;
    clear: both;
    margin-top: 122px;
    margin-right: 20px;
    margin-bottom: 45px;
    margin-left: 8px !important;
    min-width: 500px;
    border-color: #a8a8a8 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

div.update-panel-adjust #exam-assessment-top {
   height: 98px !important; 
}

div.update-panel-adjust #exam_assessment_table {
   margin-top: 110px !important;
}

#top-table {
    float: left;
    margin-bottom: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 0.917em !important;
    box-shadow: 0 6px 6px -6px #777;
}

#top-table th {
  background-color: #ededed !important;
}

#top-table td {
  background-color: #fff !important;
  padding: .25rem;
}

#clock {
    float: left;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #bdbdbd;
    margin-left: 8px;
    padding: 0px 8px 0px 8px;
    font-size: 1.5em;
    cursor: default;
    background-color: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    box-shadow: 0 6px 6px -6px #777;
}

.clock-off {
    color: #ff0000 !important;
}

/* Include CSS3 Blinker for clock warning */
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.clock-warn1 {
    color: #ff9900 !important;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.clock-warn2 {
    color: #ff9900 !important;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#auto-save-status {
    width: auto;
    height: 50px;
    padding: .45rem .5rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    margin-left: 8px;
    margin-bottom: 10px;
    float: left;
    font-size: 1rem;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 6px 6px -6px #777;
    line-height: 1.3;
}

div#no-results-submitted {
    margin-top: 20px;
    margin-left: 2px;
    float: left;
    clear: both;
    font-size: 1.083em;
}

div.absentdiv {
    color: #FF5252;
    padding: 8px !important;
    text-align: left;
    font-style: italic;
}

div.content {
    clear: both;
    float: left;
    padding-bottom: 40px;
}

div.content2 {
    clear: both;
    float: left;
    padding: 10px 20px 0px 20px;
    overflow: hidden;
}

div.content3 {
    clear: both;
    float: left;
    padding: 10px 20px 10px 20px;
    font-size: 1.167em;
}

div.content4 {
    clear: both;
    float: left;
    padding: 10px 20px 10px 20px;
    font-size: 1.04em;
}

div.innervaldiv {
    display:inline;
}

div.errormessage {
    font-weight: bold;
    background-color:#FFE766;
    color: #FF0000;
    margin: 1px 3px 2px 6px;
    border: 1px solid #000000;
    padding:4px;
    float:left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

div.errordiv { /* error div  */
    float:left;
    padding:4px;
    font-weight:bold;
    border: 1px solid #000000;
    background-color:#FFE766;
    color: #FF0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.infodiv { /* info div  */
    padding:4px;
    color:#000000;
    font-weight:bold;
    background-color: #99ff55;
    border: 1px solid #000000;
    margin: 0px 0px 10px 0px;
    position: relative;
    display: inline;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.totalscore {
    padding: 5px 0px 4px 4px;
    font-size: 1.250em;
    float: left;
    text-align: left;
    width: 120px;
    margin-top: 4px;
}

div.nextdiv {
    float: left;
    clear: both;
    margin-top: 8px;
}

div.submitdiv {
    margin-left: 10px;
    float: right;
    padding: 8px;
}

div#cancel-img-div {
    float: left;
    clear: both;
}

div#cancel-label-div {
    float: left;
    clear: both;
    color: #ff0000;
    font-weight: bold;
}

.cancel-top {
    margin-right: 6px;
    float: left;
}

.cancel-image {
    height: 45px;
}


input#submit-exam {
    margin: 0px 0px 0px 8px;
    font-size: 1.167em;
}

input#submit-next {
    width: 140px;
    margin-top: 10px;
    font-size: 1.167em;
}


/* List */
ul.prewarn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -14px;
    font-size: 0.98em !important;
    list-style-type: circle;
}

/* colors */
.blue {
    color:blue !important;
}

.red {
    color:#FF0000 !important;
}

.green {
    color: #008000 !important;
}

.orange {
    color: #F87217 !important;
}

.boldred {
    font-weight: bold;
    color: #ff0000 !important;
}

.boldgreen {
    font-weight: bold;
    color: #008000 !important;
}

.bg-red {
    background-color: #ff0000 !important;
}


/* make bold */

.bold {
    font-weight: bold;
}

.scorevalue {
    display:inline;
    background-color: white;
    padding:3px;
    border: 1px solid #D8D8D8;
    margin-left:4px;
}

.wait {	/* class to show wait symbol in div */
    width: 100%;
    height: 100%;
    padding-top: 11px;
    background-image: url('../images/waitsmall.gif');
    background-repeat: no-repeat;
    background-position: center;
}

a:link {color:blue}
a:visited {color:blue}
a:active {color:blue}
a:hover {color:#FF0000}

/* ordering links for results table */
a.title_ad:hover {
    color:#008000;
    background-image:url('../images/arrowup.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}

a.title_au:hover {
    color:#008000;
    background-image:url('../images/arrowdown.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}

a.title_ad {
    color:#008000;
    background-image:url('../images/arrowdown.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}

a.title_au {
    color:#008000;
    background-image:url('../images/arrowup.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}

a.title_ad:visited {
    color:#008000;
    background-image:url('../images/arrowdown.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}

a.title_au:visited {
    color:#008000;
    background-image:url('../images/arrowup.gif');
    background-repeat: no-repeat;
    background-position:right;
    vertical-align:middle;
    padding-right:12px;
}


.n {
    font-weight: normal;
}

.f13 {
    font-size: 1.083em !important;
}

.f14 {
    font-size: 1.167em !important;
}

.ul {
    text-decoration:underline !important;
}

/* labels */
label#subselstudl {
    font-weight: bold;
    font-size: 1.250em;
    margin-right: 4px;
    vertical-align: 2%;
}

#yes_confirm {
    margin-right: 4px;
    font-size: 1em !important;
}

#no-confirm {
    font-size: 1em !important;
}

tr.nbbtr td {
    border-bottom: 0px !important;
}

tr.nbbtr th {
    border-bottom: 0px !important;
}

.nbr {
    border-right: 0px !important;
}

.nbl {
    border-left: 0px !important;
}

.nbb {
    border-bottom: 0px !important;
}

.bb {
    border-bottom:1px solid #bdbdbd !important;
}

.nbb-nbr {
    border-bottom: 0px !important;
    border-right: 0px !important;
}

.bl {
    border-left:1px solid #bdbdbd;
}

.br {
    border-right:1px solid #bdbdbd;
}


.hide {
    display: none !important;
}

div#panel-container {
    clear: right;
    display: inline-block;
}

@-moz-document url-prefix() {
    
    div#panel-container {
       display: block !important;
       -moz-box-sizing: border-box;
    }
}


/************ Station Examiner Notes *****************/


div#station-settings-div {
    position:relative;
    height: 80px;
}

div#station-settings-div div {
    position:absolute;
    bottom:2px;
    right:2px;
}

div#station-notes-outer {
    background-color: #FFA500;
    margin: 0px;
    padding: 8px 8px 0px 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    position:relative;
    width: 460px;
    min-height: 270px;
    z-index: 20;
}

div.ui-widget-header {
    background-image: none;
    background-color: #FFA500;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border: 0px !important;
}

div.ui-dialog-buttonpane {
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    margin-top: -6px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}

div.ui-dialog-buttonpane button {
    font-size: 1em !important;
    color: #000000;
}

div.ui-dialog {
    padding: 0px;
}

div#station-notes-main {
    border: 1px solid #bdbdbd;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    padding: 6px;
    width: 448px;
    height: 266px;
    font-size: 1.083em;
    overflow-y: scroll;
}

/* These are to view a student to confirm that they are who they say they are... */
div.student_image {
    float: left;
    margin-right: 10px;
}

div.student_image img {
    border: 1px solid black;
}

div.student_details {
    float: left;
}

div.student_details span {
   padding-left: 3px;
}


.examiner-th {
    white-space: nowrap;
    background-color:#f8F8F8;
    text-align:left;
    padding: 3px 3px 3px 12px;
    vertical-align: middle;
    border-right:1px solid #bdbdbd;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #bdbdbd;
}

/* Cross browser compatible word wrapping */
.word-wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

/* jquery ui - select menu - adjustments */
.ui-state-default {
    color: #000000 !important;
    font-weight: normal !important;
}

.ui-selectmenu-text {
    font-weight: normal !important;
}

.ui-selectmenu-button.ui-button {
    width: inherit !important;
    min-width: 140px !important;
    padding-right: 2px !important;
}

.ui-selectmenu-icon {
    margin-left: 10px;
}

.ui-button {
    color: #000000 !important;
    font-weight: normal !important; 
}

.ui-state-active {
    font-weight: normal !important;
    background: #fdf5ce url(../images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x !important;   
}

/* Limit height of jquery ui select menu */
ul.ui-menu {
    max-height: 420px !important;
}

.dropdown-item {
    padding-top: 6px !important;
    padding-bottom: 5px !important;
    min-width: 180px;
}

/*
  The width of the selectmenu is shorter than the maximum  width of the containing options
  meaning that the selected option is partially hidden on the right. This happens only when
  the maximum width of the text is short (<=120px). Adding a padding of 10px resolves this.
*/
#term-id, #dept_id, #exam_id, #session_id, #station_id, #group_id, #examiner-as, #new-examiner, #scale-accessibility {
    padding-right: 80px !important;
    -webkit-appearance: textfield;
}

#term-id-menu, #dept_id-menu, #exam_id-menu, #session_id-menu, #station_id-menu, #group_id-menu, #examiner-as-menu, #new-examiner-menu, #scale-accessibility-menu {
    background: #ffffff url('../images/ui-bg_glass_65_ffffff_1x400.png') repeat-x scroll 50% top !important;
}

#station_id-menu {
    padding-bottom: 30px !important;
}

/* Assigned group of stations */
div.assigned-list {
  float: left;
  margin-bottom: 30px;
  clear: both;
}

/* Assigned Stations */
button.assigned-station {
  float: left;
  clear: both;
  font-size: 1.09em;
  border: 1px solid #bdbdbd;
  margin-bottom: 14px;
  padding: 14px 14px 14px 50px;
  border-radius: 0px 14px 14px 0px;
  -moz-border-radius: 0px 14px 14px 0px;
  -webkit-border-radius: 0px 14px 14px 0px;
  cursor: pointer;
  background: #f8f8f8 3% 50% no-repeat;
}

span.assigned-info {
   float: left;
   margin-right: 4px;
   clear: both;
}

span.assigned-info span {
   font-size: 1.10em;
 }

div.assigned-title {
  padding-bottom: 10px;
  padding-left: 4px;
  font-size: 1.2em !important;
  font-weight: bold;
}

/* Cicuit indicator for the session dropdown */
.circuit-indicator {
    height: 11px;
    width: 11px;
    margin-top: 2px;
    margin-right: 4px; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
}

.circuit-color-selected {
    cursor: help;
    float: left;
    height: 14px;
    width: 14px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 3px;
    margin-bottom: -1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.next-circuit {
  padding: 6px;
  border: 1px solid #000000;
  text-align: center;
  font-weight: bold;
}

div.preset-circuit {
  padding: 4px; 
  border: 1px solid #000000;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0;
  font-size: 0.88em;
}
#textScale {
    background: url('../images/text_scaling.png') 100% 100% no-repeat ;
    background-size: contain;
  padding: 25px 25px 25px 25px;  
  position: absolute;
  top: 10px;
  right: 10px;
  
}
#textScale select{
    display: none;
    position: absolute;
    right: 40px;
    bottom:5px;
    z-index: 1;
    background-color: white;
    
}
#textScale:hover select{
    display: block;
    margin-top: 25px;
    margin-left: -20px
}

.self-assessment-item.hidden{
    display: none;
}

.self-assessment-item.display{
    display: table-row;
}

.self-assessment-content{
    position: relative;
}

.self-assessment-question {
    margin-bottom: 10px;
}

.self-assessment-response {
    font-weight: bold;
    margin-left: 8px;
}

.self-assessment-response span {
    font-style: italic;
    font-weight: normal;
}

.self-assessment-score {
   font-weight: bold; 
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 8px;
}

.self-assessment-score span {
    color: #ff0000;
    font-weight: normal;
}

.offline-ui.offline-ui-up .offline-ui-content:after {
    background: #2f8040 !important;
  }

li.active {
}

li.active .nav-link {
    text-decoration: underline;
}

.navbar-nav .nav-link {
    font-size: 1.06rem !important;
}

.navbar-default>.nav-item {
    padding: .7em 0 !important;
}