/* Original Author: David Cunningham
   For Qpercom Ltd
   Date: 06/09/2013
   
   © 2013 Qpercom Limited.  All rights reserved.
   
   Some IE FIXES
*/
#topresdiv {
    margin-bottom: 35px !important;
}

/* unicode fix */
select {
    font-family: Arial Unicode MS;
    font-size: 14px !important;
}
