/* Original Author: David Cunningham
   For Qpercom Ltd
   © 2017 Qpercom Limited.  All rights reserved.
   IE Specific Fixes
*/

/* unicode fix */
select, input {
    font-family: Arial Unicode MS;
    font-size: 13px !important;
}

/* Departments In Manage Examiner Section */  
select.csel-dpt {
    width: 89px !important;
    min-width: none !important;
}

select.asel-dpt {
    width: 89px !important;
    min-width: none !important;
}

/* Session Station Managment Section */
#station-add-panel {
    margin-top: 0px !important;
}

fieldset {
    margin-top: 0px !important; 
}

fieldset.todel {
    padding: 14px 20px 14px 20px !important;
}

fieldset.information-fs {
    padding-top: 12px !important;
}

fieldset.information-fs2 {
    padding-top: 18px !important;
}

fieldset.information-fs3 {
    padding-top: 18px !important;
}

fieldset.inner-fs {
    margin-top: 8px !important;
    padding-top: 10px !important;
}

fieldset.outerfs {
    padding-top: 26px !important;
    margin-top: 10px !important;
}

fieldset.infowarn {
    padding-top: 11px !important;
}

fieldset.group-fs {
    padding-top: 12px !important;
}


fieldset.fsfsetts div {
    margin-top: 0px !important;
}

fieldset.outerfs legend {
    left: 14px !important;
}

legend.inner-fsl {
    margin-left: -10px !important;
}

fieldset.add-section-fs  table.first-table {
    margin-top: 8px !important;
}

fieldset.add-section-fs legend {
    left: 10px !important;
}

#topresdiv {
    margin-bottom: 34px !important;
}

.arrow3 {
    margin-bottom: 7px;
}

tr.modulerw input[type="checkbox"]{
    margin-right: 1px !important;
}

ul.editdepts input[type="checkbox"] {
    margin: 0px !important;
}

/* Group Management Section */
#add_grpb {
    margin-right: 4px !important;
}

div#close-div {
    top: 0px !important;
}

div.main-content-div  {
    border-top: 4px groove #FFFFFF !important;
    border-left: 4px groove #FFFFFF !important;
}

fieldset#stationfs {
    margin-top: 18px !important;
}

fieldset#export-fs {
    margin-top: 10px !important;
}

ul#station-dets {
    width: 408px !important;
}

ul#tddets {
    width: 384px !important;
}

img.exam-res {
   border: 0 !important;  
}
