/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */
  
 div#iso span {
   font-weight: bold;
 }
 
ul#form-list {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  margin-top: 8px;
  margin-right:0px;
  padding: 4px 4px 20px 4px;
  list-style-type: none;
  min-height: 140px;
  min-width: 380px;
  font-size: 12px;
  height: 140px;
  width: 560px;
  overflow: auto;
  border-radius: 5px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.st-opt {
  float: left;
  clear: right;
  height: 24px;
  margin-bottom: 10px;
}

li.st-base {
  text-align: right;
  margin-top: 4px;
}

ul#form-list li {
 padding: 2px !important;
 margin-left: 0px;
}

ul#form-list input {
 vertical-align: middle;
}

ul#form-list label {
 vertical-align: middle;
 padding-left: 2px;
 font-weight: normal !important;
}

/* Importing and Exporting Tabs */

div#downloader {
  padding: 20px;
  background-color: #f7f7f7;
}

div#uploader {
  padding: 20px;
  background-color: #f7f7f7;
}


li.importing {
  margin-left: 0px !important;
}

#tabs ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
    
#tabs li {
    float: left;
    padding: 0px;
    border: 1px solid #bbbbbb;
    border-bottom-width: 0;
    margin: 0 .25rem 0 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
     border-radius: 5px 5px 0px 0px;
}

#tabs a {
    text-decoration: none;
    font-size: 13px;
    display: block;
    background: #ffffff;
    padding: .375rem .75rem;
    color: #000000;
    width: auto;
    white-space: nowrap;
    text-align: center;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
     border-radius: 5px 5px 0px 0px;
     line-height: 1rem;
}

#tabs a:hover {
    background: #ddf;
}

#tab-selected {
    border-color: #767676 !important;
}

#tab-selected a {
    position: relative;
    top: 1px;
    background: #f7f7f7 !important;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    width: 110px;
}

#tabs-content {
    border: 1px solid #767676;
    clear: both;
    float: left;
    padding: 0px 0px 0px 0px;
    margin-bottom: 80px;
    -moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
     border-radius: 0px 3px 3px 3px;
}

#tabs-content div {
   clear: both;
   float: left;
}

.show-content {
  display: block !important;
}

#importing {
  display: none;
}

#exporting {
  display: none;
}

#location {
  font-size: 9px;
}

ul.choose {
  margin: -8px 8px -4px 8px;
  padding: 0px;
  list-style-type:none;
}

ul.choose li {
 padding: 6px 4px 6px 4px;
}

ul.choose label {
 padding-right: 10px;
 width: 300px;
 font-weight:bold;
}

label.file-label {
 padding-right: 25px !important;
}

 
 table#tbi {
   border-top: 1px solid #BDBDBD;
   border-right: 0px;
   border-bottom: 0px;
   border-left: 1px solid #BDBDBD;
   width: 500px;
   margin-top: 30px;
   background: #ffffff
 }
 

  td {
	  white-space: nowrap;
	  padding:3px;
	  border-right:1px solid #BDBDBD;
	  border-bottom:1px solid #BDBDBD;
	  border-top: 0px;
	  border-left: 0px;
   }

   
  td.cell-1 {
    width: 480px;
	border-right: 0px;
  }
  
   td.cell-2 {
    width: 20px;
	height: 24px;

  }

   
 img.previewbu {
  height: 20px;
  width: 20px;
  display: block;
  border: 0px;
}