/* Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
*/


/* Tables */
table#importing-report{
  float:left;
  clear: both;
  margin-bottom: 14px;
}

/* rows */
tr.errorBgColor {
	background-color: #ee7777;
}

td.base-button-options {
  padding: 12px 7px 8px 12px;
}

table#mappingTable td.base-button-options {
    padding-left: 60px !important;
}

 td.titleimp {
	font-weight: bold;
	vertical-align: middle;
	background-color: rgba(0,0,0,.03);
	padding:6px 3px 6px 8px;
 }
 
 td.titlein {
   font-weight: normal;
   font-size: 12px;
   padding: 16px 16px 16px 50px;

 }
  
 td.titlein select {
   margin-bottom: -3px;
 }
 
  td.titlein input {
   margin-bottom: -3px;
 }
 
.bml {
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 2px;
}

.bml2 {
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 200px;
}

input.backstep {
 margin-top: 4px;
 margin-bottom: 4px;
 margin-left: 60px;
}


#startImport {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  width: 140px;
}
 

.fxtds {
  vertical-align: middle !important;
  text-align: center !important;
}

td.selector {
   vertical-align: middle !important;
   text-align: center !important;
   background-color: rgba(0,0,0,.03);
}

#optionstd {
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 20px;
}

fieldset.fsfsetts {
 margin-bottom: 10px;
 margin-right: 10px;
 margin-left: 10px;
 margin-top: 0px;
 position: relative;
 border: 1px solid #C0C0C0;
 vertical-align:top;
 display: inline;
 float: left;
 padding: 6px;
 background-color: #FFFFFF;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
  border-radius: 5px;
  
}

fieldset.fsfsetts legend {
 color:#000000;
 font-weight:bold;
 font-size:12px;
 padding: 0px;
 left: 4px;
 margin-left: 4px !important; 
 background:transparent;
 vertical-align: top; 
}

fieldset.fsfsetts label {
  vertical-align: top;
  font-weight: bold;
  padding-right: 6px;
}

fieldset.fsfsetts div {
   padding: 14px 14px 14px 14px;
   background-color: #FFFFFF;
   margin-top: -7px;
}

ul.import {
  margin-left:0px;
  margin-bottom:18px;
  margin-top:0px;
  margin-right:0px;
  padding: 0px 8px 0px 8px;
  list-style-type: none;
  border: 1px solid #bdbdbd;
  background-color: rgba(0,0,0,.03);
  float: left;
  clear:both;
  border-radius: .25rem;
}

ul.import li {
 margin-bottom: 16px;
 margin-top: 16px;
}

ul.import a {
 font-size: 12px;
}

form#importSource{
  clear:both;
  float: left;
}


div.errordivimp { /* error div text left center  */
  padding:10px;
  font-weight:bold;
  text-align:left;
  border: 1px solid #000000;
  background-color:#FFE766;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
  color: #FF0000;
}

div#continue-div {
  padding: 8px;
  margin: 4px 4px 6px 4px;
  font-weight: bold;
  border: 1px solid #ff0000;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
}

div#continue-div input {
 vertical-align: middle;
 margin: 0px 2px 0px 2px;
}

div#import-wait-div {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.required {
 margin-top: 6px;
 margin-bottom: 0px;
 font-weight: bold;
 font-size: 13px;
}

div.againdiv {
 clear: both;
 padding: 6px 2px 2px 6px;
 text-align: right;
}

div.again-self-assessments {
 float: left;
 padding: 6px 2px 2px 6px;
 text-align: right;
}

div.view-self-assessments {
 float: right;
 padding: 6px 2px 2px 6px;
 text-align: right;
}

div.preview-exam {
 clear: both;
 padding: 10px 2px 0px 6px;
 text-align: right;
 font-weight: bold;
}

/* File Warning Div Import Step 2 */
div.filewarn {
 font-size: 12px;
 margin-top: 14px;
 margin-bottom: 4px;
 color: #ff0000;
}

span.failed-import-students {
  padding: 2px;
  background-color: #f9f9f9;
  color: #ff0000;
  border: 1px solid #a0a0a0;
  vertical-align: 0%;
  margin-bottom: 3px;
  float: left;
  clear: both;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;  
}

span.duplicate-import-students {
  padding: 2px;
  background-color: #f9f9f9;
  color: #e59400;
  border: 1px solid #a0a0a0;
  vertical-align: 0%;
  margin-bottom: 3px;
  float: left;
  clear: both;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;  
}

th.student-list-title {
  padding-bottom: 20px !important;
  width: 300px;
}

/* Help Import Div */
table#data-sources {
  margin-bottom: 80px;
}

td.import-step2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

div#importwarn {
  margin-top: 18px;
  color: #ff0000;
  font-size: 13px;  
}

pre#pre-import-note {
  margin-left: -25px;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  overflow: visible;
}

div#upload-error-div {
   margin-top: 2px;
   clear: both;
   float: left;
}

div#back-import-div {
   clear: both;
   float: left;
   text-align: left;
   margin-top: 10px;
}

div#has-scoresheets-section p {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
   border-radius: 3px;
}

div#id-warn {
  padding: 2px;
  font-size: 12px;
  background-color:#ffde03;
  margin-bottom: 13px;
  width: auto;
}
