/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2017 Qpercom Limited.  All rights reserved.
 */

#top-login {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    clear: both;
    float: none;
}

#main-login {
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    border: 0px;
    width: 100%;
    margin: 0px;
    clear: both;
    float: left;
    overflow: visible;
}

#continue { /* continue */
    font-size: 16px;
}

#logout { /* logout */
    font-size: 16px;
}

#id {
    font-size: 17px !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

#password {
    font-size: 17px !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

input.login-h {
    border: 1px solid #DAA520;
}

#todo {
    font-size: 16px !important;
}

#logintable {
    max-width: 440px;
    width: 100%;
    border-radius: 4px;
    margin: 0 auto 20px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 5px 6px -6px #777;
}

#loginother {
    border: 1px solid #6c757d;
    white-space: nowrap;
    overflow: hidden;
}

.tcaption {
    font-size: 0.75rem !important;
    color: #333333;
}

.logologin { 
    height: 100%;
    min-height: 60px;
    background: url('../images/lp.gif') 50% 50% no-repeat;
    padding: 0 0px 0 0px !important;
    width: 86%;
} 

/* Request password section */
div.password-request-fail {
    float: left;
    padding: 4px;
    color: #FF0000;
    border: 1px solid #000000;
    position: relative;
    display: inline;
}

/*Tables */
#logintable td {
    padding: 5px 4px 5px 0px;
    border: 0px;
}

#logintable .header {
    white-space: nowrap;
    text-align: left;
    padding: 5px 0px 5px 0;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0;
}

#logintable #login {
    font-size: 16px;
}

#loggedintable .clihead {
    border-right: none;
    border-left: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    white-space: nowrap;
    text-align: left;
    padding: 3px 10px 3px 10px;
    font-size: 0.8em;
    font-weight: bold;
}

#loggedintable .clidata {
    padding: 3px;
    background-color: white;
    font-size: 0.8em;
    border-right: none;
    border-bottom: none;
}

#loginother {
    font-weight: bold;
    font-size: 0.75rem;
    padding: 5px 9px 5px 9px;
    border-top: 0px;
    position: absolute;
    margin: 23px 0 0 16px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 6px 6px -6px #777, inset 0 5px 5px -7px #777;
}

#loginother a:hover {
    text-decoration: underline !important;
}

#loginother a.sec1 {
    float: left;
    text-decoration: none;
    padding: 0px 8px 0px 4px;
}

#loginother a.sec2 {
    text-decoration: none;
    margin: 0px 0px 0px 8px;
}

#loginother a.sec3 {
    margin: 0px 0px 0px 13px;
    text-decoration: none;
}

#loginother2 {
    font-weight: bold;
    font-size: 0.75rem;
    padding: 5px 9px 5px 9px;
    position: absolute;
    margin: 12px 0px 0px 28px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-top: 0px;
    border-bottom: 1px solid #6c757d;
    border-left: 1px solid #6c757d;
    border-right: 1px solid #6c757d;
    border-radius: 0px 0px 4px 4px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 5px 9px 5px 9px;
    border-top: 0px;
    position: absolute;
    margin: 21px 0 0 16px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 5px 6px -6px #777, inset 0 5px 5px -7px #777;
}

#loginother2 a:hover {
    text-decoration: underline !important;
}

#loginother2 a.sec1 {
    float: left;
    text-decoration: none;
    padding: 0px 8px 0px 4px;
}

#loginother2 a.sec2 {
    text-decoration: none;
    margin: 0px 0px 0px 8px;
}

td#login-options-row {
   padding: 0px;
   height: 0px;
   margin-top: -4px;
}

td.fields {
    text-align: right;
}

/* p */
p.loginfo {
    white-space: nowrap;
    display: inline;
    text-align: center;
}
p.loginfo span {
    color: #000000;
}

/* Login logo */
img#mainlogo {
    margin-top: 0;
    margin-right: 4px;
    float: right;
    position: relative;
    top: 110%;
}

.table-requestform th {
    vertical-align: middle;
    font-size: .9em;
    background-color: transparent;
}

.table-requestform .infotd {
    background-color: transparent;
}

.infotd:empty {
    display: none;
}

#loginform {
    display: block;
}
