/* Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2017 Qpercom Limited.  All rights reserved
 */

#tabmenu {
    float: left; 
    margin-bottom: 20px;
    margin-left: -6px;
    clear:right;
}

