/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* all menu links */
#nav a  {
	text-decoration:none;
	display:block;
	padding:22px 13px 17px 4px;
	margin:0;
	float:left;
}

/* Just sub menu links */
#nav li li a {
	text-align:left;
}

/* All ULs and OLs */
#nav ul, #nav ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li {
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#nav .firstli {
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#nav .lastli {
	display:block;
	list-style:none;
	position:relative;
	float:left;
}


/* main menu ul or ol elment */
#nav{
	list-style:none;
	margin:-8px 0px 0px 6px;
	z-index:5;
	text-align: right;
	height:14px;
	background:transparent;
	padding-bottom:28px;
	padding-left:0px;
	float: left;
}

/* --------------------------[ The below is just for non-javascript users ]--------------------------*/
#nav li li{	float:none; }

#nav li li a{
	position:relative;
	float:none;
}

