/***** RESET STYLE *****/

body {
    margin: 0;
}


/******* HEADER BAR CONTENT  ******/
.header-score-sheet {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 5px;
    background-color: #f7ebd4;
    box-shadow: 0 5px 6px -6px #777;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 10;
}

.header-item {
    margin: 0px 5px;
}

.exam-description {
    float: none !important;
    margin: 0 !important;
}

.cancel-exam-button {
    background-color: #cccccc;
}

.cancel-exam-button img.cancel-icon {
    display: block;
    height: 45px;
}

.header-score-sheet .cancel-exam-button span {
    color: red;
    font-weight: 700;
}

.header-item.config-item {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.config-item a {
    color: #4e4e4e;
}

.config-item a:hover {
    color: #656565;
}

.config-item .config-icon {
    font-size: x-large;
}

#clock.clock {
    float: none;
    width: 112px !important;
    margin-left: 0;
}

#auto-save-status.auto-save {
    width: 112px !important;
    margin-left: 0;
    margin-bottom: 0;
    float: none;
}

.body-score-sheet {
    margin-top: 5px;
}

/***********  Multiple candidates tabs ********/

nav.candidate-list-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /*background-color: white;*/
    z-index: 3;
    position: sticky;
    position: -webkit-sticky;
}

.scroll-arrow {
    width: 5%;
    font-size: 30px;
    text-align: center;
}

.scroll-arrow i {
    cursor: pointer;
}

ul.candidates-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-flow: nowrap;
}

ul.candidates-list li {
    flex-grow: 1;
}

ul.candidates-list li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 8px 16px!important;
    border-top: 3px solid #ccc!important;
    background-color: #e6e6e6;
    border-radius: 5px 5px 0px 0px;
    font-size: 15px;
    white-space: nowrap;
    vertical-align: middle;
}

ul.candidates-list li a > div:first-child {
    padding-left: 5px;
    margin-right: 0.5em;
}

ul.candidates-list li a.invalid {
    border-top: 3px solid red !important;
}

ul.candidates-list a.active {
    background-color: #fff!important;
    box-shadow: 2px 0 9px 3px #bdbdbd, -2px 0 9px 3px #bdbdbd, 0 2px 9px 3px #bdbdbd;
    position: relative;
    z-index: 3;
}

ul.candidates-list li a.unfinished {
    border-top: 3px solid #FF9800!important;
}

ul.candidates-list li a.valid {
    border-top: 3px solid #4caf50!important;
}

ul.candidates-list li a:not(.active):hover {
    background-color: #f5f0f0cc!important;
}

ul.candidates-list li a:not(.active) {
    border-right: 1px solid #c3c3c3;
    box-shadow: inset 0px -2px 6px 0px #b1b1b1;
}

ul.candidates-list li:last-child > a {
    border-right: 0 !important;
}

.candidates-tab-wrapper {
    width: 90%;
    display: inherit;
}

.nav-bar-item > div:first-child {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}

/*
#f5f0f0cc!important
6px solid red!important

6px solid #FF9800!important

*/

/*ul.candidates-list li a span {*/
    /*padding-left: 5px;*/

/*}*/

.score-sheet-content {
    background-color: #f7f7f7;
}

.score-sheet-form {
    width: 90%;
    margin: auto;
    display: none;
    background-color: #fff;
    box-shadow: 0px 10px 12px 0px #c5c5c5;
    z-index: 2;
    position: relative;
}

.score-sheet-form-content {
    overflow-x: scroll;
    padding: 0.01em 16px;
}

.score-sheet-form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;
    border-bottom: 3px solid #151414;
    padding: 5px 0px;
    position: relative;
    z-index: 2;
}

.score-sheet-form-header h1 {
    margin: 0px;
    padding: 0px;
}

.score-sheet-form-header ul button,
.score-sheet-form-footer button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.score-sheet-form-header ul button:hover,
.score-sheet-form-footer button:hover {
    background-color: #3e8e41;
}

.score-sheet-form-header ul button.absent:hover {
    background-color: #c7190c;
}


.score-sheet-form-header ul button.absent {
    background-color: #f44336; /* Green */
}

.score-sheet-form-header li {
    display: inline;
}

.score-sheet-form-footer {
    width: 90%;
    margin: 10px auto;
    position: relative;
    z-index: 2;
}

.score-sheet-form-footer table {
    width: 100%
}

.score-sheet-form-header ul {
    list-style: none;
    padding: 0;
    margin: 1px 0px;
}

.score-sheet-form-header ul > li {
    font-style: italic;
    font-size: 90%;
}

.score-sheet-form-content h1 {
    font-size: 20px;
}

.score-sheet-form-content #exam_assessment_table {
    display: block;
    clear: none;
    margin: 0;

}

/***** MEDIA QUERY FOR RESPONSIVENESS ******/

@media screen and (max-width: 410px) {

    .header-item.exam-time {
        width: 100%;
        margin-top: 5px;
    }

    .header-item.auto-save-time {
        width: 100%;
        margin-top: 5px;
    }

    .header-item.header-description {
        margin-top: 5px;
    }
}

@media screen and (min-width: 410px) {
    .header-item.config-item {
        order: 4;
    }

    .header-item.exam-time {
        min-width: 20%;
        order: 2;
        margin-top: 5px;
    }

    .header-item.auto-save-time {
        min-width: 20%;
        order: 3;
        margin-top: 5px;
    }

    .header-item.header-description {
        order: 5;
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) {
    .header-item.config-item {
        order: 5;
    }

    .header-item.exam-time {
        min-width: 0;
        flex-grow: 1;
        order: 3;
        margin-top: 5px;
    }

    .header-item.auto-save-time {
        min-width: 0;
        flex-grow: 1;
        order: 4;
        margin-top: 5px;
    }

    .header-item.header-description {
        order: 2;
        margin-top: 5px;
    }
}