ul {
    padding: 0;
    list-style-type: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
    border: none;
  }
table{
  border:none;
  border-collapse: collapse;
}
table td{
  border:none;
  outline:none;
}
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 75%;
    margin-top: 4%;
    background-color: #f1f1f1;
    min-width: 200px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}