/* Original Author: David Cunningham
   For Qpercom Ltd
   Date: 14/04/2016
   © 2016 Qpercom Limited.  All rights reserved.
*/

Html {
	 background-color: #FFFFFF;
}

body {
	background-color: #FFFFFF;
	font-weight: normal;
	font-size: 16px;
    margin: 9px !important;
	border: 0px;
}

img.feature-unavailable-img {
  vertical-align: middle;
  cursor: help;
}