/*
 * Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2017 Qpercom Limited.  All rights reserved.
 */

Html{
    padding: 0px !important;
    margin: 0px !important;
    overflow:hidden;
}

body {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    background-image: none;
    background-color: #E8E8E8;
    width: 100%;
}

iframe#pdframe {
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: 0px;
}

iframe#pdframe-bulk {
    margin: -1px 0px 0px 0px;
    padding: 0px;
    border: 0px;
}

div#pdfwait {
    padding: 2px 2px 4px 5px;
    font-size: 12px;
}

div#opt-div {
    padding-top: 6px;
    padding-left: 4px;
    padding-bottom: 8px;
}

/* Examinee Forms Results */
ul.forms-container {
    margin-bottom: 10px;
    margin-left: -34px;
    list-style-type: none;
}

li.each-form {
    height: 20px;
    display: inline;
}

li.each-form span {
    white-space: nowrap;
}

li.each-form input {
   margin-right: 4px;  
}

li.each-form label {
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 0;
}

span.etitle {
    margin-left: 8px;
    font-weight: bold;
}

div#forms-title {
    margin-bottom: 6px;
    font-size: 12px;
}
