/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2019, Qpercom Limited
 */

Html {
   background-color:#FFFFFF;
   padding: 6px 12px 12px 12px !important;
}

body {
   font-size: 10px;
}

table#graph-detailed {
  float: left;
  margin-top: 17px;
  border: 0px;
}

table#graph-detailed  td {
 border: 0px;
}

 caption.graph-caption {
   caption-side: top;
   padding-top: 2px;
   padding-bottom: 2px;
 }

 caption#cap-export {
  font-size: 14px;
  height: 40px;
  text-align: left;
  vertical-align: bottom;
  padding: 0px;
  caption-side: top;
 }
 
 caption#cap-export input[type='submit'] {
    font-size: 13px !important; 
 }    

 #resdetdv {
  margin: 8px 0px 0px 0px;
  float: left;
  clear: both;
 }
  

td.acb{
 text-align: center;
 font-weight: bold;
}

td.tdwhite {
   color:#FFFFFF !important;
}

.title2 {
  text-align: center;
  padding:3px;
  border-right:1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  vertical-align:bottom;
  font-size: 12px;
  white-space: nowrap;
  background-color: #FFFFFF !important;
}

th.title4 {
  text-align: left;
  padding:3px;
  border-right:1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  vertical-align: top;
  background-color: #FFFFFF !important;
}

.title7 {
  font-weight: bold;
  text-align: right;
  border-right:1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #BDBDBD;
  background-color: #FFFFFF !important;
  vertical-align: middle;
  padding-right: 10px;
  font-size: 11px;
}
 
.titlegold {
  font-weight: bold;
  background-color: #FFEE33 !important;
  text-align: left;
  border-right:1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
}

.titlegold2 {
  font-weight: bold;
  vertical-align: top;
  background-color: #FFEE33 !important;
  text-align: left;
  border-right:1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
}

.titleblue {
  font-weight: bold;
  background-color: #5CACEE !important; 
  text-align: left;
  border-right:1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
  padding: 8px;
}
 
.titlegrey {
  font-weight: bold;
  background-color: #D0D0D0 !important;
  text-align: left;
  border-right:1px solid #BDBDBD;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
  white-space: nowrap;
  padding: 4px;
}

.fail {
 font-weight: bold;
 color: #FF0000;
 text-align: center;
 font-size: 10px;
 background-color: #FFFFFF;
}

.incomplete {
 font-weight: bold;
 color: #FF9900;
 text-align: center;
 font-size: 10px;
 background-color: #FFFFFF;
}

.pass {
 font-weight: bold;
 color: #008000;
 text-align: center;
 font-size: 10px;
 background-color: #FFFFFF;
}

.title-scale {
 color: black;
 text-align: center;
 font-size: 10px;
 background-color: #FFEE33 !important;
}

.spin-style {
   font-size: 14px;
   font-weight: normal;
   background-color: #FFFFFF;
}

div.error-adjust {
  width: 300px;
  text-align: center;
}

div#detailed-base {
 float:left;
 clear: both;
}

tr.bglg td {
  background-color: #F2F2F2;
}

tr.bglg th{
  background-color: #F2F2F2;
}

 tr.bltitlerow2 th{
  border-bottom: 1px solid #BDBDBD;
  background-color: #F5DEB3;
  text-align: center;
  vertical-align: top;
}

tr.bltitlerow td.title{
  text-align: right;
  font-weight: bold;
  background-color: #F5DEB3;
}

tr.bltitlerow td.data{
  text-align: center;
  border-right: 0px;
  border-bottom: 1px solid #BDBDBD;
  font-weight: normal !important;
}

tr.bltrw th{
  border-bottom: 1px solid #BDBDBD;
  font-weight: normal;
  white-space: nowrap;
  font-size: 10px !important;
  text-align: left;
  padding: 4px;
}

tr.bltrw td{
  text-align: center;
  white-space: nowrap;
  font-size: 10px !important;
}

div.blrcpyw {
  font-size: 9px;
  margin-bottom: 0px;
  margin-right: -86px;
  padding: 4px 0px 0px 4px;
  float: left;
  clear:both;
  width: 370px;
}

table#results-detailed-table {
  font-size: 10px !important;
  float: left;
  clear: both;
  margin-left: -3px;
}

#result_details_tables tr:last-child>td {
  border-bottom: 0 !important;
}

#result_details_tables tr:last-child>th {
  border-bottom: 0 !important;
}

#result_details_tables td:last-child {
  border-right: 0 !important;
}

#result_details_tables th:last-child {
  border-right: 0 !important;
}

table#result_details_tables tfoot {
  display: table-header-group;
}

#exporta {
 width: 90px;
 font-size: 12px;
}

#exportb {
 width: 186px;
 margin-left: 0px;
 font-size: 12px;
}

#exportc {
 width: 178px;
 margin-left: 0px;
 font-size: 12px;
}

caption.tableexport-caption {
   text-align: right !important;
   height: 6px;
   margin-bottom: 44px;
   caption-side: top;
   display: table-caption !important;
}

caption.tableexport-caption button {
  margin-left: 10px;
}
