/* Original Author: David Cunningham
 * For Qpercom Ltd
 * © 2018 Qpercom Limited.  All rights reserved.
 */

html {
    background-color: #FFFFFF;
    padding-right: 20px;
}

body {
    margin: 14px 10px 10px 14px;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    
    input[type='radio'] { 
    transform: scale(1.2);
    }

}

/************Examinee/Student OSCE Results Section****************/
table.exam-details-table {
    margin-bottom: 45px;
    width: 94%; 
    float: left;
    clear: both;
}

table.exam-details-table div {
    padding: 1px;
}

table#multiple-results-table {
    float: left;
    clear: both;
    margin-bottom: 25px;
}

table#multiple-results-table th{
    background-color: #F5DEB3 !important;
    border-bottom: 1px solid #BDBDBD !important;
}

div#controls-div {
    margin-left: 6px;
    margin-top: -18px;
    float: left;
}

div#controls-div img{
    height: 16px;
}

div.controls-div-adj {
  margin-top: 0px !important;
}

table#examinee_sresult_table {
    float: left;
    clear: both;
    margin-bottom: 14px;
}

table#examinee_sresult_table th {
    background-color: #F5DEB3 !important; 
}

td.assessment-form-info {
    font-size: 12px;
    border-right: none;
}

tr.lgrey td {
    background-color:#F8F8F8;
}

tr.lgrey th {
    background-color:#F8F8F8;
}

tr#results-row th {
    white-space: nowrap;
    background-color: #f7f7f7;
    text-align: left;
    padding: 3px;
    border-right: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    vertical-align: middle;
}

th.title-section {
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    padding: 8px 8px 11px 10px;
    border-bottom: 0px;
    border-right: 0px;
    background-color: #d3d3d3;
}

th.scalebar {
   background-color: #ffdf00 !important; 
}

th.selfassessment-bar {
   background-color: #9bc4e2 !important; 
}

th.flagbar {
   background-color: #ffbf00 !important; 
}

a#self-nav {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

td.comment {
    white-space: normal;
    text-align:left;
    vertical-align: top;
    background-color:white !important;
    padding:4px 4px 4px 4px;
    font-style:italic;
    border-right: 0px;
}

span.examiner-comment {
  font-weight: bold;
  font-size: 13px !important;
  color: #FF0000;  
}

td.items {
    font-weight: normal;
    vertical-align:top;
    text-align: left;
    padding:0px 4px 0px 6px;
    white-space: normal !important;
}

td.items table {
    background-color: white;
    margin: 0px;	
}

td.items table th {
    white-space:normal !important;
    padding: 2px;
}

td.items table td {
    white-space:normal !important;
    padding: 2px;
}

div.selfassessment-question {
  margin-top: 6px;
}

div.selfassessment-response {
   margin-top: 8px;
   margin-left: 8px;
   font-weight: bold;
}

div.selfassessment-response span {
   font-style: italic;
   font-weight: normal;
}

div.selfassessment-score {
  margin-left: 8px;  
  margin-top: 4px;
  margin-bottom: 6px; 
  font-weight: bold;
}

div.selfassessment-score span {
  color: #ff0000;
  font-style: italic;
}

td.options {
    vertical-align: top;
    padding: 6px 4px 8px 4px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 1px;
}

td.totaltd {  
    padding:10px;
    background-color:#FFF;
    border-bottom: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    text-align: center;
    vertical-align: top;
}

td.tdscorebuttons {  
    border-right: 1px solid #BDBDBD;
    border-bottom: 0px;
    padding: 10px 8px 10px 8px;
    text-align:center;
}

td.absent {
    border-right: 0px;
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    background-color: #f7f7f7;
}

div.scorevalue {
    display:inline;
    background-color: #fafafa;
    padding:2px 8px 2px 8px !important;
    border: 1px solid #000000;
    font-size: 12px;
}

div.totalscore {
    padding:10px;
    font-size:15px;
}

div.optxtdesc {
    font-weight: normal !important;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
}

div.divval {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}

div.innervaldiv {
    display:inline;
}

div.delbdiv {
    float: left;
    margin-left: 20px;
    padding: 10px !important;
    border: 1px solid rgba(0,0,0,.125);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.print-div {
    float: left;
    margin-left: 20px;
    padding: 10px !important;
    border: 1px solid rgba(0,0,0,.125);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#advanced-options-div {
    float: left;
    clear: both;
    margin-top: 16px;
    margin-bottom: 88px;
    width: 540px;
    padding: 20px !important;
    border: 1px solid #bdbdbd;
    text-align: right;
    background: #e8e8e8 url('../images/exclamation-2.png') 15px 15px no-repeat;
    box-shadow: 0 6px 6px -6px #777;
}

ul#action-options {
    margin: -6px 8px -2px 8px;
    padding: 0;
    list-style-type: none;
    clear: both;
    float: right;
}

ul#action-options li {
    text-align: left;
    margin-top: 6px;
}

ul#action-options label {
   vertical-align: middle;
}

ul#action-options input {
    margin-right: 1px;
}

div#action-select-div {
   float: right;
   clear: both;
}

div#action-select-div label {
   font-size: 13px;
   margin-bottom: 0;
}

label#action-title {
   font-weight: bold;
   color: #151515;
   font-size: 14px;
   float: right;
   clear: both;
   margin-bottom: 20px;
   margin-right: 80px;
}

label#confirm-password-label {
    vertical-align: middle;
    font-size: 13px;
    color: #ff0000;
}

input#confirm-password {
    vertical-align: middle;
}

div#confirm-password-div {
    margin-top: 8px;
    float: right;
    clear: both;
}

div#advanced-buttons-div {
   margin-top: 22px;
   float: right;
   clear: both;
}

select#compare-type {
    margin-bottom: 6px;
}

table#examinee-summary {
    float: left;
}

table#examinee-summary  th.title {
    background-color: #f5deb3 !important;
}

table#examinee-summary-history {
    float: left;
}

table#examinee-summary-history  th.title {
    background-color: #f5deb3 !important;
}

div.contentdiv {
    padding-bottom: 20px !important;
}

div.adjust-tm { 
    margin-bottom: 4px !important;
}

/* Radar Graph */
table.gtable {
    margin-bottom: 30px;
    margin-top: 6px;
    float: left;
    clear: both;
}

table.gtable td {
    border: 0px;
    padding: 0px;
}

caption.station-desc {
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    font-style: italic;
    padding-left: 0px;
    caption-side: top;
}

td.data-link {
    text-align: center;
    border-bottom: 0px;
    border-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media print {
    
    .print-hide {
       display: none !important; 
    }
    
    .title-section {
       border-bottom: 1px solid #bdbdbd !important;
    }
    
    div.delbdiv {
       display: none;
    }

    div.print-div {
       display: none;
    }
    
    div#advanced-options-div {
       display: none;  
    }
    
    div#student-notes-box {
       display: none;
    }

    div.data-link {
       display: none;
    }

    table.exam-details-table, caption.station-desc th.title-section, td.comment {
       width: 100%;
    }

    select#compare-type {
       display: none;
    }

    body {
       font-size: 13px !important; 
    }
    
}

/************Examinee/Student Historical Results Section****************/

table.tsr {
    border: 1px solid #BDBDBD;
    margin-top: 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    clear: both;
}

table.tsr th {
    background-color: #F5DEB3 !important;
    white-space: nowrap;
    border-left: 0px;
    border-right: 0px;
    padding: 4px 8px 4px 8px;
    font-size: 12px;
    text-align: left;
}

table.tsr td {
    border-left: 1px solid #BDBDBD;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background: #FFFFFF;
    height: 14px;
    padding: 4px 8px 4px 8px;
}

td.station-nr {
    border-left: 0px !important;
    text-align: center;
    width: 10px;
}

th.score-cell {
    width: 0px !important;
}

div.results-container {
    background-color: #F8F8F8;
    border: 1px solid #A0A0A0;
    margin-bottom: 200px;
    padding: 14px 16px 16px 16px;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#no-results {
    float: left;
    clear: both;
    font-size: 13px;
}

span.flash-span #flash-messages {
   margin-top: -14px !important;
   margin-bottom: 6px !important;
   margin-left: -2px !important;
}

span.flash-span2 #flash-messages {
   margin-top: 4px !important;
   margin-bottom: 12px !important;
   margin-left: -2px !important;
}

input#back-button {
    margin-right: 3px;
}

input#pdf-results {
   margin-right: 3px;
}

img#student-competency-graph {
    margin-top: 20px;
}


div#student-notes-box {
  margin-top: 20px;
  margin-bottom: 26px;
  padding: 5px;
  border: 1px solid #bdbdbd;
  background-color: #f5deb3;
  float: left;
  clear: both;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

textarea.notes-hl {
  border: 1px solid #ff0000;
  background-color: #ffffff !important;
}

label#student-notes-label {
    float: left;
    clear: both; 
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    vertical-align: middle;
    margin-bottom: 3px;
}

label#student-notes-label img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

textarea#student-notes {
    float: left;
    clear: both;
    background-color: #fafafa;
    font: 0.98rem;
}

div#student-notes-base {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 6px;
    padding-right: 6px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
}

span#notes-updated, span#notes-author {
    font-weight: normal !important;
}

div#notes-button-box {
    float: right;
}

tr.observer-rw td, tr.observer-rw th {
    background-color: #e6e6ff;
}

tr.observer-rw td.weighting-td {
    color: #ff0000;
}

tr.observer-rw td.score-data {
    text-decoration: line-through !important;
}

td.observer-cell {
    background-color: #e6e6ff !important;
}

td.observer-cell div.divval {
    color: #ff0000 !important;
}

span.describe-numeric {
    font-weight: bold;
    font-style: italic;
    color: #505050
}

.appointable {
    color: #1b5e20;
}

.not-appointable {
    color: #ff0000;
}

.panel-to-decide {
    color: #ff9900;
}

div#grade-confirm-criteria {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 13px;
}
