/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2017, Qpercom Limited
 */

/*** Department Modules ***/
dl.year-modules {
  margin-left:3px;
  margin-bottom:10px;
  margin-top:2px;
  margin-right:3px;
  padding: 0px;
  font-weight: bold;
  clear: both;
}

dl.year-modules dd {
   font-weight: normal;
   margin-left: 12px;
   color: #000000;
}

dl.year-modules dt {
  margin-bottom: 2px;
  font-size: 12px;
  padding: 0px;
}

div.nonedv {
  color: #ff0000;
  margin-top: 2px;
  margin-left:3px;
  margin-bottom: 16px;
  clear: both;
}

div.hasvalues {
  margin-top: 2px;
  margin-left:3px;
  margin-bottom: 16px;
  clear: both;
}

div.tolink {
  margin-left: 3px;
  margin-bottom: 6px;
  clear: both;
}

/* School Departments Section */
th#dept-name-title {
  min-width: 300px;
}

/* Modules Section */
 td.spacetd {
 padding: 5px 120px 5px 120px;
}

/* Add Modules to Course Section */
div#new-module-div {
  margin: 0px 10px 10px 10px;
  text-align: left;
}

div#existing-module-div {
  margin: 10px 10px 20px 10px;
  text-align: left;
}

div#new-module-div label {
  font-weight: bold;
}

div#existing-module-div label {
  font-weight: bold;
}

table.specialty {
  margin-bottom: 20px;
  min-width: 500px;  
}

.squeeze-cell {
  width: 1px;    
}
