/* Original Author: David Cunningham
   For Qpercom Ltd
   Date: 14/07/2015
   © 2015 Qpercom Limited.  All rights reserved.
   Sliders
*/

div.slider1 {
    width: 90px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.slider2 {
    width: 130px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.slider3 {
    width: 140px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.slider4 {
    width: 170px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.slider5 {
    width: 190px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.slider6 {
    width: 230px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px;
    float: left;
}

div.perwidth {
    width: 300px;
    height: 22px;
    text-align: left;
    margin: 0px auto;
    z-index: 0;
}

/*********PERCENT****************/
div.perslider {
    width: 230px;
    height: 8px;
    background-color: #bbbbbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0px 0px 0px !important;
    float: left;
}
/*********PERCENT****************/

/* jQuery - Assessment Form */
a.ui-slider-handle {
    border: 1px solid #6c757d !important;
    text-decoration:none;
    background-image: none !important;
    background-color: #FAFAD2 !important;
    cursor: pointer !important;
    height: 1.8em !important;
    width: 3.2em !important;
    top: -0.6em !important;
    font-size: 0.9em !important;
    line-height: 180%;
    text-align: center;
    font-family: Arial, sans-serif !important;
    margin-left: -1.6em !important;
}

.ui-slider  {
    height: 0.6em !important;
    background-color: #bbbbbb !important;
    background-image: none !important;
    float: left !important;
    width: 230px !important;
    margin-top: 8px;
}

/* Mootools - Preview Form Page */
div.knob {
    background-color: #FAFAD2;
    cursor: pointer;
    width: 36px;
    height: 17px;
    font-size:11px;
    text-align:center;
    vertical-align: middle;
    margin: 0;
    padding: 3px 0px 0px 0px !important;
    top: -7px;
    position: relative;
    border: 1px solid #6c757d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

div.start-div { 
    font-size:13px;
    width: 30px;
    height: 22px;
    text-align:right;
    vertical-align: middle;
    float: left;
    padding: 2px 3px 0px 0px;
}

div.end-div { 
    font-size:13px;
    width: 30px;
    height: 22px;
    text-align: left;
    vertical-align: middle;
    float: left;
    padding: 2px 0px 0px 3px;
}

/*
 * Assessment Tool - jQuery - overrides for right-to-left sliders
 */
.ui-slider-horizontal.ui-slider-rtl .ui-slider-range-min { 
    left:auto;
    right: 0; 
}

.ui-slider-horizontal.ui-slider-rtl .ui-slider-range-max {
    left: 0;
    right: auto;
}

.ui-slider-vertical.ui-slider-rtl .ui-slider-range-min {
    top: 0;
    bottom: auto;
}

.ui-slider-vertical.ui-slider-rtl .ui-slider-range-max {
    top: auto;
    bottom: 0;
}
