/* Original Author: David Cunningham
 * For Qpercom Ltd
 * Styling for testing version
 */


/* Menu-matic */
#nav a  {
    /* Colour of headings text */
    color:#000000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}


/* All menu links on hover or focus */
#nav a:hover, #nav a:focus {
    background-color:#CFAFAF;
    color:#000000;
}

/* sub menu links on hover or focus */
#nav li a:hover, #nav li a:focus{
    background-color:#CFAFAF !important; 		/* Colour of hovered heading*/
    color:#000000;					/* Colour of hovered heading text*/
}

/* All submenu OLs and ULs */
#nav ol, #nav ul {
    /*border around submenu goes here*/
    border:1px solid #b0b0b0;		/*Colour of submenu border*/
}

.loggedintable-wrap {						/*Image and background Colour*/
    background: #b4e7c8 url('../images/reg/login1.png') 0px 6px repeat;
    
        /* Grayscale */ 
        background-color: #c0c0c0;
        background-blend-mode: luminosity;
        background-repeat: repeat;
    
}
.loggedintable-wrap {
    display: inline-block;
    text-align: initial;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #6c757d;
  }
  
  .loggedintable-container {
    text-align: center;
  }
#logintable {						/*Image and background Colour*/
    background: #fff;
    /* border: 3px solid #b4e7c8 !important; */
    background-blend-mode: luminosity;
    background-repeat: repeat;
    
}

.logologin { 						/*Key image*/
    background: url('../images/reg/lp.gif') 50% 50% no-repeat !important;
} 

#loggedintable .clihead {
    color: #000000;       			/*Currently logged in login table text colour*/
}

/*#########################################################*/

#loginother a.sec1 {
    color:#000000;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother a.sec2 {
    color:#000000;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

#loginother a.sec3 {
    color:#000000;					/*Colour of login text (open id?)*/
    font-style: italic;
}

#loginother {						/*Image and background Colour*/
    background: #ace3c3;
    background-color: #ace3c3;
    background-blend-mode: luminosity;
    background-repeat: repeat;    
}

#loginother2 {						/*Image and background Colour*/
    background: #ace3c3;
    background-color: #ace3c3;
    background-blend-mode: luminosity;
    background-repeat: repeat;    
}

#loginother2 a.sec1 {
    color:#000000;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother2 a.sec2 {
    color:#000000;					/*Colour of login text (visitors?)*/
    font-style: italic;
}
/*#########################################################*/

img#mainlogo {
    float: right;
    margin-right: 4px;
    margin-top: -4px;
}

/*#########################################################*/



/*Basic*/

/*#########################################################*/

div.obasediv {					/*Image and background Colour bottom*/
    border-right: 1px solid #b0b0b0;
    
    /* Grayscale */ 
    background-image: url('../images/reg/topbotbar.png');
    background-color: #c0c0c0;
    background-blend-mode: luminosity;
    background-repeat: repeat-x;

}

div.ibasediv {
    border-top: 1px solid #b0b0b0;
}

th.topinfoth {					/*upper-right corner text omis*/
    background: none !important;
    color: #ff0000;
}

table.topinfo td {					/*upper-right corner text Id*/
    color:#000000;
    background-color:#ffffff;
}

.version-colour {				/*upper-right corner text school and version*/
  color: #000000 !important;
  font-weight: normal !important;
}

a.title_ad:hover{
    background-image:url('../images/reg/arrowup.gif');
}
a.title_au:hover{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_ad{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_au{
    background-image:url('../images/reg/arrowup.gif');
}
a.title_ad:visited{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_au:visited{
    background-image:url('../images/reg/arrowup.gif');
}