/*
 * Original Author: Cormac McSwiney
 * For Qpercom Ltd
 * Date: 20/07/2015
 * © 2015 Qpercom Limited.  All rights reserved.
 */


/* Menu-matic */
#nav a {
    /* Colour of headings text */
    color:#000000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus {
    background-color:#99cc99;
    color:#000000;
}

/* sub menu links on hover or focus */
#nav li a:hover, #nav li a:focus{
    background-color:#99cc99 !important; 		/* Colour of hovered heading*/
    color:#000000;					/* Colour of hovered heading text*/
}

/* All submenu OLs and ULs */
#nav ol, #nav ul {
    /*border around submenu goes here*/
    border:1px solid #99cc99;		/*Colour of submenu border*/
}


/*Login*/
.loggedintable-wrap {
    display: inline-block;
    text-align: initial;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }
  
  .loggedintable-container {
    text-align: center;
  }
#logintable {						/*Image and background Colour*/
    background: #fff;
    /* border: 3px solid var(--primary-opacity-4-main)!important; */
}

.logologin { 						/*Key image*/
    background: url('../images/reg/lp.gif') 50% 50% no-repeat !important;
} 

#loggedintable .clihead {
    color: #000000;       			/*Currently logged in login table text colour*/
}

/*#########################################################*/

#loginother a.sec1 {
    color:#000000;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother a.sec2 {
    color:#000000;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

#loginother a.sec3 {
    color:#000000;					/*Colour of login text (open id?)*/
    font-style: italic;
}

#loginother {						/*Image and background Colour*/
    background: #ace3c3;
}

#loginother2 {						/*Image and background Colour*/
    background: #ace3c3;
}

#loginother2 a.sec1 {
    color:#000000;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother2 a.sec2 {
    color:#000000;					/*Colour of login text (visitors?)*/
    font-style: italic;
}
/*#########################################################*/

img#mainlogo {
    float: right;
    margin-right: 4px;
    margin-top: -4px;
}

/*#########################################################*/



/*Basic*/
/*#########################################################*/

div.obasediv {					/*Image and background Colour bottom*/
    background: #b4e7c8 url('../images/reg/topbotbar.png') repeat-x 0% 0%;
    border-right: 1px solid #99cc99;
}

div.ibasediv {
    border-top: 1px solid #99cc99;
}

th.topinfoth {					/*upper-right corner text omis*/
    background: #b4e7c8 url('../images/reg/infobg.png') repeat-x 0% 0%;
    color: #000000;
}

table.topinfo td {					/*upper-right corner text Id*/
    color:#000000;
    background-color:#FFFFFF;
}

.version-colour {				/*upper-right corner text school and version*/
    /* color:#424242; */
  color: #e50000;
}

a.title_ad:hover{
    background-image:url('../images/reg/arrowup.gif');
}
a.title_au:hover{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_ad{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_au{
    background-image:url('../images/reg/arrowup.gif');
}
a.title_ad:visited{
    background-image:url('../images/reg/arrowdown.gif');
}
a.title_au:visited{
    background-image:url('../images/reg/arrowup.gif');
}
