
/*Menu-matic*/
/*#########################################################*/

#nav a {
    color:#FFFFFF;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus, #nav {
    background-color:#ff6600;
    color:#000000;
}

/* sub menu links on hover or focus */
#nav li a:hover, #nav li a:focus{
    background-color:#ff7e28 !important;
    color:#FFFFFF;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul {
    border:1px solid #ff6600;
}

/*Login*/

.loggedintable-wrap {
    /*Image and background Colour*/
    background: #003399 url('../images/nus/login1.png') 0px 6px repeat;
}
.loggedintable-wrap {
    display: inline-block;
    text-align: initial;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #6c757d;
  }
  
  .loggedintable-container {
    text-align: center;
  }
#logintable {
    /*Image and background Colour*/
    background: #fff;
    /* border: 3px solid #003399 !important; */
    color: #FFFFFF
}

.logologin {
    /*Key image*/
    background: url('../images/nus/lock.png') 72% 50% no-repeat !important;
}

#loggedintable .clihead {
    color: #FFFFFF;       			/*Currently logged in login table text colour*/
}

/*#########################################################*/

#loginother a.sec1 {
    color:#FFFFFF;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother a.sec2 {
    color:#FFFFFF;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

#loginother a.sec3 {
    color:#FFFFFF;					/*Colour of login text (open id?)*/
    font-style: italic;
}
#loginother {						/*Image and background Colour*/
    background: #003399; 
}

#loginother2 {						/*Image and background Colour*/
    background: #003399; 
}

#loginother2 a.sec1 {
    color:#FFFFFF;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother2 a.sec2 {
    color:#FFFFFF;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

img#col_logo {
    float: left;
    padding-right: 10px;
    margin-top: 0%;
    margin-left: 1.5%;
    z-index: 1;
}

#loginform {
    float: left;
    margin-top: 5%;
    margin-left: 30%;
}

img#mainlogo {
    float: right;
    margin-right: 4px;
    margin-top: -4px;
}
/*#########################################################*/

/*Basic*/

div.copywrite {					/*Copywrite text color*/
    color: #FFFFFF;
}

/*#########################################################*/

div.topimagediv {					/*Image and background Colour top*/
    background: #003399 url('../images/nus/topbar2.png') 0% 0% repeat-x;
    height:54px;
    z-index: 0;
}

div.innerimgdiv {
    border-bottom: 1px solid #FF6600;
    border-right: 1px solid #FF6600;
    height:46px;
}

/*#########################################################*/

div.obasediv {					/*Image and background Colour bottom*/
    background: #003399 url('../images/nus/topbotbar.png') repeat-x 0% 0%;
    border-right: 0px;
}

div.ibasediv {
    border-top: 0px;
}

th.topinfoth {
    /*upper-right corner text omis*/
    background: #003399 url('../images/nus/infobg.png') repeat-x 0% 0%;
    color:#FFFFFF;
}

table.topinfo td {
    /*upper-right corner text Id*/
    color:#000000;
    background-color:#FFFFFF;
}

.version-colour {
    /*upper-right corner text school and version*/
    color:#FF6600;
}

a.title_ad:hover{
    background-image:url('../images/nus/arrowup.gif');
}
a.title_au:hover{
    background-image:url('../images/nus/arrowdown.gif');
}
a.title_ad{
    background-image:url('../images/nus/arrowdown.gif');
}
a.title_au{
    background-image:url('../images/nus/arrowup.gif');
}
a.title_ad:visited{
    background-image:url('../images/nus/arrowdown.gif');
}
a.title_au:visited{
    background-image:url('../images/nus/arrowup.gif');
}

/* Custom Styling for Breadcrumbs
Brendan Devane 26 August 2013 */
div.breadcrumbs{
    background-color:#003399;
    border-color:#FF6600;
    border:0!important;
}
#breadcrumbs li {
    color:#FFFFFF;
}
#breadcrumbs li a {
    background:transparent url('../images/nus/arrow_right.gif') no-repeat right center;
}
#breadcrumbs li a:link, #breadcrumbs li a:visited {
    text-decoration:none; color:#FFFFFF;
}
#breadcrumbs li a:hover, #breadcrumbs li a:focus {
    text-decoration:underline; color:#FFFFFF;
}

div#privacy-terms a {
    color: #fff;
}

tr.datarowsel td {
    background-color: #fff8e4 !important;
}

tr.datarowsel th {
    background-color: #fff8e4 !important;
}

tr.addrow td {
    background-color: #fff8e4 !important;
}

tr.editrw td {
    background-color: #fff8e4 !important;
}

tr.row-highlight td {
    background-color: #fff8e4 !important;
}
