
/*Menu-matic*/
/*#########################################################*/

#nav a  {
    color:#eeeeee;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus {
    background-color:#003399;
    color:#000000;
}

/* sub menu links on hover or focus */
#nav li a:hover, #nav li a:focus{
    background-color:#ff7e28 !important;
    color:#FFFFFF;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul {
    /*border around submenu goes here*/
    border: 1px solid #ff7e28;
}

/*Login*/

.loggedintable-wrap {						/*Image and background Colour*/
    background: #ff6600 url('../images/nus_training/login1.png') 0px 6px repeat;
}
.loggedintable-wrap {
    display: inline-block;
    text-align: initial;
    position: relative;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #6c757d;
  }
  
  .loggedintable-container {
    text-align: center;
  }
#logintable {						/*Image and background Colour*/
    background: #fff;
    /* border: 3px solid #ff6600 !important; */
    color: #eeeeee;
}

.logologin { 						/*Key image*/
    background: none !important;

} 

#loggedintable .clihead {
    color: #eeeeee;       			/*Currently logged in login table text colour*/
}

/*#########################################################*/

#loginother a.sec1 {
    color:#eeeeee;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother a.sec2 {
    color:#eeeeee;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

#loginother a.sec3 {
    color:#eeeeee;					/*Colour of login text (open id?)*/
    font-style: italic;
}

#loginother {						/*Image and background Colour*/
    background: #ff6600; 
}

#loginother2 {						/*Image and background Colour*/
    background: #ff6600; 
}

#loginother2 a.sec1 {
    color:#eeeeee;					/*Colour of login text (forgot password?)*/
    font-style: italic;
}

#loginother2 a.sec2 {
    color:#eeeeee;					/*Colour of login text (visitors?)*/
    font-style: italic;
}

img#col_logo {
    float: left;
    padding-right: 10px;
    margin-top: 0%;
    margin-left: 1.5%;
    z-index: 1;
}

#loginform {
    float: left;
    margin-top: 5%;
    margin-left: 30%;
}

img#mainlogo {
    float: right;
    margin-right: 4px;
    margin-top: -4px;
}
/*#########################################################*/


/*Basic*/

/*#########################################################*/

div.obasediv {					/*Image and background Colour bottom*/
    background: #ff6600 url('../images/nus_training/topbotbar.png') repeat-x 0% 0%;
    border-right: 0px !important;
}

div.ibasediv {
    border-top: 0px !important;
}

th.topinfoth {					/*upper-right corner text omis*/
    background: #ff6600 url('../images/nus_training/infobg.png') repeat-x 0% 0%;
    color:#eeeeee;
}

table.topinfo {
   border: 0px !important;
   margin-right: 4px;
}

table.topinfo td {					/*upper-right corner text Id*/
   color:#000000;
   background-color:#eeeeee;
   padding: 2px !important;
}

th.topinfoth {
   border-bottom: 0px !important;
}

.version-colour {				/*upper-right corner text school and version*/
    color:#ff6600;
}

a.title_ad:hover{
    background-image:url('../images/nus_training/arrowup.gif');
}
a.title_au:hover{
    background-image:url('../images/nus_training/arrowdown.gif');
}
a.title_ad{
    background-image:url('../images/nus_training/arrowdown.gif');
}
a.title_au{
    background-image:url('../images/nus_training/arrowup.gif');
}
a.title_ad:visited{
    background-image:url('../images/nus_training/arrowdown.gif');
}
a.title_au:visited{
    background-image:url('../images/nus_training/arrowup.gif');
}

#logodet {
   display:none;
}

