/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2017, Qpercom Limited
 * @Manage Swap Section
 */

fieldset.outerfs {
  float: left;
  clear: both;
  width: 530px;
  margin-bottom: 20px;
}

fieldset.swapaction-fs {
  background-color: #e8e8e8;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  width: 490px;
  box-shadow: 0 6px 6px -6px #777;
}

fieldset.swapout-fs {
  background-color: #f5f5dc;
}

fieldset.swapin-fs {
  background-color: #ffe4b2;
}

fieldset.swapin-fs {
  background-color: #ffe4b2;
}

div#password-swap-div {
  float: left;
}

ul.swapul {
    margin-top:0px;
    margin-right:0px;
    margin-bottom: 12px;
    margin-left:-3px;
    padding: 10px;
    height: auto;
    background-color:#FFF;
    border: 1px solid #BDBDBD;
    list-style-type: none;
}

ul.swapul li {
    padding: 4px 4px 28px 4px;
    font-weight: bold;
}

ul.swapul li.lisplit {
    margin-bottom: 14px;
}

ul.swapul label {
    width: 150px;
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 12px;
}

ul.swapul select {
    float: left;
    width: calc(100% - 150px);
    vertical-align: middle;
}

ul.swapul input[type="checkbox"] {
    float: left;
    margin-left: 0px;
    vertical-align: middle;
}

ul.swapul span {
    font-weight: normal;
}

div.bottomdv {
    background-color:#f7f7f7;
    padding: 8px;
    text-align: right;
    border: 1px solid #909090;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;    
    width: 530px;
    clear: both;
    float: left;
}

img.flash-icon {
    position: relative !important;
    top: 3px !important;
}

div#flash-messages {
   padding: 6px !important;
   margin-left: -1px;
   margin-bottom: 14px;
}

div#flash-messages div {
   margin-left: 20px;
   margin-top: -11px;
   width: 529px !important;
}

/* Swap result tables */
table#swapped-out-table {
  float: left;
  background-color: #fff;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 8px;
}

table#swapped-out-table th {
  padding: 2px;
  background-color: #ffcc66;
}

table#swapped-out-table td {
  font-weight: normal;
}

table#swapped-out-table caption {
  font-size: 11px;
  text-align: left;
  padding-left: 0px;
}

table#swapped-in-table {
  float: left;
  background-color: #fff;
  clear: right;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 8px;
}

table#swapped-in-table th {
  padding: 2px;
  background-color: #70dc70;
}

table#swapped-in-table td {
  font-weight: normal;
}

table#swapped-in-table caption {
  font-size: 11px;
  text-align: left;
  padding-left: 0px;
}

