/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2019, Qpercom Limited
 */

html {
    background-color: #eee !important;
    margin-bottom: 0px !important;
}

.contentdiv {
    margin-bottom: 0px !important;
}

div.temp-container {
    background-color:#e8e8e8;
    width: 836px;
    min-height: 712px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 8px;
    float: left;
    clear: both;
}

div.temp-title {
    width: 129px;
    float: left;
    clear: left;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 8px 0px 5px 0px;
    font-weight: bold;
    font-size: .875rem;
    vertical-align: middle;
    min-height: 20px;
}

div.temp-field {
    width: 530px;
    float: left;
    clear: right;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: left;
    padding: 6px 6px 6px 0px;
    min-height: 20px;
}

div.subject-field {
    height: none !important;
    padding-top: 3px !important;
}

div.hello-div {
    margin-bottom: 2px;
}

div.rich-content-container {
    width: 798px;
    float: left;
    clear: both;
}

div#temp-base {
    width: 794px;
    float: left;
    clear: both;
    text-align: right;
    padding: 4px;
    margin-bottom: 30px;
    margin-top: 10px;
}

div.grooved-content-div {
    width: 800px;
    height: 230px;
    border-top: 2px solid #ced4da;
    border-left: 2px solid #ced4da;
    border-right: 2px solid #ced4da;
    border-bottom: 2px solid #ced4da;
    padding: 4px;
    font-size: 0.845rem;
    overflow: scroll;
}

input#subject {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}

input#hello {
    margin-top: 0px;
    margin-bottom: 0px;
}

input#ph-subject {
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}

input#ph-hello {
    color: red;
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}

input#temp-cancel {
    margin-top: 0px;
    margin-bottom: 0px;
}

input#temp-update {
    margin-top: 0px;
    margin-bottom: 0px;
}

.read-only {
    background-color: #E8E8E8 !important;
}

div#instructions-state {
    background-color: #fff;
     margin-bottom: 10px;
     margin-top: 10px;
}

/* Change Color of band around tinymce editor */
.defaultSkin table.mceLayout tr.mceFirst td { background-color: #C0C0C0 !important; }
