/* Original Author: David Cunningham
 * For Qpercom Ltd
 * Date: 09/09/2015
 * Custom styles for the tinymce (rich text editor) plugin
 * © 2015 Qpercom Limited.  All rights reserved.
 */

/* Toolbar buttons */
div.mce-toolbar-grp button {
  padding: 5px !important;
}

/* Bottom div */
div.mce-statusbar div.mce-container-body {
  height: 20px !important;
	uneditable: true;
}