/* Original Author: David Cunningham
 * For Qpercom Ltd
 * Date: 17/11/2015
 * Custom styles for the content of tinymce (rich text editor) plugin
 * © 2015 Qpercom Limited.  All rights reserved.
 */

/* Custom bullet list - dash */
 ul.bulletlist-hyphen {
      list-style: none !important;
 }

 ul.bulletlist-hyphen li:before {
      content: "- " !important;
      font-weight: bold;
 }