/**
 * @author David Cunningham <david.cunningham@qpercom.ie>
 * For Qpercom Ltd
 * @copyright Copyright (c) 2019, Qpercom Limited
 * @Manage Tools Section
 */

body.dialog-open {
    overflow: hidden;
}

/* Admin Tool */
ul.innerul {
    margin-left:-3px;
    margin-bottom:16px;
    margin-top:0px;
    margin-right:0px;
    padding: 6px;
    height: 200px;
    background-color:#FFF;
    border: 1px solid #BDBDBD;
    list-style-type: none;
}

ul.innerul a {
    font-weight: bold;
}

ul.innerul li {
    padding: 2px;
}

/*Student Feedback Section */
table#feedback {
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 0px !important;
    margin-top: 20px;
    min-width: 940px;
    float: left;
    clear: right;
    font-size: 12px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 100px;
}

caption#feedback-caption {
    vertical-align: middle;
    text-align: right;
    padding: 7px 15px 4px 6px;
}

div#feedback-warning {
  padding: 6px;
  margin: 2px 2px 10px 2px;
  float: left;
  margin-left: 120px;
  clear: both;
  background-color: #ffffff;
  border: 1px solid #ff0000;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
   display: none;
}

td.status-ready {
    text-align: center;
    font-weight: bold;
    color: #00CC00;
    border-right: 0px;
}

td.status-failed {
    text-align: center;
    font-weight: bold;
    color: #FF0000;
    border-right: 0px;
}

td.status-sent {
    text-align: center;
    font-weight: bold;
    color: #00CC00;
    border-right: 0px;
}

td.pdf-preview {
   text-align: center;  
}

optgroup.school-label {
  color: #000000;
}

optgroup.department-label {
  color: #000000;
  font-size: 11px !important;
}

optgroup.department-label option {
  color: #424242 !important;
  font-size: 13px !important;
}

table#feedback th {
    border-bottom: 1px solid #BDBDBD;
    background-color: #f7f7f7;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap;
}

table#feedback td {
    border-bottom: 1px solid #BDBDBD !important;
}

ul.feedback-suboptions {
    margin-left: -22px !important;
    margin-top:0px;
    margin-right:0px;
    list-style-type: none;
}

th#left-corner {
    border-radius: 5px 0px 0px 0px;
}

th#right-corner {
    border-radius: 0px 5px 0px 0px;
}


td.left-cells {
    background-color: #f7f7f7 !important;
    vertical-align: middle;
    text-align: center;
    display: none;
}

img.deletelink {
  cursor: pointer;
  width: 11px;
  height: 11px;
}

td.time-created-cell, td.time-sent-cell {
    text-align: center;
    padding-left: 8px; 
    padding-right: 8px;
}

td#gen-status {
    border-bottom: 0px;
    border-right: 0px;
    padding: 8px;
    height: 400px;
    text-align: center;
    vertical-align: top;
    background-color: #fdfdfd;
}

tr#status-row td {
    border-bottom: 0px;
    border-right: 0px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    color: #ff0000;
}

ul#student-list {
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 4px;
    list-style-type: none;
    min-height: 140px;
    min-width: 180px;
    font-size: 12px;
    height: 160px;
    width: 380px;
    float: left;
    clear: right;
    overflow: auto;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul#student-list li.student {
    padding: 1px 2px 1px 2px !important;
    margin-left: 0px;
}

li.session-name {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    border-top: 1px solid #e0e0e0;
    padding: 1px 2px 1px 4px !important;
    margin-left: -3px;
    margin-right: -3px;
}

li.group-name {
    color: #000000;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 1px 2px 1px 9px !important;
    margin-left: -3px;
    margin-right: -3px;
}

ul#student-list input {
    vertical-align: middle;
}

ul#student-list label {
    vertical-align: middle;
    padding-left: 2px;
}


ul#station-list {
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right:0px;
    padding: 4px;
    list-style-type: none;
    min-height: 140px;
    min-width: 180px;
    font-size: 12px;
    height: 160px;
    width: 240px;
    float: left;
    overflow: auto;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul#station-list li {
    padding: 1px 2px 1px 2px !important;
    margin-left: 0px;
}

ul#station-list input {
    vertical-align: middle;
}

ul#station-list label {
    vertical-align: middle;
    padding-left: 2px;
}

img#generating-img {
    margin-right: 6px;
}

span#generating-span {
    vertical-align: top;
    font-size: 15px !important;
    font-style: italic;
}

input#feedback-button {
    float: right;
    clear: right;
    margin-top: -24px;
    margin-bottom: 1rem;
}

input#notes-title {
    margin-left: 21px;
}

#feedback-opts #notes-title {
    margin-left: 16px;
    margin-top: .25rem;
    margin-bottom: 1.5rem;
}

input#edit-template-button {
    float: right;
    margin-left: 6px;
}

input#clone-template-button {
    float: right;
    margin-left: 4px;
}

select#template {
    float: left;
}

div#feedback-desc {
    float: left;
    clear: both;
    margin-bottom: 14px;
    margin-top: 0px;
}

div#feedback-opts {
    float: left;
    clear: both;
    padding-right: 10px;
}

#feedback-opts [type="checkbox"] {
    margin-right: .25rem;
}

div.fb-title {
    float: left;
    clear: left;
    width: 140px;
    font-weight: bold;
    margin-bottom: 4px;
}

div.fb-opt {
    float: left;
    clear: right;
    margin-bottom: 6px;
}

div.fb-title2 {
    float: left;
    clear: left;
    width: 140px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 1px;
}

div.fb-opt2 {
    float: left;
    clear: right;
    width: 490px;
    margin-top: 4px;
    margin-left: -2px;
}

div.fb-opt2 input {
    vertical-align: middle;
}

div.fb-opt2 label {
    vertical-align: middle;
    margin-left: 1px;
    font-size: 12px;
}


div.container-left {
    float: left;
    clear: left;
    width: 220px;
    margin-bottom: 18px;
}

div.container-right {
    float: right;
    clear: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 260px;
}

/* Login Attempt Section */
#attempts-table {
    margin-top: 14px;
    float: left;
    clear: both;
}

/* IFrame Moo Dialog Popup Edit Template */
.templateDialog {
    height: 762px !important;
    width: 900px !important;
}

.templateDialog iframe {
    height: 706px;
    width: 852px;   
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    border: 0 !important;
}

.templateDialog .ui-dialog-title {
    font-size: 0.9rem;
    padding: 0;
}

.templateDialog .ui-dialog-titlebar {
   padding-top: .2em;
   padding-bottom: .2em;  
}

.templateDialog .ui-dialog-content {
    background: #e8e8e8 repeat-x!important;
}

/* Global Rating Scales Section */
div#add-div {
  margin-left: 28px;
  float: right;
}

/* Log file selector div */
div#log-file-selector {
   margin-bottom: 18px;
}

div#log-file-selector label {
   font-weight: bold;
   font-size: 13px;
}

div#log-file-selector select {
   font-size: 14px;
}

td#no-log-records {
  border-bottom: 0px;
  border-right: 0px;
  padding-left: 180px;
  padding-right: 180px;
}


.important-highlighted-top {
    background-color: #ffff99;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    padding-left: 5px;
    padding-top: 2px;
    margin-left: -5px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
}

.important-highlighted-bottom {
    background-color: #ffff99;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    padding-left: 5px;
    padding-bottom: 2px;
    margin-left: -5px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}