/* For jquery.treemenu.js */
.treemenu li {
	list-style: none;
}

.treemenu .toggler {
	cursor: pointer;
}

.treemenu .toggler:before {
	display: inline-block;
	margin-right: 2pt;
}

li.tree-empty > .toggler {
	opacity: 0.3;
	cursor: default;
}

li.tree-empty > .toggler:before {
	content: "\2212";
}

li.tree-closed > .toggler:before {
	content: "+";
}

li.tree-opened > .toggler:before {
	content: "\2212";
}

.tree-empty > .toggler {
	display: none !important;
}

.treemenu .toggler {
	margin-left: 4px;
	background: #f7f7f7;
	vertical-align: middle;
	text-align: right;
	width: 10px;
	height: 12px;
	padding: 0;
	border-radius: 2px;
	user-select: none;
}

.treemenu .toggler:before {
	text-align: right;
	width: 10px;
	font-size: 12px;
}
