{# Description: Manage Features section template #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% set feature_count = features_roles|length %}

<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Manage System Features
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      In this section you can enable or disable features by <br/>
    ticking which user roles can access them
    </div>   
  </div> 
</div> 

  <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
<form name="features_form" method="post" action="features/features_redirect.php">
  <div id="filter-div" class="mb-4">
 <label for="feature-groups-select">Filter</label>
 <select id="feature-groups-select" name="filter_group" class="custom-select custom-select-sm w-auto">
  {% for group in feature_groups %}
    {% set group_id = group['feature_group_id'] %} 
    {% set selected = (group_id == filter_group)? ' selected="selected"' : '' %}
    <option value="{{ group['feature_group_id'] }}"{{ selected|raw }}>{{ group['feature_group_name']|raw }}</option>
  {% endfor %}  
 </select>
 </div>

<div class="card d-inline-block align-top mr-2 mb-4 outerfs" id="features-fieldset">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/Enable_DisableFeatures.svg" class="card-title-icon">
        <span class="card-title-text">
          Enable or Disable Features per User Role
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
<div class="innerdv">
{% if feature_count > 0 %}
<dl id="features-dl">
{% for feature_id, feature in features_roles %}
  
  <dt class="group-{{ feature['feature_group_id'] }} hide"><label class="features-title">{{ feature['feature_description']|raw }}</label></dt>

  {% for role_id, role in feature['roles'] %}
    {# Set some variables we'll be using to populate
       the checkboxes #}
    {% set checkboxID = "roles-" ~  loop.parent.loop.index0 ~ "-" ~ loop.index0 %}
    {% set checkboxName = "features[" ~ feature_id ~ "][]" %}
    {% set selected = role['enabled'] ? ' checked="checked"' : '' %}
  
    <dd class="group-{{ feature['feature_group_id'] }} hide">
    <input type="checkbox" id="{{ checkboxID }}" name="{{ checkboxName|raw }}" value="{{ role_id }}"{{ selected|raw }}/>
    <label for="{{ checkboxID }}">{{ role['name']|raw }}</label>
    </dd>
  {% endfor %}
   
{% endfor %}
</dl>
{% else %}    
 <div class="nonedv">No features found</div>    
{% endif %}
</div>
<div class="bottomdv text-right">
<input class="btn btn-outline-default" type="submit" value="{{ button_text }}" name="update_features" id="update-features" disabled="disabled"/>
</div>
    </div>   
  </div> 
</div> 

</form>
</div>
