{# Row (actually, two rows, each record is two rows "tall")
   from Update Examinees table containing an examinee (i.e. student)'s details #}
{% set colspan = candidate_number_feature ? 9 : 8 %}
<tr class="editrw2">
<td class="checkb2">
 <input type="{{ action == 'add' ? 'checkbox' : 'hidden' }}" class="ecb" value="{{ examinee_id }}" />
{% if action == 'update' %}
  &nbsp;&nbsp;&nbsp;
{% endif %}
</td>
{% spaceless %}
<td class="thumbnail">
  <a href="{{examinee_record.image.large}}" data-lightbox="image-{{ examinee_id }}" title="Student {{ examinee_id }}">
   <img id="thumbnail:{{ examinee_id }}" src="{{ examinee_record.image.thumbnail }}"/>
  </a>
</td>
{% endspaceless %}

<td>
 <input type="text" class="examinee-id tf4 form-control form-control-sm" name="examinee[{{ examinee_id }}][id]" value="{{ examinee_record.student_id|raw }}"/>
</td>

{% if candidate_number_feature == true %}
  <td>
    <input type="text" class="candidate-number tf4 form-control form-control-sm" name="examinee[{{ examinee_id }}][candidate]" value="{{ examinee_record.candidate_number|raw }}"/>
  </td>
{% endif %}

<td>
 <input type="text" class="examinee-surname tf3 form-control form-control-sm" name="examinee[{{ examinee_id }}][surname]" value="{{ examinee_record.surname|raw }}"/>
</td>
<td>
 <input type="text" class="examinee-forenames tf4 form-control form-control-sm" name="examinee[{{ examinee_id }}][forenames]" value="{{ examinee_record.forename|raw }}"/>
</td>
<td>
<div class="datefields">
{% for element in ['day', 'month', 'year'] %}
  {% set maxlen = (element == 'year') ? '4' : '2' %}
  <input class="{{ element }} form-control form-control-sm d-inline-block" name="examinee[{{ examinee_id }}][{{ element }}]" type="text" title="{{ element }}" placeholder="{{ element }}" maxlength="{{ maxlen }}" value="{{ examinee_dob[loop.revindex0] }}"/>
  {% if not loop.last %}
    <input class="spacer form-control form-control-sm" value="/" type="text" disabled="disabled"/>
  {% endif %}
{% endfor %}
</div>
</td>
<td class="c">
 <select class="examinee-gender custom-select custom-select-sm w-auto" name="examinee[{{ examinee_id }}][gender]">
 {% for gender in ['', 'F', 'M'] %}
   {% set genderSelected = (examinee_record.gender == gender) ? ' selected="selected"' : '' %}
   <option value="{{ gender }}"{{ genderSelected|raw }}>
     {{ gender }}
   </option>
 {% endfor %}
 </select>
</td>
<td class="c">
 <select class="examinee-nationality custom-select custom-select-sm w-auto" name="examinee[{{ examinee_id }}][nationality]">
  <option value="" title="Unknown"></option>
{% for country in countries %}
  {% set countrySelected = (examinee_record.nationality == country.iso) ? ' selected="selected"' : '' %}
  <option value="{{ country.iso }}"{{ countrySelected|raw }} title="{{ country.iso_name|raw }}">{{ country.iso|raw }}</option>
{% endfor %}
 </select>
</td>
<td class="nbr">
  <input type="text" class="examinee-email form-control form-control-sm" name="examinee[{{ examinee_id }}][email]" value="{{examinee_record.email|raw }}"/>
</td>
</tr>
<tr class="modulerw" id="rw-{{ index }}">
<td class="row-number">{% autoescape false %}{{ action == 'add' ? index : '&nbsp;'|raw }}{% endautoescape %}</td>
<td class="moduletd" colspan="{{ colspan }}">
<ul class="years-selection">
<li class="each-title">{{ 'Term'|trans }} {{ selected_term|raw }}</li>
<li>
 <ul class="years-list">
 {% for course_year in course_years %}
   {% set year_cb_id = "yearcb" ~ index ~ loop.index %}
   <li>
   {% spaceless %}
   {% set yearchecked = (course_year.year_id in examinee_years) ? ' checked="checked"' : '' %}
   <input type="checkbox" class="year-check" id="{{ year_cb_id }}" value="{{ course_year.year_id }}"{{ yearchecked|raw }}/>
   <label for="{{ year_cb_id }}">
    {{ 'Course Year'|trans }} {{ course_year.year_name|raw }}
   </label>
   {% endspaceless %}
   </li>
 {% endfor %}
 </ul>
</li>
<li class="li-buffer"></li>
</ul>
<ul class="modules-ul">
{% if examinee_years|length > 0 %}
{% for year_id, modules in course_modules %}
  {% if year_id in examinee_years %}
   {% set year_index = loop.index %}
    <li class="each-title">{{ 'Course Year'|trans }} {{ modules[0].year_name }}</li>
    {% for module in modules %}
      {% set module_cb_id = "modulecb" ~ index ~ year_index ~ loop.index %}
      {% set modulechecked = (module.module_id in examinee_modules) ? ' checked="checked"' : '' %}
      <li class="mod-element">
      {% spaceless %}
         <input type="checkbox" name="examinee[{{ examinee_id }}][course_data][{{ year_id }}][]" value="{{ module.module_id }}" id="{{ module_cb_id }}"{{ modulechecked|raw }}/>
      {% endspaceless %}
      <label for="{{ module_cb_id }}">
       {{ module.module_name|raw }} [<span class="boldgreen">{{ module.module_id|raw }}</span>]
      </label>
     </li>
 {% endfor %}
 {% endif %}
{% endfor %}
{% else %}
    <p>No {{ 'course years'|trans }} selected. Please select one or more {{ 'course years'|trans }} from one or more {{ 'years'|trans }}.</p>
{% endif %}
  <li class="li-buffer"></li>
</ul>
<br class="clearv2"/>
</td>
</tr>
