{#Bottom row of Update Students page (update_examinees.php),
   complete with lots of hidden parameters #}
<tr id="base-tr">
    
 {% set colspan = candidate_number_feature ? 10 : 9 %}
 <td colspan="{{ colspan }}" class="base-button-options" id="base-button-td">
{% if action == "add" %}
   <div id="go-action-div">
    {% spaceless %}
     
     <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
       <option value="delete">remove</option>
     </select>
     <input type="button" value="go" class="btn btn-outline-default btn-sm" id="go-update" disabled="disabled"/>
    {% endspaceless %}
   </div>
{% endif %}
   <div id="submit-action-div">
     <input class="btn btn-danger btn-sm" type="button" id="return" value="cancel"/>&nbsp;
     <input class="btn btn-success btn-sm" type="submit" name="submit_examinees" value="{{button_label}}"/>
     <input type="hidden" id="course" name="course" value="{{course}}"/>
     <input type="hidden" id="year" name="year" value="{{year}}"/>
     <input type="hidden" id="module" name="module" value="{{module}}"/>
     <input type="hidden" id="pagenr" name="pagenr" value="{{pagenr}}"/>
     <input type="hidden" id="search" name="search" value="{{search_string}}"/>
     <input type="hidden" id="order-index" name="order_index" value="{{order_index}}"/>
     <input type="hidden" id="order-type" name="order_type" value="{{order_type}}"/>
     <input type="hidden" id="action" name="action" value="{{action}}"/>
   </div>
   <br class="clearv2"/>
 </td>
 
</tr>