{# Description: Twig template for manage_examinees.php #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}

{% import "helpers.twig" as helpers %}
{% set rowCount = 0 %}
{% set columnCount = columnHeaderTitles|length %}
{% set totalColumnCount = columnCount + 5 %}
{% set examineeCount = examinees|length %}

<form name="examinees_form" id="examinees-form" method="post" 
      action="examinees/examinees_redirect.php" onsubmit="return(ValidateForm(this));">
<div class="topmain">
<div class="card d-inline-block align-top mb-2 mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Manage {{ 'students'|trans|title }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <table class="selections">
  
  <tr>
  <th>Select {{ 'year'|trans|title }}</th>
  <td>
   <select id="term" class="custom-select custom-select-sm w-auto">
   <option value="" class="black">--</option>
  
   {# Render options for the drop-down #}
   {% for term in terms %}
     {% set selectedAttr = (selectedTerm == term["term_id"]) ? ' selected="selected"' : '' %}
     <option value="{{ term["term_id"] }}" title="{{ term["term_desc"]|raw }}"{{ selectedAttr|raw }}>
      {{ term["term_id"]|raw }}
     </option>
   {% endfor %}
   
   </select>
 </td>
 <td></td>
 </tr>
 
 <tr>
 <th>Select {{'Course'|trans }}</th>
 <td id="crs_td">
  <input type="hidden" id="order-index" name="order_index" value="{{ orderIndex }}"/>
  <input type="hidden" id="order-type" name="order_type" value="{{ orderType }}"/>
  <select id="course" name="course" class="custom-select custom-select-sm w-auto">
  <option value="" class="black">--</option>
  {# Render options for the drop-down #}
  
  {% if coupleDeptsCourses %}
 
    {% for school, list in courses %}
      <optgroup label="{{ school|raw }}"> 
      {% for course in list %}  
        {% set courseID = course["course_id"] %}
        {% set courseInfo = course["course_name"] ~ " [" ~ course["course_id"] ~ "]" %}
        {% set selectedAttr = (canShowList and courseID == selectedCourse) ? ' selected="selected"' : '' %}
        <option value="{{ courseID }}" class="black" title="{{ courseInfo|raw }}"{{ selectedAttr|raw }}>
          {{ courseInfo|raw }}
        </option>
      {% endfor %}
      </optgroup>
       
   {% endfor %}
      
  {% else %}
      
    {% for course in courses %}
     {% set courseID = course["course_id"] %}
     {% set courseInfo = course["course_name"] ~ " [" ~ course["course_id"] ~ "]" %}
     {% set selectedAttr = (canShowList and courseID == selectedCourse) ? ' selected="selected"' : '' %}
     <option value="{{ courseID }}" class="black" title="{{ courseInfo|raw }}"{{ selectedAttr|raw }}>
       {{ courseInfo|raw }}
     </option>
   {% endfor %}
  
  {% endif %} 
       
  </select>
 </td>
 <td></td>
 </tr>
 
 <tr>
 <th>Select {{'Course Year'|trans }}</th>
 <td>
 <select id="year" name="year" class="custom-select custom-select-sm w-auto">
 {% if canShowList == true %}
    <option value="" class="black">ALL</option>
    
    {# Render options for the drop-down #}
    {% for eachYear in years %}
       {% set yearID = eachYear["year_id"] %}
       {% set selectedAttr = (yearID == selectedYear) ? ' selected="selected"' : '' %}
       {% set yearValue = eachYear["year_name"] %}
       <option value="{{ yearID }}"{{ selectedAttr|raw }}>
         {{ yearValue|raw }}
       </option>
    {% endfor %}
 {% endif %}
 </select>
 </td>
 <td></td>
</tr>
 
 <tr>
 <th>Select {{ 'Course Module'|trans }}</th>
 <td>
 <select id="module" name="module" class="custom-select custom-select-sm w-auto">
 {% if canShowList == true %}
 <option value="" class="black">ALL</option>

  {# Render options for the drop-down #}
   {% for module in modules %}
     {% set moduleID = module["module_id"] %}
     {% set moduleName = module["module_name"] %}
     {% set selectedAttr = (moduleID == selectedModule) ? ' selected="selected"' : '' %}
    <option value="{{ moduleID }}" title="{{ moduleName|raw }}"{{ selectedAttr|raw }}>
      {{ moduleName|raw }} [{{ moduleID|raw }}]
    </option>
   {% endfor %}
   
 {% endif %}
  </select>
  </td>
  <td></td>
  </tr>
  
  <tr>
  <th class="help" title="Search By Identifier, Surname or Forenames">Search Parameter (optional)</th>
  <td>
   <input class="form-control form-control-sm w-auto" type="text" id="search" name="search" value="{{ searchString|raw }}"/>
  </td>
  <td colspan="2">
   {% set disabledAttr = (canShowList == false) ? ' disabled="disabled"' : '' %}
   {% if total_count > 0 %}
     <input class="btn btn-info btn-sm mr-1" type="button" id="print-list" value="print list"/>
   {% endif %}
   <input type="button" id="list-examinees" class="btn btn-outline-default btn-sm" value="view list"{{ disabledAttr|raw }}/>
  </td>
  </tr>
</table>
    </div>   
  </div> 
</div> 
<br class="clearv2"/>
</div>
    
<div class="contentdiv">
 <input type="hidden" id="column-count" value="{{ totalColumnCount }}"/>
<table id="examinee_table" class="table-border">
<caption id="examinees-caption">

{# Paginator template #}
{% if total_count > 0 %}
  {% include "paginator.html.twig" %}
{% endif %}

{# Disabled attributes for the following fields #}
{% set disabledAttr = (canShowList == false) ? ' disabled="disabled"' : '' %}
{% set checkAllDisabled = (examineeCount == 0) ? ' disabled="disabled"' : '' %}

 </caption>
 
 <tr>
    <td id="filtered-info-cell" colspan="{{ totalColumnCount }}">
       <b>{{ total_count|raw }}</b> {{ 'students'|trans }} match selected filter criteria
    </td>
  </tr>
 <tr id="title-row" class="title-row{{ total_count == 0 ? ' hide' }}">
 <td class="all-checkbox-td">
  <input type="checkbox" id="check-all"{{ checkAllDisabled|raw }}/>
 </td>
 <th></th>
 {# Render sortable titles #}
 {% for columnTitle in columnHeaderTitles %}
     {{ helpers.sortByDatabaseField(columnTitle, orderIndex, loop.index, orderType, url) }} 
 {% endfor %}
   
 {% if examineeCount > 0 %}
    <th><a class="btn-link" href="javascript:void(0)" class="fw-normal">Linked</a></th>
 {% else %}
    <th>Linked</th>
 {% endif %}
 
  <th id="options-th">&nbsp;</th>
  <td class="title-edit-top">&nbsp;</td>
  </tr>
  
  {# No examinees to show #}
  {% if canShowList == false %}
   
   <tr id="select_examinee_row" class="selecttr">
   <td colspan="{{ totalColumnCount }}" class="mess2">
    <div id="examinee_row_div" class="tablestatus1">
      Please complete filter criteria above and then click the 'view list' button
    </div>
   </td>
   </tr>
 
   {# We have a list of examinees to show #}
   {% else %}

     {% for examinee in examinees %}
       {% set rowCount = rowCount + 1 %}
     
    <tr id="examinee_row_{{ rowCount }}" class="datarow">
    <td class="checkb">
      <input type="checkbox" class="examinee-checkbox" name="examinee_check[]" id="examinee-check-{{ rowCount }}" value="{{ examinee["id"]|raw }}"/>
    </td>
    <td class="thumbnail">
      <a href="{{ examinee["image_src"]|raw }}" data-lightbox="image-{{ examinee["id"]|raw }}" title="{{ 'Student'|trans }} {{ examinee["id"]|raw }}">
        <img id="thumbnail:{{ examinee["id"]|raw }}" src="{{ examinee["thumbnail_src"]|raw }}"/>
      </a>
    </td>
    <td>{{ examinee["id"]|raw }}
 
    {# Delete student with results attached warning #}
    {% if examinee["id"] in examineesDeletionProhibited %}
      <div class="cannot-delete-student word-wrap">Cannot delete {{ 'student'|trans }} results attached</div>
    {% endif %}
        
    </td>
    {% if candidateNumberFeature == true %}
       <td>{{ examinee["candidate_number"]|raw }}</td>
    {% endif %}
    <td>{{ examinee["surname"]|raw }}</td>
    <td>{{ examinee["forenames"]|raw }}</td>
    <td>{{ examinee["dob"]|raw }}</td>
    <td class="c">{{ examinee["gender"]|raw }}</td>
    <td class="c">
      <span class="help" title="{{ examinee["nationality_description"]|raw }}">{{ examinee["nationality"]|raw }}</span>
    </td>
    <td>{{ examinee["email"]|raw }}</td>
    <td class="c">{{ examinee["years"]|raw }}</td>
    
    <td class="hover-modules" title="{{ examinee["hover_name"]|raw }}" rel="{{ examinee["hover_modules"]|raw }}">  
         {{ examinee["modules_count"]|raw }} {{ 'module'|trans }}{{ (examinee["modules_count"] == 1) ? "" : "s" }}
    </td>
    
    <td class="options-td">
     {# Is view student history feature enabled and does student have results #}
     {% if examinee["show_history"] == true %}
       <img class="examinee-result" src="assets/images/res.svg" alt="Results" title="Get {{ 'student'|trans }} result history"/>
     {% endif %}
     </td>
     
     <td class="titleedit2">
       {{- helpers.buttonEditItem("", "", "editb", "Edit " ~ 'student'|trans, "Edit " ~ 'student'|trans ~ " and course information", examinee["edit_link"]) -}}
      </td>
    </tr>
   {% endfor %}

   {# Render base row if we have a list of examinees #}
     <tr id="base-tr">
      <td colspan="{{ totalColumnCount }}" class="base-button-options p-3" id="base-button-td">
      {% if rowCount > 0 %}  
        <div class="fl">
        <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
          <option value="edit">edit {{ 'students'|trans }}</option>
          <option value="remove_from_course">remove from {{ 'course'|trans }}</option>
          <option value="delete">delete from system</option>
        </select>
        <input type="hidden" value="{{ rowCount }}" id="count" disabled="disabled"/>
        <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_examinee" id="go-examinee" disabled="disabled"/>
        </div>
      {% endif %}
      <div class="add-examinees-div">
        <input class="form-control form-control-sm d-inline-block w-auto" type="text" id="number" maxlength="2" size="2" value="1"{{ disabledAttr|raw }}/>
        {{ 'students'|trans }}
        <input type="button" class="btn btn-success btn-sm" id="add-examinees" value="add + "{{ disabledAttr|raw }}/>
      </div>
      <br class="clearv2"/>      
      </td>
    </tr>
  {% endif %}
 </table>
</div>
</form>
