{# Pagination #}
{# Required fields: #}
{# disabled (boolean): If true, then disable the controls. #}
{# page_count (int): Number of pages #}
{# page_selected (int): Index of selected page (1-based) #}
{# item_total (int): Number of things being paginated #}
{# item_singular | item_plural (string) Name of thing being paginated, in singular and plural versions #}
<div id="pagesel">page
    <select class="custom-select custom-select-sm w-auto" id="pagenr" name="pagenr" {{ disabled ? 'disabled="disabled"' }}>
{% for page in 1..page_count %}
        <option title ="page {{ page }} of {{ page_count }}" {% if page == page_selected %}selected="selected"{% endif %} value="{{ page }}">{{ page }}</option>
{% endfor %}
    </select> of <span id="page-count">{{ page_count }}</span>
</div>