{# Twig template for selecting terms #}
<form method="get" action="">
{% for key, value in queryparams %}
{% if value is not empty and key != "t" and key != "c" %}
    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
{% endif %}
{% endfor %}
    <select name="t" id="term" class="term-dd custom-select custom-select-sm w-auto" title="{{ 'term'|trans|title|raw }} Switch" onchange="this.form.submit()" >
{% for term in terms %}
        <option value="{{ term.term_id }}" {% if term.term_id == selectedTerm %}selected="selected"{% endif %}>{{ term.term_desc }}</option>
{% endfor %}
    </select>
    
  <select name="c" title="{{ 'course'|trans|title|raw }} Switch" onchange="this.form.submit()" class="custom-select custom-select-sm w-auto">
  {# Render options for the drop-down #}
  
  {% if coupleDeptsCourses %}
 
    {% for school, list in courses %}
      <optgroup label="{{ school|raw }}"> 
      {% for course in list %}  
        {% set courseID = course["course_id"] %}
        {% set courseInfo = course["course_name"] ~ " [" ~ course["course_id"] ~ "]" %}
        {% set selectedAttr = (courseID == selectedCourse) ? ' selected="selected"' : '' %}
        <option value="{{ courseID }}" class="black" title="{{ courseInfo|raw }}"{{ selectedAttr|raw }}>
          {{ courseInfo|raw }}
        </option>
      {% endfor %}
      </optgroup>
       
   {% endfor %}
      
  {% else %}
      
    {% for course in courses %}
     {% set courseID = course["course_id"] %}
     {% set courseInfo = course["course_name"] ~ " [" ~ course["course_id"] ~ "]" %}
     {% set selectedAttr = (courseID == selectedCourse) ? ' selected="selected"' : '' %}
     <option value="{{ courseID }}" class="black" title="{{ courseInfo|raw }}"{{ selectedAttr|raw }}>
       {{ courseInfo|raw }}
     </option>
   {% endfor %}
  
  {% endif %} 
       
  </select>    
</form>
