{# Template for upload errors. #}
</pre>
<div class="contentdiv">
    <h3 class="v2">Error Encountered during image upload</h3>
    <p>Sorry, the image upload process failed. The reason given was:<br/>
    <div class="filewarn">{{ error_message }}</div>
    </p>
    {% if logfile is defined %}
    <p>A log file was generated during this activity, you can view it
        <a href="{{ logfile }}" target="_popup">here.</a>
    </p>
    {% endif %}
</div>