/* Original Author: David Cunningham
   For Qpercom Ltd
   © 2017 Qpercom Limited.  All rights reserved.
*/
 
 img#client-logo-login {
    position:relative;
    margin-left: -96px;
    margin-bottom: -123px;
    top: 24px; right: 337px;
 }
 
 img#client-logo-home {
    margin-top: 5px;
    margin-left: -10px;
 }
 