{# Description: Twig template for the manage terms main page  #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% import "helpers.twig" as helpers %}

{% set termCount = terms|length %}

<div class="topmain">
<div class="card d-inline-block align-top mr-2">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Manage {{ 'academic terms'|trans|title }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      In this section you can manage {{ 'academic terms'|trans|title }}. {{ 'Term'|trans }} ID format example:
        <span class="bold">[<span class="green">2018-19</span>]</span>
        <br/><br/>
        <span class="red f12">Be careful when deleting {{ 'terms'|trans }} as there may be {{ 'course'|trans }}, {{ 'student'|trans }},
        <br/>{{ 'examiner'|trans }}, station and {{ 'exam'|trans }} data attached to each {{ 'term'|trans }}</span>
    </div>   
  </div> 
</div> 
   <div class="topmain-clear"></div>
</div>
<div class="contentdiv">
    
<form name="term_list_form" id="term_list_form" method="post" action="terms/terms_redirect.php" onsubmit="return(ValidateForm(this))">
<table id="term_table" class="table-border">
{% if one_term_warn %}    
  <caption class="npl">
      <div class="errordiv mb20">Please Note: The system must contain at least one {{ 'Term'|trans }}</div>
{% endif %}

{# Check all checkbox attribute #}
{% set checkAllDisabled = (termCount == 0) ? ' disabled="disabled"' : '' %}

<tr id="title-row" class="title-row">
  <td class="all-checkbox-td">
    <input type="checkbox" id="check-all"{{ checkAllDisabled|raw }}/>
  </td>
  <th>{{ 'Term'|trans }} ID</th>
  <th>{{ 'Term'|trans }} Description</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>{{ 'Term'|trans }} Settings</th>
  <td class="title-edit-top">&nbsp;</td>
</tr>

{# Display the term records if we have more than 0 records #}
{% if termCount > 0 %}

    {% for term in terms %}
       {% set termID = term['term_id'] %}
       {% set termDesc = term['term_desc'] %}
       {% set startDate = term['start_date'] %}
       {% set endDate = term['end_date'] %}
       {% set isDefaultTerm = term['default_term'] %}
       
       <tr id="term_row_{{ loop.index }}" class="datarow">
       <td class="checkb">
        <input type="checkbox" name="term_check[]" id="term-check-{{ loop.index }}" value="{{ termID|raw }}"/>
       </td>
     
       <td>{{ termID|raw }}</td>
       <td style="white-space: normal !important;"><div style="width:120px;">{{ termDesc|raw }}</div></td>
       <td>{{ startDate|date("d/m/Y") }}</td>
       <td>{{ endDate|date("d/m/Y") }}</td>
       <td>
        
        {% if isDefaultTerm == 1 %}
         <ul class="settings">
         <li>
          <label class="vatop" title="Is this {{ 'term'|trans }} default {{ 'term'|trans }}? yes/no">
          DEFAULT {{ 'term'|trans|upper }} =
          </label>
          <span class="green">YES</span>
         </li>
         </ul>
       {% endif %}   
        </td>
        <td class="titleedit2">
          {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'edit', 'edit') }}
        </td>
    </tr>
    {% endfor %}
    
   {# base options row #}  
   <tr id="base-tr">
       <td colspan="7" class="base-button-options" id="base-button-td">
           <div class="fl">
               
               <select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
                   <option value="delete">delete from system</option>
               </select>
               <input type="submit" value="go" name="go_term" id="go-term" disabled="disabled" class="btn btn-outline-default btn-sm" />
           </div>
           <div class="fr" id="add-div">
               <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
               <input type="hidden" value="{{ termCount }}" id="count"/>
           </div>
       </td>
   </tr>
{% else %}
    <tr id="first_term_row">
        <td colspan="7" class="mess">
            <div id="term_row_div" class="tablestatus2">
                No {{ 'terms'|trans }} found. You need to add at least one {{ 'term'|trans }} for the system to function<br/>
                click the "add" button below to add new {{ 'Term'|trans }}
            </div>
        </td>
    </tr>
    <tr id="base-tr">
        <td colspan="7" class="base-button-options" id="base-button-td">
            <div class="fr" id="add-div">
                <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
            </div>
        </td>
    </tr>
{% endif %}
    
</table>
</form>
</div> 