{# template for analysis/delete_results_form.php #}
<form method="post" action="manage.php?page={{ return_page }}" {{ (form_type == 'to_delete') ? 'class="form-delete"' }} autocomplete="off">
    {# Disable auto fill feature for password fields in Chrome #}
    <input style="display:none;" type="text" name="disable_chrome_autfill"/>
    <input style="display:none;" type="password" name="disable_chrome_autfill"/>
    
    <input type="hidden" name="exam_id" value="{{ exam_id }}"/>
    <input type="hidden" name="exam_cb" value="{{ exam_cb }}"/>
    <input type="hidden" name="stations_cb" value="{{ stations_cb }}"/>

    <input type="hidden" name="grps" value="{{ groups }}"/>
    <input type="hidden" name="stations" value="{{ stations }}"/>
    <input type="hidden" name="cnm" value="{{ cnm }}"/>

    {% for displayVariable, setValue in displayVariables %}
        <input type="hidden" name="{{ displayVariable|raw }}" value="{{ setValue|raw }}"/>
    {% endfor %}
    
    <input type= "hidden" name="results_deleted" value="1"/>
    {% if (form_type == 'to_delete') %}
    <input class="form-control form-control-sm d-inline-block w-auto align-middle" type="password" name="password" id="password" size="28"/>
    {% endif %}
    
    
    <input class="btn btn-sm {% if buttonID == "no_confirm" or buttonID == "backr" %}btn-danger{% else %}btn-success{% endif %} align-middle" type="submit" id="{{ buttonID }}" name="{{ buttonName }}" value="{{ buttonValue }}"/>
</form>
