{# Exam notifications template #}
<div id="results-alerts" class="{{ (stickTab) ? 'show-content' }}">
<div id="notifications-container">
{% set baseUrl = "manage.php?page=studentexam&student=" %}
{% for notification in notifications %}
    {% set studentUrl = notification.student_id|raw ~ "&exam=" ~ examID ~ "&cnm=" ~ combination ~ (anon ? "&anon=") %}
    {% set linkTitle = "Click to view all results for " ~ 'student'|trans ~ ": " ~ notification.student_id|raw %}
    {% if notification.divergence_type %}
      <div id="alert{{ notification.id }}" class="divergence-alert">
          {{ notification.updated_at|date("H:i:s d/m/Y") }} - divergence threshold of {{ notification.divergence_threshold|round(2) }} 
          exceeded at station #{{ notification.station_number }} for {{ 'student'|trans }}: 
          <a href="{{ baseUrl }}{{ studentUrl }}" target="_blank" title="{{ linkTitle }}">{{ notification.student_id|raw }}</a>
      </div>
    {% elseif notification.flag_type %}
      <div id="alert{{ notification.id }}" class="flag-alert">
          {{ notification.updated_at|date("H:i:s d/m/Y") }} - {{ notification.flag_count }}
          flag{{ (notification.flag_count != 1) ? 's' }} registered at station #{{ notification.station_number }}
          for {{ 'student'|trans }}: <a href="{{ baseUrl }}{{ studentUrl }}" target="_blank" title="{{ linkTitle }}">{{ notification.student_id|raw }}</a>
      </div>
    {% endif %}
{% endfor %}
</div>

{% if notifications|length == 0 %}
    <p class="adjusted-p" id="no-notifications-message">
      This {{ 'exam'|trans }} does not yet have any alerts or notifications 
    </p>
{% endif %}
</div>
<div id="template-alert" class="">
   <span class="timestamp"></span> - 
   <span class="message-part-1"></span> 
   at station #<span class="message-part-2"></span> for {{ 'student'|trans }}: 
   <a href="{{ baseUrl }}" target="_blank" title=""></a>
</div>
