{# Description: Template for rules tab #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% import "helpers.twig" as helpers %}

<div class="edit-all-rules edit-rules-top">
    <button type="button" class="edit-rules btn btn-sm btn-outline-success" title="edit exam rules">edit all rules</button>
    <button type="button" class="pass-cancel btn btn-sm btn-danger" title="Cancel Update" style="display:none">cancel</button>
    <button type="button" class="pass-update btn btn-sm btn-success" title="Update Rules" style="display:none">update rules</button>
</div>

<table id="rules-table" class="table-border2">
   <tr>
       <th class="titletop2 nbb vatop">
           Global Rating Scale Maximum Number of Fails (Allowed)
       </th>
    <td class="rule-symbol">&le;</td>
    <td class="nbr">  
      <input type="hidden" id="original-grs-fail" value="{{ individualRules['maxGrsFail']|raw }}"/>
      <select id="grs-fail" name="grs_fail" class="individual-rule hide">
        <option value="">rule disabled</option>
      {% for grs in 0..99 %}
         {% set grsSelected = (individualRules['maxGrsFail']|length > 0 and grs == individualRules['maxGrsFail']) ? ' selected="selected"': '' %}
         <option value="{{ grs|raw }}"{{ grsSelected|raw }}>{{ grs|raw }}</option> 
      {% endfor %}
      </select>
      <label class="individual-rule-label">{{ (individualRules['maxGrsFail']|length == 0) ? "rule disabled" : individualRules['maxGrsFail']|raw }}</label>
    </td>
  </tr>
  
  <tr>
       <th class="titletop2 nbb vatop">
           Minimum Number of Stations to Pass
       </th>
    <td class="rule-symbol">&le;</td>
    <td class="nbr">
      <input type="hidden" id="original-min-stations-pass" value="{{ individualRules['minStationsPass']|raw }}"/>
      <select id="min-stations-pass" name="min_stations_pass" class="individual-rule hide">
        <option value="">rule disabled</option>
      {% for minNum in 0..99 %}
         {% set minNumSelected = (individualRules['minStationsPass']|length > 0 and minNum == individualRules['minStationsPass']) ? ' selected="selected"': '' %}
         <option value="{{ minNum|raw }}"{{ minNumSelected|raw }}>{{ minNum|raw }}</option> 
      {% endfor %}
      </select>
      <label class="individual-rule-label">{{ (individualRules['minStationsPass']|length == 0) ? "rule disabled" : individualRules['minStationsPass']|raw }}</label>
    </td>
  </tr>
  
  <tr>
       <th class="titletop2 nbb vatop">
           Multi-{{ 'Examiner'|trans }} Scores Per Station (1 {{ 'form'|trans|title }})
       </th>
       <td class="rule-symbol">=</td>
    <td class="nbr"> 
      <input type="hidden" id="original-results-averaged" value="{{ individualRules['multiExaminerResultsAveraged']|raw }}"/>
      <select id="results-averaged" name="results_averaged" class="individual-rule hide">
         {% set aggregatedSelected = (individualRules['multiExaminerResultsAveraged']) ? '' : ' selected="selected"' %}
         <option value="1">weighted avg</option>
         <option value="0"{{ aggregatedSelected|raw }}>aggregated</option>
      </select>
      <label class="individual-rule-label">{{ (individualRules['multiExaminerResultsAveraged']) ? "weighted avg" : "aggregated" }}</label>
    </td>
  </tr>
  
  {% set divergence = individualRules['divergence_threshold'] %}
  <tr>
     <th class="titletop2 nbb vatop">
         Multi-{{ 'Examiner'|trans }} Divergence Threshold (Conditionally Formatted <span class="conditional-hl">&nbsp;&nbsp;&nbsp;&nbsp;</span> )
     </th>
     <td class="rule-symbol">&ge;</td>
     <td class="nbr">
       <input type="hidden" id="original-divergence-threshold" value="{{ divergence|raw }}"/>
       <input id="divergence-threshold" name="divergence_threshold" class="individual-rule hide" size="5" maxlength="5" value="{{ divergence|raw }}"/>
       <label class="individual-rule-label">{{ (divergence|length == 0) ? "rule disabled" : divergence|raw  }}</label>
     </td>
  </tr>
  
  <tr>
    <th class="titletop2 nbb vatop">
      Apply Score Weightings to Overall Totals and Grades
    </th>
    <td class="rule-symbol">=</td>
    <td class="nbr"> 
      <input type="hidden" id="original-grade-weightings" value="{{ individualRules['grade_weightings']|raw }}"/>
      <select id="grade-weightings" name="grade_weightings" class="individual-rule hide">
         {% set gradeWeightingsSelected = (individualRules['grade_weightings']) ? '' : ' selected="selected"' %}
         <option value="1">yes</option>
         <option value="0"{{ gradeWeightingsSelected|raw }}>no</option>
      </select>
      <label class="individual-rule-label">{{ (individualRules['grade_weightings']) ? "yes" : "no" }}</label>
    </td>
  </tr>

  <tr>
      <th class="titletop2 nbb vatop">
        Publish Scores &amp; Outcomes - available to Qpercom Analyse
      </th>
      <td class="rule-symbol nbb">=</td>
      <td class="nbr nbb"> 
        <input type="hidden" id="original-grade-weightings" value="{{ individualRules['results_published']|raw }}"/>
        <select id="grade-weightings" name="results_published" class="individual-rule hide">
           {% set resultsPublishedSelected = (individualRules['results_published']) ? '' : ' selected="selected"' %}
           <option value="1">yes</option>
           <option value="0"{{ resultsPublishedSelected|raw }}>no</option>
        </select>
        <label class="individual-rule-label">{{ (individualRules['results_published']) ? "yes" : "no" }}</label>
      </td>
    </tr>  

</table>
      
{% for session in passRules %}
  <table class="sub-rules-table table-border2">
  <tr class="stitle-rw">
    <th class="nbl tar">{{ session['title']|raw }}</th>
    <th class="passrule-cells">{{ 'form'|trans|title }} Name</th>
    <th class="passrule-cells">Station Pass (%)</th>
    <th class="passrule-cells">Weighting (%)</th>
    <th class="passrule-cells">Station Total</th>   
 </tr>
 {% for id, row in session['data'] %}
     
   <tr class="sdata-rw">
    <th class="tar val">Station {{ row['station_number']|raw }}</th>
    <td class="passrule-cells">{{ row['form_name']|raw }}</td>
    <td class="c passrule-cells">
      <input type="hidden" class="original-pass" value="{{ row['pass_value']|number_format }}"/>
      <input type="text" name="station_values[{{ id }}][pass]" 
           size="4" maxlength="3" readonly="readonly" class="pass-field readonly" value="{{ row['pass_value']|number_format }}"/>
    </td>
    <td class="c passrule-cells">
      <input type="hidden" class="original-weight" value="{{ row['weighting']|number_format('2') }}"/>
      <input type="text" name="station_values[{{ id }}][weight]" 
           size="3" maxlength="6" readonly="readonly" class="weight-field readonly" value="{{ row['weighting']|number_format('2') }}"/>
    </td>    
    <td class="c passrule-cells">{{ row['total_value']|number_format('1') }}</td>
   </tr>
 {% endfor %}
</table>
{% endfor %}

{# Competency Rules #}      
{% if competencyRules|length > 0 %}    
<table class="sub-rules-table table-border2">
  <tr class="stitle-rw">
    <th class="nbl">{{ 'Competency'|trans }}</th>
    <th class="passrule-cells">Pass (%)</th> 
  </tr>
 {% for rule in competencyRules %}
     {% set id = rule['id'] %}
   <tr class="sdata-rw">
    <td style="background-color: {{ rule['level_colour_code']|raw }}" class="nbt nbl">{{ rule['name']|raw }}</td>
    <td class="c passrule-cells">
      <input type="hidden" class="original-pass" value="{{ rule['pass']|number_format }}"/>
      <input type="text" name="competency_pass_values[{{ id }}]" 
           size="1" maxlength="3" readonly="readonly" class="pass-field readonly" value="{{ rule['pass']|number_format }}"/>
    </td>
   </tr>
 {% endfor %}
</table> 
{% endif %} 
    
<div class="edit-all-rules edit-rules-bottom">
    <button type="button" class="edit-rules btn btn-sm btn-outline-success" title="Edit Exam Rules">edit all rules</button>
    <button type="button" class="pass-cancel btn btn-sm btn-danger" title="Cancel Update" style="display:none">cancel</button>
    <button type="button" class="pass-update btn btn-sm btn-success" title="Update Rules" style="display:none">update rules</button>
</div>