{# Twig template for analysis/examiner_analysis.php #}
<table id="marking_average" class="table-border2">
    <thead>
        <tr>
{% for column in columns %}
            <th class="titletop">
                <span>
                    <a class="normal" href="javascript:void(0)" title="Click To Sort">{{- column -}}</a>
                </span>
            </th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for examiner in examiners %}
        <tr>
            <td class="examiners">{{- examiner.id -}}</td>
            <td>{{- examiner.surname|raw -}}</td>
            <td>{{- examiner.firstname|raw -}}</td>
            <td class="c">{{ examiner.scenarios }}</td>
            <td>{{ examiner.station_name|raw }}</td>
            <td class="bglg2 c">
                <span class="{{ examiner.score_colour|raw }}">{{ examiner.final_score|raw }} %</span>
            </td>          
        </tr>
{% endfor %}
    </tbody>
</table>