{# Template for analysis/options_stations.php #}
{% set form_selected = false %}
<div class="card d-inline-block align-top mr-2 mt-3 ml-2" style="margin-bottom: -50px" id="stationfs">
  <div class="card-header w-100 is-transparent">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Select {{ 'Scenario'|trans }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <select id="choose-form" name="choose_form" class="custom-select-sm custom-select">
     <option value="">--</option>
     
     {% if forms_with_results|length > 0 %}
     <optgroup label="{{ 'Scenarios'|trans }} With Results">
       
       {% for form_key, each_form in forms_with_results %}
	 <option value="{{ form_key }}" 
                 
         {% if form_id_chosen == form_key %}
           {% set form_selected = true %} 
           selected="selected" 
         {% endif %}
         
         >{{ each_form['form_name']|raw }}</option>
       {% endfor %}
       
      </optgroup>
     {% endif %}  
     
     {% if forms_without_results|length > 0 %}
     <optgroup label="{{ 'Scenarios'|trans }} Without Results">
       
       {% for form_key, each_form in forms_without_results %}
	 <option value="{{ form_key }}" 
                 
         {% if form_id_chosen == form_key %}
           {% set form_selected = true %} 
           selected="selected" 
         {% endif %}
         
         >{{ each_form['form_name']|raw }}</option>
       {% endfor %}
       
      </optgroup>
     {% endif %}
      
  {% set iframeClass = (form_selected) ? "" : "hide" %}
     
   </select>
    </div>   
  </div> 
</div> 
 <div id="iframe-load" class="{{ iframeClass }}">Loading {{ 'scenario'|trans }} data please wait.....</div>
 <iframe name="detailed-iframe" id="detailed-iframe" src="" frameborder="0" scrolling="no"></iframe>