{# Description: Template for options panel in the results & analysis section #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{# Prepare properties #}
{% set checked_property = ' checked="checked"'|raw %}
{% set selected_property = ' selected="selected"'|raw %}
{% set disabled_property = ' disabled="disabled"'|raw %}

<table id="res_options" class="table-border">
<tr>
<th class="top-bar"></th>
<td id="sessions-grps" colspan="9">
<input type="hidden" id="tab-persist" name="tab_persist" value="results-{{ tab_selected }}"/>
<input type="hidden" id="exam-id" name="exam_id" value="{{ current_exam_id }}"/>
<input type="hidden" id="exam-name" value="{{ exam_info['exam_name']|raw }}"/>
<input type="hidden" id="order-index" name="order_index" value="{{ order_index }}"/>
<input type="hidden" id="previous-index" name="previous_index" value="{{ previous_index }}"/>
<input type="hidden" id="order-type" name="order_type" value="{{ order_type }}"/>
<input type="hidden" id="default-sess-values" value="{{ sessions_selected_string }}"/>

<ul id="tddets">
 <li id="examcb-li">
  {% set exam_checked = (exam_cb_checked) ? checked_property : '' %}
  <input type="checkbox" id="exam-cb" name="exam_cb" value="1"{{ exam_checked|raw }}/>
  <label for="exam-cb">{{ exam_info['exam_name']|raw }} [<span class="green">{{ exam_info['dept_id']|raw }}</span>]</label>
 </li>

{# Render sessions #}
{% for session_id, session in sessions %}
  {% set session_checked = (session['checked']) ? checked_property : '' %}
  {% set session_info = session['session_date'] ~ ' ' ~ session['session_description'] %}
  <li class="tdli">
   <input type="checkbox" id="sess-chk{{ session_id }}" name="tds[]" class="tdchks" value="{{ session_id }}"{{ session_checked|raw }}/>
   <label class="td-label" for="sess-chk{{ session_id }}">{{ session_info|raw }}</label>
   <input type="hidden" id="sess-date{{ session_id }}" value="{{ session['session_date']|raw }}"/>
   <input type="hidden" id="sess-name{{ session_id }}" value="{{ session['session_description']|raw }}"/>
   {# Render session groups #}
   <ul class="grpul">
   {# Does session have groups? #}
   {% if session_id in session_groups|keys %}
     {% for group in session_groups[session_id] %}
       {% set group_id = group['group_id'] %}
       {% set group_name = group['group_name'] %}
       {% set group_checked = (group['checked']) ? checked_property : '' %}
       <li>
        <input type="checkbox" id="grp-chk{{ group_id }}" name="grps[]" class="studentgroups" value="{{ group_id }}"{{ group_checked|raw }}/>
        <label for="grp-chk{{ group_id }}">{{ group_name|raw }}</label>
       </li>
     {% endfor %}
    {% endif %}
   </ul>
  </li>
 {% endfor %}
  <li id="base-li">&nbsp;
   <input type="hidden" id="session-cnt" value="{{ sessions|length }}"/>
   <input type="hidden" id="total-grp-cnt" value="{{ group_count }}"/>
  </li>
</ul>

 {% set stations_checked = (stations_cb_checked) ? checked_property : '' %}
 <ul id="station-dets">
 <li id="all-stations-li">
   <input type="checkbox" id="stations-cb" name="stations_cb" value="1"{{ stations_checked|raw }}/>
   <label for="stations-cb">Station - {{ 'Scenario'|trans }}</label>
 </li>

 {# Render linked stations #}
 {% for station in stations %}
  {% set index = loop.index %}
  {% set station_checked = (station['checked']) ? checked_property : '' %}
  <li class="station-li">
   <input type="checkbox" name="stations[]" id="es{{ index }}" class="each-station" value="{{ station['key'] }}"{{ station_checked|raw }}/>
   <label for="es{{ index }}">{{ station['text']|raw }}</label>
  </li>
 {% endfor %}

 </ul>
</td>
</tr>

<tr>
 <th class="bottom-bar"></th>
 <th class="title-sep">&nbsp;</th>
 <th class="title-sep innerbb">&nbsp;</th>
 <th class="title-sep">&nbsp;</th>
 <th class="title-sep innerbb">&nbsp;</th>
 <th class="title-sep">&nbsp;</th>
 <th class="title-sep innerbb">&nbsp;</th>
 <th class="title-sep">&nbsp;</th>
 <th class="title-sep innerbb">&nbsp;</th>
 <th class="title-sep">&nbsp;</th>
</tr>

{# Render settings panel, start off by preparing the options checked value #}
{% set global_rating_scales_checked = (features['grs_column'] and settings['global_rating_scales']) ? checked_property : '' %}
{% set alternative_number_checked = ((features['student_exam_num'] or features['student_candidate_num']) and settings['student_alternative_num']) ? checked_property : '' %}
{% set feedback_checked = (features['feedback_column'] and settings['feedback']) ? checked_property : '' %}

{# 'Combine Results By' dropdown field #}
{% set combine_default_selected = (settings['combination_option'] == 1) ? selected_property : '' %}
{% set combine_tag_selected = (settings['combination_option'] == 2) ? selected_property : '' %}

{# Features enabled/disabled #}
{% set disabled_feature_title = ' title="' ~ features['feature_disabled_user_info'] ~ '"' %}
{% set global_rating_scales_disabled = (not features['grs_column']) ? disabled_property : '' %}
{% set global_rating_scales_title = (not features['grs_column']) ? disabled_feature_title : '' %}
{% set feedback_disabled = (not features['feedback_column']) ? disabled_property ~ disabled_feature_title : '' %}
{% set feedback_title = (not features['feedback_column']) ? disabled_feature_title : '' %}

{# Disable button settings #}
{% set delete_button_disabled = (delete_disabled) ? disabled_property : '' %}
{% set delete_button_hide = (delete_disabled) ? ' style="visibility: hidden"' : '' %}

{# Options Row 1 #}
<tr>
 <th class="bottom-bar"></th>
 <th class="title-an2 padding-adj">Submission Timestamp</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displaytimestamp" name="displaytimestamp" value="1"{{ (settings['timestamp']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">{{ 'Examiner'|trans }} Analysis</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displayexaminers" name="displayexaminers" value="1"{{ (settings['examiners']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">{{ 'Student'|trans }} Name</th>
<td class="analyopt nbb">
   <input type="checkbox" id="displaystudentname" name="displaystudentname" value="1"{{ (settings['student_names']) ? checked_property|raw }}/>
</td>
 <th class="title-an2">Cronbach Alpha Analysis</th>
 <td class="analyopt">
   <input type="checkbox" id="displaycronbach" name="displaycronbach" value="1"{{ (settings['cronbach_analysis']) ? checked_property|raw }}/>
 </td>
 <th class="title-an nbr">&nbsp;</th> 
</tr>

{# Options Row 2 #}
<tr>
 <th class="bottom-bar"></th>
 <th class="title-an2 padding-adj">{{ 'assessments'|trans|title }} Failed</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displaystationsfailed" name="displaystationsfailed" value="1"{{ (settings['stations_failed']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">Days &amp; Circuits</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displaysession" name="displaysession" value="1"{{ (settings['sessions']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">{{ 'Student'|trans }} Nationality</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displaynationality" name="displaynationality" value="1"{{ (settings['student_nationality']) ? checked_property|raw }}/>
 </td>
 <td class="analyopt2" colspan="2">
    <select id="cnm" name="cnm" class="custom-select custom-select-sm">
      <!-- <option value="0" title="Station {{ 'Scenario'|trans }}">Combine results by {{ 'Scenario'|trans }}</option> -->
        {% if not settings.hide_combine_num %}
        <option value="1"{{ combine_default_selected|raw }} title="Station Number">Combine results by Station #</option>
        {% endif %}
      <!--   <option value="2"{{ combine_tag_selected|raw }} title="{{ 'Station Group'|trans }}">Combine results by {{ 'Station Group'|trans }}</option> -->
      </select>
  </td>
<th class="title-an nbr">&nbsp;</th> 
</tr>

{# Options Row 3 #}
<tr>
<th class="bottom-bar"></th>
 <th class="title-an2 padding-adj">{{ 'Examiner'|trans }} Feedback</th>
 <td class="analyopt nbb"{{ feedback_title|raw }}>
  <input type="checkbox" id="displayfeedback" name="displayfeedback" value="1"{{ feedback_checked|raw }}{{ feedback_disabled|raw }}/>
 </td>
<th class="title-an2">Group Names</th>
<td class="analyopt nbb">
  <input type="checkbox" id="displaygroups" name="displaygroups" value="1"{{ (settings['groups']) ? checked_property|raw }}/>
</td>
<th class="title-an2">{{ 'Student'|trans }} Order</th>
<td class="analyopt nbb">
  <input type="checkbox" id="displayorder" name="displayorder" value="1"{{ (settings['student_order']) ? checked_property|raw }}/>
</td>
<th class="title-an2 nbr">&nbsp;</th>
<th class="title-an2 nbr">&nbsp;</th>
<th class="title-an nbr">&nbsp;</th>
</tr>

  {# Options Row 4 #}
<tr>
 <th class="bottom-bar"></th>
 <th class="title-an2 padding-adj">Global Rating Scales</th>
 <td class="analyopt nbb"{{ global_rating_scales_title|raw }}>
 <input type="checkbox" id="displaygrs" name="displaygrs" value="1"{{ global_rating_scales_checked|raw }}{{ global_rating_scales_disabled|raw }}/>
 </td>
 <th class="title-an2">{{ "Overall Grade"|trans }}</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displaygrade" name="displaygrade" value="1"{{ (settings['grade']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">{{ 'Exam'|trans }} Alerts</th>
 <td class="analyopt nbb">
    <input type="checkbox" id="displayalerts" name="displayalerts" value="1"{{ (settings['alerts']) ? checked_property|raw }}/>
 </td>
 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an nbr">&nbsp;</th>
</tr>

{# Options Row 5 #}
<tr>
 <th class="bottom-bar"></th>

 <th class="title-an2 padding-adj">Flags</th>
 <td class="analyopt nbb">
  <input type="checkbox" id="displayflags" name="displayflags" value="1"{{ (settings['flags']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">{{ 'weightings'|trans|title }}</th>
 <td class="analyopt nbb">
   <input type="checkbox" id="displayweighted" name="displayweighted" value="1"{{ (settings['weighted']) ? checked_property|raw }}/>
 </td>

{# Only make exam/candidate number option available if either of the features are enabled #}
{% set examNumEnabled = (features['student_exam_num'] and examSettings['exam_student_id_type'] == constant("EXAM_NUMBER_TYPE")) %}
{% set candidateNumEnabled = (features['student_candidate_num'] and examSettings['exam_student_id_type'] == constant("CANDIDATE_NUMBER_TYPE")) %}
{% if examNumEnabled or candidateNumEnabled %}
   {% set optionLabel = (examSettings['exam_student_id_type'] == constant("EXAM_NUMBER_TYPE"))? "Student Exam Number" : "Candidate Number" %}
   <th class="title-an2">{{ optionLabel }}</th>
   <td class="analyopt nbb">
     <input type="checkbox" id="displayalternativenum" name="displayalternativenum" value="1"{{ alternative_number_checked|raw }}/>
   </td>
{% else %}
   <th class="title-an2 padding-adj"></th>
   <td class="analyopt nbb"></td>
{% endif %}

 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an nbr">&nbsp;</th>
</tr>

{# Options Row 6 #}
<tr>
 <th class="bottom-bar"></th>
 <th class="title-an2 padding-adj">Issues/Notes</th>
 <td class="analyopt">
  <input type="checkbox" id="displaynotes" name="displaynotes" value="1"{{ (settings['notes']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2">Percentages</th>
 <td class="analyopt">
   <input type="checkbox" id="displaypercent" name="displaypercent" value="1"{{ (settings['percent']) ? checked_property|raw }}/>
 </td>

 <th class="title-an2 padding-adj"></th>
 <td class="analyopt"></td>

 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an2 nbr">&nbsp;</th>
 <th class="title-an nbr">&nbsp;</th>
</tr>

{# Base Row #}
<tr>
<th colspan="10" class="base-bs">
  <input type="hidden" name="delete_results" value="delete results"/>
  <input type="submit" id="updateanaly" name="update_analysis" value="Update/Refresh" class="btn btn-success"/>
  <input type="button" id="delete-results" value="Delete Results" {{ delete_button_disabled|raw }}{{ delete_button_hide|raw }} class="btn btn-danger"/>

{# Fake delete button #}
{% if not delete_disabled %}
 <div id="delete-box" title="Unlock delete results button">
  
  <label class="btn btn-outline-warning" style="background-color:#fff">
    <input type="checkbox" id="cb-del"/>
    <span>
    Unlock Delete
    <span>
  </label>
 </div>
{% endif %}
</th>
</tr>
</table>
