{# Template for analysis/options_export.php #}
<div class="card d-inline-block align-top mr-2 mb-4 mt-3 ml-2" id="export-fs">
  <div class="card-header  w-100 is-transparent">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Choose Data to Export
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div><input type="checkbox" id="raw-export" checked="checked" disabled="disabled"/><label for="raw-export">Raw Data</label></div>
<div><input type="checkbox" id="summary-export"/><label for="summary-export">Summary Data</label></div> 
<div><input type="checkbox" id="detailed-export"/><label for="detailed-export">Detailed {{ 'Scenario'|trans }} Data</label></div>
{% if (competency_results_exist) %}   
   <div><input type="checkbox" id="competencies-export"/><label for="competencies-export">{{ 'Competency'|trans }} Data</label></div>
{% endif %}       
<div><input type="checkbox" id="cdetailed-export"/><label for="cdetailed-export">Comprehensive {{ 'Scenario'|trans }} Data (1 spreadsheet)</label></div>
{% if (displayexaminers) %}
<div><input type="checkbox" id="examiners-export"/><label for="examiners-export">{{ 'Examiner'|trans }} Data</label></div>
{% endif %}
<div id="export-div">
  <div id="exporting-wait"><img src='assets/images/wait3.gif' alt='Please Wait...' /> Generating Please wait...</div>
  <input type="button" id="export-analysis" name="export_overall" value="export" class="btn btn-sm btn-success"/>
</div>
    </div>   
  </div> 
</div> 