{# Description: Template for output_summary.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{% set numOfRows = summary_data|length %}

<table id="summary_table" class="table-border2">

{# Render rows #}
{% for i in 0..numOfRows-1 %}
 <tr>
  {% set numOfCells = summary_data[i]|length %}
  
  {# Render columns #}
  {% for j in 0..numOfCells-1 %}
     {# Cell value #}
     {% set cellValue = summary_data[i][j] %}

     {# First row #}
     {% if i == 0 %}
        {% set noBorderBottom = (j == 0) ? " nbb" : "" %}
        <th class="titletop2{{ noBorderBottom }}">{{ cellValue|raw }}</th>
        
     {# Not title row and first column #}
     {% elseif i > 0 and j == 0 %}
         
        {% set textAlignRight = (i >= numOfRows-2) ? ' tar' : '' %}
         
        <th class="title brown{{ textAlignRight }}">{{ cellValue|raw }}</th>
 
     {# Overall percentage row and other rows #}
     {% elseif i >= (numOfRows - 2) and j > 0 %}
        <td class="bold">{{ cellValue|raw }}</td>

     {# First value [Student count column] #}
     {% elseif j == 1 %}
        {% set redCSS = (cellValue == "NO RESULT") ? ' class="red"' : '' %}
        <td{{ redCSS|raw }}>{{ cellValue|raw }}</td>
     {% else %}
        <td>{{ cellValue|raw }}</td>
    {% endif %}
 {% endfor %}
 </tr>
 
{% endfor %}
</table>
