<td class="values" {{ style|raw }}>
{% if (displayLink) %}
    <a href="javascript:void(0)" class="student-result-link {{cssClass}}" title="{{title}}">{{outputValue}}</a>
    <input type="hidden" class="student-result-id{{ scoreLinkType ? " score" :"" }}" value="{{linkID}}"/>
{% else %}
    NA
{% endif %}
</td>