{# Description: Template for individual  #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}

<form name="results-detailed-form" id="results-detailed-form">
   <table id="results-detailed-table" class="table-border">

 {# Render Section Row #}
 <tr>
     <th colspan="{{ emptyCellCount }}" class="title7 nbb">&nbsp;
         <input type="hidden" id="form-name" value="{{ formName|raw }}"/>
     </th>
 {% for section in formSections %}

     {% if section.items|length > 0 %}
      <th colspan="{{ section.cols|raw }}" class="tableexport-string {{ section.isScale ? 'titlegold' : 'titleblue' }}">
          {{ section.competence_desc|decode_html_entities|raw|trim }}
          {{ section.competence_desc|length > 0 ? "<br/>" }}
          {{ section.section_text|decode_html_entities|raw|trim }}
          {{ section.section_text|length > 0 ? "<br/>" }}
          ({{ section.items|length }} Items)
      </th>
     {% endif %}

 {% endfor %}
 </tr>

 {# Render Item Range Row #}
 <tr>
   <th colspan="{{ emptyCellCount }}" class="title7 nbb">&nbsp;</th>

 {% for section in formSections %}
   {% for item in section.items %}

     <th class="titlegrey tableexport-string" colspan="{{ item.cols|raw }}">
         {% if item.scoring == true %}
            <span class="red11">Item {{ item.number|raw }}</span><br/>
             [{{ item.trueLow|raw ~ " - " ~ item.trueHigh|raw }}]
         {% else %}
            <span class="red11">Indicator<br/><br/></span>
         {% endif %}
     </th>

   {% endfor %}
 {% endfor %}
 </tr>

 {# Render Weighting Row (if any exist) #}
 {% if formWeighting == true %}
   <tr>
       <th colspan="{{ emptyCellCount }}" class="title7 nbb">&nbsp;</th>

       {% for section in formSections %}
           {% for item in section.items %}
               <th class="title4 c tableexport-string" colspan="{{ item.cols|raw }}"> {{
                   item.scoring ? "Weighting : " ~ item.weighted_value|raw : "" }}
               </th>
           {% endfor %}
       {% endfor %}
   </tr>
 {% endif %}

 {# Render Item Text Row #}
 <tr>
     <th colspan="{{ emptyCellCount }}" class="title7">&nbsp;</th>

   {% for section in formSections %}
     {% for item in section.items %}
         <th class="title4 tableexport-string" colspan="{{ item.cols|raw }}">
             {{ item.text|decode_html_entities|raw }}
         </th>
     {% endfor %}
   {% endfor %}
 </tr>

 {# Render Titles Row #}
 <tr>
    {% for title in titles %}
     <th class="title2">{{ title|raw }}</th>
    {% endfor %}
{% if formWeighting == true %}
     {% for section in formSections %}
         {% for item in section.items %}
             <th class="{{ section.isScale ? 'titlegold2' : 'title2' }}">{{ formWeighting ? "Raw" : "Value" }}</th>
             {% if section.cols > 1 %}
                 <th class="title2">Weighted</th>
             {% endif %}
         {% endfor %}
     {% endfor %}
     {% else %}
     {% for section in formSections %}
         {% for item in section.items %}
             <th class="{{ section.isScale ? 'titlegold2' : 'title2' }}">{{ formWeighting ? "Raw" : "Value" }}</th>
             {% if section.cols > 1 %}

             {% endif %}
         {% endfor %}
     {% endfor %}
     {% endif %}
 </tr>


 {# Render Data Row #}
 {% for row in data %}
   <tr class="{{ loop.index is divisible by(2) ? "white" : "bglg" }} {{ loop.last ? "nbbtr" }} {{ (gradeData[row[0]] == 1 ? "pass" : "fail") }} normal">
       {% for value in row %}
           <td class="c tableexport-string">{{ value|decode_html_entities|raw }}</td>
       {% endfor %}
   </tr>
{% endfor %}

 </table>
</form>
