{# Description: Template for competencies tab in the results & analysis section #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

 {% set show = (showContent) ? 'show-content' : '' %}
 <div id="results-competencies" class="{{ show }}">
     
   {% if data|length > 0 %}
          
   <table id="competency-framework-results" class="table-border2">
     
     {# render competencies results #}
     {% for row in data %}
        
        {# Title Row #}    
        {% if loop.index == 1 %}
            <tr class="order-titlerow">
            {% for title in row %}
                {% set lastTitle = (loop.last) ? ' nbr' : '' %}
                {% set titleColour = (titleColours[loop.index0] is empty) ? '' : 'background-color: ' ~ titleColours[loop.index0]  %}
                <th class="titletop3{{ lastTitle }}" style="{{titleColour|raw}}">{{ title|raw }}</th>  
            {% endfor %}
            </tr>
        {# Data Row #}
        {% else %}
            {% set lastRow = (loop.last) ? ' nbbtr' : '' %}
            <tr class="each-data-rw{{ lastRow }}">
            {% for id, value in row %}
                {% set center = (id not in ['id', 'surname', 'forenames']) ? ' c' : '' %} 
                {% set lastValue = (loop.last) ? ' nbr' : '' %}  
                <td class="{{ lastValue }}{{ center }}">
                  {% if id == 'id' %}  
                    {% set idTitle = "Click to view all station results for " ~ 'student'|trans ~ ": " ~ value %}  
                    <a href="javascript:void(0)" class="examineel" title="{{ idTitle|raw }}">{{ value|raw }}</a>
                  {% else %}
                    {{ value|raw }}
                  {% endif %}     
                </td>  
            {% endfor %}
            </tr>
        {% endif %}

     {% endfor %}
    
   </table>   
  {% else %}
      <p class="adjusted-p">
      No competency data available and/or no results submitted, please make sure to link items to {{ 'competencies'|trans }} in station {{ 'forms'|trans }}
      </p>
  {% endif %}
   
 </div>