{# Description: Template for student exam section #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}

{% set historyInnerBorder = (view_history) ? ' innerbb' : '' %}
{% set historyNoBorderBottom = (view_history == false) ? ' nbb' : '' %}
{% set num_of_results = (student_results|length) %}

<div class="topmain adjust-tm">
  {% if action_success %}
      <span id="action-success-yes"></span>
  {% endif %}
<table id="examinee-summary" class="table-border">
 <tr>
    <th class="title">{{ 'Student'|trans }} Identifier</th>
    <td class="rtd">{{ student_id|raw }}</td>
 </tr>
  {% if candidate_number is not empty %}
  <tr>
    <th class="title">Candidate Number</th>
    <td class="rtd">{{ candidate_number|raw }}</td>
 </tr>    
 {% endif %} 
 <tr>   
    <th class="title">{{ 'Student'|trans }} Name</th>
    <td class="rtd">{{ student_anon ? "-" : student_name|raw }}
      <input type="hidden" id="surname" value="{{ student_anon or student_name is empty ? student_id|raw : student_name|raw }}"/>
      <input type="hidden" id="exam-name" value="{{ exam_name|raw }}"/>
      <input type="hidden" id="exam-translate" value="{{ 'exam'|trans }}"/>
      <input type="hidden" id="exam-translate-uc" value="{{ 'Exam'|trans }}"/>
      <input type="hidden" id="student-translate" value="{{ 'student'|trans }}"/>
      <input type="hidden" id="student-translate-uc" value="{{ 'Student'|trans }}"/>
      <input type="hidden" id="current-student-id" value="{{ student_id|raw }}"/>
      {% if student_anon %}
      <input type="hidden" id="anon" value="yes"/>
      {% endif %}
    </td>
 </tr>
   
 <tr>
    <th class="title">{{ 'Student'|trans }} Gender</th>
    <td class="rtd">{{ gender|raw }}</td>
 </tr>
<tr>
    <th class="title">{{ 'Student'|trans }} Nationality</th>
    <td class="rtd">{{ nationality|raw }}</td>
</tr>

{%  if grade_rule is iterable and grade_rule.grade_rule_id > 1 %}
<tr>
     <th class="title">{{ 'grade'|trans|title }}</th>
     <td class="rtd">
        {% if student_exam_data.grade|length > 0 %}
         <select id="change-grade" style="display: none">
          <option value="Appointable"
                  class="appointable">
                  Appointable
          </option>
          <option value="Not Appointable"
                  class="not-appointable"{{ student_exam_data.grade|lower == "not appointable" ? ' selected="selected"' }}>
                  Not Appointable
          </option>

          {% if grade_rule.grade_rule_id != 4 %}
          <option value="Panel to Decide"
                  class="panel-to-decide"{{ student_exam_data.grade|lower == "panel to decide" ? ' selected="selected"' }}>
                  Panel to Decide
          </option>
          {% endif %}
         </select>
         <span id="grade-readonly" class="{{ student_exam_data.grade|lower|replace(' ','-') }}">
            <span id="grade-readonly-value">{{ student_exam_data.grade|raw }}</span>

            {% if student_exam_data.grade|lower == "panel to decide" or student_exam_data.grade_author|length > 0 %}
            <a id="edit-grade" href="javascript:void(0)">change</a>
            {% endif %}
         </span>
         <div id="dialog-grade-confirm" title="" style="display:none">
           <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
           <span id="dialog-grade-message"></span>
           </p>
         </div>
        {% endif %}
     </td>
</tr>
<tr>
     <th class="title">{{ 'grade'|trans|title }} Trigger</th>
     <td class="rtd">
     {% if student_exam_data.grade|length > 0 %}
        {% if student_exam_data.grade_author|length > 0 %}
           {{ "User " ~ student_exam_data.grade_author|raw }}
        {% else %}
           {{ "System " }}
           {% if student_exam_data.grade_trigger|length > 0 %}
               : <span class="{{ student_exam_data.grade|lower == "not appointable" ?
               "not-appointable" : "panel-to-decide" }}">{{ student_exam_data.grade_trigger|raw }}</span>
           {% endif %}
        {% endif %}
        {{ student_exam_data.grade_updated|date("d/m/Y H:i:s") }}
        <input type="hidden" id="last-updated-timestamp" value="{{ student_exam_data.grade_updated|raw }}"/>
        <input type="hidden" id="last-updated-grade" value="{{ student_exam_data.grade|lower|raw }}"/>
     {% endif %}
    </td>
</tr>
<tr>
     <th class="title">{{ 'grade'|trans|title }} Rule</th>
     <td class="rtd help" title="{{ grade_rule.grade_rule_name|decode_html_entities|raw }}">
       {{ grade_rule.grade_rule_short|decode_html_entities|raw }}
    </td>
</tr>
{%  endif %}
<tr>
     <th class="title">{{ 'examination'|trans|title }}</th>
     <td class="rtd">{{ exam_name|raw }}</td>
</tr>
<tr>
     <th class="title{{ historyInnerBorder }}">Day/Circuit</th>
     <td class="nbr{{ historyNoBorderBottom }}">{{ session_description|raw }}</td>
</tr>
	  
{# Is view student history feature enabled #}
{% if view_history %}

  <tr>
    <td class="data-link" colspan="2">
        <a class="print-hide" href="{{ student_history_url|raw }}">{{ 'Student'|trans }} Result History</a>
    </td>
  </tr> 

{% endif %}
</table>

{# Display controls if results found #}
{% if num_of_results > 0 %}
 
<div class="fl">
  <div class="print-div">
  <form name="eresults_form" method="post" action="manage.php">
     <input type="hidden" name="page" value="pdfresults"/>
     <input type="hidden" name="action" value="{{ generate_all_stations }}"/>
     <input type="hidden" id="exam-id" name="exam" value="{{ exam_id|raw }}"/>
     <input type="hidden" id="student-id" name="student" value="{{ student_id|raw }}"/>
     {% if back_button %}
      <input type="button" id="back-button" value="Back" class="btn btn-secondary btn-sm"/>
     {% endif %}
     <input type="submit" id="pdf-results" name="pdf_results" value="PDF Forms" class="btn btn-info btn-sm"/>
     <input type="button" id="print-sres" value="Print Forms" class="btn btn-success btn-sm"/><br/><br/><br/>
     <button type="button" value="show" id="advanced-options-show" class="print-hide btn btn-sm btn-outline-danger">advanced options</button> 
  </form>
  </div>
 </div>
{% endif %}

  <br class="clearv2"/>
</div>

{# Display advanced options for admins only #}
{% if num_of_results > 0 %}

    <form id="advanced-results-options" method="post" action="analysis/analysis_redirects.php">
    <div id="advanced-options-div" style="display: none">

      <label id="action-title">
         Please choose an action to take and enter your password  
      </label>
        
      <div id="action-select-div">
        <input type="hidden" name="exam" value="{{ exam_id|raw }}"/>
        <input type="hidden" name="session" value="{{ session_id|raw }}"/>
        <input type="hidden" name="student" value="{{ student_id|raw }}"/>
        
        <ul id="action-options">
            <li>
              <input type="radio" id="mark-all-absent" name="action_exam_results" value="{{ mark_all_absent }}"/>
              <label for="mark-all-absent">Mark all stations absent for this {{ 'student'|trans }}</label></li>
            <li>
              <input type="radio" id="delete-all-results" name="action_exam_results" value="{{ delete_all }}"/>
              <label for="delete-all-results">Delete all station results for this {{ 'student'|trans }}</label>                
            </li>
        </ul>
      </div>

      <div id="confirm-password-div">
        <br/>
        <label id="confirm-password-label" for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" name="confirm_password" size="31" class="form-control w-auto d-inline-block"/>
      </div>
      
      <div id="advanced-buttons-div">
        <input id="cancel-action" type="button" value="cancel" class="btn btn-danger"/>
        <input id="submit-action" type="submit" name="submit_action" value="continue" class="btn btn-success"/>
      </div>

   </div>

   <div id="dialog-action-confirm" title="" style="display:none">
     <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        <span id="dialog-message"></span>
     </p>
   </div>
  </form>
 
{% endif %}

<div class="contentdiv" id="content-div" style="display: none">
   
 {# Display any flash messages if no results found #}
 {% if flash_message_count == 0 and num_of_results == 0 %}
     <span id="error_status_messages" class="flash-span2">
     </span>
 {# The actual results themselves #}
 {% else %}
     
   {# Flash display any error messages #}
   {% if flash_message_count > 0 %}
     <span id="error_status_messages" class="flash-span2">
     </span>  
   {% endif %}

  {# There are results to display #}
  {% if num_of_results > 0 %}
   <table class="tsr" id="student-exam-results-table">
   <tr class="titlerow">
     <th>Station</th>
     <th>{{ 'Station Group'|trans }}</th>
     <th>Name</th>
     <th>{{ 'Examiner'|trans }} Count</th>
     <th class="c">Raw Score</th>
     <th class="score-cell">Score %</th>
   </tr>
  
    {# Student results summary #}
    {% for result in student_results %}
        
      {% set borderBottom = (loop.last and score_found == true) ? " innerbb" : '' %}
      <tr>
       <td class="station-nr{{ borderBottom|raw }}">
         <a href="{{ result['station_link']|raw }}">#{{ result['station_number']|raw }}</a>
       </td>
       <td class="c{{ borderBottom|raw }}">{{ result['station_code']|raw }}</td>
       <td class="{{ borderBottom|raw }}">{{ result['form_name']|raw }}</td>
       <td class="c{{ borderBottom|raw }}">{{ result['result_count']|raw }}</td>

       {# Absent found, render absent record #}
       {% if result['station_absent'] == true %}
         <td class="absent{{ borderBottom|raw }}" colspan="2">ABSENT</td>
       {% else %}
         <td class="c{{ borderBottom|raw }}">{{ result['station_mean']|raw }} / {{ result['station_possible']|raw }}</td>
         <td class="c{{ borderBottom|raw }}">{{ result['station_percent']|raw }} %</td>
       {% endif %}
      </tr>

   {% endfor %}
    
   {% if score_found == true %}
   
    <tr>
        <td class="nbl">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="c bold">{{ exam_summary['exam_score'] }} / {{ exam_summary['exam_possible'] }}</td>
        <td class="c bold">{{ exam_summary['exam_percent'] }} %</td>
    </tr>
    
   {% endif %}
</table>

{# Display admin notes entry (free text field) #}

 {% set notesMode = student_exam_data.notes|length > 0 ? 'edit' : 'add' %}

 <div id="student-notes-box">
   <label id="student-notes-label" for="student-notes">
    Add Issues/Notes <img src="assets/images/pages.png" alt="issues"/>
   </label>
   <textarea id="student-notes" placeholder="text.." readonly="readonly" cols="98" rows="16">{{ 
     student_exam_data.notes|length > 0 ? student_exam_data.notes 
     }}</textarea>
   <div id="student-notes-base">
      <div class="fl">

        <span>Last Updated</span>
        <span id="notes-updated">
        {% if student_exam_data.notes_updated is not empty %}
          {{ student_exam_data.notes_updated|date("d/m/Y H:i:s") }}
        {% endif %}
        </span>
        <br/>
        <span>Updated By</span>
        <span id="notes-author">
        {% if student_exam_data.notes_author is not empty %}
           {{ student_exam_data.notes_author|raw }}
        {% endif %}
        </span>

      </div>
      <div id="notes-button-box">
        <input type="hidden" id="notes-original" value="{{ student_exam_data.notes|raw }}"/>
        <input type="hidden" id="notes-exam-id" value="{{ exam_id|raw }}"/>
        <input type="hidden" id="notes-student-id" value="{{ student_id|raw }}"/>
        <button type="button" style="display:none" id="cancel-student-notes" title="cancel update notes" class="btn btn-danger btn-sm">
          cancel
        </button>
        <button type="button" id="edit-student-notes" value="edit" title="edit issues notes" class="btn btn-success btn-sm">
          {{ notesMode }}
        </button>
      </div>
      <br class="clearv2"/>
   </div>
 </div>

{# Display graph only if there are scores #}
{% if score_found == true %}
<table class="gtable">
  <tr>
  <td>
  <select id="compare-type">
     <option value="{{ station_combine_scenario }}">Results comparison by Station {{ 'scenario'|trans|title }}</option>
     <option value="{{ station_combine_default }}" {{ (combine_default_select) ? 'selected="selected"' : '' }}>Results comparison by Station Number</option>
     {% if enable_tag_option %} 
     <option value="{{ station_combine_tag }}" {{ (combine_tag_select) ? 'selected="selected"' : '' }}>Results comparison by {{ 'Station Group'|trans }}</option>
     {% endif %}
  </select>
  </td>
 </tr>
 <tr>
  <td>
    <img alt="{{ 'Student'|trans }} results per station" src="{{ radar_graph_url|raw }}" width="680px" height="560px"/>
  </td>
 </tr>
 {# Num of competencies > 0, then show radar graph #}
 {% if competency_result_count > 0 %}
  <tr>
    <td>
      <img alt="{{ 'Student'|trans }} results per competency" src="{{ competency_graph_url|raw }}" id="student-competency-graph" width="680px" height="560px"/>
    </td>
  </tr>
 {% endif %}
</table>
{% endif %}

  {% endif %}
{% endif %}