{# Analysis tabs template #} 
<div id="tabs">
  <ul>
    <li class="results-rules"{{ tabPersist == "rules" ? ' id="tab-selected"' }}>
        <a class="rules-normal" href="javascript:void(0)">Rules</a>
        <a class="rules-highlight" href="javascript:void(0)"title="Please review Exam Rules" style="display:none">Rules</a> 
    </li>
    <li class="results-raw"{{ tabPersist == "raw" ? ' id="tab-selected"' }}>
        <a href="javascript:void(0)">Raw Data</a>
    </li>
    
    {% if showSelfAssessments %}
      <li class="results-assessments"{{ tabPersist == "assessments" ? ' id="tab-selected"' }}>
          <a href="javascript:void(0)">Self Assessments</a>
      </li>
    {% endif %}
   
    <li class="results-summary"{{ tabPersist == "summary" ? ' id="tab-selected"' }}>
        <a href="javascript:void(0)">Summary</a>
    </li>  
    <li class="results-detailed"{{ tabPersist == "detailed" ? ' id="tab-selected"' }}>
        <a href="javascript:void(0)">Detailed</a>
    </li>
 
    {% if showCompetencies %}
       <li class="results-competencies"{{ tabPersist == "competencies" ? ' id="tab-selected"' }}>
          <a href="javascript:void(0)">{{ 'Competencies'|trans }}</a>
       </li>
    {% endif %}
 
    {% if showExaminers %} 
 
        <li class="results-examiners"{{ tabPersist == "examiners" ? ' id="tab-selected"' }}>
            <a href="javascript:void(0)">{{ 'examiners'|trans|title }}</a>
         </li>
 
    {% endif %}
 	  
    <li class="results-graphs"{{ tabPersist == "graphs" ? ' id="tab-selected"' }}>
       <a href="javascript:void(0)">Graphs</a>
    </li>
      
    {% if showAlerts %} 
     
       <li class="results-alerts"{{ tabPersist == "alerts" ? ' id="tab-selected"' }}>
           <a class="alerts-tab" href="javascript:void(0)">Alerts</a>
       </li>
    
    {% endif %}
     
     <li class="results-export"{{ tabPersist == "export" ? ' id="tab-selected"' }}>
         <a href="javascript:void(0)">Export</a>
     </li>
  </ul>
 </div>