{# Twig template for osce/ajx_edit_radio_fields.php #}
{% if form_exists %}
    
  {% for index in 1..quantity %}
      
      {% set value = "" %}
      {% set descriptor = "" %}
      {% set new_line = ((index % 3) == 0) %}
      {% set value_readonly = false %}
      {% set flag_enabled = false %}
            
      {{ include('option_fields.html.twig') }}
      
  {% endfor %}  
 <br class="clearv2"/>
{% else %}
  <span class="boldred">This item does not exist in this section, please refresh page [F5].</span>
{% endif %}

