{# Description: Template for osce/ajx_edit_section_details.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}
<div class="group1-section-settings">

<label class="section-label" for="sectionorderedit_{{ current_section_id }}">Order </label>
<select id="sectionorderedit_{{ current_section_id }}" class="custom-select custom-select-sm w-auto">  
{% for order in 1..section_count %}
   {% set selected = (order == current_section_order) ? ' selected="selected"' : '' %}
   <option value="{{ order }}"{{ selected|raw }}>{{ order }}</option>
{% endfor %}
</select>
&nbsp;&nbsp;&nbsp;
<label class="section-label" for="compselectedit_{{ current_section_id }}">Type </label>
<select id="compselectedit_{{ current_section_id }}" class="comp-edit-fields custom-select custom-select-sm w-auto">
{% for type, competency_list in competencies %}
  
  {% if (type == current_competence_type) %} 
     <optgroup label="{{ type|title|raw }}">
     {% for competency in competency_list %}   
         
       {% set competence_id = competency['competence_id'] %}
       {% set competence_description = competency['competence_desc'] %}
       {% set selected = (current_competence_id == competence_id) ? ' selected="selected"' : '' %}
       
       {% if competence_description is empty %}
         {% set competence_description = "Other/Empty" %}
       {% endif %}
	
       <option value="{{ competence_id }}"{{ selected }}>{{ competence_description|raw }}</option>
             
     {% endfor %}    
     </optgroup>
 {% endif %}
        
{% endfor %}
</select>
&nbsp;&nbsp;&nbsp;       
<input type="text" id="sectiondescedit_{{ current_section_id }}" class="comp-edit-fields form-control form-control-sm w-auto d-inline-block mt-1" size="80" 
value="{{ additional_title_info|raw }}" placeholder="title text (optional)..."/>
</div>

<div class="group2-section-settings">    

{% set sectionFeedbackChecked = (section_feedback == 1) ? ' checked="checked"' : '' %}
{% set itemFeedbackChecked = (item_feedback == 1) ? ' checked="checked"' : '' %}

<label class="section-label-2" for="sectionfeedback_{{ current_section_id }}">Section Feedback</label>
<input type="checkbox" id="sectionfeedback_{{ current_section_id }}" class="comp-edit-fields" {{ sectionFeedbackChecked|raw }} value="1"/>

<label class="section-label-2" for="itemfeedback_{{ current_section_id }}">Item Feedback</label>
<input type="checkbox" id="itemfeedback_{{ current_section_id }}" class="comp-edit-fields" {{ itemFeedbackChecked|raw }} value="1"/>
&nbsp;&nbsp;&nbsp;
 {% set grs_title = "Global Rating Scales Only" %}
 <label class="section-label" for="feedbackrequired_{{ current_section_id }}">Feedback Compulsory</label>
 <select id="feedbackrequired_{{ current_section_id }}" class="comp-edit-fields custom-select custom-select-sm w-auto">

    {# PHP Definition: Config::FEEDBACK_NONE => "No" #}
    {% set selected = (feedback_required == 0) ? ' selected="selected"' : '' %}
    <option value="0"{{ selected }}>No</option>
    
    {# PHP Definition: Config::FEEDBACK_ALL => "Yes" #}
    {% set selected = (feedback_required == 1) ? ' selected="selected"' : '' %}
    <option value="1"{{ selected }}>Yes</option>
    
    {# PHP Definition: Config::FEEDBACK_FLAG_OPTION => "Flagged Option Chosen" #}
    {% set selected = (feedback_required == 5) ? ' selected="selected"' : '' %}
    <option value="5"{{ selected }}>Flagged Option Chosen</option>    
    
    {% if current_competence_type == "scale" %}
        
    {# PHP Definition: Config::FEEDBACK_GRS_FAIL => "GRS Fail" #}
    {% set selected = (feedback_required == 2) ? ' selected="selected"' : '' %}
    <option value="2"{{ selected }} title="{{ grs_title }}">GRS Fail</option>
    
    {# PHP Definition: Config::FEEDBACK_GRS_BORDERLINE => "GRS Borderline" #}
    {% set selected = (feedback_required == 3) ? ' selected="selected"' : '' %}
    <option value="3"{{ selected }} title="{{ grs_title }}">GRS Borderline</option>
    
    {# PHP Definition: Config::FEEDBACK_GRS_BORDERLINE_AND_FAIL => "GRS Fail & Borderline" #}
    {% set selected = (feedback_required == 4) ? ' selected="selected"' : '' %}
    <option value="4"{{ selected }} title="{{ grs_title }}">GRS Fail &amp; Borderline</option>
    
    {% endif %}
    
  </select>
&nbsp;&nbsp;&nbsp;
{% set internalChecked = feedback_internal == 1 ? ' checked="checked"' : '' %}
<label class="section-label-2" for="feedbackinternal_{{ current_section_id }}">Internal Feedback Only</label>
<input type="checkbox" id="feedbackinternal_{{ current_section_id }}" class="comp-edit-fields" {{ internalChecked|raw }} value="1"/>

{% if (exam_self_assess and section_self_assess) or (exam_self_assess and form_self_assess == false) %}
 {% set selfAssessChecked = section_self_assess ? ' checked="checked"' : '' %}
 <label class="section-label-2" for="selfassessment_{{ current_section_id }}">Self Assessment</label>
 <input type="checkbox" id="selfassessment_{{ current_section_id }}" class="comp-edit-fields" {{ selfAssessChecked|raw }} value="1"/>
{%  endif %}
</div>
<div id="section-button-div" class="group3-section-settings">
  <input type="button" id="editsectioncancel_{{ current_section_id }}" value="cancel" class="edit-section-buttons btn btn-outline-danger btn-sm"/>
  <input type="button" id="editsectionupdate_{{ current_section_id }}" value="update" class="edit-section-buttons btn btn-success btn-sm"/>
</div>
