{# Description: Template for osce/ajx_section_buttons.php #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

{% set no_items_css_class = (not has_items) ? " noitems" : "" %}
{% set center_css_class = (form_item_count == 0 or (not has_items)) ? " c" : "" %}
{% set float_css_class = (has_items) ? " fl" : "" %}

<div class="sectionbuttondiv{{ no_items_css_class }}"> 
{% if not form_has_result %}
 {% if not has_items %} 
 <div class="noitemsdiv">No items exist for this {{ 'section'|trans }}, click 'new item' button below to add new item</div>
 {% endif %}
 <div class="section-buttons-div{{ center_css_class }}">
 {% if has_items %}
  <div class="delitemdiv">
    <input type="button" class="delbut btn btn-sm btn-outline-danger" 
    value="&uarr; delete items" 
    id="delete_items-{{ current_section_id }}" 
    onclick="deleteSectionItems(this)"/>
  </div>
  {% endif %}
  
  <div class="{{ float_css_class }}">       
  {% if form_item_count > 0 %}
    <select id="clone_item-{{ current_section_id }}" class="selectcloneitem">
    {% for section_id, section in sections_items %}
     {% set section_description = section['competence_desc'] %}
     {% set section_text = section['section_text'] %}
      
     {% if section_description|length > 0 and section_text|length > 0 %}
        {% set separator = " - " %}
     {% elseif section_description|length > 0 or section_text|length > 0 %}
        {% set separator = "" %}
     {% else %}
        {% set separator = "Competence ".section['section_order'] %}  
     {% endif %}
      
     {% set optgroup_title = section_description ~ separator ~ section_text %}
     <optgroup label="{{ optgroup_title|raw }}">
          
      {% for item in section['items'] %}
        {% set selected = (current_section_id == section_id) ? 'selected="selected"' : '' %}
        <option value="{{ item['item_id'] }}" {{ selected|raw }} title="{{ item['text']|decode_html_entities|striptags }}">ITEM {{ item['item_order'] }}</option>
      {% endfor %}    
       
     </optgroup>
    {% endfor %} 
     </select>
     <input type="button" class="btn btn-sm btn-outline-warning" id="clitem-{{ current_section_id }}" value="&#8628; clone item" onclick="addItemToSection(this)"/>
   {% endif %}
       <input type="button" class="btn btn-sm btn-outline-success" value="new item +" id="add_statitems-{{ current_section_id }}" onclick="addItemToSection(this)"/>
   </div>
   
 </div> 
{% endif %}
{% if has_items %}
   <div class="section-total"><span>{{ section_possible_marks }}</span> Marks</div>
{% endif %}
</div>