{# Twig template for ajx_scale_buttons.php #}

{% set no_items_css_class = (not section_has_scale_item) ? " noitems" : "" %}
{% set center_div = ((not form_has_items) or (not section_has_scale_item)) ? " c" : "" %}
{% set has_no_item_message = "No item exists for this Global Rating Scale, click 'create scale item' below to add the Item" %}

<div class="sectionbuttondiv{{ no_items_css_class }}">
{% if not form_has_results %}
    {% if not section_has_scale_item %}
    <div class="noitemsdiv">{{ has_no_item_message }}</div>
    {% endif %}
    <div class="section-buttons-div{{ center_div }}">
    {% if section_has_scale_item %}
        <div class="delitemdiv">
            <input type="button" class="delbut btn btn-sm btn-outline-danger" 
            value="&uarr; delete items" 
            id="delete_items-{{ current_section_id }}" 
            onclick="deleteSectionItems(this)"/>
        </div>
    {% else %}
        <input type="button" class="btn btn-outline-success btn-sm" value="create scale item +" id="create-scale-item"/>
    {% endif %}
    </div>
{% endif %}
</div>