{# Description: Template for options panel top right in osce/formbuilder.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{% set formLabel = 'form'|trans|capitalize %}
{% set formsLabel = 'forms'|trans|capitalize %}
{% set sectionLabel = 'section'|trans|capitalize %}
{% set sectionsLabel = 'sections'|trans|capitalize %}
{% set examLabel = 'exam'|trans|capitalize %}

{% if not form_has_results %}
        
<div class="card d-inline-block align-top mr-2 mb-4 add-section-fs">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Add {{ sectionLabel }} to {{ formLabel }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <table class="fshid first-table">
 <tr>
   <th class="new-section-title" title="Choose action to take">Choose Action</th>
   <td>
   <select id="action-type">
     <option value="1">New {{ sectionLabel }}</option>
     <option value="2">Add from Previous {{ formsLabel }}</option>
    </select>
   </td>
</tr>
</table>
   
<form class="optionsdisplay" name="comp_add_form" id="comp_add_form" 
      method="post" action="forms/forms_redirect.php" onsubmit="return(ValidateForm(this))">
<table class="fshid">
<tr>
<th class="new-section-title" title="The {{ sectionLabel }} type">{{ sectionLabel }} Type</th>
<td>
<select id="competence-type" name="competence_type">
{% for type, competency_list in competencies %}
  
  {% if not (type == "scale" and form_has_scale_section) %} 
     <optgroup label="{{ type|title|raw }}">
     {% for competency in competency_list %}     
       {% set competence_description = competency['competence_desc']  %}
       
       {% if competence_description is empty %}
         {% set competence_description = "Other/Empty"  %}
       {% endif %}
         <option value="{{ competency['competence_id'] }}">{{ competence_description|raw }}</option> 
     {% endfor %}    
     </optgroup>
 {% endif %}
        
{% endfor %}
 </select>
 </td>
 </tr>
      
 <tr>
 <th class="new-section-title" title="Add additional text (optional)">Section Title (optional)</th>
 <td>
  <input type="text" name="section_text" id="section_text" size="34"/>
  <input type="hidden" name="form_id" id="form_id" value="{{ form_id }}"/>
 </td>
 </tr>

 <tr>
 <th class="new-section-title" title="What order shall the {{ sectionLabel }} be?">{{ sectionLabel }} Order</th>
 <td>
 <select id="section_order" name="section_order" class="fl">
    
 {% set max_section_order = (total_section_count + 1) %}
 {% for order in 1..max_section_order %}
    {% set selected = (order == max_section_order) ? ' selected="selected"' : '' %}
    <option value="{{ order }}"{{ selected|raw }}>{{ order }}</option>
 {% endfor %}

 </select>
 </td>
 </tr>

 <tr>
 <td colspan="2"></td>
 </tr>

 <tr>
 <td colspan="2"></td>
 </tr>

 <tr>
 <th class="new-section-title" title="Enable/disable feedback entry for this section">Section Feedback</th>
 <td>
  <input type="checkbox" class="feedback-cb" name="section_feedback" checked="checked" id="section-feedback" value="1"/>
 </td>
 </tr>

<tr>
<th class="new-section-title" title="Enable/disable feedback entry per item">Item Feedback</th>
<td>
    <input type="checkbox" class="feedback-cb" name="item_feedback" id="item-feedback" value="1"/>
</td>
</tr>
 
 {% set feedback_info = "Does the observer need to add feedback for this section?" %}
 <tr>
 <th class="new-section-title" title="{{ feedback_info|raw }}">Feedback Compulsory</th>   
 <td>
 <select id="feedback-required" name="feedback_required">
    
{% for value, name in feedback_options %}
  
  {% set selected = "" %}
  {% set grs_feedback = "" %}
  {% set other_feedback = "" %}
  {% set title = "" %}  
    
  {% if (value in feedback_grs) %}
    {% set title = "Global Rating Scales Only" %}
    {% set grs_feedback = "grs-type hide"  %}
    
    {% if (value == feedback_compulsory_default) %}
      {% set grs_feedback = grs_feedback ~ " selected" %}  
    {% endif %}
        
  {% endif %}
  
  {% if (value in feedback_other) %}
      {% set other_feedback = " other-type" %}
  {% endif %}
  
  <option value="{{ value }}" class="{{ grs_feedback }}{{ other_feedback }}" title="{{ title|raw }}">{{ name|raw }}</option>
{% endfor %}

</select>
</td>
</tr>

<tr>
  <th class="new-section-title" title="Internal feedback only? Do not send feedback to {{ 'students'|trans }}">Feedback Internal Only</th> 
   <td>
    <input type="checkbox" class="feedback-cb" id="internal-feedback-only" name="internal_feedback_only" value="1"/>
   </td> 
    </tr>
    <tr>
    
 {% if self_assess %}
    {% if self_assess_exists == false %}
        {% set selfTitle = "Configure section as self assessment (1 per " ~ 'form'|trans ~ ")" %}
        <th class="new-section-title" title="{{ selfTitle }}">Self Assessment</th>
	      <td><input type="checkbox" class="feedback-cb" id="self-assessment" name="self_assessment" value="1"/>
    {% else %}
        <th class="new-section-title"></th>
        <td>
    {% endif %}
 {% else %}
    <th class="new-section-title"></th>
    <td>
 {% endif %}
    <input type="submit" name="submit_sections" id="submit_sections" class="fr btn btn-success btn-sm" value="add +"/>
    </td>
</tr>
</table>
</form>

<form class="optionshide" name="add_previous_form" id="add_previous_form" method="post" action="forms/forms_redirect.php" onsubmit="return(ValidateForm(this))">
<table class="fshid">
<tr>
<th class="new-section-title">From {{ 'Term'|trans }}</th>
<td>
<select id="strm">
<option value="">ALL {{ 'Terms'|trans }}</option>
{% for term in academic_terms %}
  {% set term_id = term['term_id'] %}  
  {% set term_description = term['term_desc'] %}
  {% set term_selected = (term_id == current_term) ? ' selected="selected"' : '' %}
  <option value="{{ term_id }}" title="{{ term_description|raw }}"{{ term_selected|raw }}>{{ term_id|raw }}</option>
{% endfor %}
</select> 
  </td>
</tr>
 
<tr>
<th class="new-section-title">From {{ formLabel }}</th>
<td id="fstationtd">
<select id="previous-form-id" name="previous_form_id">
<option value="--">--</option>

{% for deptTags in all_forms %}
  <optgroup class="departments" label="{{ deptTags['department']|raw }}: ">  
      
  {% for tag, tagForms in deptTags['forms'] %}
    
    <optgroup class="tags" label="~ {{ tag is empty ? "untagged" : tag|raw }}">
    {% for form in tagForms %}
       <option class="tag-forms" value="{{ form['form_id']|raw }}">{{ form['form_name']|raw }}</option>
    {% endfor %}
    </optgroup>
    
  {% endfor %}

  </optgroup>
{% endfor %}
</select>
</td>
</tr>


<tr>
<th class="new-section-title">{{ formLabel }} {{ sectionsLabel }}</th>
<td><div id="form-section-list">Please choose a {{ formLabel|lower }}</div></td>
</tr>
     
<tr id="todo-tr">
<th class="new-section-title" title="Where to put Sections?">What to do</th>
<td> 
<select id="to_do" name="to_do" class="fl">
{% if total_section_count > 0 %}
  <option value="addend">Add {{ sectionsLabel }} to end of this {{ formLabel }}</option>
  <option value="addstart">Add {{ sectionsLabel }} to start of this {{ formLabel }}</option>
  <option value="repall">Replace all {{ sectionsLabel }} in this {{ formLabel }}</option>
{% else %}
  <option value="addnew">Add {{ sectionsLabel }} to this {{ formLabel }}</option>
{% endif %}
</select>
<input type="hidden" name="current_form_id" id="current-form-id" value="{{ form_id }}"/>
<input type="hidden" id="translation-form" value="{{ 'form'|trans }}"/>
<input type="submit" name="add_previous_items" id="add-previous-items" value="add +" disabled="disabled" class="fr btn btn-success btn-sm"/>
<br class="clearv2"/>
</td>
</tr>

</table>
</form>
    </div>   
  </div> 
</div> 
  
{% else %}
<div class="card d-inline-block align-top mr-2 mb-4">
  <div class="card-header">
    <div class="card-title h6 mb-0">
      <div class="row no-gutters align-items-center">
        <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
        <span class="card-title-text">
          Please Note
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      This {{ formLabel|lower }} is attached to {{ 'exams'|trans }} with <u>results</u>, therefore
    you cannot modify {{ sectionsLabel|lower }} and items. Some editing fields may be disabled also. 
    If you require a new version of this {{ formLabel|lower }}, please use the 'clone' option on the left panel.
    <div id="linked-message-div">List of all linked {{ 'exams'|trans }}:</div>
    <ul id="linked-exams-ul">
      {% for exam in linked_exams %} 
       <li {{ current_exam == exam.exam_id ? ('class="hl-exam" title="Current ' ~ examLabel ~ '"')|raw }}>
           {{ current_exam != exam.exam_id ? '-' }} 
           {{ exam.exam_name|decode_html_entities|raw }} 
           ({{ exam.term_id|decode_html_entities|raw }})</li>
      {% endfor %}
   </ul>   
    </div>   
  </div> 
</div> 
{% endif %}