{# Description: Template for options panel left/bottom in osce/formbuilder.php #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}

{% set formLabel = 'form'|trans|capitalize %}
{% set location = "top" %}

{# Fit return button behaviour from navigation panel #}
{# April 2018 #}
<style type="text/css">
  #fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 15%;
  left: 70%;
  max-width: 600px;
  max-height: 360px;
  margin-left: ;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
</style>
<script type="text/javascript">
  window.document.onkeydown = function(e) {
  if (!e) {
    e = event;
  }
  if (e.keyCode == 27) {
    lightbox_close();
  }
}

function lightbox_open() {
  var lightBoxVideo = document.getElementById("VisaChipCardVideo");
  window.scrollTo(0, 0);
  document.getElementById('light').style.display = 'block';
  document.getElementById('fade').style.display = 'block';
  lightBoxVideo.play();
}

function lightbox_close() {
  var lightBoxVideo = document.getElementById("VisaChipCardVideo");
  document.getElementById('light').style.display = 'none';
  document.getElementById('fade').style.display = 'none';
  lightBoxVideo.pause();
}
</script>
<script>
    jQuery(document).ready(function() {
        jQuery('.return').click(function() {
            var input = jQuery('<input>')
                .attr('type', ' hidden')
                .css('display', 'none')
                .attr('name', 'form_options[0]')
                .val('return');

            jQuery('[name="additional_options_form"]')
                .append(input)
                .submit();
        });
        $('#formdesc').hide();
    });
</script>
{% if file_upload == "success" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>File Uploaded successfully!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if error == "notmp4" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>File Not Uploaded!</strong> Please Upload a "mp4" format video.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<form name="additional_options_form" id="addoptions_form{{ location }}" method="post" 
      action="forms/forms_redirect.php" onsubmit="return(ValidateForm(this))" enctype="multipart/form-data">


  <div class="card d-inline-block align-top mr-2 mb-4">
    <div class="card-header">
      <div class="card-title h6 mb-0">
        <div class="row no-gutters align-items-center">
          <img src="assets/images/Filter.svg" alt="card-title-icon" class="card-title-icon">
          <span class="card-title-text">
            {{ formLabel }} Options
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
      <fieldset class="inner-fs mt-0" id="form-name-field" 
          {% if cloned is not null %}
              
             {% if cloned %} 
               {{ 'title="Successfully Cloned" data-cloned="yes"' }}
             {% else %}
               {{ 'title="Clone failed unexpectedly, please try again" data-cloned="no"' }}  
             {% endif %}
             
          {% endif %}
         >
        <legend class="inner-fsl">{{ formLabel }} Name</legend>
        <input type="text" value="{{ form_data['form_name']|raw }}" readonly="readonly" 
               class="readonly" name="formname" id="formname" size="56"/>
      </fieldset>
      
      <!-- <fieldset class="inner-fs">
        
        <legend class="inner-fsl"><input type="radio" id="poptype" name="poptype" value="notes" {% if form_data['notes_video']|raw == "notes" %} checked {% endif %}{% if form_data['notes_video']|raw == "" %} checked {% endif %}>{{ formLabel }} Notes</legend>
    {% if case_notes_feature %}
        {% set textarea_css_class = (form_data['form_description']|length == 0) ? " empty" : "" %}
        <textarea readonly="readonly" data-scroll-scope class="readonly {{ textarea_css_class }}" 
          name="formdesc" id="formdesc" rows="4" cols="65">{{ form_data['form_description']|raw }}</textarea>
    {% else %}
        <div class="red f12" title="{{ feature_disabled_message|raw }}">Feature disabled</div>
    {% endif %}
     </fieldset> -->
<!-- instruction video upload -->
      <fieldset class ="inner-fs" id="tags-fieldset">
       
        <legend class="inner-fsl">
         <input type="hidden" id="poptype" name="poptype" value="video">Instruction Video + Notes</legend> 
<!-- {% if form_data['notes_video']|raw == "notes" %} checked {% endif %}{% if form_data['notes_video']|raw == "" %} checked {% endif %} -->
         <!-- <input type="radio" id="poptype" name="poptype" value="notes" checked>{{ formLabel }} Notes</legend> -->
    {% if case_notes_feature %}
        {% set textarea_css_class = (form_data['form_description']|length == 0) ? " empty" : "" %}
        <div id="divdesc">{{ form_data.form_description|decode_html_entities|raw }}</div>
       <textarea  readonly="readonly" data-scroll-scope class="readonly {{ textarea_css_class }}" 
          name="formdesc" id="formdesc" rows="4" cols="65">{{ form_data.form_description|decode_html_entities|raw }}</textarea>
    {% else %}
        <div class="red f12" title="{{ feature_disabled_message|raw }}">Feature disabled</div>
    {% endif %}     
    <br><br>  
             <input type="file" name="insvideo" id="insvideo" />
  <br><br>

             {% if file == "file found" %}   <a href="#" title="Click Here preview" onclick="lightbox_open();">{{ form_data['form_id'] }}.mp4</a> {% else %} <p style="color: red">Please Upload a Video File.</p> {% endif %}<div>
</div>
     </fieldset>
<!-- instruction video upload -->
<input type="hidden" name="url_data" value="{{ url_data }}">
     <fieldset class ="inner-fs" id="tags-fieldset">
        <legend class="inner-fsl">Content Tags</legend>
        
        <div id="tagging-div">
        {% for tag in tags %}
            <span class="form-tag">{{ tag.name|raw }}</span> 
        {% endfor %}
        </div>
        
        <select id="new-tag" style="display: none">
            <option value="">Select one...</option>

           {% for systemTag in systemWideTags %}
             <option value="{{ systemTag|raw }}">{{ systemTag|raw }}</option> 
           {% endfor %}
         
        </select>
        
     </fieldset>
     
     {% set yes_cb_checked = (form_data['design_complete'] == 1) ? 'checked="checked"' : '' %}
     {% set no_cb_checked = (form_data['design_complete'] == 0) ? 'checked="checked"' : '' %}
     <fieldset class ="inner-fs">
        <legend class="inner-fsl">Design Complete</legend>
        <label for="finished-yes">Yes</label>
        <input type="radio" id="finished-yes" name="form_finished" class="" 
               disabled="disabled" value="1" {{ yes_cb_checked|raw }}/>
        <label for="finished-no" class="not-finished-label">No</label>
        <input type="radio" id="finished-no" name="form_finished" 
               disabled="disabled" value="0" {{ no_cb_checked|raw }}/>
     </fieldset>
     
     <fieldset class ="inner-fs updated-non-edit">
        <legend class="inner-fsl">Last Updated</legend>
        {{ form_data['updated_at']|date("H:i:s d/m/Y") }} by 
        <span class="help" title="ID: {{ author.user_id|decode_html_entities|raw }}">
           {{ author.forename|decode_html_entities|raw }}
           {{ author.surname|decode_html_entities|raw }}
        </span>
     </fieldset> 


 <div class="panel1-button-container">
 <style>
     div.jump-button-div {
         border: none;
         box-shadow: none;
         padding: 0px !important;
         margin-right: 3px;
         margin-bottom: 0px;
         margin-top: 8px !important;
         float: left;
         min-width: 60px !important;
     }

     input.next {
         margin-left: 0 !important;
         margin-right: 0 !important;
     }

     input.previous {
         margin-right: 0 !important;
     }
 </style>

{% set justReturn = (jumpRecords.previousUrl|length == 0 and jumpRecords.nextUrl|length == 0) %}  

<div class="jump-button-div"{% if justReturn %} style="min-width: 0 !important"{% elseif jumpRecords.boxWidth|length > 0 %} style="width: {{ jumpRecords.boxWidth }} !important"{% endif %}>
  {% if jumpRecords.customEvents %} 
    <script>
        jQuery(document).ready(function() {
            jQuery('.previous').click(function() {
               parent.location="{{ jumpRecords.previousUrl|raw }}";
            });

            jQuery('.next').click(function() {
               parent.location="{{ jumpRecords.nextUrl|raw }}";
            });
        });
    </script>
  {% endif %}
    <a href="{{ jumpRecords.return_url }}"><input type="button" class="return{% if justReturn %} reset-return-margin{% endif %} btn btn-sm btn-dark" title="Return to List" value="{{ jumpRecords.returnLabel|raw }}"/></a>
    {% if jumpRecords.previousUrl|length %} 
      <input type="hidden" id="previous-url" value="{{ jumpRecords.previousUrl|e('html_attr') }}"/>
      <input type="button" id="previous" class="previous btn btn-sm btn-secondary" title="Jump to Previous {{ jumpRecords.previousRecordLabel|raw }}" value="<{% if not jumpRecords.noRecordLabel %} Previous {{ jumpRecords.previousRecordLabel|raw }}{% endif %}"/>
    {% endif %}
    
    {% if jumpRecords.nextUrl|length %}
      <input type="hidden" id="next-url" value="{{ jumpRecords.nextUrl|e('html_attr') }}"/>
      <input type="button" id="next" class="next btn btn-sm btn-secondary" title="Jump to Next {{ jumpRecords.previousRecordLabel|raw }}" value="{% if not jumpRecords.noRecordLabel %}Next {{ jumpRecords.nextRecordLabel|raw }} {% endif %}>"/>
    {% endif %}
</div>
 <!-- {% include 'jumpToSection.html.twig' %} -->
 <div class="otherbs">
  <input type="hidden" id="formid_{{ location }}" name="form_id" value="{{ form_data['form_id'] }}"/>
  <input type="hidden" id="dept_id{{ location }}" name="dept_id" value="{{ current_dept_id|raw }}"/>
  <input type="hidden" id="term_data{{ location }}" name="term_data" value="{{ current_term }}"/>

   {% if form_has_items %}
        <input type="submit" id="cformat" name="form_options[1]" value ="unformat"
               title="Click to clear formatting for all items" class="btn btn-outline-danger btn-sm" />
        <input type="button" id="preview-{{ location }}" class="prevb btn btn-outline-success btn-sm" 
               value="preview" title="Click to preview {{ formLabel|lower }}"/>
   {% endif %}
   
     {% if hasContent %}
     <input type="button" id="clone-options" value ="clone" title="Clone {{ formLabel|title }}" class="btn btn-outline-success btn-sm"/>
     {% endif %}
     <input type="button" id="editform_{{ location }}" class="editform btn btn-success btn-sm  editbs " 
            value="edit" title="Click to edit/update {{ formLabel|lower }} details"/>

   {% if session_id|length > 0 and station_id|length > 0 %}
      <input type="hidden" id="sessionid_{{ location }}" name="session_id" value="{{ session_id }}"/>
      <input type="hidden" id="stationid_{{ location }}" name="station_id" value="{{ station_id }}"/>
      <input type="hidden" name="show_session" value="{{ show_session }}"/>
   {% endif %}
  </div>
  <br class="clearv2"/>
 </div>
</div>   
</div> 
</div> 
</form>

{# Clone Assessment form (scoresheet) Dialog #}
  <div id="clone-selector" title="Clone this Assessment {{ 'form'|trans|title }}">
    <form method="post" autocomplete="off" id="clone-form" action="forms/clone_redirect.php">
      <div class="clone-div">
        <label class="bold" for="new-name">New Name&nbsp;&nbsp;</label>
        <input type="hidden" name="clone_form" value="{{ form_data['form_id'] }}"/>
        <input type="hidden" name="org_name" value="{{ form_data['form_name']|raw }}"/>
        <input type="hidden" name="clone_dept" value="{{ current_dept_id|raw }}"/>
        
        {% if session_id|length > 0 and station_id|length > 0 %} 
           <input type="hidden" name="station_id" value="{{ station_id|raw }}"/>
           <input type="hidden" name="form_desc" value="{{ form_data['form_description']|raw }}"/>
        {% endif %}
        
        <input type="text" id="new-name" placeholder="enter name.." name="new_name" 
               value="{{ form_data['form_name']|raw }} (1)" size="56"/> 
      </div>
      <div class="clone-div">
        <label class="bold" for="clone-action">Clone Type&nbsp;</label>
        <select id="clone-action" name="clone_action" autofocus>
          <option value="1">Clone into bank</option>
          {% if station_id|length > 0 %}
          <option value="2">Make unique to this {{ 'exam'|trans }}</option>
          {% endif %}
        </select>
      </div>
      <div class="clone-div">
        <label class="bold" for="clone-term">Destination {{ 'Term'|trans }}&nbsp;</label>
        <select id="clone-term" name="clone_term">
          {% for term in academic_terms %}
            {% set term_selected = (term['term_id'] == current_term) ? ' selected="selected"' : '' %}
            <option value="{{ term['term_id'] }}" title="{{ term['term_desc']|raw }}"{{ term_selected|raw }}>
            {{ term['term_id']|raw }}
            </option>
          {% endfor %}
        </select>        
      </div>      
      <div class="clone-div">
        <label class="bold">{{ 'Department'|trans }}&nbsp;</label>
        {{ department_name|raw }}
      </div>
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">      
    </form>
  </div>

<div id="light">
  <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
  <video id="VisaChipCardVideo" width="600" controls>
      <source src="media/{{ form_data['form_id'] }}.mp4?v={{ rand }}" type="video/mp4">
      <!--Browser does not support <video> tag -->
    </video>
</div>

<div id="fade" onClick="lightbox_close();"></div>
