{# Twig template for the forms_osce.php script #}
{% import "helpers.twig" as helpers %}
<div class="topmain">

  <div class="row">
    <div class="col-lg-5 col-sm-6 col-12">
        <div class="card d-inline-block align-top w-100 h-100">
            <div class="card-header">
              <div class="card-title h6 mb-0">
                <div class="row no-gutters align-items-center">
                  <img src="assets/images/manage.svg" alt="card-title-icon" class="card-title-icon">
                  <span class="card-title-text">
                    Assessment {{ 'form'|trans|title }} Bank
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text">
                Manage assessment {{ 'forms'|trans }} in selected {{ 'department'|trans }} &amp; {{ 'term'|trans }}<br/><br/>
           To assist with filtering, choose filter tags (assessment {{ 'form'|trans }} <br/>categories) and refine search using search field provided
            
            {# Display number of stations #} 
            {% if filterReady %}
              {% set stickValues = stickies['form_bank'][selected_department] %}
              <br/><br/>Number of assessment {{ 'forms'|trans }}: <span class="bold">{{ forms|length }}</span><br/>
            {% else %}
              <br/><br/><br/>  
            {% endif %}
              </div>   
            </div> 
          </div> 
    </div>

    <div class="col-auto">
      {# Render filter drop-downs #}
      {% include 'filter_Options.html.twig' %}
    </div>
    <div class="col-5">
        {% if filterReady and forms|length > 4 %}
        <div id="search-records-div" class="mt-2">
          <input type="text" size="38" id="search-records" placeholder="find records containing.." value="{{ stickValues.search|raw }}"/>
        </div>
        {% endif %}
    </div>
  </div>
 
  <div class="topmain-clear"></div>
</div>
<div class="contentdiv form-list-closer">
<form name="forms_list_form" id="forms_list_form" method="post" action="forms/forms_redirect.php" onsubmit="return(ValidateForm())">
<table id="forms_table" class="table-border">
  <tr id="title-row" class="title-row">
   <td class="all-checkbox-td">
     <input type="checkbox"  id="check-all" {% if forms|length == 0 %}disabled="disabled"{% endif %}/>
   </td>
    <th>
      {# Station name title #}
      {{ helpers.sortColumn('Name - Content', 1, sortType, (sortIndex == 1), url, filterReady) }}
    </th>
    <th>
      {# Tag title #}
      {{ helpers.sortColumn('Tags', 2, sortType, (sortIndex == 2), url, filterReady) }}
    </th>    
    <th>
      {# Department title #}
      {{ helpers.sortColumn('Department'|trans, 3, sortType, (sortIndex == 3), url, filterReady) }}
    </th>
    <th>
      {# Last Author title #}
      {{ helpers.sortColumn('Last Author', 4, sortType, (sortIndex == 4), url, filterReady) }}
    </th>
    <th>
      {# Last updated title #}
      {{ helpers.sortColumn('Last Updated', 5, sortType, (sortIndex == 5), url, filterReady) }}
    </th>
    <th>
      {# Station settings title #}
      {{ helpers.sortColumn('Settings', 6, sortType, (sortIndex == 6), url, filterReady) }}
    </th>
    <th id="options-th">&nbsp;</th>
    <td class="title-edit-top">&nbsp;</td>
  </tr>

 {# List is filtered then display table of data #}
{% if filterReady %}
    {% if forms|length > 0 %}
        {% for form in forms %}

    <tr id="forms_row_{{ loop.index }}" class="datarow">
        <td class="checkb">
        {# Include hash identifier #x #}
        <span id="X{{ form.id|raw }}" class="frag-ref"></span>
          <input type="checkbox" name="forms_check[]" id="forms-check-{{ loop.index }}" value="{{ form.id|raw }}"/>
        </td>
         <td>
         <a href="{{ form.link|raw }}" class="editems" title="Click to {{ form.mode }} {{ 'form'|trans }} content ({{ 'sections'|trans }} and items)">{{ form.name|raw }}</a>
         {% if form.formWarnings.results is defined %}
             <div class="cannot-delete-form word-wrap">cannot perform this action, {{ 'form'|trans }} linked to results</div>
         {% elseif form.formWarnings.last is defined %}
             <div class="cannot-delete-form word-wrap">cannot perform this action, {{ 'form'|trans }} must be linked to at least 1 {{ 'year'|trans }}</div>
         {% endif %}
       </td>       
       <td>
        {% for tag in form.tags %}
           <div class="form-tag" data-tag="{{ tag.name|raw }}">{{ tag.name|raw }}</div>
        {% endfor %}
       </td>
       <td class="c" title="{{ form.departmentName|raw }}">{{ form.departmentID|raw }}</td>
       <td>
        {% if form.authorName|length > 0 %}
           {{ form.authorName|raw }}<br/>[<span class="boldgreen">{{ form.authorID|raw }}</span>]
        {% else %}
            [<span class="boldgreen">{{ form.authorID|raw }}</span>]
        {% endif %}    
       </td>
       <td>{{ form.updated|raw }}</td>
       <td class="c">
          <ul class="settings">
           <li><label title="Is {{ 'form'|trans }} design complete? yes/no">DESIGN COMPLETE</label> 
              {% if form.complete %}
                <span class="complete">YES</span> 
              {% else %}
                <span class="notcomplete">NO</span>
              {% endif %}
           </li>
          </ul>
        </td>
        <td class="options-td">
         <a class="preview-form-link" href="manage.php?page=previewform_osce&amp;form_id={{ form.id }}" target="_form{{ form.id }}">
           <img class="previewbu" src="assets/images/preview.svg" alt="Preview {{ 'form'|trans }}" title="Preview {{ 'form'|trans }}"/>
         </a>
        </td>
        <td class="titleedit">
        {{ helpers.buttonEditItem('editba', 'edit_' ~ loop.index, 'editb', 'Edit', 'Edit Basics') }}
        <br/><br/>
        </td>
    </tr>
    
   {% endfor %}
    
    {# Render status and base rows #}
    {% if forms|length > 0 %}   
    <tr id="base-tr">
      <td colspan="9" class="base-button-options" id="base-button-td">
      <div class="fl" id="select-div">
        
	<select name="todo" id="todo" disabled="disabled" class="custom-select custom-select-sm">
	<option value="delete">delete from system</option>
        <option value="complete">design complete</option>
        <option value="notcomplete">design not complete</option>
        <optgroup label="{{ 'term'|trans }} options">
            {% for termID, term in terms|reverse|slice(0, 3) %}
                {% if selected_term != termID %}
                  <option value="attachterm:{{ termID|raw }}" title="Attach to (reuse in) {{ 'term'|trans }} '{{ termID|raw }}'">
                    attach to {{ 'year'|trans }} {{ termID|raw }}
                  </option>
                {% endif %}
            {% endfor %}
                <option value="removeterm:{{ selected_term|raw }}" title="Remove from {{ 'term'|trans }} '{{ selected_term|raw }}'">
                    remove from {{ 'year'|trans }} {{ selected_term|raw }}
                </option>
        </optgroup>
        </select>
	   <input type="submit" value="go" class="btn btn-outline-default btn-sm" name="go_forms" id="go-forms" disabled="disabled"/>
      </div>	
      <div class="fr" id="add-div">
       <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
       <input type="hidden" value="{{ forms|length }}" id="count"/>
       <input type="hidden" value="{{ selected_department }}" name="dept"/>
      </div>			 
     </td>
    </tr>
    {% endif %}  
  {% else %}
    <tr id="first_forms_row">
    <td colspan="9" class="mess">
      <div id="forms_row_div" class="tablestatus2">No assessment {{ 'forms'|trans }} found. 
          Please click the 'add' button below if you require a new one</div>
    </td>
    </tr>
    
    <tr id="base-tr">
    <td colspan="9" class="base-button-options" id="base-button-td">	
    <div class="fr" id="add-div">
    <input type="button" value="add +" name="add" id="add" class="btn btn-success btn-sm"/>
    </div>			 
    </td>
    </tr>
   {% endif %}
 {% else %}
   <tr id="first_forms_row">
   <td colspan="9" class="mess2">
     <div id="forms_row_div" class="tablestatus1">Please choose {{ 'department'|trans }} and {{ 'term'|trans }} 
         from the filter list above</div>
   </td>
   </tr>
 {% endif %}
 </table>
</form>
</div>