{# Description: Template for item competencies selector add/edit item options #}
{# Author: David Cunningham #}
{# © 2016 Qpercom Limited.  All rights reserved. #}

{% set hide = (framework_enabled) ? '' : 'visibility: hidden' %}
{% set buttonDisabled = (framework_enabled) ? '' : ' disabled="disabled"' %}
{% set disabledTitle = (framework_enabled) ? '' : ' title="' ~ framework_disabled_info ~ '"' %}

{# Image pre-load and for cloning, hidden by default #}
<img src="assets/images/deletetiny.svg" alt="remove" class="remove-competency" id="remove-img-template" title="Remove {{ 'Competency'|trans }}" height="9" width="9"/>
<div id="container-competencies" style="{{ hide }}">
       
   {# Already selected Competencies for this item | Edit mode only #} 
   {% for competency in competencies %}
       
      {% if competency.id in selected %}
          <span class="item-competency" style="background-color: {{ competency.level_colour_code|raw }}">
              <img src="assets/images/deletetiny.svg" alt="remove" class="remove-competency" title="Remove {{ 'Competency'|trans }}" height="9" width="9"/>
             {{- competency.name|raw -}}
             <input class="selected-competencies" type="hidden" value="{{ competency.id|raw }}">
      {% endif %}
      
      {# Selected Sub Competencies #}
      {% if competency.id in selected %}  
         {% set subs = competency['descendants'] %} 
         {% for subCompetency in subs %}
            <input class="selected-competencies" type="hidden" value="{{ subCompetency.id|raw }}">
         {% endfor %}
         </span>
      {% endif %}      
      
   {% endfor %}
   
</div>
<input class="btn btn-outline-info btn-sm" type="button" id="edit-competencies" value="link {{ 'competencies'|trans }}"{{ buttonDisabled|raw }}{{ disabledTitle|raw }}/>

{# Competencies framework dialog #}
{% if framework_enabled %}
    
<div id="competency-selector" title="Link {{ 'Competencies'|trans }} to Items">
  <form>
   {% for competence in competencies %}
     <div class="level-one-container">
       {% set outterLoopIndex = loop.index %}
       <div>
         {% set levelOneChecked = (competence.id in selected) ? ' checked="checked"' : '' %}  
         <input type="checkbox" class="level-one-check group-{{ loop.index }}" id="competency-{{ competence.id|raw }}" value="{{ competence.id|raw }}"{{ levelOneChecked|raw }}/>
         <label class="bold" for="competency-{{ competence.id|raw }}">{{ competence.name|raw }}</label>
         <input type="hidden" class="colour-code" value="{{ competence.level_colour_code|raw }}"/>
       </div>
       
      {% set subCompetencies = competence['descendants'] %}
      
      {% for subCompetence in subCompetencies %}
        {% set checkedAttr = (subCompetence.id in selected) ? ' checked="checked"' : '' %}
        {% set hideSublevels = (display_sublevels) ? '' : 'display: none' %}
        
        <div class="sub-competencies group-{{ outterLoopIndex }}" style="{{ hideSublevels }}">
           <input type="checkbox" class="level-two-check group-{{ outterLoopIndex }}" value="{{ subCompetence.id|raw }}" id="competency-{{ subCompetence.id|raw }}"{{ checkedAttr|raw }}/>
           <label for="competency-{{ subCompetence.id|raw }}">{{ subCompetence.name|raw }}</label>
        </div>
      {% endfor %}
      
      {% set toggleClass = (display_sublevels) ? 'show' : 'hide' %}
      {% set toggleText = (display_sublevels) ? 'less' : 'more' %}
      <div class="toggle-div">
        <a href="javascript:void(0)" class="{{ toggleClass }}-sublevels toggle-sub-competencies group-{{ loop.index }}">{{ toggleText }}..</a>
      </div>
      
     </div>
   {% endfor %}    
      
     <!-- Allow form submission with keyboard without duplicating the dialog button -->
     <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">      
  </form>
  
</div>
{% endif %}