{# Twig template for option fields for each form item #}
{% set flagVisible = (flag_enabled) ? "" : " flag-off" %}
<div class="flp">
 <div class="value-div">
  <input type="text" class="radtype2 form-control form-control-sm" id="radio-{{ id|raw }}-{{ index|raw }}" onkeyup="ValRadioVals(this)" {% if value_readonly %}disabled="disabled"{% endif %} value="{{ value|raw }}" placeholder="value {{ index|raw }}.."/>
  <img class="flag{{ flagVisible }}" title="Click to flag option" height="36" width="36" src="storage/custom/images/flag-large.png"/>
  <input type="hidden" class="option-flag" id="flag-{{ id|raw }}-{{ index|raw }}"{{ flagChecked|raw }} value="{{ flag_enabled|number_format }}"/>
 </div>
 <div class="fl textarea-div">
     <textarea class="form-control form-control-sm" id="radiotext-{{ id|raw }}-{{ index|raw }}" rows="6" cols="28" placeholder="descriptor {{ index|raw }}..">{{ descriptor|raw }}</textarea>
 </div>
 <br class="clearv2"/>
</div>
{% if new_line %}
  <br class="clearv2"/>
{% endif %} 