{# Description: Template for scale items in form management (osce/formbuilder.php) #}
{# Author: David Cunningham #}
{# © 2017 Qpercom Limited.  All rights reserved. #}

<tr>
<td class="section-item-td" id="sectiontd-{{ current_section_id }}">
<table class="itemtable">

{% if section_has_scale_item %}
  {% set cb_input_type = (form_has_results) ? "hidden" : "checkbox" %}
  {% set item_id = scale_item['item_id'] %}
  {% set cb_css_class = (form_has_results) ? " nbr" : "" %}
  <tr class="itrw">
  <td class="checkb{{ cb_css_class }}">
  <input class="item-cb" type="{{ cb_input_type }}" name="quest_cb[]" id="quest_cb-{{ current_section_id }}-1" value="{{ item_id }}"/>
  </td>
   <td class="itemstxt" colspan="2">{{ scale_item['text']|decode_html_entities|raw }}</td>
   <td valign="top" class="white nbr"> 
   <ul class="itemdet2">
    
    {% set options = items_options[item_id]['options'] %}
    {% for option in options %}
        {% set answer_option_value = option['option_value'] %}
        {% set answer_option_text = option['descriptor'] %}   
        <li>
        <span class="italic">{{ answer_option_value|raw|lower }}</span> ~ <span>{{ answer_option_text|raw }}</span> 
        </li>
    {% endfor %}
    
   </ul>
   </td>

   <td class="edititem-td">
     {% spaceless %}    
      <a href="javascript:void(0)" class="scale" id="editq_{{ item_id }}">
       <img class="editb" src="assets/images/edit.svg" alt="Edit Item" title="Edit Item"/>
      </a>
     {% endspaceless %}
   </td>
   
   
 </tr>
 
{% endif %}
 
 <tr>
 <td class="section-buttons-td" colspan="6" id="itemaddtd">
   {% include 'ajx_scale_buttons.html.twig' %}
  </td>
 </tr>
 </table>
 </td>
</tr>

