{# Description: Template for items in form management (osce/formbuilder.php) #}
{# Author: David Cunningham #}
{# © 2019 Qpercom Limited.  All rights reserved. #}

{% set items = sections_items[current_section_id]['items'] %}
{% set section_has_items = (items|length > 0) %}
{% set section_possible_score = 0 %}
{% set section_weighted_score = 0%}
{% set formLabel = 'form'|trans|capitalize %}
{% set sectionLabel = 'section'|trans|capitalize %}

<tr>
<td class="section-item-td" id="sectiontd-{{ current_section_id }}">
{% if sections_items[current_section_id]['mixedValueDirection'] %}
    <div class="section-warning">WARNING | This section contains items with option values of opposing directions (low to high or high to low)</div>
{% endif %}
<table class="itemtable">

{% if section_has_items %}

    {# Number of competencies #}
    {% set noOfCompetencies = items_competencies|length %}
    {% set noIndicators = ((framework_enabled == false or noOfCompetencies == 0) and section_has_flag == false) ? ' no-indicators' : '' %}

    {% for item in items %}
        {% set section_possible_score = section_possible_score + max(item.lowest_value, item.highest_value) %}
        {% set section_weighted_score = section_weighted_score +(item.highest_value * item.weighted_value) %}
        {% set cb_input_type = (form_has_results) ? "hidden" : "checkbox" %}
        {% set cb_css_class = (form_has_results) ? " nbr" : "" %}
        {% set cb_identifier = current_section_id ~ "-" ~ loop.index %}

    <tr class="itrw">
        <td class="checkb{{ cb_css_class }}" id="editpoint-{{ item.item_id }}">
            <a name="#ep{{ item.item_id }}"></a>
            <input class="item-cb" type="{{ cb_input_type }}" name="quest_cb[]" id="quest_cb-{{ cb_identifier }}" value="{{ item.item_id }}"/>
        </td>

        {# Self Assessment Question #}
        {% if item.question|length > 0 %}
          {% set questionContent = item.question|decode_html_entities %}
        {% else %}
          {% set questionContent = "&lt;Self Assessment Question - Scoresheet Bank Placeholder&gt;" %}
        {% endif %}

        <td class="itemstxt" colspan="2">
        {% if sections_items[current_section_id]['self_assessment'] %}
           <div class="self-assessment-question">{{ questionContent|raw }}</div>
           <div class="self-assessment-response"><span>&lt;{{'student'|trans }} response&gt;</span></div>
           <div class="self-assessment-score"><span>&lt;{{'student'|trans }} score&gt;</span></div>
        {% else %}
           <div class="self-assessment-question">{{ item.text|decode_html_entities|raw }}</div>
        {% endif %}
        </td>

        {# Render item competencies #}
        <td valign="top" class="white tac {{ noIndicators }} nbr">

        {% for competency in items_competencies[item.item_id] %}
          <div class="item-competency-inner" style="background-color: {{ competency.level_colour_code|raw }}">
              {{ competency.name|raw }}
          </div>
        {% endfor %}

        {# item has flag option, display flag #}
        {% if item.flagged %}
            <img title="Item contains 1 or more flags" height="36" width="36" src="storage/custom/images/flag-large.png"/>
        {% endif %}

        {# item has non grade item, display icon #}
        {% if item.type in ["radiotext", "checkbox"] %}
            <img class="fl" title="Item is non-scoring" height="36" width="36" src="assets/images/no-score.jpg"/>
        {% endif %}

        </td>

        <td valign="top" class="white nbr">

        {% if item.type in ["text", "slider"] %}
            <ul class="itemdet">
                <li>
                    <span class="italic">{{ (item.lowest_value + 0) ~ " to " ~ (item.highest_value + 0) }}</span> ~
                    <span>
                       {% if item.type == "slider" %}
                          {{ "Range Slider" }}
                       {% elseif item.type == "text" %}
                          {{ "Number Entry" }}
                       {% endif %}
                    </span>
                </li>
            </ul>
        {% elseif item.type in ["checkbox"] %}
             <ul class="itemdet">
                <li>
                    <span class="italic"></span>
                    <span>{{ "Checkbox (Indicator Only)" }}</span>
                </li>
            </ul>
        {% elseif item.type in ["radio", "radiotext"] %}
            <ul class="itemdet2">
            {% for option in items_options[item.item_id].options %}
                <li>
                    <span class="italic">{{ option.option_value|decode_html_entities|raw }}</span> ~
                    <span>{{ option.descriptor|decode_html_entities|raw }}</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        </td>

        <td class="edititem-td">
        {% spaceless %}
            <a href="javascript:void(0)" class="standard" id="editq_{{ item.item_id }}">
                <img class="editb" src="assets/images/edit.svg" alt="Edit Item" title="Edit Item"/>
            </a>
       {% endspaceless %}
        </td>
    </tr>

    {% endfor %}
{% endif %}

{% set no_items_css_class = (not section_has_items) ? " noitems" : "" %}
{% set center_div = ((not form_has_items) or (not section_has_items)) ? " c" : "" %}
{% set float_div = (section_has_items) ? " fl" : "" %}
{% set has_no_items_message = "No items exist for this " ~ sectionLabel|lower ~ ", click 'new item' button below to add new item" %}

    <tr>
        <td class="section-buttons-td" colspan="7" id="itemaddtd-{{ current_section_id }}">
            <div class="sectionbuttondiv{{ no_items_css_class }}">
{% if not form_has_results %}
    {% if not section_has_items %}
                <div class="noitemsdiv">{{ has_no_items_message }}</div>
    {% endif %}

                <div class="section-buttons-div{{ center_div }}">
    {% if section_has_items %}
        <div class="delitemdiv">
        <input type="button" 
        class="delbut btn btn-sm btn-outline-danger"
         value="&uarr; delete items" 
         id="delete_items-{{ current_section_id }}" 
         onclick="deleteSectionItems(this)"/>
      </div> 
    {% endif %}
    <div class="{{ float_div }}">

    {% if form_has_items %}

    <select id="clone_item-{{ current_section_id }}" class="selectcloneitem">

    {% for section_id, section in sections_items %}
     {% set section_description = section['competence_desc'] %}
     {% set section_text = section['section_text'] %}

     {% if section_description|length > 0 and section_text|length > 0 %}
        {% set separator = " - " %}
     {% elseif section_description|length > 0 or section_text|length > 0 %}
        {% set separator = "" %}
     {% else %}
        {% set separator = sectionLabel ~ " " ~ section['section_order'] %}
     {% endif %}

     {% set optgroup_title = section_description ~ separator ~ section_text %}
     <optgroup label="{{ optgroup_title|raw }}">

      {% for item in section['items'] %}
        {% set selected = (current_section_id == section_id) ? 'selected="selected"' : '' %}
        <option value="{{ item.item_id }}" {{ selected|raw }} title="{{ item['text']|decode_html_entities|striptags }}">ITEM {{ item.item_order }}</option>
      {% endfor %}

     </optgroup>
    {% endfor %}

     </select>
     <input type="button" class="btn btn-sm btn-outline-warning" id="clitem-{{ current_section_id }}" value="&#8628; clone item" onclick="addItemToSection(this)"/>
  {% endif %}

   <input type="button" class="btn btn-sm btn-outline-success" id="add_statitems-{{ current_section_id }}" value="new item +" onclick="addItemToSection(this)"/>
  </div>
 </div>
 {% endif %}

 {% if section_has_items %}
    <div class="section-total" {{ (section_possible_score == 0) ? 'style="border: 2px solid #b30000"' }}>
        <span>{{ section_possible_score }}</span>
        {{ (section_possible_score == 1) ? 'Mark' : 'Marks' }}
        <br/>
        {% if section_has_weighting %}
        <span>{{ section_weighted_score }}</span> {{ (section_weighted_score == 1) ? 'Weighted Mark' : 'Weighted Marks' }}
        {% endif %}      
    </div>
 {% endif %}

  </div>
  </td>
  </tr>
 </table>
</td>
</tr>
