{# Description: Templating for the section title rows in osce/formbuilder.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

 <tr {{ section_feedback == false and item_feedback == false ? 'class="feedback-disabled"' }}>
    <td title="Feedback Entry Field" class="section-feedback">

        <div class="bdivfr-icons">

          {# Item Feedback Entry #}
          {% if item_feedback %}
             <img src="assets/images/comments-multiple.png" id="item-feedback" class="comment-img" alt="Item Feedback Entry Enabled" title="Item Feedback Entry Enabled"/>
          {% endif %}

          {# Internal Feedback Only #} 
          {% if (section_feedback or item_feedback) and internal_feedback_only %}
            <img src="assets/images/internal-feedback.png" class="comment-img" alt="Internal feedback only" title="Internal feedback only"/>
          {% endif %}

          {# Feedback Entry Disabled #}
          {% if section_feedback == false and item_feedback == false %}
            <img src="assets/images/comments-assess-disabled.jpg" class="comment-img" alt="Feedback Entry Disabled" title="Feedback Entry Disabled"/>  
          {% elseif feedback_required > 0 %}
          {# PHP Definition: Config::FEEDBACK_ALL => "Yes" #}
            {% if feedback_required == 1 or feedback_required == 5 %}
            <img src="assets/images/comment.png" class="comment-img" alt="Feedback required" title="Feedback required"/>
          {# PHP Definition: Config::FEEDBACK_GRS_FAIL => "GRS Fail" #}
            {% elseif feedback_required == 2 %}
            <img src="assets/images/commentfail_alt.png" class="comment-img" alt="Failure feedback required" title="Failure feedback required"/>
          {# PHP Definition: Config::FEEDBACK_GRS_BORDERLINE => "GRS Borderline" #}
            {% elseif feedback_required == 3 %}
            <img src="assets/images/commentborderline_alt.png" class="comment-img" alt="Borderline feedback required" title="Borderline feedback required"/>
          {# PHP Definition: Config::FEEDBACK_GRS_BORDERLINE_AND_FAIL => "GRS Fail & Borderline" #}
            {% elseif feedback_required == 4 %}
            <img src="assets/images/commentborderline_alt.png" class="comment-img" alt="Borderline feedback required" title="Borderline feedback required"/>
            <img src="assets/images/commentfail_alt.png" class="comment-img" alt="Failure feedback required" title="Failure feedback required"/>
            {% endif %}

          {# Feedback Entry Enabled #}  
          {% elseif section_feedback %}
             <img src="assets/images/comments-assess.jpg" class="comment-img" alt="Section Feedback Entry Enabled" title="Section Feedback Entry Enabled"/>
          {% endif %}

        </div>
        <br class="clearv2"/>
    </td>
 </tr>

 <tr>
<td class="section-buttons">
  {% if total_section_count != current_section_index %}
   {% set section_locator_id = "c" ~ all_section_ids[current_section_index] %}
   <a id="{{ section_locator_id }}" name="#{{ section_locator_id }}"></a> 
  {% endif %}
&nbsp;</td>
</tr>
