{# Description: Templating for the section title rows in osce/formbuilder.php #}
{# Author: David Cunningham #}
{# © 2018 Qpercom Limited.  All rights reserved. #}

{% if section.competence_type == "scale" %}
    {% set scaleOrFlag = " scalestyle" %}
{% elseif section.flagged %}
    {% set scaleOrFlag = "" %}
{% endif %}

<tr>
<th class="section-title{{ scaleOrFlag }}{{ section.self_assessment ? " selfassessment-bar" }}">
<input type="hidden" id="section-ids-{{ section.section_id }}" value="{{ section.section_id }}"/>
<div class="fl" id="editsectiondiv_{{ section.section_id }}">{{ section_title|raw }}</div> 
<div class="bdivfr" id="sectbuttondiv_{{ section.section_id }}">
    
{% if form_has_result == false %}
  <input type="button" class="section-delete-button btn btn-sm btn-outline-danger" id="deletesection_{{ section.section_id }}" value="Delete"/>
{% endif %}
<input type="button" class="section-edit-button btn btn-sm btn-outline-success" id="editsection_{{ section.section_id }}" value="Edit {{ 'section'|trans|capitalize }}"/>
</div>
<br class="clearv2"/>
</th>
</tr>