{# Description: Twig template for osce/add_textbox_option.php #}
{# Date: 15/12/2015 #}
{# Author: David Cunningham #}
{# © 2015 Qpercom Limited.  All rights reserved. #}
{% if exists %}
{% set disabled_property = (disable_fields) ? ' disabled="disabled"' : '' %}
{% if item_weighting == true %}
{% if weighted_value is empty %}
{% set weighted_value = 1 %}
{% endif %}
<div class="itemweighdiv">
{% if weighted_value == 1 %}
<label for="isnumval-{{identifier}}>" class="lbnumval">Apply Item Weighting</label>
	<input type="checkbox" class="cbscore" id="weightcb" onclick="weightVal()"/>
    <label  class="lbnumval" id="weighValLbl" hidden="true" >Value </label>
    <input id="itemWeightVal" class="cbscore" placeholder="default is 1" onkeypress="return hasNumber(event)" type="number" maxlength="4" max="2" min="0.01" step="0.01" hidden="true" value="{{ weighted_value }}"/>
    {% else %}
    <label for="isnumval-{{ identifier }}" class="lbnumval">Apply Item Weighting</label>
	<input type="checkbox" class="cbscore" id="weightcb" onclick="weightVal()" checked="checked"/>
     <label  class="lbnumval" id="weighValLbl" >Value </label>
    <input id="itemWeightVal" class="cbscore" onkeypress="return hasNumber(event)" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type="number" maxlength="4" max="2" min="0.01" step="0.01" value="{{ weighted_value }}">
    {% endif %}
{% endif %}
</div>
<div class="indivopts">
 {% spaceless %}
  <label for="descriptor-{{ identifier }}" class="labeltext">Label&nbsp;&nbsp;</label>
  <textarea id="descriptor-{{ identifier }}" rows="3">{{ descriptor|raw }}</textarea>
 {% endspaceless %}

 {% spaceless %}
  <label for="text_rangeone-{{ identifier }}" class="tranlb">Range&nbsp;&nbsp;</label>
  <input type="text" id="text_rangeone-{{ identifier }}" size="2" onblur="ValidateNumeric(this)" value="{{ lowval }}"{{ disabled_property|raw }}/>
  <label for="text_rangetwo-{{ identifier }}" class="ltxt"> to </label>
  <input type="text" id="text_rangetwo-{{ identifier }}" size="2" onblur="ValidateNumeric(this)" value="{{ highval }}"{{ disabled_property|raw }}/>
 {% endspaceless %}
</div></div>
{% else %}
<br/><span class="boldred">&nbsp;&nbsp;&nbsp;&nbsp;{{ error_info }}</span><br/><br/>
{% endif %}
